[2021-08-24 09:14] SteNicholas opened #355 "[SUPPORT] Support the integration with TiCDC"
TiCDC is TiDB's change data capture framework, which supports replicating change data to various downstreams, including MySQL protocol-compatible databases, message queues via the open CDC protocol and other systems such as local file storage.
Does the Flink CDC connector consider to integrate with the TiCDC directly?

[2021-08-24 09:27] ZhuJiang121 commented on #317
我遇到了类似的问题，我的现象是这样的，首先我的 mysql 本地库的时区是 UTC +8 时区， flink 1.13.1， flink cdc 2.0.0

  'connector' = 'mysql-cdc',
  'scan.startup.mode' = 'initial',
  'hostname' = '172.16.10.138',
  'port' = '3306',
  'username' = 'root',
  'password' = 'root',
  'database-name' = 'hcdsj',
  'table-name' = 'user_info',
  'server-time-zone' = 'Asia/Shanghai',
  'debezium.snapshot.locking.mode' = 'none'

**当我使用 flink 1.

[2021-08-24 09:30] leonardBang opened #356 "[docs] Add FAQ that the tableList is using full path rather than table name in datastream API"
For mysql-cdc, the tableList is like `'my_db.my_table'`,
For postgres-cdc, the tableList is like `'my_schema.my_table'`.

We can add them to FAQ section of connector documents.

[2021-08-24 09:45] xiangtao commented on #329
PR  :  https://github.com/ververica/flink-cdc-connectors/pull/331

[2021-08-24 09:47] xiangtao commented on #339
please assign to me for https://github.com/ververica/flink-cdc-connectors/issues/314 @leonardBang

[2021-08-24 09:52] lg4546 commented on #245
![image](https://user-images.githubusercontent.com/7876402/130596216-c7a8f0ca-6717-4a9b-8dfb-bd79d05a673f.png)
我已经在flink-conf.yaml文件修改了增加了配置项。
![image](https://user-images.githubusercontent.com/7876402/130596366-f501f24e-8f26-4c7c-aa5c-8816b01b8d14.png)
ling'w另外在flink的界面也能看到point的信息，但是就是没有生效

[2021-08-24 11:33] leonardBang commented on #314
@xingtao Do you want to take this one ?

[2021-08-24 12:32] #342 closed

[2021-08-24 13:16] xuxiang2 commented on #252
希望后期能支持oracle，谢谢

[2021-08-25 01:33] leonardBang opened #358 "[test] The test testJobManagerFailoverInBinlogPhase failed"
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=242&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=ce18b30f-11b8-5f1e-8fbd-391708956df7&l=58554

[2021-08-25 02:24] #278 closed

[2021-08-25 02:33] robin-ming commented on #278
我去试试

[2021-08-25 02:34] leonardBang commented on #278
fixed in 6d2cc41

[2021-08-25 02:48] xiangtao commented on #314
yes i wish it @leonardBang

[2021-08-25 03:14] huojiajin commented on #302
Have you resolved the problem? I met the same one

[2021-08-25 03:57] leonardBang commented on #326
Hi,@frey66
Because @Jiabao-Sun has kindly opened this PR，is it ok if I assign this ticket to him?

[2021-08-25 05:32] GOODBOY008 commented on #249
As you mentioned before,table_name, schema_name, db_name field as meta data column.

[2021-08-25 07:05] frey66 commented on #326
OK @leonardBang

[2021-08-25 08:16] GOODBOY008 commented on #249
Hi,@leonardBang .Meta data column maybe add  time_zone,invest_time.

[2021-08-25 08:49] #326 closed

[2021-08-25 10:41] leonardBang commented on #329
fixed in master: e34ff84a43033b0909d62aaa1722ce322a354b0e

[2021-08-25 10:41] #329 closed

[2021-08-25 12:23] leonardBang commented on #358
another instance: https://github.com/ververica/flink-cdc-connectors/pull/335/checks?check_run_id=3421714400

[2021-08-25 13:37] leonardBang opened #360 "[mysql] Optimize the checkpoint be optional under single parallelism"
Throw exception message if the checkpoint is not set when `incremental.snapshot` enable , because `scan.incremental.snapshot.enabled` feature requires checkpoint setting.

[2021-08-26 09:56] findczk opened #362 "[CDC2.0] Deserialization fails when restarting through checkpoint"
Some logs are as follows:
`2021-08-30 14:13:00
java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:199)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache.flink.connector.base.source.reader.

[2021-08-26 12:02] ghost opened #363 "使用flinkcdc stream模式时，增量读取binlog阶段，insert操作时出现主键冲突。"
使用flinkcdc stream模式时，初始化之前先将表数据truncate ，然后启动程序初始化，然后拉取增量binlog，程序是按用户操作类型分流的，结果在insert操作时出现Duplicate entry '' for key 'PRIMARY'这个报错，主键冲突，这可能是什么原因呢

[2021-08-26 12:58] kqkdChen opened #364 "CDC2.0使用sql-client.sh查询报错"
info：
`flink-version: flink-1.13.2-scala_2.12-java8`
`CDC version: flink-sql-connector-mysql-cdc-2.0.0.jar`
<br/>
flink运行在k8s上，将 `flink-sql-connector-mysql-cdc-2.0.0.jar` 放在了`lib`下，然后执行以下步骤
1. 建表 create table xxx () with ()
2. select * from xxx;
因为在公司内网，不能发详细的报错日志 ，根据日志显示找不到  `com.ververica.cdc.connectors.mysql.source.MySqlParallelSource` 这个类，
  我怀疑你们压根就没有测试过2.0.0版本是否可用。@wuchong   @leonardBang
还是说

[2021-08-27 02:42] #364 closed, assigned to nobody

[2021-08-27 07:49] findczk opened #368 "[CDC2.0] 完成快照阶段后,没有进行增量阶段"
cdc2.0 部分mysql实例在完成快照阶段后,没有进入增量阶段 (有些mysql实例可正常进入增量阶段),是否需要另外设置什么配置?
mysql-version:5.7.20
**ddl :**
`CREATE TABLE forums_post_12_source (
`pid` BIGINT,
`tid` BIGINT,
`uid` BIGINT,
`ip` STRING,
`dateline` BIGINT,
`message` STRING,
`isthread` INT,
`update_time` BIGINT,
`status` INT,
`nick` STRING,
`privatize` BIGINT,
`tagid` INT,
`src` INT,
`terminal` STRING,
`origin_floor` INT,primary key (pid)  no

[2021-08-27 07:57] #368 closed, assigned to nobody

[2021-08-27 10:13] leonardBang opened #370 "[docs] Add FAQ about mysql server timezone in DataStream API"
User who use DataStream API should deal the timezone in their custom `deserializer` like `RowDataDebeziumDeserializeSchema`

[2021-08-27 10:18] daodao-bot opened #371 "flink-cdc 同步 mysql 表,当字段为 enum 枚举类型时: Invalid value: null used for required field: "STATUS", schema type: STRING"
我使用 flink-cdc 同步 mysql 表到 tidb . 两个数据表的结构完全一致.
其中 mysql 表中有一个字段类型为:
`STATUS` enum('1','2','3') NOT NULL DEFAULT '1' COMMENT '状态(1: 正常 2：注销 3：异常)'
我使用 flink sql 映射的类型为 `STATUS` STRING .
出现了异常:
org.apache.kafka.connect.errors.DataException: Invalid value: null used for required field: "STATUS", schema type: STRING

谢谢!

[2021-08-29 02:56] hejiay commented on #276
do you have

没有呢，你解决了么

[2021-08-29 05:12] leonardBang opened #372 "[mysql] Offer MySqlParellelSource DataStream API"
1. Decouple debezium config Flink config in MySqlParallelSource
    2. Support Table that hasn't primary key
    3. Vlidate the primary key defined on DDL is same with the primary key in MySQL table
    4. Refactor StatefulTaskContext.
    5. Align the old Source metrics and add new metrics like Fetch Delay/Emit Delay/TPS(tableRows)/Network bandwith/SnapshotRunning (P0)

[2021-08-29 05:16] leonardBang opened #373 "[mysql] MysqlParallelSource Stability Improvement"
- [x] 1. Skip binlog reading, if low == high
- [x] 2. If concurrency=1, there is no need to wait with checkpoint. (done)  #365
- [x] 3. Improve the log and clean up debezium logs
- [x] 4. Investigate rds master/standby switching scenarios can works or not
- [ ] 5. Bind the DebeziumReader life circle with split
- [ ] 6. Investigate MySqlParallelSource could use single serverId or not

[2021-08-29 05:17] leonardBang opened #374 "The exception occurred in MySqlBinlogSplitReadTask#handleEvent cannot trigger failover"

[2021-08-29 05:24] leonardBang commented on #299
closed this one, we track this in #358 which records the entire building log

[2021-08-29 05:24] #299 closed

[2021-08-30 03:41] ZhuJiang121 opened #375 "flink jobmanage 挂掉，报错 produced an uncaught exception. Stopping the process"
当我使用 flink mysql cdc 2.01 版本时，当一张表中的数据读取完毕时, 会出现这种问题，导致flink jobmanage挂掉。

_13436 2021-08-30 10:38:11,378 ERROR org.apache.flink.runtime.util.FatalExitExceptionHandler      [] - FATAL: Thread 'SourceCoordinator-Source: TableSourceScan(table=[[default_catalog, default_database, source_blackli      stloghis]], fields=[pid, id, businessNo, bornTime, acquirerNo, tellerNo, clientName, certNo, creditNo,

[2021-08-30 03:44] ZhuJiang121 commented on #375
我使用的 flink 版本时 1.13.1, mysql 5.7, cdc 版本时 2.0.1。我使用flink sql api 去运行程序，sql 参数如下：
`CREATE TABLE source_user_info (  `UserId` INT, `UserName` STRING, `IsAdmin` TINYINT, `LastLogin` TIMESTAMP(3), `TestTime` TIMESTAMP(3),PRIMARY KEY( UserId ) NOT ENFORCED ) WITH (
  'connector' = 'mysql-cdc',
  'scan.startup.mode' = 'initial',
  'hostname' = '172.16.10.6',
  'port' = '3306',
  'username' = 'root',
  '

[2021-08-30 06:15] xiangtao commented on #314
flink-cdc support mysql 5.6 depends on debezium, debezium only test in mysql 5.7, 8.0.x.   but i found debezium
1.2.x version also add mysql 5.5 and 5.6 test matrix. see [https://issues.redhat.com/browse/DBZ-1953?jql=text%20~%20%22mysql%205.6%22 ](url).

I'm going to add some test case for mysql 5.6.  if you has some good test condition  , you can provide here.

[2021-08-30 07:17] findczk commented on #362
TABLE_MAP event is not happening before EXT_UPDATE_ROWS event type, that is the reason why we saw the "MissingTableMapEventException" exception. But I don’t know why TABLE_MAP event  doesn’ happen before  EXT_UPDATE_ROWS event. In the binlog file, the TABLE_MAP event is before theEXT_UPDATE_ROWS  event
![image](https://user-images.githubusercontent.com/68439127/131300742-593730ea-330c-4bd4-8c32-8f

[2021-08-30 07:21] Dont666 opened #376 "对CDC表进行有条件过滤时，数据更新后，如果条件不符合，CDC表没有对最新的数据进行重新计算"
例如cdc表有order，pay2个表，其中pay有状态state。SQL如下：
select
o.order_id,
p.pay_amount
from order as o
left join(
select
order_id,
sum(pay_amount)as pay_amount
from pay
where state in(2,3)
)as p on o.order_id=p.order_id

当初始化时，确实会将符合条件的数据进行join操作。但当执行：update pay set state =1 where pay_id=xx 时，这个sum没有剔除掉已经不符合条件的数据并重新进行计算。

[2021-08-30 08:30] leonardBang commented on #276
I will fix this one, guys

[2021-08-30 08:42] leonardBang commented on #362
duplicate the #276, will fix in it

[2021-08-30 08:42] #362 closed

[2021-08-30 10:08] fsk119 commented on #316
The feedback from the DingTalk.
![image](https://user-images.githubusercontent.com/33114724/131323499-9d18665d-73a4-4818-9186-6f8ad9c3fdc4.png)

[2021-08-30 13:21] leonardBang commented on #276
post the detail information
[code]

[2021-08-30 13:55] #358 closed

[2021-08-31 03:47] leonardBang commented on #162
fixed in #344

[2021-08-31 03:47] #162 closed

[2021-08-31 04:28] leonardBang opened #380 "[mysql] support all mysql types"

[2021-08-31 04:40] leonardBang opened #381 "[docs] Improve the CDC DataStream API docs"
* Change the [DataStream Source](https://ververica.github.io/flink-cdc-connectors/master/content/connectors/mysql-cdc.html) use `JsonDeserializationSchema `
* Add explanation for input and output data, we can refer [debezium mysql]( https://debezium.io/documentation/reference/1.6/connectors/mysql.html#mysql-events)

[2021-08-31 04:41] leonardBang commented on #381
CC @mincwang Would you like to take this one ?

[2021-08-31 05:39] leonardBang opened #382 "[docs] Add Flink CDC tutorial note in Zeppelin notebook"
There're many users use  Zeppelin notebook, it will be helpful if we can offer tutorial to start Flink CDC

[2021-08-31 06:55] findczk commented on #276
when it can be fixed?

[2021-08-31 07:02] findczk commented on #355
+1

[2021-08-31 07:09] leonardBang commented on #276
@findczk Are you using the feature in production environment ?

[2021-08-31 11:04] opcooc opened #383 "[mysql] 出现'Data row is smaller than a column index, internal schema representation is probably out of sync with real database schema'错误"
jar 版本 -> flink-sql-connector-mysql-cdc:2.0.0
sql -> `CREATE TEMPORARY TABLE element_cdc (
PId INT,
ElementId STRING,
proc_time AS PROCTIME(),
primary key (PId) not enforced
) WITH (
  'connector' = 'mysql-cdc',
  'hostname' = '192.168.1.xxx',
  'port' = '3306',
  'username' = 'root',
  'password' = 'xxx',
  'database-name' = '[a-z0-9]{32}',
  'table-name' = 'ElementInfos'
)`

错误信息 ->
[issues.txt]

[2021-08-31 12:20] fsk119 commented on #383
Could you share more details about how you produce the exception?

Do you restore from the checkpoint?

What schema changes from the time that the checkpoint is made to the time you recover from the checkpoint?

Could you also share the schema for the table in the DB?

[2021-08-31 13:17] mincwang commented on #381
ACK

[2021-09-01 02:21] opcooc commented on #383
稍等 抱歉回复晚了

[2021-09-01 03:13] luoyuxia commented on #346
I would like to take it

[2021-09-01 12:21] hwzp99 opened #384 "[mysql]flink cdc sql2es error"
**Describe the bug**
A clear and concise description of what the bug is.
Preview of field's value: '2021-08-11 16:53:19.67'
021-09-01 20:02:37,493 ERROR org.apache.flink.streaming.connectors.elasticsearch.util.NoOpFailureHandler [] - Failed Elasticsearch item request: Elasticsearch exception [type=mapper_parsing_exception, reason=failed to parse field [created_at] of type [date] in document with i

[2021-09-01 12:38] opcooc commented on #383
[ex.txt](https://github.com/ververica/flink-cdc-connectors/files/7091059/ex.txt)

[config.txt](https://github.com/ververica/flink-cdc-connectors/files/7091067/config.txt)

[Cqcs.txt](https://github.com/ververica/flink-cdc-connectors/files/7091060/Cqcs.txt)

[2021-09-01 12:39] opcooc commented on #383
抱歉回复晚了

[2021-09-01 16:05] #383 closed

[2021-09-01 16:06] opcooc commented on #383
升级 2.0.1 问题解决

[2021-09-02 02:05] zjffdu commented on #382
Thanks for creating this ticket, @leonardBang
Let me know if any help is needed. And here's the official document of flink interpreter in Zeppelin.
https://zeppelin.apache.org/docs/0.10.0/interpreter/flink.html

[2021-09-02 06:57] Jiabao-Sun commented on #371
It seem's database schema parsed by MySqlParallelSource missing ENUM filed's defaultValue.
I'm trying to fix this problem.

[2021-09-02 09:14] dczeeee commented on #276
same problem

[2021-09-02 10:01] hunter-jin commented on #276
same problem

[2021-09-02 11:10] fsk119 opened #388 "Add E2E tests for CDC connectors"
**Is your feature request related to a problem? Please describe.**
Some problem may expose only in the E2E tests. Therefore, it's necessary to add E2E tests.

[2021-09-02 11:28] liaodehui opened #389 "flink cdc 2.0 是否能支持 postgresql 并发 source"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-09-03 10:28] peterjqy opened #391 "The db history topic or its content is fully or partially missing"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0
 - Database and version: mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
![image](https://user-imag

[2021-09-03 10:29] dczeeee opened #392 "Mysql special primary key causes the failure of the job"
**Describe the bug**
When I use mysql-cdc to read a MySQL table, the primary key of the table is generated by the snowflake algorithm. After submitting the job, the jobmanager will hang (both standalone and on yarn) and the task cannot be executed. When I test in the IDEA local environment, The CPU will reach 100%. After testing, I found that this happens when "scan.startup.mode" is the default "i

[2021-09-03 12:28] wuchong opened #393 "[mongodb] Add documentation for newly introduced mongodb-cdc connector"
#225 introduces mongodb-cdc connector, we need to add documentation for it to make users can use it easily.

[2021-09-03 13:51] baobeidaodao commented on #392
if you use snowflake algorithm to generate the primary key and insert it into this table , the `AUTO_INCREMENT` should not be set

[2021-09-03 14:48] Jiabao-Sun commented on #393
WIP

[2021-09-03 14:58] wuchong commented on #355
https://github.com/TiFlink/TiFlink  this is a good project which integrates TiCDC and Flink SQL .

[2021-09-04 01:45] dczeeee commented on #392
after trying the problem was solved, thank you

[2021-09-04 18:52] Jiabao-Sun commented on #393
Finished by PR #395

[2021-09-04 19:01] Jiabao-Sun commented on #393
@wuchong The tutorial has not been written yet. If it is necessary, I can also add it.

[2021-09-05 00:21] lugela commented on #341
支持使用stream api情况下不锁表

[2021-09-05 01:48] wuchong commented on #393
@Jiabao-Sun , sure, I think a quickstart demo for mongodb would be useful.

[2021-09-05 17:54] Jiabao-Sun commented on #393
@wuchong
Tutorials has been added into #395.
Sorry for that I didn't write the page separately, because I couldn't find out a suitable title.

[2021-09-05 18:03] Jiabao-Sun commented on #393
@wuchong , if you are available, please help review it.

[2021-09-06 01:37] findczk commented on #276
hi, when it can be fixed?We look forward to this issue being fixed.

[2021-09-06 03:54] fsk119 commented on #316
Same request from the dingtalk.
![1630653152435-28cacd7d-3963-40f9-9b84-fa0bc377f17a](https://user-images.githubusercontent.com/33114724/132158451-e2c01c9c-5f7c-47af-a265-e2f5998a84c6.png)

[2021-09-06 03:58] fsk119 commented on #76
Some feedbacks from the dingtalk about the request of the Oracle CDC connector.

![1630585603666-9a7adf09-3f6e-49b0-8770-e0a17682e325](https://user-images.githubusercontent.com/33114724/132158740-ff9a98f9-e197-455f-a3d9-8ce5a6f04933.png)
![1630399736297-432ba9e8-140f-489f-b919-e2d0ac6903f9](https://user-images.githubusercontent.com/33114724/132158737-30cec219-8995-4c9c-8e74-560e3487e621.png)
![163

[2021-09-06 04:03] fsk119 opened #397 "HeartBeat timeout when connecting to the table using JDBC"
Here we get some feedbacks from the Dingtalk. We just create one issue to track the problem. We need more details to know why this problem happens.

![1630399788344-f983d5ef-ee13-49e5-85d3-e4ec5e4ccb9b](https://user-images.githubusercontent.com/33114724/132159044-c99fd4b0-f376-41ab-95ad-45061f3bac19.png)

[2021-09-06 04:08] ili-zh commented on #76
I need debezium-oracle to accept my PR support for SCHEMA_ONLY_RECOVERY snapshot mode so that it can support earliest-offset/specific-offset/timestamp mode

[2021-09-06 04:12] fsk119 opened #398 "Deducing the connection number to the db server"
Currently we requires every reader has its unique server-id[1]. But it may cause some pressure to the databse  server. Therefore, it's better we can reuse the server-id for the readers.

[1] https://ververica.github.io/flink-cdc-connectors/master/content/connectors/mysql-cdc.html#set-a-different-server-id-for-each-reader

[2021-09-06 04:13] fsk119 commented on #398
The request from the Dingtalk.

![1630901581628-a1db4623-2cb5-420d-bea8-036ff61f6405](https://user-images.githubusercontent.com/33114724/132159674-94cce1dc-b0d2-44ce-94fc-3bf9f5612341.png)

[2021-09-06 06:26] yanghuaiGit opened #401 "Position update problem when multiple pieces of data are consumed in a transaction"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:  release-2.0
 - Database and version: mysql 8.0

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
MySQL has multiple DML statements in a transaction, such as inserting two pieces of data into a table in a transaction
2. The test code :
  SourceFu

[2021-09-07 01:26] Fisher666 opened #402 "none change data is captured while testing postgreSQL cdc"
**Describe the bug**
A clear and concise description of what the bug is.

none change data is captured while testing postgreSQL cdc.
not sure if this's a bug, more likely it might be a configuration problem.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 1.1.1 ~ 1.4.0
 - Database and version: PostgreSQL 13.4 on x86_64-apple-darwin20.4.0, compiled by Apple clang version 12.0.5

[2021-09-07 08:45] wuchong commented on #276
![image](https://user-images.githubusercontent.com/5378924/132314283-549f3635-86dc-439b-9468-b5a661d695f1.png)

[2021-09-08 17:17] Jiabao-Sun commented on #391
Hi, @peterjqy
This issue seems the same as #326.
It was resolved by Flink CDC version: 2.0.1.
Could you please upgrade the flink cdc connector version to 2.0.1 and try it again?

[2021-09-09 02:46] peterjqy commented on #391
ok

[2021-09-09 02:46] #391 closed

[2021-09-09 03:06] opcooc commented on #276
We look forward to this issue being fixed.

[2021-09-09 03:13] leonardBang commented on #276
![image](https://user-images.githubusercontent.com/5163645/132616340-608e02a8-df49-4fae-8f79-751dec8fb72a.png)

[2021-09-09 03:14] leonardBang commented on #276
Caused by: com.github.shyiko.mysql.binlog.event.deserialization.MissingTableMapEventException: No TableMapEventData has been found for table id:203830. Usually that means that you have started reading binary log 'within the logical event group' (e.g. from WRITE_ROWS and not proceeding TABLE_MAP

[2021-09-09 04:16] luoyuxia commented on #371
@baobeidaodao
It seems that the field "STATUS" for some records is null and then passed to debezium to do conversion. But the column is 'NOT NULL', so it will fail to pass validation and then throw such exception.

But I can't figure out why the field "STATUS" can be null as it has declared as NOT NULL.  Maybe it is related to the sequence of statements (DDL, DML).

And also I can't reproduce the

[2021-09-09 04:52] peterjqy opened #411 "Caused by: com.github.shyiko.mysql.binlog.event.deserialization.MissingTableMapEventException: No TableMapEventData has been found for table id:116. Usually that means that you have started reading binary log 'within the logical event group' (e.g. from WRITE_ROWS and not proceeding TABLE_MAP"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.0
 - Database and version: mysql  5.7.28

![image2021-9-9_10-48-11](https://user-images.githubusercontent.com/90038595/132624768-e30d70f7-57f1-4c8e-a0c5-21fd62284fc8.png)
![1631163477504](https://user-images.githubusercontent.com/90038595/132625296-a794e8

[2021-09-09 06:07] opcooc commented on #411
https://github.com/ververica/flink-cdc-connectors/issues/276

[2021-09-09 07:57] peterjqy commented on #276
这个bug已经修复了吗？

[2021-09-09 08:45] minchowang opened #414 "Correct Usage for DataStream API"
**Is your feature request related to a problem? Please describe.**
When users use the DataStream API, they often encounter the following problems:
1. Incorrect use of `no lock mode`.
e.g. `debeziumProperties.put("debezium.snapshot.locking.mode", "none")`
2. The captured table could not be set up correctly..
e.g. `tableList("tableName")`
3. Unable to get json output.
e.g. `deserializer(new StringDe

[2021-09-09 12:16] hwzp99 opened #417 "flink cdc SQL2ES，GC overhead limit exceeded"
**Describe the bug**
A clear and concise description of what the bug is.

java.lang.OutOfMemoryError: GC overhead limit exceeded
	at org.rocksdb.RocksIterator.key0(Native Method)
	at org.rocksdb.RocksIterator.key(RocksIterator.java:37)
	at org.apache.flink.contrib.streaming.state.RocksIteratorWrapper.key(RocksIteratorWrapper.java:99)
	at org.apache.flink.contrib.streaming.state.RocksDBMapState$Roc

[2021-09-09 12:34] #384 closed

[2021-09-09 12:38] luoyuxia commented on #401
@yanghuaiGit

Hi, I'm not sure about what you means. I think the code will always update position not only for the first record.

[2021-09-10 08:15] leonardBang commented on #276
![image](https://user-images.githubusercontent.com/5163645/132822737-57be32b6-bdaa-4165-b021-f3a94c3761f9.png)

[2021-09-10 08:42] yufan022 commented on #371
@luoyuxia
I face the same problem.
In my case, this error occurs when the insert is executed after the job is restarted.

1. start cdc job - succ
2. insert data - succ
3. kill job
4. waiting restart job
5. insert data - error

[code]

[2021-09-10 09:20] wuchong opened #419 "[test] Add end-to-end tests for all uber jars"
We introduced `flink-sql-connectors-xxx` for all `mysql-cdc`, `postgres-cdc` and `mongodb-cdc`. This module is used to shade kafka and build an uber jar which is mainly used for SQL clusters. However, we don't have any tests for the uber jars, e.g. does the shading work? do we exclude any needed classes? This can be covered by e2e tests, just like Flink does, see https://github.com/apache/flink/tr

[2021-09-10 10:21] #11 closed

[2021-09-13 07:07] #411 closed

[2021-09-13 07:17] leonardBang commented on #417
The stacktrace `org.apache.flink.table.runtime.operators.join.stream.state.OuterJoinRecordStateViews$InputSideHasNoUniqueKey$1.hasNext(OuterJoinRecordStateViews.java:285)`
shows this error exists in JOIN not the SOURCE phase，it's not related to CDC，CDC is only the source. I suggest you ask in flink mail list and also add your SQL.

[2021-09-13 07:32] leonardBang commented on #402
Sorry for the late reply, please check your Postgres publication contains the tables you want to capture, and the table name in `tableList()` should be full path like `schemaName.tableName`.

[2021-09-13 08:36] jack-luohao opened #422 "Table 'log_1' doesn't exist"
![image](https://user-images.githubusercontent.com/52643032/133051409-41db363d-6b4e-4067-bc10-2c7b6a1e0dbd.png)
我创建了一个源，当我查询的时候报错Table 'news.log_1' doesn't exist
，但是我并没有用到这个表呀

[2021-09-13 08:47] #381 closed

[2021-09-13 09:02] #376 closed

[2021-09-13 09:02] #288 closed

[2021-09-13 09:02] #267 closed

[2021-09-13 10:01] leonardBang commented on #354
closed once it didn't repeat

[2021-09-13 10:01] #354 closed

[2021-09-14 02:08] wuchong commented on #392
Hi @dczeeee , thanks for reporting this problem and the detailed reproduce process. I want to ask how many rows in your table? Can it reproduce if there is only 10 rows in it with snowflake primary key?

[2021-09-14 02:12] wuchong commented on #392
I reopened this issue, because Flink CDC shouldn't hang in any cases. As far as I can see, we shouldn't use `ChunkSplitter#splitEvenlySizedChunks` even if it's `AUTO_INCREMENT` primary key. Maybe we need to use it only when `max - min ≈ count`.  cc @leonardBang

[2021-09-14 02:21] leonardBang commented on #392
@dczeeee @wuchong make sense to me, I'll finish this soon

[2021-09-14 02:33] leonardBang opened #424 "[test] The MySqlSourceITCase failed in setting up testcontianer"
**Describe the bug**
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=365&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=ce18b30f-11b8-5f1e-8fbd-391708956df7

**Environment :**
 - Flink version :
 - Flink CDC version: master
 - Database and version: mysql 5.7

[2021-09-14 03:07] dczeeee commented on #392
It will reproduce no matter how many rows.

[2021-09-14 08:42] leonardBang commented on #392
I've open the PR #425  to support this case @dczeeee

[2021-09-15 02:30] jack-luohao commented on #422
已解决

[2021-09-15 02:30] #422 closed

[2021-09-15 06:42] DemonJun opened #427 "Is it possible to customize the configuration items of debezium `include.schema.changes` ??"
in me case, I want use cdc to watch mysql table change, but I found this - `include.schema.changes` is always false in class `DebeziumSourceFunction` at method `run`.
Is it possible to customize the configuration items of debezium `include.schema.changes` ??

[2021-09-15 07:24] #330 closed

[2021-09-15 09:12] lugela opened #428 "Support multiple parallelism to read binglog"
Is there any plan to support multiple parallelism reading binlog?

[2021-09-15 09:39] leonardBang commented on #428
Could you share your motivation why we need to support parallelism reading?

[2021-09-15 09:42] #392 closed

[2021-09-16 01:06] lugela commented on #428
When the business system has a large number of insert, delete, update, synchronization will be delayed. At the same time, in the later stage, roadmap supports the synchronization of the whole database, and the delay will increase if the degree of parallelism is single. Personally immature proposal。

[2021-09-16 03:18] wasys1314 commented on #134
我也是差不多的问题，我的pg之前是可以跑的。后来我在表上加了一个新字段，然后把新字段放到程序里面，就报这个错了。

[2021-09-16 03:40] wasys1314 commented on #134
运行环境 ：win10
flink版本 ：1.13.0
flink-connector-postgres-cdc 版本 ：2.0.1

代码：
`

    public static void main(String[] args) throws Exception {
        //获取flink流环境变量
        StreamExecutionEnvironment exeEnv = StreamExecutionEnvironment.getExecutionEnvironment();

        //表执行环境
        StreamTableEnvironment tableEnv = StreamTableEnvironment.create(exeEnv);

        //拼接souceDLL
        String sourceD

[2021-09-16 04:36] wasys1314 commented on #134
运行环境 ：win10
flink版本 ：1.13.0
flink-connector-postgres-cdc 版本 ：2.0.1

代码：
`

    public static void main(String[] args) throws Exception {
        //获取flink流环境变量
        StreamExecutionEnvironment exeEnv = StreamExecutionEnvironment.getExecutionEnvironment();

        //表执行环境
        StreamTableEnvironment tableEnv = StreamTableEnvironment.create(exeEnv);

        //拼接souceDLL
        String sourceD

[2021-09-16 07:08] hwzp99 opened #432 "com.github.shyiko.mysql.binlog.event.deserialization.EventDataDeserializationException: Failed to deserialize data of EventHeaderV4{timestamp=1631767918000, eventType=UPDATE_ROWS, serverId=2121124478, headerLength=19, dataLength=7701, nextPosition=217369687, flags=0}"
**Describe the bug**
A clear and concise description of what the bug is.
2021-09-16 14:41:58,859 ERROR io.debezium.connector.mysql.BinlogReader                     [] - Failed due to error: Error processing binlog event
org.apache.kafka.connect.errors.ConnectException: com.github.shyiko.mysql.binlog.event.deserialization.EventDataDeserializationException: Failed to deserialize data of EventHeaderV

[2021-09-16 08:59] leonardBang commented on #432
Thanks for the report, this duplicates with #276 , and I've open the PR to fix

[2021-09-16 09:00] leonardBang commented on #432
Sorry, this should not be same with #276

[2021-09-16 15:39] leonardBang opened #433 "[MySql] The specific offset mode failed when enable GTID mode"
**Describe the bug**
The specific offset mode failed when enable GTID mode

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 1.x
 - Database and version: MySQL 5.7

**To Reproduce**
`MySqlSourTest#testStartupFromSpecificOffset` will failed if we enable GTID mode

[2021-09-16 16:37] leonardBang opened #434 "[test] Test testStartupFromLatestOffset hangs until timeout"
2021-09-16T15:32:58.8532799Z Test testStartupFromLatestOffset[useLegacyDezImpl: false, incrementalSnapshot: true](com.ververica.cdc.connectors.mysql.table.MySqlConnectorITCase) is running.

https://dev.azure.com/ververica/dac773cf-e9ac-4cdf-834a-b5afa51a0732/_apis/build/builds/392/logs/7

[2021-09-17 02:52] leonardBang commented on #434
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=399&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9

[2021-09-17 05:50] overcls opened #435 "flink-connector-mysql-cdc 报错Caused by: org.apache.kafka.connect.errors.ConnectException: Data row is smaller than a column index, internal schema representation is probably out of sync with real database schema"
flink-connector-mysql-cdc 1.4.0

当数据库存json，修改json数据其他字段无变化导致出错，请问这个怎么解决

Exception in thread "main" org.apache.flink.runtime.client.JobExecutionException: Job execution failed.
	at org.apache.flink.runtime.jobmaster.JobResult.toJobExecutionResult(JobResult.java:144)
	at org.apache.flink.runtime.minicluster.MiniClusterJobClient.lambda$getJobExecutionResult$2(MiniClusterJobClient.java:117)
	at java.

[2021-09-17 06:55] leonardBang opened #436 "[tests] The test BinlogSplitReaderTest#testReadAllBinlogSplitsForOneTable is unstable"
https://github.com/ververica/flink-cdc-connectors/runs/3628680617

[2021-09-17 07:21] #276 closed

[2021-09-17 07:24] leonardBang commented on #434
Temporarily fixed in https://github.com/ververica/flink-cdc-connectors/pull/421

[2021-09-17 07:24] #434 closed

[2021-09-17 09:09] #436 closed

[2021-09-17 12:57] yangyongyongyong commented on #355
+1

[2021-09-18 02:00] deadwind4 commented on #355
+1

[2021-09-18 10:23] todd5167 opened #439 "Incremental reading always starts at offset 0"
I use the cdc2.0.0 version for full + incremental data reading. After the full data is read, the minBinlogOffset used by the created MySqlBinlogSplit is always 0. Although it will not affect downstream data, it will affect performance.
I'm not sure if this is an optimization point.

[code]

[2021-09-18 11:25] leonardBang commented on #439
Duplicate with in https://github.com/ververica/flink-cdc-connectors/issues/329, and this has been fixed

[2021-09-18 11:25] #439 closed

[2021-09-18 11:38] hwzp99 commented on #375
same problem...

[2021-09-18 11:50] wuchong commented on #428
@lugela , did you hit a bottleneck in binlog phase? Usually, this shouldn't be a bottleneck in reader, because MySQL don't support too much writing throughput.

[2021-09-22 02:23] hwzp99 opened #441 "[MYSQL]cdc 1.4.0->2.0.1报错，Caused by: java.io.UTFDataFormatException: Encoded string is too long: 85008 at org.apache.flink.core.memory.DataOutputSerializer.writeUTF(DataOutputSerializer.java:257) at"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.1
 - Database and version: mysql7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

com.ververica.cdc.connectors.mysql.source.split.MySqlSplitSerializer.writeTableSchemas(MySqlSplitSerializer.java:17

[2021-09-22 03:11] liaooo opened #442 "mysql-cdc从checkpoint恢复时因为binlog日志文件已清除导致任务无限重启"
异常信息：
`io.debezium.DebeziumException: The connector is trying to read binlog starting at SourceInfo [currentGtid=null, currentBinlogFilename=mysql-bin.003008, currentBinlogPosition=169375401, currentRowNumber=0, serverId=0, sourceTime=null, threadId=-1, currentQuery=null, tableIds=[], databaseName=null], but this is no longer available on the server. Reconfigure the connector to use a snapshot whe

[2021-09-22 03:21] Fisher666 commented on #402
many thx for help, it worked the other day and Im considering contributing cdc by docs improvements and source code interpretation.

[2021-09-22 03:22] #402 closed

[2021-09-22 03:24] leonardBang commented on #442
mysql 侧 binlog文件日期保留长点

[2021-09-22 03:27] leonardBang commented on #441
could you show your table schema ? @hwzp99

[2021-09-22 03:27] Fisher666 commented on #402
tableList() in dataStream API should be filled w/ the full path of the table as indicated in source code :
postgresql: schemaName.tableName
mysql : databaseName.tableName

[2021-09-22 03:46] hwzp99 commented on #441
CREATE TABLE `tencent_adgroup_report` (
  `id` bigint(20) unsigned NOT NULL COMMENT '主键',
  `created_at` datetime(3) DEFAULT NULL,
  `updated_at` datetime(3) DEFAULT NULL,
  `deleted_at` datetime(3) DEFAULT NULL,
  `group_by` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT '' COMMENT '聚合参数',
  `granularity` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci

[2021-09-22 03:47] hwzp99 commented on #441
CREATE TABLE `tencent_adgroup_report` (
  `id` bigint(20) unsigned NOT NULL COMMENT '主键',
  `created_at` datetime(3) DEFAULT NULL,
  `updated_at` datetime(3) DEFAULT NULL,
  `deleted_at` datetime(3) DEFAULT NULL,
  `group_by` varchar(40) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci NOT NULL DEFAULT '' COMMENT '聚合参数',
  `granularity` varchar(20) CHARACTER SET utf8mb4 COLLATE utf8mb4_0900_ai_ci

[2021-09-22 08:47] leonardBang opened #445 "[bug][build] Could not resolve dependencies org.lz4:lz4-java:jar:1.7.1"
[ERROR] Failed to execute goal org.apache.maven.plugins:maven-shade-plugin:3.1.1:shade (shade-flink) on project flink-connector-mysql-cdc: Error creating shaded jar: Could not resolve following dependencies: [org.lz4:lz4-java:jar:1.7.1 (test)]: Could not resolve dependencies for project com.ververica:flink-connector-mysql-cdc:jar:2.1-SNAPSHOT: Could not transfer artifact org.lz4:lz4-java:jar:1.7.1

[2021-09-22 09:14] hwzp99 commented on #432
same with #276
2.x #276
1.x #432

[2021-09-22 09:41] gaoxiancan opened #446 "如何保证数据不丢的"
com.alibaba.ververica.cdc.connectors.mysql.source.utils.RecordUtils#splitKeyRangeContains

[2021-09-22 09:42] #446 closed

[2021-09-22 09:57] gaoxiancan opened #447 "多个分片并行初始化会不会丢失数据"
com.alibaba.ververica.cdc.connectors.mysql.source.utils.RecordUtils#splitKeyRangeContains
这个方法进行了分片范围内数据过滤，相当于丢失了分片范围外的数据

举例：
splits (null，10],(10，20],(20，30],(30，40],(40，null]
	当前分片(10,20]
	拉取到的全量数据				(12,13,14,15,19)
	拉取到的binlog数据			(1_update,2_delete,10_update,11_insert,12_update,13_delete)
	过滤之后满足条件的binlog数据	(11_insert,12_update,13_delete)
	合并之后的数据				(11,12,14,15,19)
问题是，1_update,2_delete,1

[2021-09-22 10:36] leonardBang commented on #447
理解的不对，记录了拉取当前分片的high watermark位点， binglog 阶段过了 high watermark 位点又属于该分片的记录会继续下发，你再看下代码

[2021-09-22 11:05] yangliuyu commented on #339
hope sqlserver cdc support can be added in 2.1

[2021-09-22 11:38] leonardBang opened #448 "[tests] The docker start up hang"
764  [main] INFO  com.ververica.cdc.connectors.mysql.source.MySqlParallelSourceTestBase - Starting containers...
802  [testcontainers-lifecycle-0] INFO  org.testcontainers.dockerclient.DockerClientProviderStrategy - Loaded org.testcontainers.dockerclient.UnixSocketClientProviderStrategy from ~/.testcontainers.properties, will try it first
1470 [testcontainers-lifecycle-0] INFO  org.testcontainers.

[2021-09-22 12:37] #441 closed

[2021-09-22 12:38] leonardBang commented on #441
@hwzp99 I fixed this in master, you can have a try

[2021-09-23 03:14] leonardBang commented on #445
another instance in release-2.0 branch
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=425&view=logs&j=12f1170f-54f2-53f3-20dd-22fc7dff55f9&t=ce18b30f-11b8-5f1e-8fbd-391708956df7

[2021-09-23 07:05] #445 closed

[2021-09-23 10:52] XianPengcheng opened #457 "mysql 字段是datetime类型时,flink-cdc接收到数据会+8个小时"
**Describe the bug**
mysql 字段是datetime类型时,flink-cdc接收到数据会+8个小时

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.1
 - Database and version: 8.0.26

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
mysql的表:
`CREATE TABLE `test_data` (
  `custom_info_id` bigint unsigned NOT NULL AUTO_INCREMENT COMMENT '个人信息标识',
  `custom_no` varchar(16) NOT NULL COMMENT '用户

[2021-09-23 11:26] leonardBang commented on #457
the root cause is you defined the field  type is not match with the field type in MySQL, please refer

[2021-09-23 11:26] #457 closed

[2021-09-23 14:06] hwzp99 opened #460 "[MYSQL] Caused by: java.lang.ArrayIndexOutOfBoundsException"
**Describe the bug**
A clear and concise description of what the bug is.
java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:199)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache.flink.con

[2021-09-23 14:56] leonardBang commented on #460
could you try 2.0.2 version? @hwzp99

[2021-09-24 05:38] squning123 opened #462 "com.esotericsoftware.kryo.KryoException: java.lang.UnsupportedOperationException"
SourceFunction自定义deserializer , ForwardDeserializeSchema是复制的源码.

private static class ForwardDeserializeSchema implements DebeziumDeserializationSchema<SourceRecord> {

        private static final long serialVersionUID = 2975058057832211228L;

        @Override
        public void deserialize(SourceRecord record, Collector<SourceRecord> out) throws Exception {
            out.collect(record);

[2021-09-24 06:33] hwzp99 commented on #460
2.0.2，the same problem..  @leonardBang
2021-09-24 13:39:45,947 ERROR io.debezium.pipeline.ErrorHandler                            [] - Producer failure
io.debezium.DebeziumException: null
	at io.debezium.connector.mysql.MySqlStreamingChangeEventSource.wrap(MySqlStreamingChangeEventSource.java:1142) ~[darwinKafkaDataToHive-1.0-SNAPSHOT.jar:?]
	at io.debezium.connector.mysql.MySqlStreamingChangeEven

[2021-09-24 08:52] todd5167 commented on #360
Can it be verified in MySqlParallelSource#createReader.
The `scan.incremental.snapshot.enabled` parameter is used to create a ParallelSource. When the createReader method is executed, the SourceReaderContext can be used to determine whether to enable checkpoint.

[2021-09-24 08:55] todd5167 commented on #447
@gaoxiancan   https://www.imooc.com/article/320897   写了下CDC处理过程，你可以看看

[2021-09-24 13:12] forrestlmj commented on #285
这个问题是包冲突问题。

[2021-09-24 13:12] #285 closed

[2021-09-25 05:04] baisui1981 commented on #239
还有一个情况没有考虑到，双流join的程序是在，数据库里本来就有大量数据的情况下启动的，这时候 A表发生更新，然后B表数据在state中没有（数据库中是存在），这个时候flink的join就会执行不了

[2021-09-25 10:43] baisui1981 opened #463 "what is meaning of the mysql cdc connector param 'scan.incremental.snapshot.enabled'"
when I start my fink cdc job base on mysql connector for monitor couple of mysql table . the code as below:

[code]
after launching , try some inserting recodes in source table, checking the sink table `wide_stuff` has find any changing in it.

then tracking the cdc source code, i find the param 'scan.incremental.snapshot.enabled' the default value is true, modify it to false, after relaunching th

[2021-09-26 01:16] leonardBang commented on #463
could you share the exception? and the INCREMENTAL_SNAPSHOT is a new mechanism to make the snapshot reading phase more effective which supports `non-lock` and `parallel reading`

[2021-09-26 02:51] baisui1981 commented on #463
when the param 'scan.incremental.snapshot.enabled' is true ,after launching , throw an exception as below.

after  checkpoint be disbaled as below，the exception will not be display again, though the data synchronizing was unable to return normal
[code]
[code]

[2021-09-26 02:53] leonardBang commented on #463
please try 2.0.2 version which has fixed this issue

[2021-09-26 02:57] baisui1981 commented on #463
thanks，let me try it

[2021-09-26 04:57] #463 closed

[2021-09-26 06:23] fsk119 opened #464 "[Postgres] Should check whether replica indentity is full during the validation"
[code]

The recevided records from the dbz is
[code]

The `data` field for the third record is `__debezium_unavailable_value`, which may cause some problems.

Please also add these sqls into the `replica_identity.sql`.

[code]

[2021-09-26 07:03] fsk119 commented on #464
More inputs:
When setting the decoding plugin `wal2json`, it may also fail the job. The root exception is confusing like:
[code]

[2021-09-27 03:37] leonardBang opened #465 "[docs] Add documentation for oracle-cdc connector"
We need add the documentation at the same time when we introduce `oracle-cdc` connector in #418

[2021-09-27 03:52] dczeeee opened #466 "java.lang.NumberFormatException: Value out of range. Value:"139" Radix:10"
**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.0.2
 - Database and version: MySQL 5.7.33

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :
java.lang.NumberFormatException: Value out of range. Value:"139" Radix:10
	at java.lang.Byte.parseByte(Byte.java:151)
	at java.lang.Byte.parseByte(Byte.java:175)
	at com.ververica.cdc.

[2021-09-27 07:01] lykpass opened #467 "After mysql use the truncate statement, one data will be lost"
**Describe the bug**
After mysql use the truncate statement ,I insert an original data,then delete this data,the result table will lose this data
**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 1.14.0
 - Database and version: 8.0.26

**To Reproduce**

------------------------mysql

create table a (
	id int,
	name varchar(5),
	primary key(id)
)

insert into a (id,name) values(1,'

[2021-09-27 10:31] Jiezhi opened #468 "Generate Flink SQL DDL by MySQL/PG DDL"
**Is your feature request related to a problem? Please describe.**

As I learned for now, we must create Flink SQL table with maually set column name and type, is there a way to auto generate ddl by MySQL/PG DDL (columns part).

**Describe the solution you'd like**
If we want to add lots of table from mysql to flink and sink to hudi, we need create at least twice DDL to finish data flow.
For examp

[2021-09-27 19:08] reven404 commented on #467
https://dev.mysql.com/doc/refman/5.7/en/replication-features-truncate.html

[2021-09-28 01:43] yanghuaiGit commented on #401
每条dml的消费都应该伴随position的更新，但是在一个事务中出现多个dml语句时，每个dml语句的position是这个事务的结束位置而不是此dml语句的position。导致第一条dml语句更新position且被存储到state里，那么在恢复时，此事务后续dml丢失，因为记录的position是这整个事务的commit position
简而言之 dml消费更新的position应该是这个dml语句的position而不是其所在事务的commit position

[2021-09-28 01:47] yanghuaiGit commented on #401
record.sourceOffset() 取得是所在事务的position，应该取record里的source属性值里的position 与 file 这个是此record的position

![image](https://user-images.githubusercontent.com/38883656/135008885-47dfaf7a-7af0-48a0-9312-dfc4be477540.png)

[2021-09-28 02:51] hzh2955 opened #469 "CDC同步MysqlHA集群，切换同步实例checkpoint恢复出现异常"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version:  2.0.2
 - Database and version:  mysql  5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :  2021-09-27 15:47:42.770 INFO  io.debezium.connector.mysql.MySqlConnectorTask               - Connector last k

[2021-09-28 10:24] luoyuxia commented on #469
假设MySQL集群 为master, slave1, slave2.
Flink CDC监听slave

1: 一开始，master，slave1，slave2的`Executed_Gtid_Set`都会记录来自 自己这个server的事务；
2: 接下来 slave1，slave2则开始监听master1的事务，此时slave1，slave2则只会记录来自master的事务。
3: slave1挂了，Flink CDC切换到slave2，此时Flink CDC从slave1对应的state恢复，恢复出slave1的`Executed_Gtid_Set`，但slave1的`Executed_Gtid_Set`与slave2的`Executed_Gtid_Set` 不兼容，直接从slave1的state切换到slave2就会fail。

不兼容的原因是 ：
在step 1的时候，slave1

[2021-09-28 12:02] fsk119 opened #472 "Improve the test code in MySql test cases"
Just do some code clean to make the test more concise.

[2021-09-28 16:59] macdoor opened #474 "provide DML operations in Table/SQL API"
When I use Table/SQL API, I still want know DML operations. It is an update, delete or create operate. Just like 'op' field in Debezium events.

I suggest to expand connector parameter and add  'operation-column' to describe which column to contain operation. When connector insert into table. This column will be one of update / delete / insert .

[code]

[2021-09-29 02:11] bobby-richard opened #476 "Expose record metadata to mongo-cdc"
**Is your feature request related to a problem? Please describe.**
It's possible to capture data from multiple mongo databases and collections with the connector, but there is no way to know which database or collection each record came from.

**Describe the solution you'd like**
The official flink debezium format provides a way to read debezium metadata fields when creating a table DDL (https://n

[2021-09-29 03:46] fsk119 opened #477 "Add more tests for the PG plug-in"
Currently all tests in PG uses the `decoderbuf` as the plugin. We should add more tests to cover all plugins, e.g `pgoutput` and `wal2json`.

Also we need to bump the docker version used in the test if we want to test `pgoutput`, whichi only works in the PG whose version >= 10.

[2021-09-29 04:09] fsk119 commented on #476
I think you can take a look at the FLIP about the design of the metadadta column. Flink has an good example in the PR[2].

[1] https://cwiki.apache.org/confluence/display/FLINK/FLIP-107%3A+Handling+of+metadata+in+SQL+connectors
[2] https://github.com/apache/flink/pull/13732

[2021-09-30 03:32] miaogr86 commented on #341
source 支持自定义并行度吗

[2021-09-30 10:36] ashulin commented on #249
Hi, is there any progress on this feature recently? I can also do this feature if you are busy these days.@GOODBOY008

[2021-09-30 16:17] macdoor opened #478 "Support to run flink-cdc on Flink v1.14.0"
1. upgrade to flink-1.14.0
2.  put flink-format-changelog-json-2.0.2.jar and flink-sql-connector-mysql-cdc-2.0.2.jar into flink/lib dir.
3. execute sql-client.sh and get exception

[code]

[2021-10-01 02:14] leonardBang commented on #478
Flink CDC 2.0.* is compiled against Flink 1.13.1, this may happen if the  Flink 1.13.1 is not compatible with Flink 1.14.0,
it's not a bug causing be Flink CDC or Flink, what we can do is pushing the Flink's version more stable in Flink community, Or we need to offer a Flink CDC 2.0.* that compiled against Flink 1.14.

[2021-10-01 12:21] macdoor commented on #478
@leonardBang you are right, this is not a bug. need to offer a Flink CDC 2.0.* that compiled against Flink 1.14.

[2021-10-02 03:03] coralzu opened #479 "Flink CDC support geospatial data"
**Is your feature request related to a problem? Please describe.**
No

**Describe the solution you'd like**

Does Flink CDC have plans to support geospatial data? such as Mysql geometry、Postgres Postgis geomtery.

**Describe alternatives you've considered**
None

[2021-10-08 01:52] lykpass commented on #57
有解决吗

[2021-10-08 02:07] lykpass opened #481 "CDC sometimes stop synchronous data"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 1.14
 - Database and version: 5.6

Using CDC to synchronize data and flinksql for calculation, SQL is complex and involves many tables. Sometimes tables will stop during synchronization，but flink

this is the error

2021-10-08 09:34:59,774 ERROR io.debezium.c

[2021-10-08 02:25] xiaoshijiang523 commented on #432
I also met the same problem, how did you solve it。

[2021-10-08 02:52] #479 closed

[2021-10-08 03:53] lykpass commented on #481
[https://github.com/ververica/flink-cdc-connectors/issues/57](url)

[2021-10-09 08:50] Sam-Tsui opened #486 "Reading incremental data from MySQL in parallel not work"
**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version:  2.0.2
 - Database and version: Mysql5.7

**To Reproduce**
 jobManager: 1
 taskManager: 2
 flink deploy with standalone mode.
 taskmanager.numberOfTaskSlots: 2
 parallelism.default: 2

**Additional Description**
My job is simply sync mysql data(ps. only 1 table) to es7 , and the job is created by SQL CLI. The incremental snapshot r

[2021-10-09 09:30] cherful commented on #197
各路神仙，请问如何解决的。我现在通过flink1.13.2的sql-client去访问iceberg的数据也是抛这个问题。
依赖包版本如下：flink-connector-hive_2.12-1.13.2.jar
iceberg-flink-runtime-0.12.0.jar。

[2021-10-09 12:20] wuchong commented on #486
You may forget to enable checkpoint `SET 'execution.checkpointing.interval' = '3min'; `.  Binlog phase will wait for at least one complete checkpoint.

[2021-10-09 12:31] wuchong opened #487 "Support to read tables of inconsistent schema"
**Is your feature request related to a problem? Please describe.**
Currently, we can use regular expressions for `table-name` and `database-name` options to read a shared databse that contains multiple tables, e.g. `table-name=user_.*` to read `user_00`, `user_01`, ..., `user_99` tables. However, it requires all the tables have totally same schemas. But this may not true in some use case that some

[2021-10-09 12:40] wuchong commented on #476
I'm going to support metadata columns for mysql-cdc, see #249 in the next days. I think it can be a good example for other connectors.

[2021-10-11 01:32] civetming opened #489 "Project push down for mysql cdc source"
I use flink-cdc 2.0.2 in the full synchronization stage, select * from table will be executed, a large amount of data in a single table will cause slow queries. How to solve it

 - Flink version :  1.13
 - Flink CDC version: 2.0.2
 - Database and version: mysql 8.0+

[2021-10-11 02:34] #486 closed, assigned to nobody

[2021-10-11 03:24] lsyldliu opened #490 "mysql cdc SourceCoordinator state is too big，cause OOM when checkpoint"

[2021-10-11 05:34] wuchong commented on #489
@robin-ming , you can increase the source parallelism to speed up for now.
In the future, we can support project push down to only read the required columns.

[2021-10-11 05:37] wuchong opened #491 "Add validation check for the regex pattern of database-name and table-name in table factory"
**Describe the bug**
`'database-name' = '*_wp'` will cause the following exception and cause the JM failed.
![image](https://user-images.githubusercontent.com/5378924/136738341-5f452d1f-447f-4b52-bd3b-72d554250774.png)

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.0.2
 - Database and version: mysql 5.7

**How to improve**
We can add validation check for the regex pattern of d

[2021-10-11 05:41] wuchong commented on #486
@Sam-Tsui , this is an optimization for 1 parallelism. The checkpoint is required to guarantee the global order of update events for multiple source tasks. However, for single task, the update events is natually ordered, so we don't need a complete checkpoint.

[2021-10-11 06:45] leonardBang opened #492 "[mysql] Move table discovery logic to enumerator"
The discovery logic should move to {@link MySqlSourceEnumerator} from {@link MySqlSnapshotSplitAssigner} so that the captured tables is correct when restore happens.

[2021-10-11 06:50] leonardBang opened #493 "[mysql] Add schema validation for table schema"
For a mysql single table, we should verify that the fields declared by the user in the ddl are included in the database table. For the sub-database and sub-table scenarios, we should verify that the fields declared in the ddl are included in the widest table, and the widest The table is composed of these sub-tables

[2021-10-12 01:28] robin-ming commented on #489
But,the SQL query statements will take a long time, how to solve it.

[2021-10-12 02:36] a120610114 commented on #442
flink cdc 是否支持when_needed的快照模式？如果使用该模式是否能解决binlog 被清理的问题

[2021-10-12 02:45] a120610114 commented on #271
想问一下，这个问题 你解决了吗？是否会存在其它隐患呢？

[2021-10-12 02:54] wuchong commented on #489
@robin-ming , how long will it take? We introduced incremental-snapshot in v2.0, usually, it won't take too long for each chunk query.

[2021-10-12 06:56] #487 closed

[2021-10-15 08:40] wby0014 opened #503 "sql supports aggregation functions similar to JSON_ARRAYAGG"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-10-18 00:56] liuxiaolinlxl opened #504 "where can I download flink-sql-connector-mongodb-cdc-2.1-SNAPSHOT.jar ？"
https://repo1.maven.org/maven2/com/ververica/flink-sql-connector-mongodb-cdc/2.1-SNAPSHOT/flink-sql-connector-mongodb-cdc-2.1-SNAPSHOT.jar

this url is 404

[2021-10-18 04:01] luoyuxia opened #506 "[docs] Add documentation for newly introduced oracle-cdc connector"
**Is your feature request related to a problem? Please describe.**
#418 introduces oracle cdc,  we need to add documentation for it to make users can use it easily

**Describe the solution you'd like**
Add documentation for oracle cdc

**Describe alternatives you've considered**
no

[2021-10-18 04:01] melin opened #507 "[feature] Support capture all MySQL tables of MySQL Database to TiDB"
能够支持mysql 按照数据库同步到tidb，支持mysql分库分表，同步到tidb一张表中。tidb 可以作为一个实时数仓比较理想选择，支持ddl sql同步变更，这是hudi，delta，iceberg 目前无法实现的。
现在用otter 全量同步公司所有数据库到tidb，otter 现在已经没有人维护了。

[2021-10-19 03:25] undefang opened #510 "Allow to limit speed when read database snapshot"
I expect a limit-speed configuration when I read database snapshot， to reduce impact on db.

[2021-10-19 03:31] undefang opened #511 "read snapshot from ReadOnlyInstance and read binlog from master"
To reduce impact on master, sometimes I expect cdc to read snapshot from ReadOnlyInstance. Beside, aliyun rds:ReadOnlyInstance has no binlog，I must read binlog from master.
So, can cdc support read snapshot from ReadOnlyInstance and read binlog from master(support configure master&ReadOnlyInstance address)?

[2021-10-21 03:40] #504 closed

[2021-10-21 03:41] #503 closed

[2021-10-21 03:43] wuchong commented on #511
Thanks @undefang , I think this is a nice feature. Besides you said "aliyun rds slave has no binlog", is there any documentation explain it?

[2021-10-21 06:36] wuchong opened #513 "[feature] Add new tables to an existing Flink CDC job"
Sometimes, a Flink CDC job may only read [t1, t3, t5], but after some days we would like the job can also read [t4, t6] but don't want to lose the savepoint of the job. For example, update the `table-name` value of the job to include t4 and t6 and restore the job from previous savepoint.

This is a feature like Debezium's `snapshot.new.tables` feature. But it's not an easy work for Flink CDC to in

[2021-10-21 06:40] undefang commented on #511
Sorry，I made a mistake. It‘s ReadOnlyRDSInstance that i can not read the binlog.

[2021-10-21 06:43] wuchong commented on #511
Thanks @undefang , is there any docs for that as well?

[2021-10-21 09:45] GOODBOY008 opened #516 "[mysql] if colunm defined default value and nullable,when column value is null. flink-cdc catch field value is default"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.12
 - Flink CDC version:  release-2.0
 - Database and version:  mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
<img width="926" alt="1634809289(1)" src="https://user-images.githubusercontent.com/13617900/138252730-5192d551-7a5a-4e81-9797-a4f34a8cfa4e.p

[2021-10-22 01:02] jinghewang commented on #507
为个功能是有必要的，不过我关注的是  mysql to  mysql/ hudi ，希望尽快加入功能。

[2021-10-22 07:39] leonardBang opened #519 "[oracle] shade dependencies in oracle-cdc connector jar"
We introduced oracle cdc in #418 , we should also follow flink connector jar shade style like #499

[2021-10-26 02:07] Karl-WangSK opened #523 "生僻字问号"
**Describe the bug**
A clear and concise description of what the bug is.

从mysql读取发现比较偏的中文会出现乱码。
mysql字符集为utf8mb4
![image](https://user-images.githubusercontent.com/53078090/138796402-f87154a4-a692-47e3-b512-ca2f779b9ea0.png)

mysql:
![image](https://user-images.githubusercontent.com/53078090/138796301-87a0683a-8b08-4b3a-acbd-da73ab4675e2.png)

读取出来后:
![image](https://user-images.githubusercontent

[2021-10-26 04:29] luoyuxia opened #524 "Awesome Flink CDC with Data Lake/Data WareHosue"
In here, I would like to collect some artices about the practice that intergrate with some popular datalakes like  Iceberg/ Hudi and data warehouse like Doris/Clickhouse.

Welcome everyone to help enrich it.

[2021-10-27 07:04] liaooo opened #527 "changelog-json序列化数字时，将10.000000序列化为科学计数法 1E+1 了"
changelog-json内部也是依赖flink-json组件，可否把flink-json的json.encode.decimal-as-plain-number属性在changelog-json也支持？

[2021-10-27 07:41] voyagertanyao opened #528 "When flink-cdc supports flink 1.14"
when does flink-cdc support flink 1.14?

[2021-10-28 02:54] #491 closed, assigned to nobody

[2021-10-28 08:21] #523 closed, assigned to nobody

[2021-10-29 02:41] leonardBang opened #535 "[tests] Reduce the total test time"
Currently our tests taked 54 minutes which will soon reach the timeout 1 hour
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=582&view=results

[2021-10-29 17:36] leonardBang opened #542 "[oracle] Support metadata columns for oracle-cdc connector"

[2021-11-01 01:39] zhangsir1993 commented on #460
Has anyone solved the problem？

[2021-11-01 02:37] luoyuxia commented on #506
close via #515

[2021-11-01 02:37] #506 closed

[2021-11-01 04:19] #374 closed

[2021-11-01 04:37] leonardBang commented on #380
Implemented by #438

[2021-11-01 04:37] #380 closed

[2021-11-01 04:38] leonardBang commented on #76
Implemented by #418

[2021-11-01 04:38] #76 closed

[2021-11-01 06:31] leonardBang commented on #372
Implemented in #495

[2021-11-01 06:31] #372 closed

[2021-11-01 06:34] leonardBang commented on #360
Implemented in a26096910e52f2aec261177435e38c350e1eedba

[2021-11-01 06:34] #360 closed

[2021-11-01 06:36] leonardBang commented on #339
There are not many users using Flink 1.14, and there is no plan to support it at the moment

[2021-11-01 11:08] lea21st commented on #173
有人解决了这个问题吗

[2021-11-01 11:33] cm2d opened #544 "[CDC-Mysql] 2.1 not load server time zone"
Hello

First of all, congratulations for the work accomplished.

I am currently testing version 2.1, and I may have a little suggestion.
It seems that the mysql cdc connector does not enable the time_zone server configuration.
I added this to the PooledDataSourceFactory.createPooledDataSource which seems to work fine.

[code]

Not familiar with this code, I simply prefer to suggest it to you rathe

[2021-11-01 12:01] leonardBang commented on #544
Thanks for your timely feedback @cm2d Could you also share your environment  and the detailed exception?

[2021-11-01 14:16] cm2d commented on #544
Hello @leonardBang,
Thanks for your msg.
Can you specify the elements you need regarding the environment?

Stack Error is :
[code]

[2021-11-02 02:50] leonardBang commented on #544
Hi, @cm2d I mean the OS your MariaDB deployed and the OS flink cluster you deployed.
I have encountered the time zone set on some machines before, and the database server cannot resolve it

[2021-11-02 09:49] lea21st opened #545 "mysql 传错误的hostname和username，会返回Public Key Retrieval is not allowed"
mysql 传错误的hostname和username，会返回Public Key Retrieval is not allowed，应返回正确的错误信息。

[2021-11-02 11:00] fanghj opened #546 "checkpoint不生效"
flink版本 1.13
cdc 版本 2.02

配置文件 flink-conf.yaml 设置如下

state.backend: filesystem
state.checkpoints.dir: file:///tmp/flink-checkpoints
state.savepoints.dir: file:///tmp/flink-savepoints

CDC session中设置如下：

RESET execution.checkpointing.interval;
RESET execution.checkpoints.path;
SET 'execution.checkpointing.interval' = '3s';
SET 'execution.checkpoints.path' = 'file:///tmp/flink-checkpoints';

SELECT

[2021-11-02 11:18] dliangzhu commented on #544
我也遇到了类似的问题，在windows本地跑的flink，windows上安装的mysql5.7。

`Caused by: java.sql.SQLException: The server time zone value '�й���׼ʱ��' is unrecognized or represents more than one time zone. You must configure either the server or JDBC driver (via the 'serverTimezone' configuration property) to use a more specifc time zone value if you want to utilize time zone support.
	at com.mysql.cj.jdbc.exceptions.SQLEr

[2021-11-02 15:44] leonardBang opened #548 "[docs] Add mysql metadata column documentation"
We supported metadata column feature in #496  , we need update the connector documentation as well

[2021-11-02 17:02] cm2d commented on #544
Hello,

My Mariadb10.5.12 is deployed on Debian 10.10.
DB timezone is
[code]
Debian timezone is
[code]
I use Flink and flink-cdc-connectors wtih openjdk 11.0.8 code executed "in desktop mode" on Windows 10.
Maven POM ...
[code]

@dliangzhu
Thanks for your confirmation.

@leonardBang
"I have encountered the time zone set on some machines before, and the database server cannot resolve it"
Indeed, it

[2021-11-03 01:23] cleverblue opened #549 "希望能增加一个SQL server 2012版本以上的cdc功能"
希望能增加一个SQL server 2012版本以上的cdc功能

[2021-11-03 01:31] leonardBang commented on #549
@cleverblue 能描述下你们使用的业务场景和sql server版本吗？

[2021-11-03 01:43] leonardBang commented on #476
Implemented in 65665eb

[2021-11-03 01:43] #476 closed

[2021-11-03 01:48] leonardBang commented on #544
@cm2d Thanks for your detail description.

I just want to figure out what happens when this problem occurs, and then fix it. It seems the problem is clear now, would you like to open a PR to fix it?

[2021-11-03 02:27] cleverblue commented on #549
我们目前使用的版本是SQLserver2019，业务场景是想通过 pulsar接收到的消息，用flink计算后sink到SQL Server中，然后我们做串行计算，flink-->SQL server(table1)(update,insert)-->flink计算-->sinktable2(update,insert)-->flink计算-->sinktable3(update,insert)..........
这样做计算是因为每个表的数据必须sink，table1，table2,table3的数据是相关联的。后面再通过table1，table2,table3用flink做并行计算。文字不知描述清楚没！

[2021-11-03 02:53] leonardBang commented on #549
就是现有业务场景，你们需要很多个 pulsar  队列做中转，如果有sqlserver-cdc，你们就可以不用消息队列了，对吧？省掉这部分成本

[2021-11-03 03:03] cleverblue commented on #549
是的、也可以这样说，如果有了sql server-cdc会方便很多了，也简单很多。

[2021-11-03 05:51] asushiye opened #552 "NumberFormatException"
[ERROR] Could not execute SQL statement. Reason:
java.lang.NumberFormatException: For input string: "Struct{scale=0,value=[B@223a3e17}

[2021-11-03 05:57] leonardBang commented on #552
@asushiye Could you post more detail? E.g. your sql and the exception stack.

[2021-11-03 06:11] asushiye commented on #552
Flink SQL> CREATE TABLE products (

[INFO] Execute statement succeed.

Flink SQL> select * from products;
[ERROR] Could not execute SQL statement. Reason:
java.lang.NumberFormatException: For input string: "Struct{scale=0,value=[B@5061437f}"
        at java.lang.NumberFormatException.forInputString(NumberFormatException.java:65)
        at java.lang.Integer.parseInt(Integer.java:580)
        at ja

[2021-11-03 06:11] asushiye commented on #552
create table products (
  id number not null  primary key,
  name varchar2(255) not null,
  description varchar2(512)
);

[2021-11-03 06:25] luoyuxia commented on #552
@asushiye
It seems when define  column `number` without specifing the precison and scale, debezium will return a Struct object.
But the  'convertToInt` method in `RowDataDebeziumDeserializeSchema` can't handle such object .

I think when you change the `number`  to  `number(10, 0)`, the oracle cdc will work again.
But anyway, I think the oracle cdc  connector should handle such situation instead o

[2021-11-03 06:53] leonardBang commented on #552
Thanks @luoyuxia for the good analysis, If this number type only happens in oracle, I suggest use the `DeserializationRuntimeConverterFactory userDefinedConverterFactory` to support this case

[2021-11-03 07:31] ashulin commented on #552
@leonardBang Yes, this currently only happens in oracle NUMBER type.
In my test, this problem will happen when the oracle NUMBER type is mapped to any numeric type of flink. So should I modify the RowDataDebeziumDeserializeSchema or add an OracleDeserializationConverterFactory to handle this problem?

[2021-11-03 09:24] wuchong opened #556 "Add documentation for available metadata columns"
We already supported metadata columns for various connectors. However, they are not documented.

see https://nightlies.apache.org/flink/flink-docs-master/docs/connectors/table/kafka/#available-metadata

[2021-11-03 09:40] cj1201 commented on #313
+1

[2021-11-03 10:04] leonardBang commented on #556
I think we have documented for all connectors, you can see the documentation in master.

[2021-11-03 10:16] leonardBang commented on #519
Closed by f5eeddd

[2021-11-03 10:16] #519 closed

[2021-11-04 01:15] yuangjiang opened #558 "oracle using redo_log_catalog default Slow query"
- Flink version :  1.13.0
 - Flink CDC version: 2.0
 - Database and version:  oracle 11g

When testing oralce cdc, I found that it is very slow when using the default **redo_log_catalog** query, but by changing the log.mining.strategy option to **online_catalog**, it is significantly faster.
The redo_log_catalog query time is about **1 minute and 10 seconds**, and the online_catalog query time is

[2021-11-04 01:36] leonardBang commented on #558
@yuangjiang Thanks for your report, could you share your sql and data scale as well?

[2021-11-04 01:54] yuangjiang commented on #558
Sorry the company business table used in the data table cannot be made public @leonardBang

[2021-11-04 01:58] leonardBang commented on #558
@yuangjiang It's okay, could your share your table's  with parameters(except your private information) and the row count of your table?

[2021-11-04 02:09] #548 closed

[2021-11-04 03:01] HQLboy opened #559 "希望官网能提供flink-sql-connector-oracle-cdc-2.1-SNAPSHOT.jar下载"

[2021-11-04 03:05] leonardBang commented on #559
。。。SNAPSHOT包是开发分支打出来的包，开发分支一般每天都更新的。。。
我觉得你的需求是尽快发布2.1。。。

[2021-11-04 08:03] yuangjiang commented on #558
This is 100,000 rows of data in my test table:
CREATE TABLE "PRODUCER"."ts_user_info"
   (	"id" VARCHAR2(255),
	"name" VARCHAR2(255),
	"sex" VARCHAR2(255),
	"city" VARCHAR2(255),
	"occupation" VARCHAR2(255),
	"tel" VARCHAR2(255),
	"fixphonenum" VARCHAR2(255),
	"bankname" VARCHAR2(255),
	"address" VARCHAR2(255),
	"marriage" VARCHAR2(255),
	"childnum" VARCHAR2(255),
        "fundaccount "  VARCHAR2(

[2021-11-04 09:06] robinWuYW opened #561 "tdsql执行Job失败"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.0.0
 - Database and version: tdsql Percona内核 5.7.17

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
![image](https://user-images.githubusercontent.com/93705541/140286319-d7e4db4e-6513-41fc-aaf7-5c5cfc0a9d01.png)

3.

[2021-11-04 09:35] asushiye opened #562 "error： Supplemental logging not configured for table"
**Describe the bug**

When submitting the Oracle CDC, I falsely report the information of supplementary logging not configured for table. I have set the table level supplementary log in the database。such as alter table asu.products add supplementary log data (all) columns

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version:   2.1-snapshots
 - Database and version:  oracle 11

[2021-11-04 09:39] asushiye commented on #562
The reason has been found out. For Oracle 11 version, debezium-connector-oracle-1.5.4.final.jar, it will help me tableidcasesensitive by default
If it is set to true, the table name will be updated to lowercase, so the table completion log setting cannot be queried in Oracle, resulting in a false alarm of the supplementary logging not configured for table error

[2021-11-04 15:20] GOODBOY008 commented on #516
This issue maybe discuss  at kafka [issuse](https://issues.apache.org/jira/browse/KAFKA-13433?jql=labels%20%3D%20connect-api).

[2021-11-04 15:48] obobj commented on #313
+1

[2021-11-05 00:46] asushiye commented on #552
My problem has been solved. Thank you very much

[2021-11-05 00:46] #552 closed

[2021-11-05 02:54] #544 closed

[2021-11-05 02:56] wuchong commented on #419
Hi @Jiabao-Sun , I can help to finish this issue if you don't have much time, would you mind that? :)

[2021-11-05 03:25] Jiabao-Sun commented on #419
Thanks @wuchong, that's good.
Sorry for not having time to finish it.

[2021-11-05 07:17] minchowang opened #567 "Encountered change event for table `db`.`table` whose schema isn't known to this connector"
**Describe the bug**
Multiple table synchronization errors when using ParallelSource
**Environment :**
 - Flink version :  flink 1.13.3
 - Flink CDC version:  2.1-snapshot (issues create time)
 - Database and version: 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code : parallel=4 serverId=5001-5004
3. The error :
[code]

[2021-11-05 09:45] mincwang opened #573 "org.apache.kafka.connect.errors.DataException: `PrimaryKey` is not a valid field name"
Describe the bug
Multiple table synchronization errors when using ParallelSource
Environment :

Flink version : flink 1.13.3
Flink CDC version: 2.1-snapshot (issues create time)
Database and version: 5.7
To Reproduce
Steps to reproduce the behavior:

Thes test data :
The test code : parallel=4 serverId=5001-5004
The error :
**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. T

[2021-11-05 09:56] mincwang commented on #573
Simulation code logic about `com.ververica.cdc.connectors.mysql.source.utils.RecordUtils#getSplitKey`
[code]
![image](https://user-images.githubusercontent.com/33626973/140491973-262c3cbf-51a6-4515-823e-62d450eec9b6.png)

[2021-11-07 04:08] tao2720 opened #576 "sink kafka"
Flink CDC from database to Kafka is very important and useful.

[2021-11-08 02:08] mincwang commented on #573
@leonardBang Thanks for fixing this bug.

[2021-11-08 02:08] #573 closed

[2021-11-08 03:25] aokinba opened #579 "mongodb-cdc加了心跳就报空指针错"
**Describe the bug**
mongodb-cdc加了心跳就报空指针错

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: mongodb-cdc，最新master
 - Database and version: mongodb

![1636341697563_13E917EC-2CAC-46a3-AEE5-DA9C30319FB6](https://user-images.githubusercontent.com/6531769/140679512-1e16afe2-10d0-4f6e-85b7-66b9197d2ecb.png)
![1636341697589_5F151C52-FEA7-493a-A814-09244856402A](https://user-images.gith

[2021-11-08 04:01] wuchong commented on #556
Thanks @leonardBang , you are right.

[2021-11-08 04:01] #556 closed

[2021-11-08 07:01] luckes-yang commented on #317
为什么RowDataDebeziumDeserializeSchema中的convertToTime方法返回的是一个int类型的值，这个怎么转换成java.sql.Time类型呢

[2021-11-08 08:41] liuxiaolinlxl opened #583 "Mongodb cdc从savepoint恢复时会报ResumeToken not found启动失败"
停止任务的时候做的savepoint，俩小时后从savepoint启动报这个错
报错日志：
(1/1) (b81d27480ff9b0d453924ac523fc8920) switched from RUNNING to FAILED on container_e35_1636342777876_0002_01_000002 @  (dataPort=27193).
org.apache.kafka.connect.errors.ConnectException: ResumeToken not found. Cannot create a change stream cursor
	at com.mongodb.kafka.connect.source.MongoSourceTask.tryCreateCursor(MongoSourceTask.java:471) ~[prsr-1.

[2021-11-08 08:50] wuchong opened #584 "MongoDBConnectorITCase is timeout on Azure"
See the instance: https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=666&view=logs&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&t=35f661f6-a91b-58bc-c86e-9c0883818913&l=906

[code]

[2021-11-08 08:50] wuchong commented on #584
@Jiabao-Sun would you like to have a look?

[2021-11-08 08:51] Jiabao-Sun commented on #584
OK

[2021-11-08 13:10] Jiabao-Sun commented on #583
Hi @liuxiaolinlxl .

You can increase oplogsize appropriately.

The oplog must have enough history to locate the operation associated with the token or the timestamp, if the timestamp is in the past.

https://docs.mongodb.com/v4.2/changeStreams/#change-stream-resume

[2021-11-09 02:20] Jiabao-Sun commented on #579
Thanks @aokinba to report this problem. I'll fix it.

[2021-11-09 03:55] liuxiaolinlxl opened #585 "MongoDB cdc配置heartbeat.interval.ms后会报错"
想从savepoint恢复任务，恢复的时候报错（停止任务时间3小时左右，相应oplog存在）：ResumeToken not found. Cannot create a change stream cursor
查文档说：Note: heartbeat.interval.ms is highly recommended to set a proper value larger than 0 if the collection changes slowly. The heartbeat event can pushing the resumeToken forward to avoid resumeToken being expired when we recover the Flink job from a checkpoint or savepoint.
然后将heartbeat.in

[2021-11-09 05:49] yuangjiang opened #587 "flink CDC should add monitoring to Flink's own accumulator"
Flink CDC should add monitoring to Flink's own accumulator:
For example, the total
1.number of records to be queried,
2.the time when the data was changed,
3.the current query location,
4.the parsing of error records ,
5.the number of warnings detected.

[2021-11-09 06:02] #579 closed

[2021-11-09 06:02] #585 closed

[2021-11-09 07:34] Jiabao-Sun opened #589 "Unstable test: MySqlSnapshotSplitAssignerTest. testAssignMultipleTableSplits"
Nov 09 07:19:10 07:19:10.865 [ERROR]   MySqlSnapshotSplitAssignerTest.testAssignMultipleTableSplits:109

<[customers null [462], customers [462] [823], customers [823] [1184], customers [1184] [1545], customers [1545] [1906], customers [1906] null, customers_1 null [462], customers_1 [462] [823], customers_1 [823] [1184], customers_1 [1184] [1545], customers_1 [1545] [1906], customers_1 [1906] nul

[2021-11-09 07:35] leonardBang commented on #589
Thanks @Jiabao-Sun for report this, I'll fix it later

[2021-11-09 09:42] kelvenlaw opened #590 "Mysql Binlog文件拆分之后不能监听到更新数据库的信息。"
**Is your feature request related to a problem? Please describe.**
我们用的是云上数据库，在数据库中开启了binlog，由于binlog都文件会被拆分，分成多个文件。在flink-cdc中不能监听的数据库的任何变化，请问是我这边的配置有问题，还是说flinkcdc需要优化一下？

![image](https://user-images.githubusercontent.com/1327174/140900384-d98f4aa7-7e4f-4cd4-93b4-7cc96db14561.png)

我们的使用方法：
![image](https://user-images.githubusercontent.com/1327174/140900621-aac8b388-4f82-44a8-aef3-27785a0ca9c6

[2021-11-09 12:19] leonardBang commented on #590
可以说明下是什么云数据库以及对应的rds版本吗？

[2021-11-10 01:31] GOODBOY008 commented on #559
@HQLboy 其实如果公司要用，最好自己打包，因为一些bug的修复而你的场景刚好遇到，你不可能等到下个release版本的。

[2021-11-10 02:20] wwek commented on #313
+1

[2021-11-10 08:06] WenfengJ opened #593 "Can we support a lower version of MySQL under 5.6 in the future"
1. Many companies that want to rely  flinkcdc and  must base on MySQL
 environment.  However, modern Internet companies have more components to replace mysql,   such as tidb..... Etc...

2. Traditional companies  used to use  lower MySQL version for many years  .
 so it is difficult to promote each business team line to upgrade mysql version.
3. As our  big data platform's Data Engineer job is col

[2021-11-10 09:38] cymuye commented on #549
是的，我们也需要SqlServer-cdc支持

[2021-11-10 09:43] liyichencc opened #595 "在oraclecdc中存在的问题"
我运行ORACLEcdc作业时发现日志中输出错误

[code]
但我已经为DEMO表配置了补充日志记录，通过定位我发现是在`io.debezium.connector.oracle.logminer.LogMinerHelper#isTableSupplementalLogDataAll`
校验时返回了不通过的结果，校验逻辑是会查询 ALL_LOG_GROUPS 表是否有TABLE_NAME = tableId.table() ，通过报错日志可以发现，我的tableId.table()为 'demo',
当我查询数据库是当SQL为` select * from ALL_LOG_GROUPS where TABLE_NAME = 'DEMO'` ,则可以看到一条数据

`FLINKUSER	SYS_C0011569	DEMO	ALL COLUMN LOGGING	ALWAYS	GENERA

[2021-11-10 09:45] ynzzxc commented on #549
是的，我们也需要SqlServer-cdc支持

[2021-11-10 09:52] ynzzxc commented on #549
我们也需要SqlServer-cdc支持，和楼上差不多的场景

[2021-11-11 01:28] wuchong commented on #584
Another instance: https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=695&view=logs&jobId=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&t=35f661f6-a91b-58bc-c86e-9c0883818913

[2021-11-11 09:53] MaoYiKun12138 commented on #173
指定参数
`'debezium.database.allowPublicKeyRetrieval' = 'true'`
[Debezium & MySQL v8 : Public Key Retrieval Is Not Allowed](https://rmoff.net/2019/10/23/debezium-mysql-v8-public-key-retrieval-is-not-allowed/)

[2021-11-11 10:06] lea21st commented on #173
我的密码策略时mysql_native_password，我的原因找到了，是因为用户名和密码错了（没有这个用户），提示也是 Public Key Retrieval Is Not Allowed

[2021-11-12 01:43] leonardBang commented on #584
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=708&view=logs&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&t=35f661f6-a91b-58bc-c86e-9c0883818913

[2021-11-12 05:23] hehetown opened #601 "error: java.lang.NullPointerException...DebeziumSourceFunction.cancel(DebeziumSourceFunction.java:492)"
----------------------------------------------------------
Demo: Oracle CDC to Elasticsearch
-------------------------------------------------------
at java.lang.Thread.run(Thread.java:748)
	Suppressed: java.lang.NullPointerException
		at com.ververica.cdc.debezium.DebeziumSourceFunction.cancel(DebeziumSourceFunction.java:492)
		at org.apache.flink.streaming.api.operators.StreamSource.cancel(Strea

[2021-11-12 07:09] yikadaluosi opened #602 "希望有一个中文文档"
我的英语不太好，机翻有时候不是很准确，如果有可能的话，我希望有一个中文的文档

[2021-11-12 07:33] dongweizhao opened #603 "When will we support MySQL 5.6"
When will we support MySQL 5.6？

[2021-11-12 07:33] #584 closed

[2021-11-12 08:24] luoyuxia commented on #595
ALTER DATABASE ADD SUPPLEMENTAL LOG DATA;

在 oracle 中执行这条命令再试试。

[2021-11-12 08:32] #601 closed

[2021-11-12 09:24] liyichencc commented on #595
是的，我已经按照文档的操作执行过这个命令了，还是会有这个问题。我觉得本质上是因为大小写敏感的导致的。

[2021-11-12 10:38] luoyuxia commented on #595
看之前有人反馈过：

“原因已经查找出来了，对oracle11 版本， debezium-connector-oracle-1.5.4.Final.jar, 默认会帮我tableIdCaseInsensitive
 设置为true, 导致表名被更新为小写，因此在oracle中查询不到 这个表补全日志设置，导致误报这个Supplemental logging not configured for table 错误”
![image](https://user-images.githubusercontent.com/20389154/141453457-a17c15e1-1b4e-4fba-ba60-8a890bc9fb59.png)

看起来需要加上一个配置项，在代码里面加上这个配置项再重新打包一下看看。

[2021-11-13 13:41] GOODBOY008 opened #604 "[Deserialization] JsonDebeziumDeserializationSchema will get default value,if colunm defined default value and nullable,when column value is null"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink CDC version: 2.0.2

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data : when a table with optinal column with default value and set this column with 'null' value.
2. The error : use JsonDebeziumDeserializationSchema will get default value of column.

**Additional Description**
<im

[2021-11-14 04:19] yandavid163 commented on #603
同问

[2021-11-14 15:01] #419 closed

[2021-11-15 01:50] liyichencc commented on #595
是的，增加这个配置项后问题得到解决了。谢谢你。

[2021-11-15 01:50] #595 closed

[2021-11-15 02:12] lykpass commented on #603
他们上次在群里说10月底尽量把2.1发布出来，感觉这个月应该会上吧。

[2021-11-15 02:57] rookiegao commented on #603
https://github.com/ververica/flink-cdc-connectors/pull/396
我看这边有个测试，不知道具体情况如何了。

[2021-11-15 05:48] findczk commented on #339
hi! When is CDC2.1  released?

[2021-11-15 06:55] leonardBang commented on #339
Today you'll see it if everything goes ok

[2021-11-15 07:09] xhkyyy commented on #603
Please make this feature available ASAP.❤️

[2021-11-15 08:26] ethanlian commented on #313
+1

[2021-11-15 09:12] findczk commented on #339
Nice! Thank you!

[2021-11-15 10:04] jneless commented on #602
+1 同感

[2021-11-16 06:08] lykpass commented on #603
![image](https://user-images.githubusercontent.com/48595535/141930383-6c91e883-803a-4e1e-8f50-2fd69a55720b.png)
![image](https://user-images.githubusercontent.com/48595535/141930452-36ea6b55-f384-4f84-9b65-be9f219e8aa6.png)

2.1昨天发布了以为会支持没想到移到2.2了

[2021-11-16 06:10] lykpass commented on #313
https://github.com/ververica/flink-cdc-connectors/issues/339

[2021-11-16 07:24] TYangXiaoChen opened #609 "cdc 监控oracle 数据 延迟高"
Oracle 数据修改后 cdc获取数据 大概在3～4分钟之间获取到数据 并输出

环境: docker 搭建的 oracle11g   镜像:registry.cn-hangzhou.aliyuncs.com/helowin/oracle_11g
版本 flink-cdc :2.1.  flink 版本 2.12 本地环境

[2021-11-16 07:24] 5661954 opened #610 "strange NoSuchMethodError"
**Describe the bug**
there's strange NoSuchMethodError just like picture
![image](https://user-images.githubusercontent.com/3392074/141938596-f3ca4162-45e6-4fc5-899d-d115d7c9898f.png)
the jars in flink 1.14.0 lib as  picture
![image](https://user-images.githubusercontent.com/3392074/141938769-02b7ff55-f1de-4b49-be0a-f7a2980494d5.png)
the method sign is org.apache.flink.api.connector.source.SourceR

[2021-11-16 07:24] TYangXiaoChen commented on #609
package con.firesoon

import org.apache.flink.streaming.api.environment.StreamExecutionEnvironment
import org.apache.flink.streaming.api.functions.source.SourceFunction
import com.ververica.cdc.debezium.{DebeziumSourceFunction, JsonDebeziumDeserializationSchema}
import com.ververica.cdc.connectors.oracle.OracleSource
import com.ververica.cdc.connectors.oracle.table.StartupOptions

import java.util

[2021-11-16 07:55] leonardBang commented on #610
Flink CDC 2.1.0 doesn't support Flink 1.14 yet

[2021-11-16 09:02] lcp5674 commented on #57
Hi，I looked up the same question in that DBZ-1926, hope it helps。

DBZ-1926：https://issues.redhat.com/browse/DBZ-1926

[2021-11-16 14:28] dik111 opened #612 "oracle cdc 2.1.0 一定需要锁表的权限吗？"
GRANT CREATE TABLE TO flinkuser;
GRANT LOCK ANY TABLE TO flinkuser;
GRANT ALTER ANY TABLE TO flinkuser;
GRANT CREATE SEQUENCE TO flinkuser;

flink oracle cdc 2.1.0一定需要上面的权限吗？
会像cdc 1.0x版本那样进行锁表的操作吗？

[2021-11-17 03:00] leonardBang opened #614 "[tests] end to end test PostgresE2eITCase.testPostgresCDC failure"
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=737&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2021-11-17 04:10] leonardBang commented on #88
#549

[2021-11-17 06:30] walk-in-cloud opened #617 "run into a problem when cdc job starting"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.2
 - Database and version: mysql  8.0.19

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

io.debezium.text.Pa

[2021-11-17 06:45] lgh1122 opened #618 "mysql数据库表字符串主键格式生成规则变动导致分片失败"
**Describe the bug**
在使用cdc做数据同步时，我们的一张业务表，由于前期字符串主键id跟后期id的生成规则不一样，在进行分片时，使用ObjectUtils.compare(chunkEnd, max)并不能正确的返回期望值，导致分片失败，所有数据都集中在一个分片中
前期id格式 ：logistics2018092521000003
后期id格式 ：ORLOGIAP202111041130281601000001

**Environment :**
 - Flink version :  1.3.2
 - Flink CDC version: 2.1.0
 - Database and version: 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
 min : l

[2021-11-17 06:57] leonardBang opened #619 "[tests] MongoDBConnectorITCase hang in azure CI"
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=740&view=logs&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&t=35f661f6-a91b-58bc-c86e-9c0883818913

[2021-11-17 08:43] A-little-bit-of-data commented on #609
确实延迟比较高，我是用的sql client

[2021-11-17 09:33] mustang2247 commented on #609
同上

[2021-11-17 09:45] 1932937611 opened #622 "Percona版本mysql cdc表创建成功后，select查询失败"
**Describe the bug**
在flink sql client 创建mysql cdc表，mysql cdc表创建成功后，执行select操作报错！

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.0
 - Mysql version: Server version: 8.0.16-7 Percona Server (GPL), Release 7, Revision 613e312

**To Reproduce**

1.
Flink SQL> CREATE TABLE IF NOT EXISTS `canal_test`.`student_src` (

[INFO] Execute statement succeed.

![image](https://user-imag

[2021-11-17 12:45] leonardBang commented on #593
I‘ll try to support MySQL 5.6 soon

[2021-11-17 15:01] leonardBang commented on #549
close this one, merge requirements to #88

[2021-11-17 15:01] #549 closed

[2021-11-17 15:06] GOODBOY008 commented on #88
I am working on it, anyone wants to work together to complete this feature?

[2021-11-17 15:23] leonardBang commented on #614
another instance: https://github.com/ververica/flink-cdc-connectors/pull/624/checks?check_run_id=4238425734

[2021-11-18 02:21] 1141086028 commented on #546
重启时可能需要指定检查点位置
我使用的命令是： flink run -m yarn-cluster -ys * -yjm * -ytm * -p * -ynm * -s checkpoint文件位置  -c * jar *
希望对你有帮助

[2021-11-18 02:34] paul8263 commented on #622
Hi @1932937611 ,
You might change flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/connection/PooledDataSourceFactory.java.
`public static final String JDBC_URL_PATTERN =
            "jdbc:mysql://%s:%s/?useInformationSchema=true&nullCatalogMeansCurrent=false&useUnicode=true&characterEncoding=UTF-8&characterSetResults=UTF-8&zeroDateTimeBehavior=CONVERT_TO_NULL";`
a

[2021-11-18 02:49] LouisGuo opened #627 "mysql 升级2.1版本后，只能引用8.0.21的mysql-connector-java"
pom文件中如果引入其他版本的jar包会启动失败。 这一点最好在升级文档中说明，不然我升级时浪费几个小时来排查这个问题

Caused by: java.lang.NoSuchMethodError: com.mysql.cj.CharsetMapping.getJavaEncodingForMysqlCharset(Ljava/lang/String;)Ljava/lang/String;
  at io.debezium.connector.mysql.MySqlValueConverters.charsetFor(MySqlValueConverters.java:331)
  at io.debezium.connector.mysql.MySqlValueConverters.converter(MySqlValueConverters.java:298)

![lQLPDhrf

[2021-11-18 02:53] LouisGuo opened #628 "升级2.1版本后，本地能启动，flink集群无法启动== No suitable driver"
问题原因： 2.1中引入的Hikari连接池没有指定driver。 所以算子在启动时只会从已加载的driver中获取可用driver。如果没有体检加载，就启动不了

目前我只能在static方法中提前手动加载。。。

![1637052582802_04385B1D-B0EE-415f-9946-B84F4D153385](https://user-images.githubusercontent.com/7236537/142342820-c8541439-235e-411a-b1a7-a140e2468aa1.png)
![lQLPDhrfpw07cZfM880CX7CBl1hBPXHnlAGbrNVbgFkA_607_243](https://user-images.githubusercontent.com/7236537/142342918-1d971c59-4ab7-4b1c-

[2021-11-18 03:34] 1932937611 commented on #622
Thank you. According to your method, we have solved this problem

[2021-11-18 04:04] leonardBang opened #629 "[DB2-CDC] Support Db2-CDC"
The user requirement for Db2-CDC from DingTalk Community Group

[2021-11-18 04:05] leonardBang commented on #629
![image](https://user-images.githubusercontent.com/5163645/142349781-31a17182-5d12-49e7-b864-436dd4ade0cb.png)

[2021-11-18 04:05] leonardBang commented on #629
![image](https://user-images.githubusercontent.com/5163645/142349589-78601415-4e68-4174-8199-a4ec371e6150.png)

[2021-11-18 04:13] leonardBang commented on #627
Thanks @LouisGuo for report this, but I wonder why you need to introduce other version of `mysql-connector-java` in your pom.xml ? it should be a transitive dependency.

[2021-11-18 04:15] leonardBang commented on #628
Thanks @LouisGuo for report this,  would you like to open a PR to reproduce and fix it ?

[2021-11-18 09:27] nienie opened #630 "MongoDB | the int-type fields in the fullDocument changed to double-type."
**Describe the bug**
MongoDB | the Int-type fields in the fullDocument changed to double-type.

**Environment :**
 - Flink version :  1.13
 - Flink CDC version:  2.2-SNAPSHOT
 - Database and version: MongoDB 4.0-xenial

**To Reproduce**
Steps to reproduce the behavior:
1. MongoDB Data
Insert a document into Mongo.

[code]

[code]

The field `order_id` and `customer_id` are `int-type`.

2. Mongo-CD

[2021-11-18 09:53] liuxiaolinlxl opened #631 "运行一段时间会报这个异常"
[] - Source: TableSourceScan(table=[[default_catalog, default_database, tb_rhdc_zjdzdxx]], fields=[_id, deleted, cqydm, zdmj, sffz, zjdlyzk, create_date]) -> MiniBatchAssigner(interval=[5000ms], mode=[ProcTime]) (1/1) (579d0f87d1100701ef653a24156a2507) switched from RUNNING to FAILED on container_e67_1637028218711_0235_01_000012 @ i-siqi02.novalocal (dataPort=2143).
java.lang.NullPointerException:

[2021-11-18 10:58] wjcwin commented on #460
same problem

[2021-11-18 11:07] kuibobo opened #632 "oracle jdbc url 连接不一致导致连接出错"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.1
 - Database and version: oracle 12c

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
com.ververica.cdc.connectors.oracle.OracleValidator.openConnection 这函数返回的是SID的jdbc url

[2021-11-19 01:20] yangyuanlin123 commented on #313
+1

[2021-11-19 07:14] Rowen110 commented on #609
flinksql cdc client 也发现数据延迟比较大

[2021-11-19 07:15] Rowen110 commented on #609
环境说明：flink1.13.1、oracle11g

flinksql cdc client 也发现数据延迟比较大

[2021-11-19 07:36] vrhappy opened #635 "Runing Job is abnormal,but there is no exception! 同步job无法正常工作，但是并没有任何报错信息和异常报告！"
**Describe the bug**
A clear and concise description of what the bug is.
按照官方给的例子[https://ververica.github.io/flink-cdc-connectors/master/content/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B/mysql-postgres-tutorial-zh.html](https://ververica.github.io/flink-cdc-connectors/master/content/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B/mysql-postgres-tutorial-zh.html )，在flink上配置source table 和 sink table，之后执行insert int

[2021-11-22 01:34] cbwn123 commented on #341
debezium升级，1.5.4太旧了

[2021-11-22 02:29] aokinba opened #637 "升级2.1后，mongodb-cdc和mysql-cdc会报序列化的错误，idea环境正常，yarn集群异常"
**Describe the bug**
升级2.1后，mongodb-cdc和mysql-cdc会报序列化的错误，idea环境正常，yarn集群异常

mysql异常截图
![lALPGTdIB_p4XQnM6M0HUQ_1873_232](https://user-images.githubusercontent.com/6531769/142792095-cb325ca9-5de9-48cc-a414-5cfa96ddc23e.png)

mongodb异常截图
![lALPGSWEjtBYMBrNAtXNBmg_1640_725](https://user-images.githubusercontent.com/6531769/142792124-0b5de0c4-4299-463c-867b-73ef46628fe1.png)

**Environment :**
 - Fli

[2021-11-22 03:00] #637 closed

[2021-11-22 03:14] aokinba commented on #637
删除以前的maven依赖\com\ververica就可以了

[2021-11-23 02:30] paul8263 commented on #632
Hi @kuibobo ,
Firstly you have to make sure that Oracle can be successfully connected using SID.
Then, to deal with ORA-12514, you can add the following configurations in listener.ora:
`
SID_LIST_LISTENER =
  (SID_LIST =
    (SID_DESC =
      (SID_NAME = ora11g)
      (ORACLE_HOME = /data/oracle/product/11.2.0/dbhome_1)
    )
  )
`
Replace SID_NAME and ORACLE_HOME with the correct ones in your env

[2021-11-23 02:43] Jiabao-Sun commented on #630
Hi @nienie ,

https://docs.mongodb.com/v4.0/core/shell-types/#numberdecimal

Mongo shell treat the literal number 104 as a double value.

![image](https://user-images.githubusercontent.com/27403841/142963319-3081e5b3-f1cb-4807-9c27-f68224200edc.png)

If we need to use `Int` or `Long` type, we need to explicitly declare `order_id` as `NumberInt(105)` or `NumberLong(105)`
[code]
![image](https://use

[2021-11-23 02:57] #630 closed

[2021-11-23 04:11] Jiabao-Sun commented on #631
Thanks @liuxiaolinlxl to report this. It seems the change event missing `documentKey`.

As https://docs.mongodb.com/v4.0/reference/change-events/ says, data modify change events such as `insert`, `update`, `replace`, `delete` must have `documentKey` field.

Change events such as `drop`, `rename`, `dropDatabase`, `invalidate` may not have `documentKey` field.
Stopping the task is expected  when the

[2021-11-23 06:57] xiaoshijiang523 commented on #628
我也遇到了这个问题，请问您的这个static是在源码里加的吗还是自己的job里加的，我在自己job里加了但还是出现这个问题

[2021-11-23 07:22] cbwn123 opened #639 "oracle connector support chunk"
需要同步一张3亿+的表到iceberg中，
目前snapshot根本无法完成

[2021-11-23 07:32] leonardBang commented on #628
@xiaoshijiang523 你可以分享下你的集群lib下的包和你的job配置吗？我还没能复现这个问题

[2021-11-23 07:39] xiaoshijiang523 commented on #628
好的，这是lib下的包
![截屏2021-11-23 下午3 37 11](https://user-images.githubusercontent.com/48743153/142986084-e5b0235d-2fe5-406c-86fc-b1c9fc42f714.png)

flink conf没有特殊配置，flink1.13.3版本，Flink CDC 是2.1.0

[2021-11-23 07:42] leonardBang commented on #628
@xiaoshijiang523 是 stand alone 集群吗？ 作业是怎么提交方便发下吗？

[2021-11-23 07:44] xiaoshijiang523 commented on #628
是stand alone 集群，提交命令是./flink run -c org.example.flinkcdc /tmp/demo.jar

[2021-11-23 07:44] leonardBang commented on #628
谢谢 @xiaoshijiang523 ，我复现下

[2021-11-23 07:47] xiaoshijiang523 commented on #628
好的，感谢，如果需要别的详细信息，我再提供。

[2021-11-23 08:07] wysstartgo commented on #628
@leonardBang I think we should config driverClassName when we build HikariDataSource instance in com.ververica.cdc.connectors.mysql.source.connection.PooledDataSourceFactory#createPooledDataSource method。

The HikariConfig need this param as well。

<img width="802" alt="00B00BDD-1FB1-4084-993F-712A074201CA" src="https://user-images.githubusercontent.com/10540192/142988922-acee8f6c-24c9-4c07-8208-8

[2021-11-23 08:49] yuanxingkang opened #640 "mongo cdc username cannot be empty"
**Describe the bug**
use mongo cdc, username cannot be empty

**Environment :**
 - Flink version :  1.13
 - Flink CDC version:  2.1.0
 - Database and version: Mongodb 4.0, flink-sql-connector-mongodb-cdc-2.1.0.jar

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
[code]
2. The test code :
3. The error :
<img width="367" alt="a3547c13c9b0da398eb9805cd8f88d6" src="https://user-i

[2021-11-23 09:29] leonardBang opened #641 "[mysql] Support heartbeat event for table that update infrequently"
If the table updates infrequently, the binlog file may have been cleaned in its last committed binlog position

[2021-11-23 11:42] Jiabao-Sun opened #643 "[mysql] java.sql.SQLException: No suitable driver"
**Describe the bug**
java.sql.SQLException: No suitable driver

[code]

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.1.0
 - Database and version: 8.0
 - Flink on Yarn

[2021-11-24 02:22] hnjincan commented on #460
mysql-cdc 2.1.0 also exist this bug，my env is flink-1.13.2，mysql-cdc 2.1.0 ，mysql-version 5.7

[2021-11-24 07:37] vrhappy commented on #161
如果增量同步过程中，源数据库又有新表建立，这时候增量同步应捕获到建表动作，并在目的库新建对应表，并继续执行同步。这样才能保证增量同步的完整性！

[2021-11-24 08:28] BerekSong opened #645 "Flink cdc 2.0.2运行正常，升级Flink cdc 2.1.0在其他环境不变的情况下运行报错"
**升级前环境 :**
 - Flink version :  1.13.3
 - Flink CDC version:    2.0.2
 - Database and version:  mysql 5.7
 -  Zeppelin version:  0.10.0
 - Maven 其他 jar包：
    mysql-connector-java:8.0.21,
    flink-connector-jdbc_2.12:1.13.3

**source的sql：**
[code]
**sink的sql：**
[code]

**Flink cdc 2.0.2 运行一切正常：**
![image](https://user-images.githubusercontent.com/4902774/143195616-1622a4dc-fdb2-443d-bee2-42e3a94ae

[2021-11-24 08:35] #247 closed

[2021-11-24 09:10] Aer1208 commented on #552
Please tell me how to solve this problem. I have encountered it too.

[2021-11-24 10:18] mincwang opened #646 "Supports contains points chars of databaseName or tableName"
following：
![image](https://user-images.githubusercontent.com/33626973/143219493-d8e20191-8fe7-47d7-aa58-eada58fbefc3.png)

[2021-11-24 11:40] yandavid163 commented on #313
非常期待 +1

[2021-11-24 11:46] robinWuYW opened #647 "是否有可能将增量同步的数据源改为kafka消息中的binlog"
由于使用的是tdsql，无法通过mysql-binlog-connector获得binlog，只能通过订阅kafka获得。
所以想请教下是否有可能通过改动部分源码实现保留全量同步部分，单独将增量同步部分的数据源改为解析kafka消息中的Binlog。

[2021-11-25 03:29] yandavid163 commented on #478
的确不行，flink-sql-connector-mysql-cdc-2.1.0 放进来就报错。

Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue.
	at org.apache.flink.table.client.SqlClient.startClient(SqlClient.java:201)
	at org.apache.flink.table.client.SqlClient.main(SqlClient.java:161)
Caused by: org.apache.flink.table.api.TableException: Coul

[2021-11-25 03:56] #643 closed

[2021-11-25 05:46] macdoor commented on #478
flink 1.14 does not compatible with 1.13

[2021-11-25 07:44] YesOrNo828 opened #650 "[bug]address wrong class type in MysqlSource and MysqlSourceBuilder comments"
**Describe the bug**
There are wrong class type description in class comments(`MysqlSource`, `MysqlSourceBuilder`). Should be `MySqlSource.<String>builder()`, but now `MySqlSource.<RowData>builder()`.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2-snapshot

[2021-11-25 07:46] LouisGuo commented on #628
是的。 这里提供下配置入口就好了

[2021-11-25 08:12] YesOrNo828 commented on #650
@leonardBang  I want to address it, can you assign it to me?

[2021-11-25 08:36] Giwrgosyea opened #652 "Always growing memory using flink cdc - Mysql connector"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.1.0
 - Database and version: RDS
 - Destination - Target database: MYSQL 8.0.27

Hello there,

Using flink 1.13 I am trying to fetch data from a table in RDS process data and store it in MYSQL. Basically load & transform data from an RDS and sink to a MYSQL.

[2021-11-25 10:11] JacobsLau opened #653 "When does flinkcdc support more startup mode? eg:earliest、timestamp"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-11-25 10:24] HQLboy opened #654 "使用oracle cdc报错"
使用flink 1.13.3进行mysql cdc能成功，把mysql-cdc的jar包删除，然后把oracle-cdc-2.1.0的jar包放到lib目录下，报错：
[ERROR] Could not execute SQL statement. Reason:
java.io.InvalidClassException: com.ververica.cdc.debezium.table.RowDataDebeziumDeserializeSchema; local class incompatible: stream classdesc serialVersionUID = 2, local class serialVersionUID = -4852684966051743776

[2021-11-25 11:06] #654 closed

[2021-11-25 11:07] HQLboy commented on #654
提交到之前创建的yarn session导致这个问题，提交到本地无此问题

[2021-11-25 12:40] HQLboy commented on #559
抱歉当时不清楚这一点，后面在钉钉群里了解到了，然后也拿mysql在测试环境做了测试

[2021-11-26 02:05] leonardBang commented on #650
Thanks @YesOrNo828, assigned you.

[2021-11-26 08:27] szs903 opened #655 "oracle cdc 取到的历史快照数据和增量数据 是会一直放在内存吗 ？"
**Describe the bug**
oracle cdc 取到的历史快照数据和增量数据 是会一直放在内存吗 ？我用下面这种方式可以吗，谢谢答复~

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.1
 - Database and version: 11.2.0.4

StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();
		env.setParallelism(1);
		StreamTableEnvironment tableEnv = StreamTableEnvironment.create(env);
		String oracleDDL = "CREATE TABL

[2021-11-26 09:59] MLikeWater opened #656 "Flink SQL consumes data difference of 8 hours in MySQL TIMESTAMP field"
**Describe the bug**
The real-time streaming consumption data process is:
mysql-cdc -> Hudi -> Hive
step 1：
MySQL Table
[code]
step 2 by flink sql:
[code]
step 3 by Hive beeline:
[code]

**Environment**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.2
 - Hudi version: 0.10
 - Database and version: 5.7.30

**Result**
Query MySQL data:
![image](https://user-images.githubusercontent.com/1951806

[2021-11-27 04:08] MLikeWater commented on #656
Query Hudi data through Flink SQL, The timestamp data is consistent with MySQL. Issuance is a problem when Hive queries Hudi. The correct data can be obtained through the following Hive SQL query:
[code]

[2021-11-27 04:12] MLikeWater commented on #656
We can also use the following SQL query:
[code]

[2021-11-27 04:15] #656 closed

[2021-11-27 13:56] xuexh0816 commented on #655
不会吧 数据会一直往下流 不会一直在这个算子里的 除非你后面的算子堵住了，然后barrier也发不下去 然后ck 就没法进行了 然后就挂了 。。。我的job就是这样失败的-.-

[2021-11-27 16:19] wittech opened #660 "debezium 1.7或1.8版本支持"
目前已经使用了postgresql14，需要debezium 1.7或1.8版本支持，请问可以直接升级debezium的版本吗？

[2021-11-28 08:49] #628 closed

[2021-11-29 02:09] fsk119 commented on #660
Flink Mysql  CDC uses some inner class in debeizum. It may have some conflicts when bump the debeizum version. You can make a try and submit a PR.

Also could you share the release notes from debezium 1.6,1.7,1.8. The break changes may also influence the upgrade.

[2021-11-29 02:14] fsk119 opened #663 "Fix the behaviour when the data precision is larger than the specified precision"
If the specified precision is smaller than the data precision in `RowDataDebeziumDeserializeSchema`, the `DecimalData#fromBigDecimal` will return null. I think it's better if we just lose the precision rather than lose the whole data.

[2021-11-29 03:19] sty945 opened #664 "Question: Does Flink-CDC support Oracle Real Application Clusters (RAC) ?"
Dear developer，

- I want to ask a question: Does Flink-CDC support Oracle Real Application Clusters (RAC) ?
    - If support. How to use it?
    - If not support. When is the plan available?

[2021-11-29 06:16] luoyuxia commented on #524
A demo for Flink MySQL -> ES && Kafka && Hudi  based on Docker enviroment

https://www.yuque.com/docs/share/271a9165-02f9-4dbb-8e70-13a5e547bb6c?#MnFiJ

[2021-11-29 06:55] szs903 commented on #655
我以这样的方式创建两个或者多个表 ， 多个表之间join，业务中就难免会出现一个表A中的数据晚于另一个表B中的数据很久，那此时B表的数据是会存放在哪里 ，是state中吗

[2021-11-29 09:21] NobleYd opened #665 "FlinkSQL查询CDC表，提交任务后报错导致JM进程失败。"
Flink1.13环境，Mysql 5.7.26。
查询很简单，就是select * from xxx。
报错信息栈：
WARN  2021-11-29 17:09:08,093 org.apache.flink.runtime.jobmaster.DefaultJobMasterServiceProcess - Unexpected termination of the JobMasterService for job c4c669f35c780109141f276af3974b72 under leader id 299c1612-141b-4357-a0a8-1faed27d51d7.
ERROR 2021-11-29 17:09:08,058 org.apache.flink.runtime.entrypoint.ClusterEntrypoint        - Fatal e

[2021-11-29 10:48] Jiabao-Sun opened #666 "[mongodb] Expose table source's `batch.size` configuration to prevent cursor not found problem."
**Is your feature request related to a problem? Please describe.**

Expose table source's `batch.size` configuration to prevent cursor not found issue.

https://docs.mongodb.com/manual/reference/method/cursor.noCursorTimeout/#session-idle-timeout-overrides-nocursortimeout

[2021-11-29 10:59] #666 closed

[2021-11-29 13:17] HQLboy opened #667 "oracle 19c版本的float数据类型对应flink sql的float失败"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.0
 - Database and version: oracle 19c

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :
4.
[ERROR] Could not execute SQL statement. Reason:
java.lang.NumberFormatException: For input string: "Struct{s

[2021-11-29 13:18] HQLboy commented on #667
该字段只有一个值：0

[2021-11-29 13:20] xuexh0816 commented on #655
join 方式很多种，得看哪种，数据是存在state里的 但是有state 清除的配置 ttl

[2021-11-29 13:29] HQLboy commented on #667
修正：该字段只有0和null两个值

[2021-11-30 03:03] nienie commented on #375
用stream-api 采集也有同样的问题。

Flink    1.13
Mysql    5.7
Flink-CDC 2.2.0-SNAPSHOT

[code]

[2021-11-30 03:09] leonardBang opened #668 "[Feature] Support oceanbase cdc connector"
OceanBase Database[1] is a native distributed relational database, it's an open source  project with many users especially in the financial industry. With the Oceanbase CDC connector,  we  can help users to integrate data easily.

[1] https://github.com/oceanbase

[2021-11-30 03:14] wuchong commented on #668
We can consume oceanbase transaction log using https://github.com/oceanbase/oblogclient,  there is also a pull request in Canal community to add support for oceanbase: https://github.com/alibaba/canal/pull/3867.

Supporting oceanbase-cdc connector can help users to do streaming ETL and build real-time materialize view on Oceanbase very easy using Flink SQL.  I think we can cooperate on this with O

[2021-11-30 08:13] bigdataerDK commented on #435
用1.3.0

[2021-11-30 08:30] JaydenHan1106 opened #669 "es connector 6和7同时存在时报错"
**Describe the bug**
当flink目录同时存在flink-sql-connector-elasticsearch6和flink-sql-connector-elasticsearch7时，写入es报错如下：
Caused by: java.lang.NoSuchMethodError: 'void org.apache.flink.streaming.connectors.elasticsearch.table.RowElasticsearchSinkFunction.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version:
 - flink-sql-connector-elasticsearch6_2.11-1.13.2.jar
 - flink-sql-connector-elastic

[2021-11-30 09:20] rekichan opened #670 "FlinkCDC Oracle TableName Question"
Dear developer:
I have used FlinkCDC to catch oracle achrive log and met an exception from SqlUtils.class:"**Supplemental logging not configured for table XXXX.xxxx. User command ALTER TABLE XXXX.XXXX ADD SUPPLEMENTAL LOG DATA (ALL) COLUMNS**".
My oracle SchemaName and TableName is upper case, but when my application is running and it will changed the TableName to lower case,that will cause the SQ

[2021-11-30 09:24] rookiegao commented on #670
For Oracle version 11, debezium will set tableidcasesensitive to true by default, resulting in the table name being updated to lowercase. Therefore, the table completion log setting cannot be queried in Oracle, resulting in the false alarm of "supplementary logging not configured for table error". Add the configuration item 'database. Tablename. Case. Insensitive' ='false 'for debezium. If SQL is

[2021-11-30 09:39] nienie commented on #375
关闭吧。

定位原因，大致是因为job manager 的 参数配置的原因。

加大job manager内存吧~

[2021-11-30 10:25] rookiegao commented on #612
目前只有mysql cdc 和 mongo cdc 是无锁操作。

[2021-11-30 10:27] rookiegao commented on #609
我直接使用debezium 采集也是有延迟的。

[2021-11-30 11:34] rekichan commented on #670
thanks for your answer and wish you happiness!
谢谢你的提示！

[2021-11-30 13:18] #670 closed

[2021-12-01 01:21] paul8263 commented on #545
Hi @lea21st ，
According to mysql-cdc doc, it seems that your password type is sha256_password.

Explanation is as below:
This is because the MySQL user account uses `sha256_password` authentication which requires transporting password under protection like TLS protocol. A simple way is to enable the MySQL user account use naive password.
[code]

[2021-12-01 03:32] #559 closed

[2021-12-01 03:37] #650 closed

[2021-12-01 05:43] dik111 commented on #313
+1

[2021-12-01 06:07] dik111 commented on #175
+1
请问这个有后续吗？

[2021-12-01 08:52] rekichan opened #671 "OracleCDC Problem:ORA-01343"
Environment :
Flink version : 1.13.2
Flink CDC version: 2.1.0
Database and version: oracle 11gR2

Dear all:
When I use oracle-cdc,I have met an exception as "**java.sql.SQLException: ORA-01343: LogMiner encountered corruption in the logstream**"
Does anyone encounter the exception during using flinkcdc?
Plz share your solution in the comment.Thx!

各位好:
当我使用oracle-cdc时，我遇到了这个异常："**java.sql.SQLExcep

[2021-12-01 09:23] szgyh opened #672 "com.ververica.cdc.connectors.oracle.OracleValidator@2bbf180e is not serializable"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.3
 - Flink CDC version: 2.1
 - Database and version: oracle12
 -
用官方的例子oracle api 报错，com.ververica.cdc.connectors.oracle.OracleValidator没有实现序列化接口，不能序列化

Exception in thread "main" org.apache.flink.api.common.InvalidProgramException: com.ververica.cdc.connectors.oracle.OracleValidator@2

[2021-12-01 14:14] dik111 commented on #612
oracle cdc 配置了 'debezium.snapshot.locking.mode' = 'none'  好像也还是需要锁表权限

[2021-12-02 01:50] zhengjiasen commented on #460
flink 1.13.3,  mysql-cdc 2.0.2, 10.1.18-MariaDB also exis this bug.  flink on yarn

[2021-12-02 03:25] rekichan commented on #632
Hello @kuibobo.
Recently I also met for this problem.You can try to add the
**debeziumProperties(properties)**
with the properties that include
**properties.put("database.url", "jdbc:oracle:thin:@(DESCRIPTION=(ADDRESS_LIST=(LOAD_BALANCE=YES)(FAILOVER=YES)(ADDRESS=(PROTOCOL=tcp)(HOST=_host_)(PORT=1521))(ADDRESS=(PROTOCOL=tcp)(HOST=_host_)(PORT=1521)))(CONNECT_DATA=(SERVICE_NAME=_servicename_)))");*

[2021-12-02 04:05] ashulin commented on #667
https://github.com/ververica/flink-cdc-connectors/pull/560

[2021-12-02 04:10] ashulin commented on #672
2.1.0是实现了Serializable接口，应该是其他问题；

[2021-12-02 04:15] ashulin commented on #552
https://github.com/ververica/flink-cdc-connectors/pull/560

[2021-12-02 07:03] noregretsforever commented on #48
这个问题现在是不是还没有好的解决方案，生产上还可能有整库同步的需要

[2021-12-02 07:09] zackyoungh opened #674 "mysql的连接无法设置一些参数"
代码如下
[code]
如果我想加上userSSL=false,这时候应该怎么弄；
不让老是碰到
[code]
得手动修改java.security才能解决

[2021-12-02 07:29] DouglasJun opened #675 "The data defined as number in the table field read by Oracle CDC in Oracle 11 does not display the result correctly, but the encoded value is displayed"
**Describe the bug**
Oracle 11 Oracle CDC has some problems in obtaining the data of number field. If it is the definition of number (3) and number (4,3), there is no problem after deserialization of string debezium deserialization schema. However, JSON debezium deserialization schema cannot correctly obtain the data of number (4,3). You can get number (3). If you directly define number, you defin

[2021-12-02 07:42] #671 closed

[2021-12-02 09:43] shidayang commented on #510
@wuchong cc.  Does this feature make sense？I have the similar requirement not only the cdc but any source

[2021-12-02 10:04] hwzp99 commented on #460
@leonardBang could you fix it?🙏

[2021-12-02 10:13] wuchong commented on #510
Yes. I think it makes sense. AFAIK, only Google PubSub connector supports this using `GuavaFlinkConnectorRateLimiter` util.

[2021-12-02 10:17] whhe commented on #668
Hello team, I am the maintainer of [oblogclient](https://github.com/oceanbase/oblogclient) and will have a try on this in next few days.

[2021-12-02 10:30] leonardBang commented on #668
Happy to hear that @whhe , assigned this ticket to you.

[2021-12-02 10:57] zzq55307 opened #678 "flink-cdc mysql-connector 1.4.0 报错db history topic is missing, 无法恢复。"
环境配置：
flink版本：1.13.2
cdc版本：1.4.0
mysql版本：5.6.28

报错情况：
1. flink-cdc运行一段时间后( 数据库有binlog变更 )，报错 ：the db history is missing. You may attempt to recover it by reconfiguring the connector to SCHEMA_ONLY_RECOVERY.
![企业微信截图_16384420683099](https://user-images.githubusercontent.com/71960940/144407726-c5ffddb5-2a17-4e17-9a2f-1d78fbac090e.png)
2. 根据报错提示，修改connector配置为 'snapshot.mode'='schema_only_recovery'，

[2021-12-02 10:58] zzq55307 commented on #678
binlog_row_image:FULL
binlog_format:ROW

[2021-12-02 11:23] leonardBang commented on #669
This isn't related to Flink CDC Connectors

[2021-12-02 11:23] #669 closed

[2021-12-02 11:27] leonardBang commented on #674
It makes sense to me, could you change the title and description in English ?

[2021-12-02 11:28] leonardBang commented on #675
could you change the title and description in English? thanks.

[2021-12-02 11:28] leonardBang commented on #678
This is a known bug, please use 2.0.2 or 2.10 version which has fixed it

[2021-12-02 11:31] leonardBang opened #679 "[test] The e2e test PostgresE2eITCase.testPostgresCDC failed in azure"
Failed instance:  https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=787&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2021-12-02 11:44] shidayang commented on #510
Thanks for your reply, ah , Google PubSub is using.
1. The rate limiter need every connector to implement at present. Is it a good idea to do this in flink SourceOutput? so that connectors don't need to resolve this.
2. The rate limiter only has effecting in per parallelism not in global , this may cause the global rate not correct.  the new source api can communicate with JM， can we use this to m

[2021-12-02 12:20] GOODBOY008 opened #680 "[doc] [zh] [sqlserver] Add sqlserver-cdc connector tutorial."
**Is your feature request related to a problem? Please describe.**
Implement sqlserver cdc. [issue-88](https://github.com/ververica/flink-cdc-connectors/issues/88).

**Describe the solution you'd like**
Add sqlserver-cdc connector tutorial.

[2021-12-02 12:23] GOODBOY008 opened #681 "[doc] [en] [sqlserver] Translate sqlserver-cdc connector tutorial."
**Is your feature request related to a problem? Please describe.**
Implement sqlserver cdc. [issue-88](https://github.com/ververica/flink-cdc-connectors/issues/88).

**Describe the solution you'd like**
Translate sqlserver-cdc connector chinese tutorial into english.

[2021-12-02 12:35] GOODBOY008 opened #682 "[doc] [en] [sqlserver] Add sqlserver-cdc connector documentation."
**Is your feature request related to a problem? Please describe.**
Implement sqlserver cdc. [issue-88](https://github.com/ververica/flink-cdc-connectors/issues/88).

**Describe the solution you'd like**
Add sqlserver-cdc connector documentation.

[2021-12-02 12:35] wuchong commented on #510
@shidayang , good question, but this question would be better to discussion in Flink community (JIRA or dev ML) if it will end with a framework ability.

[2021-12-02 13:15] shidayang commented on #510
ok, I will discuss this ideas in ML later

[2021-12-02 14:45] rekichan opened #683 "OracleDG Support"
![QQ图片20211202224502](https://user-images.githubusercontent.com/56336716/144444080-35166b50-2174-402a-847d-4cb5b6c7f30b.png)

[2021-12-02 14:48] rekichan commented on #683
开发者你们好：
最近我的项目中遇到了一个问题，我们的DBA要求只能从主库中写入数据，从备库（不能写，分配了只读权限）中读取数据。而OracleCDC只能读写同一个库，这导致了程序在运行中必然会报权限不足的异常。
请问一下我应该如何解决这个问题？或者说这个问题在后续版本能否得到优化？谢谢！

[2021-12-03 00:35] DouglasJun commented on #675
already changed

[2021-12-03 01:21] zzq55307 commented on #678
因为使用的mysql版本比较低，1.4.0 是目前能用的最高版本了。 期待新版本能早日支持上5.6版本的mysql

[2021-12-03 06:24] QwenStorm commented on #460
mysql-cdc 2.1.0 also exist this bug.
my env is flink-1.13.1，mysql-cdc 2.1.0 ，mysql-version 5.7.2
Looking forward to your repair @leonardBang

[2021-12-03 06:26] lufzhangzitao opened #684 "cdc2.1可以像1.4之前全量阶段按tableList配置的表的顺序同步数据嘛"

[2021-12-03 07:39] MonsterChenzhuo commented on #345
Hi @leonardBang I am very interested in this，and I want do some job for flink-cdc，can I help to do that？
Thank you

[2021-12-03 07:39] MonsterChenzhuo commented on #370
Hi @leonardBang I am very interested in this，and I want do some job for flink-cdc，can I help to do that？
Thank you

[2021-12-03 07:40] lykpass opened #685 "Encountered change event for table whose schema isn't known to this connector"
有两个程序同时在线上跑，都监听了这张表，区别就是一个是flink1.13.1，一个是flink1.13.3，早上该表结构变更，1.13.3的这个抛出这个异常，重启没用，但是1.13.1的这个一切正常，有大佬解释下没

org.apache.kafka.connect.errors.ConnectException: Encountered change event for table  whose schema isn't known to this connector
        at io.debezium.connector.mysql.AbstractReader.wrap(AbstractReader.java:241)
        at io.debezium.connector.mysql.AbstractReader.failed(AbstractReader.ja

[2021-12-03 07:40] lykpass commented on #685
由于mysql版本的限制，目前用的cdc1.14

[2021-12-03 09:44] wysstartgo commented on #665
May be this issue is occurred by different mysql version，as the exception is ' The connection property 'zeroDateTimeBehavior' only accepts values of the form: 'exception', 'round' or 'convertToNull'. The value 'CONVERT_TO_NULL' is not in this set'

[2021-12-03 12:24] leonardBang commented on #345
Thanks @MonsterChenzhuo for taking this,  I've assigned to you.

[2021-12-03 12:30] leonardBang commented on #370
Thanks @MonsterChenzhuo , but this should have been implemented in #634 , thus I close it now.
I'll prepare more tasks for newbie.

[2021-12-03 12:31] #370 closed

[2021-12-03 16:44] HQLboy opened #686 "flinkcdc 同步oracle，数据缺失"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.0
 - Database and version: oracle 19c
**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

步骤：
1.创建flink yarn session: ./yarn-session.sh -s 4 -jm 2048 -tm2048-nm lis1 -d
2.登录flink sql客户端，创建10个oracle,flin

[2021-12-04 15:31] Jiabao-Sun commented on #640
Hi @yuanxingkang, this problem was fixed by #642.

[2021-12-06 01:50] #684 closed

[2021-12-06 07:24] QQZZAZ commented on #675
you can set db settings like:
Properties properties = new Properties();
properties.setProperty("decimal.handling.mode","STRING");
SourceFunction<String> sourceFunction = OracleSource.<String>builder()
		.hostname("xx.xx.xx.xx")
		.port(1521)
		.database("ORCL")
		.schemaList("AUTOTEST")
		.tableList("AUTOTEST.ZDB_TEST")
		.username("flinkuser")
		.password("flinkpw")
		.debeziumProperties(properti

[2021-12-06 08:54] james9203 commented on #314
supports MySQL 5.6 ,please

[2021-12-07 02:21] DouglasJun commented on #675
Thanks , It's working

[2021-12-07 02:21] #675 closed

[2021-12-07 02:22] DouglasJun commented on #675
Thanks,It's working

[2021-12-07 06:21] inertance commented on #197
flink1.13.0  对应编译了hudi-0.9_scala-2.11_flink-1.13.0_hive-2.1.1_hadoop-3.0.0.jar 也报这个问题。。。

[2021-12-07 06:43] szs903 commented on #655
感谢回答 ，regular join

[2021-12-07 07:41] 1105220927 commented on #603
翘首以盼~

[2021-12-07 07:42] 1105220927 commented on #313
非常期待

[2021-12-07 07:44] zzq55307 commented on #313
+1

[2021-12-07 09:14] dik111 commented on #685
我也遇到了同样的问题，后来是怎么解决的？

[2021-12-07 09:14] aLivableDedode commented on #685
这是来自QQ邮箱的假期自动回复邮件。
 
您好，我最近正在休假中，无法亲自回复您的邮件。我将在假期结束后，尽快给您回复。

[2021-12-07 09:50] szs903 commented on #664
我目前测试是不支持的 ， 要么报不知道SID ， 要么报不知道service name , 你也是吗

[2021-12-07 13:31] ljp55094 opened #690 "Flink 将postgresql 数据同步到kafka中，由于kafka问题任务重启后无法同步数据"
**Describe the bug**
flink任务使用cdc-connectors 将pg的数据同步到kafka。
过程描述：中间由于kafka集群短暂时间不可用，导致flink任务失败又重启，从日志来看flink任务重启后完成了restore，flink任务已经在正常运行了，但是后续postgresql的数据修改已经无法同步获取了。请教下原因。

**Environment :**
 - Flink version :  1.11.2
 - Flink CDC version: 1.1.1
 - Database and version: postgresql 10.14

**Code:**
            properties.setProperty("slot.name", prop.getString(Constants.CDC_PG_DB));

[2021-12-08 01:58] lykpass commented on #685
还没  目前就手动从头跑了

[2021-12-08 01:58] lykpass commented on #685
还没 目前就手动从头跑了

[2021-12-08 02:21] JamesIsHuang commented on #645
这个问题后来解决了吗？

[2021-12-08 02:21] JamesIsHuang commented on #645
这个问题后来解决了吗？

[2021-12-08 02:32] JamesIsHuang opened #691 "Flink cdc 2.0.2运行正常，升级Flink cdc 2.1.0在其他环境不变的情况下运行报错"
![image](https://user-images.githubusercontent.com/12915720/145138860-224459e8-8ce3-476d-aafd-9fe5033fa184.png)
![image](https://user-images.githubusercontent.com/12915720/145138921-a2812475-94e9-41af-b09a-9ab5b5c4e53f.png)

[2021-12-08 08:41] samuelyyl opened #699 "Match multiple database and collection names using a regular expression in MongoDB"
希望能够参考mongodb kafka-connector 读取多个源的语法，支持在自定义正则表达式同步多个库/表的。

[2021-12-08 08:50] samuelyyl commented on #699
主要是处于性能考虑，将多个表的同步放在一个任务中，否则同步n个表将有n个连接去使用Mongo UpdateStream，对Mongo有比较大的影响。

建立宽表同步多个表，目前看来我遇到的问题：不同Mongo表同名字段类型冲突概率大大提高，这将让我转而使用DataStream的语法去手动处理类型冲突。

[2021-12-08 11:52] JamesIsHuang opened #700 "oracle connector(2.1.0) 解析timestamp(6)格式的字段时，报错"
![image](https://user-images.githubusercontent.com/12915720/145203264-b5588055-7c3e-4bb0-857f-4b999f193720.png)
实际数据为：2021-01-28 00:19:38.000

[2021-12-08 12:30] #700 closed

[2021-12-08 12:47] dingyang0519 opened #701 "Oracle CDC Connector only support SID instead of Service Name"
The "database-name" option is now directly translated into SID instead of Service Name in the codes below: (selected from com.ververica.cdc.connectors.oracle.OracleValidator)

    public static Connection openConnection(Properties properties) throws SQLException {
        DriverManager.registerDriver(new oracle.jdbc.OracleDriver());
        String hostname = properties.getProperty("database.hostna

[2021-12-08 13:00] dingyang0519 opened #702 "Debezium automatically changes Oracle 11g Tables to lowercase"
Debezium automatically changes the table names in Oracle 11g to lowercase, which will make it fail to find the tables as belows:

[ERROR] Could not execute SQL statement. Reason:
io.debezium.DebeziumException: Supplemental logging not configured for table MY_SERVICE_NAME.MY_SCHEMA.test.  Use command: ALTER TABLE MY_SCHEMA.test ADD SUPPLEMENTAL LOG DATA (ALL) COLUMNS

In the Wiki, suggestions is to

[2021-12-09 02:12] zhuxiaoshang commented on #643
@Jiabao-Sun hello, how do you solve this problem, i also met it.

[2021-12-09 02:22] zhuxiaoshang commented on #628
我用2.0版本也遇到这个问题

[2021-12-09 02:34] Jiabao-Sun commented on #643
Closed #659

[2021-12-09 06:25] szs903 opened #703 "oracle cdc 目前还不支持多并行度吗"
**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.1
 - Database and version:  oracle 19c

[2021-12-09 07:42] zhuxiaoshang opened #704 "java.lang.IllegalAccessError: com/mysql/cj/jdbc/result/ResultSetImpl$1"
flink 1.13版本
cdc-connector-mysql 2.1.0
`2021-12-09 15:08:12
org.apache.flink.runtime.JobException: Recovery is suppressed by NoRestartBackoffTimeStrategy
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.handleFailure(ExecutionFailureHandler.java:138)
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.getGlobalFailureHandlingResult(E

[2021-12-09 10:46] which520 commented on #339
期待5.6版本支持

[2021-12-09 12:56] whhpc19891120 opened #708 "oracle cdc在flink sql上执行失败，去掉lib下面的mysql cdc jar包，则执行成功，不能同时存在"
Flink SQL> CREATE TABLE oracle_input_ORACLE_BINLOG (

[INFO] Execute statement succeed.

Flink SQL> CREATE TABLE mysql_sink_test3 (

[INFO] Execute statement succeed.

Flink SQL> insert into mysql_sink_test3 select * from oracle_input_ORACLE_BINLOG;

Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue.

[2021-12-10 03:28] yongzhao-qcc opened #709 "java.lang.RuntimeException: One or more fetchers have encountered exception"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.0.2
 - Database and version: 8.0.13

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :'scan.startup.mode' = 'initial'
3. The error :
 2021-12-09 20:40:16
java.lang.RuntimeException: One or more fetchers have encountere

[2021-12-10 06:39] liyichencc commented on #313
+1

[2021-12-10 07:03] lei-su-awx opened #710 "[postgres]use flink cdc created a slot in pg, but can not update this slot configuration"
**Describe the bug**
use flink created a slot with property: **decimal.handling.mode: string**, but after slot created successfully, we can not update this property to **decimal.handling.mode: double**. So is this a bug or it  supposes to be this?

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.2
 - Database and version: postgres 12.6

[2021-12-10 08:51] yummyheng opened #711 "OracleTableSourceFactoryTest 报错 配置文件中的image找不到"
运行oracle test案例报错
com.github.dockerjava.api.exception.DockerClientException: Could not build image: The command '/bin/sh -c mkdir /u01/app/oracle/oradata/recovery_area &&     bash -x /assets/activate-archivelog.sh' returned a non-zero code: 127

![image](https://user-images.githubusercontent.com/3580351/145544676-bce845ee-9b39-48eb-afcb-3621695c28c6.png)
![image](https://user-images.githubusercont

[2021-12-10 11:02] BoredTape commented on #140
老哥，我也出现了，我把select去掉之后确实是可以全量了，但是增量就不行，无法获取增量数据

[2021-12-10 12:37] wuchong commented on #140
@BoredTape 是不是没有给 REPLICATION SLAVE, REPLICATION CLIENT 权限？ 有报什么错吗？

[2021-12-10 12:40] BoredTape commented on #140
我刚刚知道为啥了老哥，因为！！！填错了rds地址！确实能全量获取到数据，增量的时候拿到的binlog文件是错的，导致一直监听不到变化，导致增量失败，小弟查了好久好久好久。。。。

[2021-12-11 02:15] HQLboy commented on #686
运行一晚上之后报错：Online REDO LOG files or archive log files do not contain the offset scn 713870265.  Please perform a new snapshot

[2021-12-11 02:16] HQLboy commented on #686
![image](https://user-images.githubusercontent.com/55019221/145660526-5bc6d0c2-f29c-4f76-8d72-d912654e2b37.png)

[2021-12-13 02:53] zhengshubin opened #715 "CDC table metadata add "operate" field"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
CDC table metadata  目前支持的字段有：
table_name | STRING NOT NULL
schema_name | STRING NOT NULL
database_name | STRING NOT NULL
op_ts | TIMESTAMP_LTZ(3) NOT NULL
希望 添加 record op字段（insert,update,delete），以便后续转换  输出到 非 flink jdbc表。

**Describe the so

[2021-12-13 02:57] gaoxiancan commented on #609
同上

[2021-12-13 08:03] lea21st commented on #545
yeah

[2021-12-13 08:03] #545 closed

[2021-12-13 09:29] dq1201 commented on #622
请问这个问题会在哪个版本进行修复呢？

[2021-12-13 09:36] 1932937611 commented on #622
小众的版本估计不会专门修复了，就用上面那种方式修改也是可以解决问题的

[2021-12-13 10:58] luxuebao commented on #363
我测试也是这样的，在 'scan.incremental.snapshot.enabled'='true',的配置下，snapshot读完了之后，+I的数据，会再次+I一次，应该是binlog又重复读取了已经插入的数据

[2021-12-13 11:05] luxuebao opened #716 "使用incremental的方式读取全量数据的时候，snapshot读取完成之后，再读取binlog数据，binlog数据中会有之前snapshot中已经insert的数据"
使用incremental的方式读取全量数据的时候，snapshot读取完成之后，再读取binlog数据，binlog数据中会有之前snapshot中已经insert的数据，就是说使用incremental的方式全量读取mysql数据的时候，不能保证精确一次。
CREATE TABLE test1 (
id varchar(10),
value varchar(10)
primary key(id) not enforced)
with(
'connector' = 'mysql-cdc',
 'hostname' = 'XXXX',
 'port' = '4417',
 'username' = 'bigdata_r',
 'password' = 'XXXXX',
 'database-name' = 'test',
 'table-name' = 'test1',
 'scan.in

[2021-12-13 11:47] jasine commented on #708
same issue

[2021-12-14 02:32] luxuebao opened #717 "snapshot and continues binlog read question,the same data will be consumed twice"
**Describe the bug**
when using flink-mysql-cdc-connector to consume mysql data in incremental mode,i found some data is consumed more than once.Some datas are consumed as inserted data in snapshot stage and will be consumed again as insert,-update,+update data,that leads to one data will be compute twice.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.1.0
 - Database and ve

[2021-12-14 06:26] luxuebao commented on #363
@xiaoshijiang523 请问问题解决了吗

[2021-12-14 07:09] Aaronzk commented on #709
我也遇到了这个问题，Flink CDC2.1， 已经设置了server-id，但还是会出现这个问题

[2021-12-14 07:12] luxuebao commented on #717
CREATE TABLE test1 (
loan_no varchar(10),
value varchar(10)
primary key(loan_no) not enforced)
with(
'connector' = 'mysql-cdc',
'hostname' = 'XXXX',
'port' = '4417',
'username' = 'bigdata_r',
'password' = 'XXXXX',
'database-name' = 'test',
'table-name' = 'test1',
'scan.incremental.snapshot.enabled'='true',
'scan.incremental.snapshot.chunk.size' = '10240',
'scan.snapshot.fetch.size' = '1024',
'scan

[2021-12-14 09:18] wjcwin opened #718 "直接读取binlog文件，而不用配置数据库连接信息"
binlog文件备份到 一个文件系统里，flink cdc 能否直接读取binlog文件

[2021-12-14 10:22] qiufang1314 commented on #612
flink-cdc 2.1版本依赖的 debezium.version 是1.5.4.Final ，对Oracle，改版本是不支持 snapshot.locking.mode参数，1.6后的版本才有支持；而Mysql又是支持的

[2021-12-14 14:54] GOODBOY008 opened #721 "[test][mongodb]SomeTimes mongodb test ("testConsumingAllEvents") runs timeout when checking pr."
**Additional Description**
SomeTimes mongodb test ("testConsumingAllEvents") runs timeout when checking pr.

[2021-12-15 00:41] BerekSong commented on #645
没有，目前依然用的2.0.2

[2021-12-15 01:44] leonardBang commented on #721
Thanks @GOODBOY008 for opening this ticket, cool!
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=804&view=logs&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&t=35f661f6-a91b-58bc-c86e-9c0883818913

[2021-12-15 03:26] BerekSong commented on #645
问题解决了：
flink-connector-mysql-cdc:2.1.0替换为flink-sql-connector-mysql-cdc:2.1.0

[2021-12-15 07:15] leonardBang opened #723 "Release-2.2 Roadmap"
## Feature Development
* [x] #528
* [x] #724
* [x] #513
* [x] #314
* [x] #88
* [ ] #373
* [ ] #507
* [x] #355
* [x] #641
* [ ] #450
* [ ] #456

## Test Improvement
* [ ] #448
* [ ] #721
* [ ] #679
* [x] #619

## Document Improvement
* [ ] #345
* [x] #725

[2021-12-15 07:29] leonardBang commented on #465
Implemented in #515

[2021-12-15 07:29] #465 closed

[2021-12-15 07:30] #356 closed

[2021-12-15 07:34] leonardBang commented on #93
Implemented by
#249
#476
#575

[2021-12-15 07:34] #93 closed

[2021-12-15 07:42] leonardBang opened #724 "[common] The abstraction of Incremental Snapshot Framework"
Currently, only MySQL CDC implemented the Incremental Snapshot algorithm which makes users enjoying lock-free, parallel-reading and restoration-at-anytime .
 For other CDC Connectors, users still suffer  from the single read task and lock issue, we can abstract a common Incremental Snapshot framework to make other Connectors take flight easily.

[2021-12-15 07:46] leonardBang opened #725 "[docs] Translate the FAQ documentation to English"
We collected some user feedbacks and FAQ from Flink CDC Chinese DingTalk Group and make them documented on Github wiki.

We should also translate the documentation to English which can help more users.

[2021-12-15 07:46] leonardBang commented on #725
https://github.com/ververica/flink-cdc-connectors/wiki/FAQ(%E4%B8%AD%E6%96%87)

[2021-12-15 07:49] leonardBang commented on #345
@MonsterChenzhuo  you can refer https://github.com/ververica/flink-cdc-connectors/issues/340 when you write the documentation

[2021-12-15 08:09] sebasmagri commented on #93
Is there a chance to get this for PostgreSQL?

[2021-12-15 08:21] baisui1981 commented on #355
+1

[2021-12-15 09:06] rookiegao commented on #725
Can I try to solve this issue?

This is an example I have tried:

For Oracle version 11, debezium will set tableidcasesensitive to true by default, resulting in the table name being updated to lowercase. Therefore, the table completion log setting cannot be queried in Oracle, resulting in the false alarm of "supplementary logging not configured for table error".

If it is the datastream API, add t

[2021-12-16 01:28] niunan2019 opened #726 "flinkcdc2.1增量BINLOG不前进不变动问题"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.1
 - Database and version:  mysql5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :
[code]
**Additional Description**
If applicable, add screenshots to help explain your problem.
目前我用flinkcdc过程中Binlo

[2021-12-16 02:32] lykpass opened #728 "debezium.snapshot.select.statement.overrides"
For the split table, I want to pass a same statement,but now,I must write many 'debezium.snapshot.select.statement.overrides',hope to simplify the process
![image](https://user-images.githubusercontent.com/48595535/146297200-e037fb36-7dc5-4e22-af8b-7c9c1a70d800.png)

[2021-12-16 02:54] wjshean opened #729 "mysql用增量模式到kafka，update一个字段的内容，输出到kafka的json没有before {"before":null,"after":{"id":5,"name":"shawn","age":90},"op":"c"}"
tableEnv.executeSql("CREATE TABLE cdc_test (" +
                " id INT ," +
                " name STRING," +
                " age INT," +
                "primary key(id)  NOT ENFORCED"+
                ") WITH (" +
                " 'connector' = 'mysql-cdc'," +
                " 'hostname' = '10.10.5.11'," +
                " 'port' = '3306'," +
                " 'username' = 'tiangou'," +

[2021-12-16 03:02] leonardBang commented on #725
@rookiegao
Thanks for picking this, only the maintainer can create the wiki, but I can help do this after the translation finished.
I think we can
(1) Translate the FAQ(中文) document to English documentation in markdown format firstly
(2) Merge the Connectors FAQ e.g. [MySQL FAQ](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/connectors/mysql-cdc.html#faq ) into the FAQ(中文) do

[2021-12-16 03:02] leonardBang commented on #725
@rookiegao
Thanks for picking this, only the maintainer can create the wiki, but I can help do this after the translation finished.
I think we can
(1) Translate the FAQ(中文) document to English documentation in markdown format firstly
(2) Merge the Connectors FAQ e.g. [MySQL FAQ](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/connectors/mysql-cdc.html#faq ) into the FAQ(中文) do

[2021-12-16 03:02] leonardBang commented on #725
@rookiegao
Thanks for picking this, only the maintainer can create the wiki, but I can help do this after the translation finished.
I think we can
(1) Translate the FAQ(中文) document to English documentation in markdown format firstly
(2) Merge the Connectors FAQ e.g. [MySQL FAQ](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/connectors/mysql-cdc.html#faq ) into the FAQ(中文) do

[2021-12-16 04:47] rookiegao commented on #725
That's a good idea. I'll finish it soon

[2021-12-16 06:00] Karl-WangSK commented on #284
请问有解决了吗

[2021-12-16 06:01] wmtbnbo commented on #284
已收到~~~~谢谢！！！——————王沐

[2021-12-16 09:16] wmtbnbo commented on #284
没有，没有使用cdc了，自己用flink+kafka+canal实现了一个类似cdc的程序,cdc这个程序现在问题还有点多

[2021-12-16 09:34] zhjwpku opened #731 "[mysql] expose MySqlSnapshotSplitAssigner metrics"
Flink cdc mysql now expose some metrics for SourceReader, which are `fetchDelay`, `emitDelay` and `idleTime`,
but this is not enough, user may want to know the process of the snapshot phase.

MySqlSnapshotSplitAssigner maintains some states which are very valuable to user:

- alreadyProcessedTables
- remainingTables
- assignedSplits
- splitFinishedOffsets

We can infer total table number from `alr

[2021-12-16 09:36] zhjwpku commented on #723
hi @leonardBang, can you add #731 to this roadmap?

[2021-12-16 10:59] 1105220927 opened #732 "data row is smaller than a column index, inter schema representation is probably out of sync with real database schema"
**Describe the bug**
error: data row is smaller than a column index, inter schema representation is probably out of sync with real database schema
![image](https://user-images.githubusercontent.com/95424327/146359781-fdc68973-0eb2-49fd-8d19-6559e9be9c0f.png)
**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 1.4.0
 - Database and version: mysql 5.6.28

**To Reproduce**
这个实例的任务一启动就会

[2021-12-16 11:46] 1105220927 commented on #435
问题有解决吗？ 换成1.3.0还是报错

[2021-12-16 12:58] y0908105023 opened #734 "support flink-1.14 for flink-cdc2.1"

[2021-12-17 02:13] Hwangmingzhao opened #735 "flink-connector-mysql-cdc 1.3因为log4j-api引起的漏洞 CVE-2021-44228"
log4j 2.15.0及之前版本存在严重安全漏洞，成功利用这个漏洞可以导致执行任意代码。经终端安全攻防团队研判后，认定该漏洞影响范围极广，漏洞危害极大。有安全厂商攻防团队已经成功复现此漏洞。

官方已提供解决方案，可通过升级log4j至最新2.16.0版本解决。

依赖路径：
log4j-slf4j-impl 2.12.1 -> log4j-api 2.12.1

[2021-12-17 02:28] leonardBang commented on #339
The version 2.1 has released, unfinished tasks will be transferred to Roadmap 2.2

[2021-12-17 02:28] #339 closed

[2021-12-17 03:44] L-L-Huang opened #736 "scan.startup.mode = initial运行flink-sql-cdc读取mysql报Stackoverflow"
**Describe the bug**
11:22:42,179 WARN  org.apache.flink.runtime.taskmanager.Task                     - Source: TableSourceScan(table=[[cdc_ods, flink, es_record]], fields=[id, content, create_userid, create_date, modify_userid, modify_date, op_ts]) -> MiniBatchAssigner(interval=[5000ms], mode=[ProcTime]) -> Calc(select=[id, content, create_userid, create_date, modify_userid, modify_date, CAST(op_

[2021-12-17 07:31] GOODBOY008 commented on #735
Please refer https://github.com/ververica/flink-cdc-connectors/pull/714

[2021-12-17 07:32] GOODBOY008 commented on #735
Please refer https://github.com/ververica/flink-cdc-connectors/pull/714

[2021-12-17 08:01] leonardBang commented on #735
@Hwangmingzhao Thanks for your report.
Firstly, Flink CDC project doesn't package log4j2 dependency which won't be influenced by log4shell vulnerability,
and we also bump the log4j2 version in #714.

[2021-12-17 08:01] #735 closed

[2021-12-18 05:58] hnjincan opened #740 "MySqlStreamingChangeEventSource stoped reading Incremental binlog"
**Describe the bug**
I use flink cdc to meet my business needs, but when I submit the program to the production environment, the new binlog cannot be connected to flink. The specific taskmanager log is as follows

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.0.2
 - Database and version: mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The

[2021-12-18 06:04] hnjincan commented on #740
create table saas_dsorderdb_sale_order_dim(
   id BIGINT, --主键id
   batch_no STRING,
   order_no STRING,
   customer_id BIGINT,
   tenant_id BIGINT,
   store_id BIGINT,
   shop_code STRING,
   order_status BIGINT,
   biz_type BIGINT,
   real_pay_amount DECIMAL(10,2),
   total_point_amount DECIMAL(10,2),
   pay_time TIMESTAMP,
   pay_status BIGINT,
   updated_at TIMESTAMP,
   created_at TIMESTAMP,

[2021-12-18 06:11] hnjincan commented on #740
The incremental data on the day of the task start can be read, but by the next day, one of the sources will not consume the latest binlog, but this situation only exists in the production environment, and the test environment is ok.

[2021-12-18 17:36] hnjincan commented on #740
![image](https://user-images.githubusercontent.com/39942725/146650449-882fec9d-de67-41f2-8c9b-5b1a2a1c87b4.png)
Stop receiving new binlogs on time the next day,how can i solve this problem？ @leonardBang

[2021-12-20 02:22] SEZ9 commented on #732
这个问题有跟进吗？  使用原生debezium同样会遇到一样的问题。  有经验处理吗？

[2021-12-20 03:57] 1105220927 commented on #732
不知道怎么处理, 我们估计要换成canal来做数据同步了。 我考虑是不是mysql版本的问题，你们也是用mysql 5.6吗？

[2021-12-20 03:59] SEZ9 commented on #732
mysql 5.7 同样的问题。

[2021-12-20 04:10] 1105220927 commented on #732
使用flink-cdc 和 原生debezium都会遇到这个报错吗？

[2021-12-20 06:13] yaoboxu opened #741 "2.x CDC can't not support "double write""
**Describe the bug**
2.x CDC can't not support "double write".  When i create a view consists of some tables joins, i want write the result into different databases,
After i write to one database,  i can't query this view in flink sql client because of server_id. The error reports the server_id is  duplicate.

**Environment :**
 - Flink version :  flink1.13.3
 - Flink CDC version: 2.02 or 2.1.1

[2021-12-20 06:21] 1105220927 commented on #732
可以把你使用的环境信息以及报错信息提个bug, 看社区有没有开发者可以帮看下。

[2021-12-20 06:24] liaobaikai opened #742 "java.lang.NoClassDefFoundError: org/apache/kafka/connect/source/SourceRecord"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

参考：
https://ververica.github.io/flink-cdc-connectors/master/content/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B/mysql-postgres-tutorial

[2021-12-20 06:35] rookiegao commented on #742
You can comment out non SQL jar packages to see if there is a jar package conflict

[2021-12-20 06:41] liaobaikai commented on #742
哪里可以找到这个jar 包呢？

[2021-12-20 07:07] camelus0211 opened #743 "A failover happens when mysql source occur, Flink cdc job is always restart"
**Describe the bug**
A failover happens when mysql source occur, Flink cdc job is always restart.

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.2
 - Database and version: mysql 5.7

**Additional Description**
<img width="1211" alt="wecom-temp-705b6903a5b894beb6e5ce7ce82a0ec7" src="https://user-images.githubusercontent.com/44798441/146723552-bcbfffea-ff84-497f-a1d7-2af0a0a8375

[2021-12-20 08:27] wuchong commented on #732
@1105220927 @SEZ9 完整的 flink sql 能贴一下吗？ 作业是 initial 模式启动的么（先全量再增量）？

[2021-12-20 09:02] liaobaikai commented on #742
fix flink version upgrade to: https://dlcdn.apache.org/flink/flink-1.13.5/flink-1.13.5-bin-scala_2.11.tgz

[2021-12-20 09:03] #742 closed

[2021-12-20 09:09] 1105220927 commented on #732
我这里是使用streaming api来写的，代码基本没什么额外的操作。 作业模式是schema_only.
[code]

[2021-12-20 09:16] SEZ9 commented on #732
我这边是直接用的debezium 配置 "snapshot.mode":"schema_only_recovery"
遇到binlog的一个点就报错
org.apache.kafka.connect.runtime.WorkerSourceTask:487)
[2021-12-20 07:19:30,367] ERROR WorkerSourceTask{id=klorderbizdb-0} Task threw an uncaught and unrecoverable exception. Task is being killed and will not recover until manually restarted (org.apache.kafka.connect.runtime.WorkerTask:184)
org.apache.kafka.connect.errors.C

[2021-12-20 09:18] wuchong commented on #732
@1105220927 @SEZ9 这个问题在重启后是稳定复现的吗？

可以尝试database.history.store.only.monitored.tables.ddl 改成 false 看看。

[2021-12-20 09:29] SEZ9 commented on #732
目前遇到几个表小概率出现的问题，只要到那几个表的更改binlog pos ，就一定会报错。。

[2021-12-20 09:37] SEZ9 commented on #732
目前只能通过配置 table.include.list 把有问题的表去除掉。。。

[2021-12-20 10:39] 1105220927 commented on #732
是的。 对于有问题的db，启动必现。

[2021-12-20 12:29] zhjwpku commented on #723
@leonardBang #731 is a task issue, pls take a look ;)

[2021-12-21 01:11] haormj commented on #726
the same problem in 2.1.1

[2021-12-21 03:43] niunan2019 commented on #442
保留长了还是会出现这个问题，chk一直不前进

[2021-12-21 09:32] ljc2008110 opened #744 "任务异常循环重启时，未释放连接"
**Describe the bug**
当数据库binlog设置保留较少时，任务读取binlog时发现数据库的对应position的binlog已被清除，在这种情况下会发生task不断失败重启，此时重启任务时未释放数据库连接，重新初始化数据库连接，导致最终数据库连接数不断上升的问题。

**Environment :**
 - Flink version :  1.13.0
 - Flink CDC version: 2.1.0
 - Database and version: mysql 5.7.26

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicab

[2021-12-22 05:56] cnDenis opened #745 "Support Scala 2.12"
Support Scala 2.12 please.

Flink is shipped with both Scala 2.11 and 2.12, the connectors should support both version.

[2021-12-22 07:21] wangxiaojing opened #746 "support flink1.14"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-12-22 16:04] sty945 commented on #664
是的，我当前测试就是报不知道SID，不怎么应该怎么解决的，你解决了么？

[2021-12-22 16:28] sty945 commented on #632
Hello@rekichan ，Recently i missed the same errors when i use **flink-sql to submit the job**.

**Have you ever encountered this problem？and how to solve the this problem?**

My Flink-sql is :

[code]

In Flink web , i got this error:
[code]

My oracle is **Oracle 12C RAC**

If you can answer questions in your busy schedule, I will be very grateful.

[2021-12-23 02:22] #710 closed

[2021-12-23 03:24] shidayang opened #747 "请教下，为啥pg不支持从lsn拉取，是有什么额外的考虑吗"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2021-12-23 06:48] sty945 commented on #701
Very helpful !!! Thank you so much!!!

[2021-12-23 06:50] z070204z commented on #271
可以，完美！

[2021-12-23 13:29] Shilpa-Sareen commented on #302
This is happening due to incompatibility of debezium maven dependecies with your DB (my-sql) version. For example I am using mysql-8.0 and debezium-connector-mysql 1.4.2. It was throwing same exception for me. Then I upgraded debezium-connector-mysql to 1.7.0.Final. It solved my problem. Try to use different version of debezium dependecies.

[2021-12-24 01:51] 1105220927 commented on #732
我这边的问题定位到了，不知道是不是适用你们的场景。 原因是修改了binlog_row_image为FULL后，需要重启所有的长连接，如果是从库的话，需要重启从库实例，才会生效。 否则虽然修改了参数，但binlog格式仍然有问题

[2021-12-24 01:55] javabedlamite commented on #313
+1

[2021-12-24 02:23] wuchong commented on #732
@1105220927 修改binlog_row_image以后，不重启实例，`show global variables like "binlog_row_image"` 返回是 FULL 么？

[2021-12-24 03:10] SEZ9 commented on #732
还不是，我这边数据库一直都是 binlog_row_image | FULL    ，有问题的是个别表。 目前产线有1000+表，有2张有问题。咨询了debezium 社区回复说' Just please bearin mind if the database history topic is recereated around a schema change then you have a problem as the unprocessed binlog can still contain the old schema.' 准备进一步排查下 存schema的那个topic信息

[2021-12-24 06:08] 1105220927 commented on #732
是的。 数据库参数是对的，但是update的binlog格式是这样的：
![image](https://user-images.githubusercontent.com/95424327/147322963-7d6f757a-c26d-4f7c-9aab-0f81eb6ddbb4.png)
正常的binlog格式应该是这样的：
![image](https://user-images.githubusercontent.com/95424327/147323018-713888b0-61d0-430b-b835-952fb590777f.png)

因为这个参数修改只对新连接生效，不知道之前修改参数的时候，哪里的流程出了问题，导致没有生效。

[2021-12-24 06:17] 1105220927 commented on #732
好吧，那可能还不是同一个原因。我这边是通过mysqlbinlog工具对比出问题的binlog position的具体日志格式发现的问题。

[2021-12-24 07:40] luoyuxia opened #751 "inaccuracy type mapping for bit(1) in mysql doc"
Althogh the mysql doc has said when bit(1) should be mapped to boolean in Flink.
But it also contains anther mapping rule "BIT(n) - > BINARY(⌈n/8⌉).
And when user try to map BIT(1) to BINARY(1), it will throw exception.
![image](https://user-images.githubusercontent.com/20389154/147330373-add20448-a285-4d60-a777-399cf0e8c40f.png)
So, we need to fix the doc to avoid misleading.

[2021-12-27 05:42] pokerWu commented on #427
开启include schema changes来说，是没有用的。在sql模式下，使用Row方式解析SourceRecord.

如果你想消费ddl信息。可以用json反序列化类。

如果使用stream api写代码，则可以用自定义反序列化。

目前我也在研究怎么实现schema演进。通过flink framework传递似乎不是很好的方式，目前在参考confluence avro的模式做。

[2021-12-27 05:43] YesOrNo828 commented on #724
@leonardBang  Are you working on it?  I want to complete this feature.

[2021-12-27 06:32] leonardBang commented on #724
I'm woking on the design phase, Cooperation is pretty welcome, @YesOrNo828 .  Could you share your design/API document?

[2021-12-27 07:29] #375 closed

[2021-12-27 07:32] fengfuli commented on #313
+1

[2021-12-28 01:48] 762871227Wang commented on #744
我们也遇到了连接数持续上升的情况.
环境 ：
Flink 版本：1.13.3
Flink CDC 版本：2.1.0
数据库及版本：mysql 8.0.18

[2021-12-28 02:24] DongTL commented on #709
您好，我也遇到了类似的问题，cdc2.1.1，flink1.13.5.请问您解决了吗？

[2021-12-28 03:50] JamesIsHuang opened #755 "oracle connector大数据量拉取 snapshot too old"
![image](https://user-images.githubusercontent.com/12915720/147526105-7d35091b-521e-4916-a269-30911e0d5bb8.png)

[2021-12-28 08:23] camelus0211 commented on #469
这里有没有尝试过订阅master的binlog?

[2021-12-28 08:55] hellochueng commented on #755
同样遇到了
java.sql.SQLException: ORA-01555: snapshot too old: rollback segment number 25 with name "_SYSSMU25_61319981$" too small

[2021-12-29 01:42] zhyawshhz opened #757 "when to support debezium1.6 or later"
When i use oracle cdc to capture oracle data to iceberg, i found that can not capture alter table add column event. Debezium1.6 or later will support this feature for reading debezium document, then when to support the feature?

[2021-12-29 03:03] haormj commented on #726
you can set `scan.incremental.snapshot.enabled` = `false` to resolve it

[2021-12-29 09:28] JamesIsHuang commented on #755
有解决吗？

[2021-12-29 13:28] YesOrNo828 commented on #724
@leonardBang  Sorry for the slow response, this is my [API document](https://docs.qq.com/doc/DT1RSWkZMS0htVk54), and I‘m doing some [POC](https://github.com/YesOrNo828/flink-cdc-connectors/tree/issue-724/flink-connector-base).

[2021-12-29 14:14] leonardBang commented on #724
Nice work ! @YesOrNo828 I think we can discuss the API document first, and then we can continue the POC. It's a big challenge that we need to think more for other datasource like MongoDB, TiDB which don't depend on Debezium.
I‘ll give some feedback for your API document soon.

[2021-12-29 15:02] vleyong opened #758 "Could FlinkCDC be supported on Alicloud Full Hosting platform？"
Like the topic said. I used the Alicloud Full Hosting Flink platform ,but I don't know how to apply FlinkCDC on this platform,is it supported?
Thanks .

[2021-12-30 01:42] xuwenjie1998 opened #759 "Jobmanager matespace持续增长直到OOM"
提交然后取消任务或重复提交取消同一任务后（简单的mysql sink2 mysql）Jobmanager元空间持续增长未回收直到内存溢出，我已尝试增大JM元空间大小到512M，但无效，未见matespace内存回收。我不清楚这是Flink的bug还是cdc的bug，还是要添加哪些配置
![image](https://user-images.githubusercontent.com/74408218/147714415-d8da778e-046f-43a6-b1e3-2b1e91211aa2.png)

DEMO详情如下：
流程：MysqlCDC sink  to Mysql
MysqlCDC：
String creTabBBDetail = "CREATE TABLE dwd_trtplbbdetail " +
                "( " +

[2021-12-30 06:05] zhaomin1423 opened #760 "Unique key conflict when updating the unique key in the process of reading the new split"
**Describe the bug**
When a mysql table with unique key, there are some splits. When a split read was complete, other split is reading，at this point,  a row of previous split was updated, next to, a row of current split update a unique key to the value same with last row. After the split snapshot complete, the binlog file was used to update the batch, so the unique key of the row is same with a ro

[2021-12-30 06:11] leonardBang commented on #758
@vleyong I guess you mean the fully managed flink platform provides by AliCloud. AFAK, all Flink CDC connectors are supported by them. You can consult them for more details.

[2021-12-30 06:19] gnuhpc commented on #758
More powerful features would be provided in the fully-managed Flink cloud service by Alibaba Cloud.

[2021-12-30 06:35] leonardBang commented on #745
Make sense to me, would you like to support this feature ? @cnDenis

[2021-12-30 07:05] camelus0211 commented on #641
I am very interested in this, please assign it to me.

[2021-12-30 08:17] vleyong commented on #758
Thanks

[2021-12-30 08:17] #758 closed

[2021-12-30 09:50] WINNY1 commented on #313
+1

[2021-12-30 16:55] lcystart opened #762 "Flinkcdc monitors oracle19c lost fields and data and it is very slow"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  flink1.13.3
 - Flink CDC version: 2.1.1
 - Database and version: oracle 19C

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data : The Millions
2. The test code :
Properties properties = new Properties();
properties.setProperty("debezium.log.mining.strategy","online_catal

[2021-12-31 00:56] A-little-bit-of-data opened #763 "flink 1.14 sql client kafka source bug"
**Describe the bug**
A clear and concise description of what the bug is.
![lQLPDhsBYjf-FsbMvc0Cu7DE0QQ_7cUilAHS8LEcQKQA_699_189](https://user-images.githubusercontent.com/31812278/147796957-55d5fd5b-8acf-41cd-bf49-9e07b77b3021.png)

This is caused by the fact that flink 1.14 Kafka source forced auto.offset.reset to none when using group, which caused the use of client to not continue the last offs

[2021-12-31 06:25] #718 closed

[2022-01-02 02:29] littleforce163 opened #764 "REQ：密码密文调用"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
在写sql建表语句中，可以通过引用方式调用密码吗？
希望秘密不是明文的。

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions

[2022-01-02 02:30] littleforce163 commented on #764
-- creates a mysql cdc table source
CREATE TABLE mysql_binlog (
 id INT NOT NULL,
 name STRING,
 description STRING,
 weight DECIMAL(10,3)
) WITH (
 'connector' = 'mysql-cdc',
 'hostname' = 'localhost',
 'port' = '3306',
 'username' = 'flinkuser',
 'password' = '**flinkpw**',
 'database-name' = 'inventory',
 'table-name' = 'products'
);

-- read snapshot and binlog data from mysql, and do some tra

[2022-01-04 05:08] jxcwp opened #766 "StreamPhysicalGroupWindowAggregate doesn't support consuming update and delete changes which is produced by node"
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.1.1
 - Database and version:  5.7

`CREATE TABLE test_source (
 id INT NOT NULL,
 facility_id STRING,
 request_time TIMESTAMP(3) ,
  WATERMARK  FOR request_time as request_time - INTERVAL '1' SECOND,
 primary key(id) not enforced
) WITH (
 'connector' = 'mysql-cdc',
 'hostname' = 'localhost',
 'port' = '3306',
 'username' = 'root

[2022-01-05 02:26] leonardBang commented on #766
This is a limitation from Flink SQL, you can find similar issue in Flink JIRA for more information

[2022-01-05 02:26] #766 closed

[2022-01-05 07:38] leonardBang opened #770 "[build] The log4j2-test.properties doesn't works in IDE"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

[2022-01-05 09:09] q2515045 commented on #432
问题怎么关闭了呢，我也频繁遇到这种问题，当多个cdc同步同一个库时，数据库升级大量数据基本就会发生这个错误

[2022-01-05 09:32] q2515045 opened #773 "Failed to deserialize data of EventHeaderV4"
**Describe the bug**
When multiple Flink CDCs synchronize the same MySQL database instance at the same time, this error is most likely to occur if the database is updated with large transaction data (one transaction updates or inserts millions or tens of millions of data).

An attempt has been made and "set global slave_net_timeout = 120; " cannot resolve this issue
and
set global thread_pool_idle

[2022-01-05 12:48] mincwang commented on #460
@leonardBang we also have this problems， could you have time to fix it  @leonardBang

[2022-01-05 12:55] mincwang commented on #460
It looks like this  https://issues.redhat.com/browse/DBZ-3848?jql=text%20~%20%22ArrayIndexOutOfBoundsException%22

[2022-01-06 02:08] leonardBang commented on #619
another instance https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=835&view=logs&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53

[2022-01-06 02:43] GOODBOY008 opened #775 "[sqlserver-connector] add e2e test."
SqlServer-connector should add e2e test.

[2022-01-06 03:15] xiaokai3006 commented on #704
我也遇到了这个bug，请问您现在解决了吗

[2022-01-06 08:48] xiaoshijiang523 commented on #773
I also encountered this problem. After I upgraded the version to 2.10, the problem disappeared.

[2022-01-06 08:54] walkhan opened #779 "flink cdc 数据同步作业无法提交（standalone）"
WARN  org.apache.flink.table.client.cli.CliClient                  [] - Could not execute SQL statement.
org.apache.flink.table.client.gateway.SqlExecutionException: Could not execute SQL statement.
        at org.apache.flink.table.client.gateway.local.LocalExecutor.executeModifyOperations(LocalExecutor.java:228) ~[flink-sql-client_2.12-1.13.3.jar:1.13.3]
        at org.apache.flink.table.client.

[2022-01-06 09:58] leonardBang commented on #724
I post the design document here,  [API design]( https://docs.google.com/document/d/1XVS6opo8adTqJK3KiJibKXjloKB_hW22PBNzvHRa0GU/edit#heading=h.y0mtz6aggfrd)

[2022-01-06 09:59] leonardBang commented on #513
I post the design document here,   [API design]( https://docs.google.com/document/d/1XVS6opo8adTqJK3KiJibKXjloKB_hW22PBNzvHRa0GU/edit#heading=h.y0mtz6aggfrd), feel free to comment.

[2022-01-07 02:32] GOODBOY008 opened #781 "[deprecated api] TableSchema is deprecated,use ResolvedSchema instead."
**Additional Description**
`TableSchema` is deprecated,use `ResolvedSchema` instead.

[2022-01-07 04:08] Juneryang commented on #513
+1

[2022-01-07 06:27] zhilinli123 commented on #104
May I ask if this problem had better be solved?

[2022-01-07 06:28] zhilinli123 commented on #104
Has this problem been solved at last？

[2022-01-07 06:36] William-Kaiser commented on #104
solved&nbsp;

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年1月7日(星期五) 下午2:28
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [ververica/flink-cdc-connectors] postgresql cdc 报错TimeoutException: Heartbeat of TaskManager with id timed out. (#104)

Has this problem been solved at last？

—
Reply to this email directly, view it on GitHub, or un

[2022-01-07 07:32] zhongqishang opened #784 "Snapshot data and incremental data in the merge phase, data loss."
**Describe the bug**
Snapshot data and incremental data in the merge phase, data loss.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.1.1
 - Database and version:  mysql 5.7.36, docker image: debezium/example-mysql:1.6

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data : via datagen generate 1~20000
2. The test code :
[code]
3. The error :
datagen.txt only

[2022-01-07 11:14] zhilinli123 commented on #104
Excuse me you this problem is how to solve can you see say briefly?

[2022-01-07 11:22] zhilinli123 opened #785 "Caused by: akka.pattern.AskTimeoutException: Ask timed out on [Actor[akka.tcp://flink@bj-spark005.cn:20924/user/rpc/taskmanager_0#199741838]] after [10000 ms]. Message of type [org.apache.flink.runtime.rpc.messages.RemoteRpcInvocation]. A typical reason for `AskTimeoutException` is that the recipient actor didn't send a reply."
flink1.13 cdc 2.0.2
org.apache.flink.runtime.JobException: Recovery is suppressed by FixedDelayRestartBackoffTimeStrategy(maxNumberRestartAttempts=3, backoffTimeMS=2000)
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.handleFailure(ExecutionFailureHandler.java:138)
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.getFailureHandli

[2022-01-07 13:01] dutao1 opened #786 "When can CDC support for speical table read snapshot and latest only"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-01-08 00:51] dutao1 commented on #786
When can support  for speical table read  snapshot  and latest only 。

Chinese: 什么时候可以支持 指定部分表做全量+增量，部分表做增量，部分表只做全量？

因为有很多场景 需要重刷数据；但是只刷部分表数据，其他表需要正常拉取。
辛苦解答！

[2022-01-08 07:25] dota17 commented on #735
Log4j的 CVE漏洞 CVE-2021-45105 什么时候修复？这也是一个严重漏洞
期望升级到log4j 2.17.1并发新版本解决

[2022-01-08 15:32] leonardBang commented on #735
Flink CDC 不会打包log4j, 理论上并不存在该问题

[2022-01-09 06:08] leonardBang opened #787 "[tidb] Use Incremental Snapshot Framework for TiDB CDC Connector"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-01-09 06:09] leonardBang commented on #787
#724

[2022-01-09 15:15] zhijiansd opened #788 "flink-sql-connector-postgres-cdc-2.1.1 java.net.SocketTimeoutException: connect timed out"
**Describe the bug**
flink-sql-connector-postgres-cdc  java.net.SocketTimeoutException: connect timed out

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:  2.1.1
 - Database and version: 12.9

**To Reproduce**
Steps to reproduce the behavior:
1. The test code :
[code]
2. The error :
[code]

**Additional Description**
[code]

[2022-01-10 02:04] 1105220927 opened #789 "flink-cdc binlog不消费"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3  standalone
 - Flink CDC version: 1.4.0
 - Database and version:  mysql 5.7.17

1. 任务运行过程中发生task manager FullGC( full gc时间较长，40+s ) ，进而导致任务失败重启，自动重启之后就不再继续消费binlog。
2. 重新通过checkpoint手动重启，仍然无法继续消费binlog
3. 手动不通过checkpoint重启，任务可以继续消费binlog

根据现象感觉似乎是因为tm失联之后，触发了什么bug，导致checkpoint也有问

[2022-01-10 03:33] YesOrNo828 commented on #786
#513  应该与这个issue相关，社区正在做了，已经提了相关[pr](https://github.com/ververica/flink-cdc-connectors/pull/777)

[2022-01-10 09:31] luoyuxia commented on #701
@dingyang0519 Thanks very much, would you like to open a pr for it? We'll really appreciate that.

[2022-01-10 09:40] luoyuxia commented on #702
@dingyang0519 Thanks very much for reporting it. Would you like to open a pr for it? We'll really appreciate that.

[2022-01-10 10:04] luoyuxia opened #790 "Add document for oracle multi-tenant database"
**Is your feature request related to a problem? Please describe.**
In production mode, the oracle multi-tenant database is widely used, but there's no document to instuct how to configure for it in Flink cdc.

**Describe the solution you'd like**
Add document for oracle multi-tenant database

**Describe alternatives you've considered**
no

[2022-01-10 10:04] luoyuxia commented on #790
I will open a pr as soon as possible.

[2022-01-11 02:32] #770 closed

[2022-01-11 03:07] haozhiyu commented on #766
HI Leonard,

So it looks like the Windows aggregation functions are not allowed when dealing debezium-json format because it contains some update and delete events,right? This is frustrating...

[2022-01-11 13:43] bobby-richard-sed commented on #699
I would like to see this functionality as well. I sent PR a while back, but it was never merged https://github.com/ververica/flink-cdc-connectors/pull/475. I'm happy to fix the merge conflicts if it will be merged.

[2022-01-11 13:44] samuelyyl commented on #699
来信已收到~                叶运隆

[2022-01-11 13:45] bobby-richard commented on #699
I would love to see this functionality as well. I sent this PR https://github.com/ververica/flink-cdc-connectors/pull/475, but it was never merged. I'm happy to fix the merge conflicts if it will be merged.

[2022-01-12 08:17] slashchenxiaojun commented on #558
@yuangjiang Dear my friend, according to your description there's not a bug.
according to dbz doc, your will see the paramter
![image](https://user-images.githubusercontent.com/10084320/149088651-985927c1-8534-4788-abff-635646fa71e9.png)
when log.mining.strategy = online_catalog that means the logminer will capture faster but at the expense that DDL changes cannot be tracked, and I tested as same

[2022-01-13 03:08] sunfu103 opened #795 "ddl support"
什么时候支持ddl？
上游数据源schema修改
flink-cdc可以自动修复下游动态表schema

[2022-01-13 03:39] zhangyuanyin opened #796 "支持 hbase wal 日志同步功能"
是否有计划支持 hbase 作为source，读取 wal 同步到其他组件中？

[2022-01-13 18:47] zuoshoudao opened #797 "Flink Sql Mongo 使用的版本是2.1.1 执行同步mongo数据 ,控制台报错: java.lang.ClassCastException: com.ververica.cdc.connectors.mongodb.internal.MongoDBConnectorSourceConnector cannot be cast to com.ververica.cdc.connectors.shaded.org.apache.kafka.connect.source.SourceConnector at io.debezium.embedded.EmbeddedEngine.run(EmbeddedEngine.java:668) [flink-sql-connector-mysql-cdc-2.1.1.jar:2.1.1] at io.debezium.embedded.ConvertingEngineBuilder$2.run(ConvertingEngineBuilder.java:188) [flink-sql-connector-mysql-cdc-2.1.1.jar:2.1.1] at java.util.concurrent.ThreadPoolExecutor.runWorker(ThreadPoolExecutor.java:1149) [?:1.8.0_281] at java.util.concurrent.ThreadPoolExecutor$Worker.run(ThreadPoolExecutor.java:624) [?:1.8.0_281] at java.lang.Thread.run(Thread.java:748) [?:1.8.0_281]"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

[2022-01-13 22:54] #314 closed

[2022-01-14 01:33] 260998215 commented on #691
请问解决了吗，我也遇到这个问题

[2022-01-14 02:06] vrhappy commented on #759
flinkcdc:2.1.1
flink:1.13.5
也遇到同样的问题，MySQL到MySQL同步过程中出现OOM flink挂到的情况。

[2022-01-14 02:27] guixin opened #798 "CDC Stream API deserialize column type like `bigint(20) unsigned` Covert to wrong type"
**Describe the bug**
my table defined some column type like `bigint(20) unsigned`. I got wrong value by JsonDebeziumDeserializationSchema

**Environment :**
 - Flink version :  flink 1.13
 - Flink CDC version:  2.2-snapshot
 - Database and version: mysql 5.7

**To Reproduce**
use com.ververica.cdc.connectors.mysql.source.MySqlSource to build source

**Additional Description**
If applicable, add sc

[2022-01-14 02:37] zuoshoudao commented on #797
问题找到了,依赖中有flink cdc mysql所以才会报错

[2022-01-14 02:37] #797 closed

[2022-01-14 02:38] guixin commented on #798
Hi, @leonardBang, i want to fix it

[2022-01-14 03:22] snycc15 commented on #222
For some requirements, Ogg tools have been clearly used, so it is also necessary to consider being able to directly connect to Ogg

[2022-01-15 05:58] yaoboxu commented on #798
case BIGINT_UNSIGNED:
                return DataTypes.DECIMAL(20, 0);

IN CDC SOURCE CODE DESCRIBE

[2022-01-17 03:42] mofadeyunduo opened #802 "MongoDB 支持 Raw 类型"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
MongoDB 是一个不强类型的语言，有的时候一个字段可能有多个类型，这个时候定义成任何类型都会报错。比如字段 A 可以存 String 和 Document，这个时候按照 MongoDB CDC 手册上无法定义这个类型，目前我看 RAW 类型是不支持的。

**Describe the solution you'd like**
A clear and concise description of what you want to happen.
需要 RAW 类型，当做

[2022-01-17 06:23] cheng66551 opened #803 "ORA-27102: out of memory"
Using Flink Oracle CDC version 2.1.0, an Oracle memory overflow problem occurred after the program had been running for some time. Details are as follows :

[code]

How to solve it?

[2022-01-17 08:12] camelus0211 commented on #641
At present, i investigated two options: one add the heartbeat table of the subscription table, and send data to the heartbeat table regularly to achieve the logic of gtid heartbeat; the other is to monitor the binlog full table events in real time at the bottom layer, and update the latest gtid as heartbeat logic.
@leonardBang Do you have any other suggestions? thanks.

[2022-01-18 02:37] waywtdcc commented on #723
When is the version 2.2 planned to be officially released?

[2022-01-18 03:52] walkhan opened #808 "Flink mysql CDC 实时同步数据丢失"
2022-01-18 11:43:38
java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:223)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.pollNext(S

[2022-01-18 05:51] a120610114 opened #809 "Flink CDC2.1.1 varchar类型主键大表数据同步速度很慢的问题"
Flink cdc 目前针对varchar类型主键 的大表同步，速率非常缓慢 详情可以看看 Flink-cdc 的 Discussions
[https://github.com/ververica/flink-cdc-connectors/discussions/801](url)

[2022-01-18 08:07] guixin commented on #798
add debeziumProperties `bigint.unsigned.handling.mode = long` can fixed it;

- exmaple

[code]

default bigint.unsigned.handling.mode configure is precise. it will set column type is bytes, so JsonDebeziumDeserializationSchema class deserialize wrong.

![image](https://user-images.githubusercontent.com/9494454/149895692-939dd7db-817e-48ff-a4e5-030f90910a04.png)
![image](https://user-images.githubu

[2022-01-18 09:13] wuchong commented on #798
I think it's also fine to introduce `bigint.unsigned.handling.mode` option for mysql cdc connector.
cc @fsk119

[2022-01-18 11:18] cheng66551 commented on #803
I found that LOGMNR is turned on for each loop and only turned off when the log is archived.  This problem occurs if the log remains unarchived because the table data has not changed.  Why not turn on LOGMNR logic outside the while loop?

LogMinerStreamingChangeEventSource

[code]

[2022-01-18 11:54] leonardBang commented on #641
@camelus0211  Thanks for your investigation very much,  the later one is more graceful, I think we can use the heartbeat event from underlying debeizum reader. Could you check `EventDispatcher#dispatchHeartbeatEvent()` in `MySqlBinlogSplitReadTask` and `MySqlStreamingChangeEventSource`?

[2022-01-18 13:36] leonardBang opened #813 "[test] PostgresE2eITCase#testPostgresCDC failed"
The failed instance https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=892&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[code]

[2022-01-18 13:38] leonardBang commented on #808
Could you offer more detail like the issue template list @walkhan ?

[2022-01-19 05:46] #803 closed

[2022-01-19 07:04] xiaoyu19950911 opened #814 "全量增量同步切换时在某些并发场景下会导致数据重复和落后"
**Describe the bug**
数据在进行全量同步时，假设正在同步chunk_0[<1,v1>,<2,v2>,<3,v3>]，同步前记录low_watermark，同步后记录high_watermark，high_watermark记录完后立即update id=2的数据为<2,v2_after>，此时结果表会出现两条<2,v2>的数据，update id=3的数据为<3,v3_after>，此时结果表出现<3,v3_after>，只有重新update id=2的数据为<2,v2_after_after>后，结果表才会出现<2,v2_after>，id=2这条记录始终落后一条binlog数据

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.1
 - Database and version:

[2022-01-19 07:10] cheng66551 opened #815 "Flink Oracle CDC ORA-27102: out of memory"
Using Flink Oracle CDC version 2.1.0, an Oracle memory overflow problem occurred after the program had been running for some time. Details are as follows :

[code]

I found that LOGMNR is turned on for every loop except for log archiving, and that it takes up PGA memory every time LOGMNR is turned on.
This problem eventually occurs if the logs remain unarchived because the table data has not chang

[2022-01-19 07:32] #814 closed

[2022-01-19 15:32] littleforce163 commented on #808
请描述一下环境和现象，数据丢失是很严重的问题，谢谢

[2022-01-20 02:24] ashulin commented on #674
I have the same requirement，maybe we can add a 'connection.pool.url.*' options similar to 'debezium.*';

[2022-01-20 03:19] camelus0211 commented on #641
thanks, i will check it.

[2022-01-20 06:59] wanghaininggg commented on #759
+1 同样的问题

[2022-01-20 06:59] wanghaininggg commented on #759
+1 同样的问题

[2022-01-20 07:06] zhjwpku commented on #795
这个如果使用 Stream API 的话是已经支持了的，`includeSchemaChanges` 置为 true 可以保证数据流中包含 DDL，可以在 stream job 中进行相应处理。

[2022-01-20 07:20] zhjwpku opened #816 "Add a new startup mode that only do the snapshot phase"
**Is your feature request related to a problem? Please describe.**

Some one may only want the snapshot phase, not consuming the binlog.

It is important that to make sure that after the job is done, it should
be consistent with the source db, which means the sink side database
reflect a point-in-time of the source db.

**Describe the solution you'd like**
A clear and concise description of what y

[2022-01-20 07:55] imkew opened #817 "flinkSQL-CDC configuration item"
I would like to set some parameters in the flinkSQL-CDC configuration item, such as reading from the latest position of binglog, etc. Where can I find these similar parameter configurations @leonardBang

[2022-01-20 08:16] imkew commented on #817
I'm sorry, I found it

[2022-01-20 08:16] #817 closed

[2022-01-20 08:57] daniuEvan commented on #745
Support Scala 2.12 please.

[2022-01-20 09:33] imkew opened #820 "Connector Options"
When I read a shared database  that contains multiple tables, How do I set up to determine which table the data is from?

[2022-01-20 16:00] #88 closed

[2022-01-21 02:04] rookiegao commented on #820
Can I understand that you want metadata information? For example, table name?

Here is an official case:

[code]

For more information, refer to

[MySQL CDC Connector](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/connectors/mysql-cdc.html)

I hope this will help you.

[2022-01-21 02:59] imkew commented on #820
Thank you very much This is what I want.In addition, can flinksql-cdc get the operator, such as '-U' '+U' '-D' '+I'

Thank you very much This is what I want.In addition, can flinksql-cdc get the operator, such as '-U' '+U' '-D' '+I'

Thank you very much This is what I want.In addition, can flinksql-cdc get the operator, such as '-U' '+U' '-D' '+I'

[2022-01-21 03:00] imkew commented on #820
Thank you very much This is what I want.In addition, can flinksql-cdc get the operator, such as '-U' '+U' '-D' '+I'

[2022-01-21 03:42] GOODBOY008 opened #821 "Support Cassandra connector."
I want to know what about flink-cdc-connectors support Cassandra? Welcome to append your idea in this issue.

[2022-01-21 03:42] imkew commented on #820
`+--------+
| result |
+--------+
|     OK |
+--------+
1 row in set
Exception in thread "main" org.apache.flink.table.api.ValidationException: Table 'MySQL-CDC' declares metadata columns, but the underlying DynamicTableSource doesn't implement the SupportsReadingMetadata interface. Therefore, metadata cannot be read from the given source.
	at org.apache.flink.table.planner.connectors.DynamicSourc

[2022-01-21 07:34] rookiegao commented on #820
According to the document, the current SQL method does not seem to support obtaining specific operation types. You might as well create an issues? At the same time, you can try to improve it.

[2022-01-21 07:38] wangyusong001 commented on #513
+1+1

[2022-01-21 09:02] weilingfeng98 opened #823 "我使用1.13.5版本的standalone启动，加入clickhouse-jdbc之后，找不到jdbc驱动"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.3.5
 - Flink CDC version: 2.1.0
 - Database and version: 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :

    `user_id` BIGINT,
    `nick_name` STRING,
    `user_name` STRING,
	`dept_id` BIGINT,
    PRIMARY KEY (`user_id`) NOT ENFORCED
) WITH (
   'connector'

[2022-01-21 09:22] nayoaixgnat commented on #672
我也遇到了同样问题，解决了么

[2022-01-21 09:38] nayoaixgnat commented on #672
我也出现了同样的问题，已经解决，原因是我的工程里同时还有2.0.0的mysql-connector，有冲突，去掉mysql或者把mysql-connector的版本升到和orcale-connector版本相同，问题就解决了。

[2022-01-21 10:27] TYangXiaoChen opened #824 "Oracle Logminer 正常输出数据 异常关闭"
**Describe the bug**
A clear and concise description of what the bug is.

监控Oracle Logminer 正常输出  初始化数据后，程序异常关闭

报错：
Caused by: java.lang.IllegalStateException: Retrieve schema history failed, the schema records for engine 90d183a3-f783-4ed3-bd07-e3d807ca8bb5 has been removed, this might because the debezium engine has been shutdown due to other errors.

**Environment :**
 - Flink version :  1.13.

[2022-01-21 12:20] rookiegao commented on #795
SQL 方式自动同步 schema 由云邪老师带领的团队开发过了，但尚未开源，目前只能自己通过Stream API 来解决。

[2022-01-23 06:32] luguanxing opened #825 "能否支持数据同步相关的监控metrics"
背景：
同步cdc数据时，需要监控binlog落后情况，目前是手动解析获取数据里面的eventTs作监控指标，比较麻烦且对于目标表如果是非连续数据会隔一段时间才更新eventTs

需求：
1.能否提供直接对接promethues的metrics监控数据，不需要代码层面手动从数据中获取eventTs
2.能否提供相对于整个数据库的延迟（不仅只对于需要目标表的）监控，能更准确监控同步延迟的落后情况

[2022-01-23 09:35] luguanxing commented on #513
[+10086](https://github.com/ververica/flink-cdc-connectors/issues/258)

[2022-01-24 02:27] a120610114 opened #826 "Flink CDC2.1.1 varchar类型主键大表数据同步速度很慢的问题"
### Discussed in https://github.com/ververica/flink-cdc-connectors/discussions/801

<div type='discussions-op-text'>

<sup>Originally posted by **a120610114** January 14, 2022</sup>
在使用FlinkCDC2.1.1 版本进行数据同步的时候我发现对于主键是varchar类型的大表数据（大约3000w左右的数据）数据同步非常慢，而且还经常报错。在查看日志的时候发现了这样的日志
`fb72562c-845f-11ea-88a6-b8599fe5d1ea:1-244504311, row=0, event=0} for split MySqlSnapshotSplit{tableId=wxqyh_learnonline

[2022-01-24 02:28] a120610114 commented on #826
assign to me @leonardBang

[2022-01-24 02:28] #809 closed

[2022-01-24 02:30] snycc15 opened #827 "support ogg?"
For some requirements, Ogg tools have been clearly used, so it is also necessary to consider being able to directly connect to Ogg

[2022-01-24 06:14] Capri0110 opened #828 "2.1.1 MysqlSource startup option 启动项"
看到 2.1.1 目前 startup options 只支持设置 initial / latest_offset，
在2.2 road map 里未看到相关规划
想问下 目前是否有规划支持其他 startupMode 语义？
 （这对于我们从某一个状态开始启动/重启 对mysql实例的实时同步抽数非常有帮助）

[2022-01-24 09:18] obobj opened #830 "No TableMapEventData has been found for table id:816. Usually that means that you have started reading binary log 'within the logical event group' (e.g. from WRITE_ROWS and not proceeding TABLE_MAP"
**Describe the bug**
[code]
![image](https://user-images.githubusercontent.com/15715341/150754637-09a94e84-d0ee-4a73-9a9a-5b3a96683126.png)
Flink程序不停的重启但是数据仍然在读取，发现好像有修复过[#432](https://github.com/ververica/flink-cdc-connectors/issues/432)，但是不太清楚是不是同样的问题

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:  2.2-SNAPSHOT
 - Database and version: Mysql 5.6

[2022-01-24 11:35] hebeichegu commented on #610
2.1.1 still has this issue.
Does 2.1.1 not support Flink 1.14 yet?

[2022-01-25 08:56] hzh2955 commented on #816
This features is also needed here

[2022-01-25 09:05] DKfengyi commented on #355
+1

[2022-01-25 10:56] sunny1901 opened #832 "NoSuchMethodError: org.apache.flink.api.connector.source.SourceReaderContext.metricGroup()Lorg/apache/flink/metrics/MetricGroup;"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.1.1
 - Database and version: mysql8

**Additional Description**
2022-01-25 18:56:09
java.lang.NoSuchMethodError: org.apache.flink.api.connector.source.SourceReaderContext.metricGroup()Lorg/apache/flink/metrics/MetricGroup;
	at com.ververica.cdc.connectors.m

[2022-01-26 04:41] sap1ens commented on #746
Duplicate: https://github.com/ververica/flink-cdc-connectors/issues/478

[2022-01-26 07:26] paul8263 commented on #832
Hi @sunny1901 ,
Currently it does not support Flink 1.14.2. Please try 1.13.* .

[2022-01-26 07:50] spongebobZ opened #833 "option 'debezium.column.include.list' does not effect"
**Describe the bug**
option 'debezium.column.include.list' does not effect. I captured table T0 that contains column 'A,B,C,D' and set debezium.column.include.list as 'A,B,C'. But I received cdc message when I change column D.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.1.1
 - Database and version: 11g

[2022-01-26 08:05] paul8263 commented on #729
Hi @wjshean ,
Could you get the data before change if you print the table cdc_test?

[2022-01-26 08:33] platypus0127 opened #834 "初始化无法读取历史数据 StartupOptions.initial()"
StartupOptions.initial()  ，为什么我的这个参数无效，无法同步表里的历史数据，能够同步binlog里的数据。 initial()的解释是会先同步JDBC查询mysql表里的数据，同步完成后会同步binlog的数据， flink版本：1.13.2  flinkcdc:2.1.0 ,源是mysql。

代码：

[code]

[2022-01-26 09:44] wang-xiaowu commented on #435
[不知道这篇文章能否帮助到你](https://my.oschina.net/wangxiaowu/blog/5415610)

[2022-01-26 10:17] lidong2021 commented on #824
i'v the same problem,have you solved it?

[2022-01-27 02:33] melin commented on #723
Debezium version upgrade， 1.8

[2022-01-27 03:09] paul8263 commented on #813
It seems that the actual data is the same as the one before changed. It's strange.

[2022-01-27 03:30] paul8263 commented on #708
Hi @whhpc19891120 ,
Which version of Oracle and Mysql CDC did you use?

[2022-01-27 03:31] whhpc19891120 commented on #708
这是来自QQ邮箱的假期自动回复邮件。
 
您好邮件已收到~查阅后会尽快回复~O(∩_∩)O谢谢~

[2022-01-27 03:46] EcoleKeine commented on #88
Why sqlserver's version is limited to 14 and 15?
I try edited to support v13, no error.

`if (metaData.getDatabaseMajorVersion() != 14 && metaData.getDatabaseMajorVersion() != 15)`
[source code](https://github.com/ververica/flink-cdc-connectors/blob/5511904b622e6904c5b4f36a78f9ef982b527727/flink-connector-sqlserver-cdc/src/main/java/com/ververica/cdc/connectors/sqlserver/SqlServerValidator.java#L7

[2022-01-27 03:52] Capri0110 commented on #834
tableList("metastore.PARTITIONS,test_db_1.user_1")

try to separate tableList also with format <String...>

[2022-01-28 05:40] spongebobZ opened #838 "Add support of connecting to oracle with serviceName"
Add support of connecting to oracle with serviceName.

Currently the oracle cdc connector can only connect to oracle with SID but nowadays more and more companies use serviceName instead of SID.

[2022-01-28 08:31] #833 closed

[2022-01-28 09:26] spongebobZ opened #839 "Failed to connect to oracle 19c"
**Describe the bug**
Failed to connect to oracle 19c and it returned  "CONTINOUS_MINE is desupported for use with DBMS_LOGMNR.START_LOGMNR."

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.1.1
 - Database and version: oracle 19c

[2022-01-31 09:07] #839 closed

[2022-01-31 09:08] spongebobZ commented on #839
please do not use debezium.log.mining.continuous.mine option when connect to oracle 12c or laster versions.

[2022-02-04 03:41] camelus0211 commented on #825
![image](https://user-images.githubusercontent.com/44798441/152467995-7ce158fb-fd5a-4a5a-9438-bddfe82df193.png)
https://github.com/ververica/flink-cdc-connectors/blob/master/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/metrics/MySqlSourceReaderMetrics.java
cdc目前支持了订阅表fetchtime/eventtime等事件

[2022-02-07 11:33] zjp123456 commented on #709
同样遇到这个问题，目前有解法了吗？

[2022-02-08 02:37] zhjwpku commented on #731
After some investigation, I found `assignedSplits` and `splitFinishedOffsets ` data structure should not be changed, because if the parallism changes,  the number of SourceReader is different, thus the subtaskId may not reflect the previous SourceReader.

[2022-02-08 07:31] #820 closed

[2022-02-09 09:14] zhjwpku opened #840 "[mysql] change the CREATE record to READ record in upsertBinlog"
**Is your feature request related to a problem? Please describe.**

In our work scenario, we want to make some distinction of the Snapshot record
and the Binlog record, but since the `upsertBinlog` logic but the `CREATE` binlog
record directly to the normalizedRecords, so there will be some `CREATE` record
for the Snapshot phase, we hope to make all the Snapshot record has the 'READ'
Operation.

*

[2022-02-09 09:17] wo8000 opened #841 "Flink CDC2.1.0版本部署在flink1.14版本里报找不到类org.apache.flink.shaded.guava18.com.google.common.util.concurrent.ThreadFactoryBuilder"
**Describe the bug*
flink 部署集群模式，
java.lang.ClassNotFoundException: org.apache.flink.shaded.guava18.com.google.common.util.concurrent.ThreadFactoryBuilder

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.1.0
 - Database and version: mysql 5.8

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
![i

[2022-02-09 09:46] qixurulin opened #843 "为什么2.2不支持SQLServer2016以下版本?比如2014?"
不是所有人都在用这么高的版本啊

[2022-02-09 09:50] qixurulin commented on #841
貌似现在只支持到1.13,下个版本才支持1.14

[2022-02-09 09:56] oulexue commented on #151
如何通过sql实现呢？

[2022-02-09 11:48] mohanr opened #844 "Design Documentation"
I was looking for a consolidated list of features and found this.

Thus, Flink SQL collection, computing, and ETL can be unified, which has the following advantages:

Small end-to-end latency
Exactly-once guarantee for read and compute
No data storage and lower storage costs
Stream reading of full and incremental data supported
Backtracking of Binlog collection site

The documentation for this is

[2022-02-10 03:38] q2515045 commented on #773
Thank you for your valuable information

[2022-02-10 03:40] q2515045 commented on #773
I will try to upgrade the version, observe the production service and feed back the results

[2022-02-10 06:48] eastfisher commented on #355
Will it support full and incremental migration?

[2022-02-10 06:52] eastfisher commented on #795
是指阿里云Flink的CDAS和CTAS吗？可以支持gh-ost相关DDL，以及下游为MySQL / TiDB么？

[2022-02-10 08:16] dcxiaolou commented on #546
Flink supports to start the job with specified savepoint. In SQL Client, it’s allowed to use SET command to specify the path of the savepoint.
`Flink SQL> SET execution.savepoint.path=/tmp/flink-savepoints/savepoint-cca7bc-bb1e257f0dab;`
ref: https://nightlies.apache.org/flink/flink-docs-release-1.13/zh/docs/dev/table/sqlclient/#start-a-sql-job-from-a-savepoint

[2022-02-10 08:56] waywtdcc commented on #821
It's ok

[2022-02-10 09:12] nayoaixgnat opened #845 "gtid没有生效"
在使用cdc的stream api的过程中遇到了报错：

io.debezium.DebeziumException: The connector is trying to read binlog starting at SourceInfo [currentGtid=null, currentBinlogFilename=mysql-bin.004498, currentBinlogPosition=7859643, currentRowNumber=0, serverId=0, sourceTime=null, threadId=-1, currentQuery=null, tableIds=[], databaseName=null], but this is no longer available on the server. Reconfigure the connector t

[2022-02-10 09:40] jinghewang commented on #795
这个功能很重要，现在主流的数据湖工具都已经支持了，希望可以开源，尽快加入。

[2022-02-10 09:57] guixin commented on #845
hi，可以看下是不是 「currentBinlogFilename=mysql-bin.004498」这个 file 是不是已经不存在了？在 mysql 里执行 `show binary logs`

[2022-02-11 02:39] nayoaixgnat commented on #845
现在确实查不到了这个，但是我这mysql应该是进行过主备切换，binlog应该是不一样了，正常来说cdc不是已经支持了gtid点位么，但是我这报错看起来没有使用gtid啊

[2022-02-11 02:49] guixin commented on #845
@nayoaixgnat 主从切换后，恢复时有个bug，有同学已经提 mr 修复了，MR 地址 https://github.com/ververica/flink-cdc-connectors/pull/761

[2022-02-11 02:52] guixin commented on #845
cdc 是支持 gtid 恢复，但是恢复前优先判断了 binlog file，请等待 master 更新。目前遇到这个问题需要重新 snapshot 来重启作业

[2022-02-11 06:22] huangxianxin commented on #197
一样的场景，我也碰到了

[2022-02-11 06:42] boenxu2 opened #847 "flinksql模式下怎么拿到mysql binlog里的operation和beforedata？"
flinksql模式下怎么拿到binlog里的operation和beforedata，operation如数据是insert，update还是delete；beforedata如operation是update时，输出数据既能显示更新后的数据，也会输出更新前的数据。

[2022-02-11 07:09] camelus0211 commented on #641
I post the design document here, [API design](https://docs.google.com/document/d/1XVS6opo8adTqJK3KiJibKXjloKB_hW22PBNzvHRa0GU/edit#heading=h.259eqklad6hn), feel free to comment.
@leonardBang thanks.

[2022-02-11 08:44] dutao1 commented on #786
Thanks!

[2022-02-11 09:41] guixin commented on #847
在 Table API 转 Stream API 模式下可以拿到 row 信息，知道当前数据是什么事件类型（delete, insert, update_before, update_after）。目前 Flink SQL 应该没有提供操作类型的 METADATA

[2022-02-11 10:47] mabiao17921 opened #850 "能否指定全量同步不同表时,同步的先后顺序"
cdc版本：2.11
使用：datastream
场景: 使用cdc监听两张mysql表,  表A 和 表B .   两张表的DateStream进行 connect 操作.
         正常业务逻辑是先消费A表,将主键信息存储在状态中,然后根据状态过滤B表的数据.

问题: 当CDC先全量同步A在全量同步B ,逻辑正常.  先全量同步B,在全量同步A,因为状态中缺少数据就会造成  业务上的 过滤异常

能否指定全量同步不同表的 先后顺序.
( 我自测 MySqlSource.<String>builder().tableList("A,B")   中的顺序不影响 全量同步的顺序,而是根据字典顺序)

[2022-02-11 15:58] leonardBang commented on #641
The design makes sense to me @camelus0211 , please open the PR and we can discuss under the PR later.

[2022-02-11 17:24] EcoleKeine commented on #843
可能是coder没有测过吧
我试着改了版本限制，简单跑了下好像没有问题
https://github.com/ververica/flink-cdc-connectors/issues/88#issuecomment-1022820041

[2022-02-12 01:16] zhjwpku opened #851 "[mysql] Use Incremental Snapshot Framework for MySql CDC Connector"
**Is your feature request related to a problem? Please describe.**

Adapte MySql CDC Connector to the abstraction framework of #724

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-02-12 01:19] zhjwpku commented on #851
Hi @leonardBang, please assign me to this issue, I'll help to adapt the MySql CDC Connector to the Incremental Snapshot Framework.

[2022-02-12 03:29] leonardBang commented on #851
Thanks for picking up this ticket, assigned this ticket to you @zhjwpku

[2022-02-13 03:33] #845 closed

[2022-02-14 03:18] leonardBang opened #854 "[doc] Add connection.pool.size and connect.max-retries option in mysql document"
We missed document when introduced mysql connection pool in https://github.com/ververica/flink-cdc-connectors/pull/534, we should add the introduced configuration options in document.

[2022-02-14 03:49] leonardBang commented on #844
Nice insight @mohanr ！ Currently our documentation focuses on technical details and does not list the pros and cons that users consider when choosing a project. I think we can open a new chapter to document the advantages of Flink CDC Connector and the advantages of combining Flink SQL.

[2022-02-14 04:00] wuchong commented on #844
Good point! I think we need to highlight the advantages in the home page. Do you want to contribute the documentation?

[2022-02-14 04:24] eastfisher commented on #854
please assign to me

[2022-02-14 04:25] leonardBang commented on #854
Thanks for taking this issue @eastfisher, assigned to you.

[2022-02-14 06:30] #513 closed

[2022-02-15 01:41] eastfisher commented on #854
Hi, I've submitted a PR #857 to fix this issue, please take a look. ^_^

[2022-02-15 02:35] fuyun2024 commented on #850
建议你可以把 B 表变成主表， A 表变成广播流的方式，然后在广播流算子中做逻辑判断，如果 B 表的数据来到了，没有发现 A 中的状态，就把 B 表的数据存储到状态中，等发现 A 表的数据来后，再刷新历史状态中的数据。

[2022-02-15 02:45] #854 closed

[2022-02-15 10:13] teckick opened #859 "use bot to simplify patch to release branch operations"
**Is your feature request related to a problem? Please describe.**

flink-cdc has several release git branches, such as release-2.1, release-2.0. When merging a new PR into master, we have to repeat the PR into these release branches using git cherry-pick command. This operation can be automatically done by bot like [cherry-bot](https://github.com/tidb-incubator/cherry-bot).

**Describe the soluti

[2022-02-15 11:38] mohanr commented on #844
I am beginning to look at Flink. If I locate some benchmarks and test code I can try.

[2022-02-16 02:43] #790 closed

[2022-02-16 03:01] dutao1 opened #862 "Oracle CDC --logminer ERROR ORA-01403: 未找到任何数据"
我们测试环境oracle 是11g。

我们在测试oracle的cdc；dba相关权限都已经给开通【按照flink-cdc官网提供的】。
但是我们任务报错（dba确认相关权限和文件都正常）：
Caused by: Error : 1403, Position : 0, Sql = BEGIN DBMS_LOGMNR_D.BUILD (options => DBMS_LOGMNR_D.STORE_IN_REDO_LOGS); END;, OriginalSql = BEGIN DBMS_LOGMNR_D.BUILD (options => DBMS_LOGMNR_D.STORE_IN_REDO_LOGS); END;, Error Msg = ORA-01403: 未找到任何数据

但是我们用 kafka的connector 以logminer方式进行测试消费同一个数据库变更日志是正常的，

[2022-02-16 03:28] dailai opened #863 "[Schema Evolution] When flink-cdc supports schema evolution?"
Automatic synchronization after table structure changes

[2022-02-16 05:54] GreeMapengfei opened #864 "flinkcdc1.3 同步mysql造成了 mysql FLUSH TABLES WITH READ LOCK 锁全表问题"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.12.1
 - Flink CDC version: 1.13
 - Database and version:  mysql   5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :  FLUSH TABLES WITH READ LOCK
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your pr

[2022-02-16 08:03] GreeMapengfei commented on #864
![Uploading 29861302d7e1dd55bf690f8543d3084.png…]()

[2022-02-16 08:03] #864 closed

[2022-02-16 08:03] GreeMapengfei commented on #864
debezium.snapshot.locking.mode= none

[2022-02-16 09:01] winskin commented on #709
cdc2.1.1，flink1.13.5

我也报了这个错，我是使用代码连接mysql binlog，通过配置参数多个库（全表），在代码中循环配置从而使得每个库都是一个独立的source，但host都是同一个，猜测是 serverid失效。

经测试发现只要一个host一个source就正常，多个host还没测试。

[2022-02-17 03:37] Grypse commented on #610
2.1.1 also does not support Flink 1.14.

[2022-02-17 03:37] ldwnt commented on #285
你好，请问具体是什么问题，怎么解决的呢

[2022-02-17 05:13] minchowang opened #865 "[mysql] Too many splitInfo cause OOM of jobmanager"
**Describe the bug**

in the issue https://issues.apache.org/jira/browse/FLINK-24855， have some problems when we sync big tables or full database

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.1.1
 - Database and version: mysql-5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :  The data scale more than billion ，and produce more than one hundred thou

[2022-02-17 05:21] mincwang commented on #865
Temporary optimization points:
1.  increase size of `scan.incremental.snapshot.chunk.size = 8096(default)` to 80960 or 809600

[2022-02-17 10:23] miaogr86 commented on #674
![image](https://user-images.githubusercontent.com/5835603/154455981-8bd8dfbb-2059-4b69-88b9-0bcf24851dd8.png)

![image](https://user-images.githubusercontent.com/5835603/154456173-0474c67d-47cc-418b-b62e-a8b6204451f5.png)

@leonardBang 数据库连接地址上增加userSSL=false 可以解决，但是怎么可以增加这个参数

[2022-02-18 03:36] liulpStart opened #866 "MySQL CDC 元数据中op_type怎样获取呢"
**Describe the bug**
A clear and concise description of what the bug is.
MySQL CDC 目前元数据只支持database_name、table_name、op_ts三个字段，想获取数据库的操作类型 op_type，例如 INSERT/DELETE 等

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.1
 - Database and version: mysql5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
tableEnv.executeSql("CREATE TABLE use

[2022-02-18 06:10] miaogr86 commented on #759
试试把mysql驱动发到 flink lib目录下

[2022-02-18 06:49] xuwenjie1998 commented on #759
你好，flink 目录下已有mysql的驱动包：mysql-connector-java-8.0.20.jar，版本有要求吗

[2022-02-18 08:07] abovegrd opened #867 "NoClassDefFoundError: com/fasterxml/jackson/databind/ObjectMapper"
**Describe the bug**
A clear and concise description of what the bug is.
Flink-1.13.5版本, 从MySQL同步数据到Kafka中, 执行insert语句时报错.

![lQLPDhspcLYTufzNAuLNBMCwFfVwvf89EX8CFJGm7sDuAA_1216_738](https://user-images.githubusercontent.com/9048966/154642827-9893d5db-9883-4fef-b1da-61a76665d1f3.png)

![lQLPDhspcMMwqNjNAY7NAtewFXd0OrQpY8wCFJG8bMCiAA_727_398](https://user-images.githubusercontent.com/9048966/154642

[2022-02-18 08:34] abovegrd commented on #867
![image](https://user-images.githubusercontent.com/9048966/154645861-4df6567f-8ee0-4650-8830-3aba05f8ce0d.png)

把changelog包更新成新版本后,仍然存在该问题.

[2022-02-18 08:57] leonardBang opened #868 "[common][bug] The 'ts_ms' field in snapshot SourceRecord returns non zero milliseconds"
The 'ts_ms' field in snapshot SourceRecord should return  0L but actual it may return a positive long value.

[2022-02-18 09:15] axplus opened #869 "mysql-cdc表使用varbinary作为主键时报错，请支持该类型"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: mysql-cdc 2.1.1
 - Database and version: mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

[code]

[2022-02-18 09:42] mjp27258 opened #870 "java.lang.NoSuchFieldError: LATENCY_TRACK_STATE_NAME_AS_VARIABLE"
**Describe the bug**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.1.1
 - Database and version: mysql 8.0.1

**To Reproduce**
Steps to reproduce the behavior:
1. flink on yarn per-job : /opt/cloudera/parcels/FLINK/lib/flink/bin/flink run -m yarn-cluster -yjm 1024 -ytm 2048 -yD taskmanager.memory.jvm-overhead.max=1G -yD tas

[2022-02-18 09:48] miaogr86 commented on #759
dump内存快照看看具体什么对象吧

[2022-02-18 11:17] #682 closed

[2022-02-18 12:32] leonardBang opened #875 "[e2e][postgresql] The e2e test PostgresE2eITCase.testPostgresCDC failed in azure CI"
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=979&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2022-02-18 12:57] abovegrd commented on #867
已经解决.
移除了flink-connect-kafka 和 flink-connect-mysql-cdc 两个jar包, 避免了冲突.

![image](https://user-images.githubusercontent.com/9048966/154686344-a14cee59-e623-46b9-8b23-9697a6cc8913.png)

[2022-02-21 07:38] qq443672581 commented on #674
1. 下载对应版本的源码
2. 找到 PooledDataSourceFactory 添加useSSL=false 参数
3. flink-connector-mysql-cdc 模块下 mvn spotless:apply
4. flink-connector-mysql-cdc 模块下 mvn install 替换maven仓库中官方的jar即可

[2022-02-21 08:04] gtk96 opened #876 "[mongo cdc] I hope it can support the reading mode of specified log position"
### Requirement description
Sometimes, we not only want to read the data in the database from the full amount and increment, but also want to specify a specific position to start reading the data, so that we can seamlessly switch with other synchronization tools.

[2022-02-21 09:33] miaogr86 commented on #865
me too @leonardBang

[2022-02-21 09:40] #680 closed

[2022-02-21 16:53] Jiabao-Sun opened #877 "[mongodb] Support MongoDB incremental snapshot."
**Is your feature request related to a problem? Please describe.**
Introduce MongoDBSource implements FLIP-27 Source to support MongoDB parallel snapshot.

[2022-02-22 01:54] GOODBOY008 commented on #843
Hi@qixurulin @EcoleKeine ,Flink cdc connector use embedded debezium engine  as source, just follow db version which debezium offical supported(debezium have pass test).But It does not mean, debezium do not support db version they declare.You can see this discussion [link](https://gitter.im/debezium/user?at=5e72743792063209fed8887a).

[2022-02-22 02:14] rookiegao commented on #828
+1

[2022-02-22 02:18] #868 closed

[2022-02-22 03:02] liulpStart opened #880 "MySQL CDC 元数据中op_type使用SQL语句怎样获取呢"
**Is your feature request related to a problem? Please describe.**
MySQL CDC 目前元数据只支持database_name、table_name、op_ts三个字段，想获取数据库的操作类型 op_type，例如 INSERT/DELETE 等

**Describe the solution you'd like**
**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.1
 - Database and version: mysql5.7
**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
tableEn

[2022-02-22 06:32] #239 closed

[2022-02-22 06:32] #258 closed

[2022-02-22 08:07] rookiegao commented on #880
sql 方式目前不支持获取 op 类型

[2022-02-22 08:10] liulpStart commented on #880
后续版本会增加这个功能嘛

[2022-02-22 08:12] liulpStart commented on #880
后续版本会增加这个功能吗？

[2022-02-22 08:13] liulpStart commented on #880
后续更新的版本会增加这个功能吗？

[2022-02-22 08:15] liulpStart commented on #880
后续更新的版本会增加这个功能吗？

[2022-02-22 08:16] liulpStart commented on #880
@rookiegao 大佬您好，后续更新的版本会增加这个功能吗？

[2022-02-23 05:19] miaogr86 commented on #865
不规则的主键情况下执行
SELECT MAX(`tid`) FROM (SELECT `tid` FROM `sod`.`sod_bill_info` WHERE `tid` >= 59935676 ORDER BY `tid` ASC LIMIT 242880) AS T
非常慢，checkpoint会失败，taskmanager读取数据中断

[2022-02-23 05:34] GOODBOY008 opened #882 "[document] Flink CDC is Compatible with Flink 1.14,document should be updated."
**Is your feature request related to a problem? Please describe.**
Flink CDC is Compatible with Flink 1.14,document should be updated.

[2022-02-23 07:11] mjp27258 commented on #870
Upgrade flink1.13.3,clickhouse-jdbc0.3.1,flink-connector-mysql-cdc2.0.2

[2022-02-23 07:11] #870 closed

[2022-02-23 07:17] JesseAtSZ opened #884 "Is there a problem with our license selection?"
mysql-connector-java, which flink-sql-connector-mysql-cdc relies on, is a GPL license, so should flink-cdc-connectors also be a GPL license?

![image](https://user-images.githubusercontent.com/35264598/155646142-63e413cf-73a9-49f0-a7d1-489bfc906ae0.png)

[2022-02-24 00:08] hsbajwa commented on #882
Hi, when 2.2.* will be available to use?

[2022-02-24 01:37] JesseAtSZ commented on #884
In fact, I mentioned this issue because I was confused about the GPL license, because I found that debezium also relies on mysql, but it is still Apache 2.0 externally. I don't know whether debezium is also wrong to use it in this way.
![image](https://user-images.githubusercontent.com/35264598/155440565-e851f7d5-8cd8-4658-a304-14fdb825a5bf.png)

[2022-02-24 02:26] fsk119 opened #887 "Bump the debezium to the newest version"
There are some important bug fix and features in the debezium community. We'd better to follow up them.

[2022-02-24 03:06] whhe commented on #884
There are FOSS License Exception and Universal FOSS Exception for MySQL Client Libraries. I'm not sure if it applies here.
 https://www.mysql.com/cn/about/legal/licensing/foss-exception/