[2022-07-15 07:55] 421119407 commented on #1377
What should I do if I want to set the point from which to read the log?

[2022-07-15 07:58] Jiabao-Sun commented on #1372
Hi @ruanhang1993,

Do you configure the restart strategy like below?  The `attempts` option can limit the max attempts of restarts.
[code]

[2022-07-15 09:48] Rowen110 opened #1379 "Oracle CDC Whether the dynamic discovery of new tables is supported"
Flink CDC Orcale Source Whether can support automatic scanning new table functions, like mysql CDC scanNewlyAddedTableEnabled feature function.

[2022-07-16 01:52] GOODBOY008 commented on #1206
Hi @xieyi888 , I don't think it's a bug,it's man made trouble with pausing program anywhere using debug tools.

[2022-07-16 06:24] zhaoyangjun0328 opened #1383 "Can't stop with a savepoint？"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.15.0
 - Flink CDC version: 2.2.1
 - Database and version: oracle 11g

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
flink  stop {jobId}
3. The test code :
SET parallelism.default = 4;
CREATE TABLE input(
    `L_DATE` DECIMAL(38, 0)
    ...

[2022-07-18 02:21] leonardBang commented on #1363
Yes, we will support 1.15 @tigrulya-exe, let me think how to support multiple versions(1.13&1.14&1.15)

[2022-07-18 06:37] vanliu-tx opened #1384 "[mongodb] allow document field defined as string type in flink"
**Is your feature request related to a problem? Please describe.**
Sometimes it's unable to define the mongodb collection schema as a table, the schema changes. We want some nested document to be a string for later parse and calculate, but now you need to define the exactly field type in flink.

**Describe the solution you'd like**
Allow mapping a nested JSON document to flink string type.

[code]

[2022-07-18 11:29] fsk119 opened #1386 "ConfigOption `slot.name` should be required"
When multiple jobs use the same slot name, some job may not get the incremental change.

[2022-07-19 07:16] #1384 closed

[2022-07-19 09:03] ruanhang1993 commented on #1325
This issue is duplicate to #1166.

[2022-07-20 14:40] leonardBang opened #1389 "[license] We should use correct year and name of copyright owner in license file"
* 1 We‘ve been not filled the year and copyright owner in license file (https://github.com/ververica/flink-cdc-connectors/blob/master/LICENSE#L189), we should fill the correct year and name of copyright owner
* 2.Only the project belongs to ASF can use ASF as  the copyright owner, other projects who even use Apache License 2.0 protocol should not use ASF as  the copyright owner, see [1][2]

[1] ht

[2022-07-21 02:41] taotao8810 commented on #632
在用flink-cdc得时候，这个问题该茹姐解决呢？
how to solve the problem when use the flink-cdc?

[2022-07-21 04:22] #1389 closed

[2022-07-21 08:27] hbk671104 commented on #1203
If you are building with gradle locally, you may wanna try adding
[code]
at the bottom of **build.gradle**

![1151658391531_ pic](https://user-images.githubusercontent.com/5074788/180165627-22ffc076-4a43-4568-83f0-82e85e24f219.jpg)

It worked for me when submitting the uber jar to a flink cluster.

[2022-07-21 08:42] hbk671104 commented on #90
#1203 I commented below with a gradle-version solution. In the case of maven, try adding

![1161658392894_ pic](https://user-images.githubusercontent.com/5074788/180170537-7745a368-0da6-4d9e-bce7-22698f46ea23.jpg)

to your <ins>pom.xml</ins>

[2022-07-21 15:08] rookiegao opened #1391 "ADD MySQL CDC connector Chinese document."
Translate the MySQL CDC connector document into Chinese.

This will further reduce user learning costs, but will increase community maintenance costs.

It is expected to be added under docs/content/connectors/mysql cdc 连接器.md

How about this suggestion?

[2022-07-22 03:07] nayoaixgnat opened #1393 "Caused by: java.lang.ArrayIndexOutOfBoundsException"
**Describe the bug(Please use English)**
2022-07-22 10:36:21
java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:223)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache.flink.connector.base.

[2022-07-22 03:30] hezhenghongmail commented on #1372
2022-07-21 19:20:04.021 INFO  io.debezium.util.Threads                                     - Creating thread debezium-mysqlconnector-mysql_binlog_source-binlog-client
2022-07-21 19:20:34.046 ERROR System.err                                                   - Jul 21, 2022 7:20:34 PM com.github.shyiko.mysql.binlog.BinaryLogClient$5 run
WARNING: Failed to restore connection to 10.136.140.44:13114. N

[2022-07-22 03:34] hezhenghongmail commented on #1372
The task doesn't exit, it's just that debezium keeps retrying.

[2022-07-22 03:35] hezhenghongmail commented on #1372
![image](https://user-images.githubusercontent.com/109778487/180357212-e07b9996-691c-485d-a89b-c96bb83f6e86.png)

[2022-07-22 03:36] Jiabao-Sun commented on #1372
Thanks @ruanhang1993 @hezhenghongmail to report this.

[2022-07-22 07:49] xhmz commented on #432
我们也遇到了， 背压严重的时候, 引起的 binlog client 空闲. 被 svr 踢掉了

[2022-07-22 07:54] ya-xing opened #1394 "flinksql postgresql cdc process geometry type data I get type error"
**Environment :**
 - Flink version :  1.14
 - Flink CDC version: 2.2
 - Database and version: 14
When I process geometry type data I get type error ，i try cdc data from postgresql to postgresql
In the postgresql, the 'way' field type is geometry (wkb).because postgis is extended.
![image](https://user-images.githubusercontent.com/54884545/180393030-3456bc13-7ca8-41fc-8aed-40e9e453ade5.png)

then i

[2022-07-22 07:55] future94 opened #1395 "Is it so hard to support Flink1.14.*"
**Describe the bug(Please use English)**
Caused by: java.lang.ClassNotFoundException: org.apache.flink.shaded.guava18.com.google.common.util.concurrent.ThreadFactoryBuilder

**Environment :**
 - Flink version :  1.14.5
 - Flink CDC version:  2.2.1

unsupported documents can be deleted？

![image](https://user-images.githubusercontent.com/78329752/180391590-f6379d78-7b30-48e2-bf4a-30e1fb85b839.png)

[2022-07-22 07:56] ddfeiyu opened #1396 "insert mysql cdc table error : Could not execute SQL statement. Reason: org.apache.flink.table.api.ValidationException: SQL validation failed. null"
**Describe the bug(Please use English)**
insert  mysql  cdc table  error :  Could not execute SQL statement. Reason:  org.apache.flink.table.api.ValidationException: SQL validation failed. null

**Environment :**
 - flink-1.13.2
 - Flink CDC version: 2.2.1
 - Database and version:  5.7.35

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
 1.1 create mysql table
    CREATE TABL

[2022-07-22 09:03] leonardBang commented on #432
Hi, guys.
I've investigated the root cause and will fix in the next version. But I'm busy now, thus please wait a while.

[2022-07-24 02:49] hehetown opened #1399 "Invalid Java object for schema type INT64: class java.lang.String for field: "null""
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.3
 - Database and version:  oracle 19

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
I'm just adding a field to the database
3. The test code :
4. The error :
I just added a field to the database, and Flink report

[2022-07-24 07:12] GOODBOY008 opened #1400 "[sqlserver] [docs] Add step up SQLServer Database cdc document in sqlserver-cdc.md."
Some new guys want to step up sqlserver cdc maybe confused , because they do not know how to enable sqlserver cdc. So I want to add some detail step  in sqlserver-cdc.md.

[2022-07-25 01:35] jacentsao commented on #1010
is this problem solved

[2022-07-25 02:25] #1400 closed

[2022-07-25 03:41] ddfeiyu opened #1404 "duplicate insert mongodb data ，No duplicate mongodb data in ES"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**

 - flink-1.13.2
 - Flink CDC version: 2.2.1
 - Database and version:  flink-sql-connector-mongodb-cdc-2.2.1 、flink-sql-connector-elasticsearch7_2.11-1.13.2

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
[code]
   a、MongoDB  orders table:

![image](https://user-im

[2022-07-25 07:26] ddfeiyu opened #1405 "【oceanbase-cdc】 Could not find any factory for identifier 'oceanbase-cdc' that implements 'org.apache.flink.table.factories.DynamicTableFact ory' in the classpath."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - flink-1.13.2
 - Flink CDC version: 2.2.1
 - Database and version: flink-sql-connector-oceanbase-cdc-2.2.1、flink-sql-connector-elasticsearch7_2.11-1.13.2

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
1.1 、docker-compose.yml

[code]
docker-compose up -d

1.2  pr

[2022-07-25 10:17] libra612 commented on #709
环境 flink 1.13.3,flink cdc 2.1.1,scala 2.12,mysql 8.0.18
日志信息：
`2022-07-25 14:37:51
java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:223)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache

[2022-07-26 03:48] kylemeow opened #1406 "[mysql] in SQL mode, local timezone is used in the snapshot phase, but UTC timezone is used in streaming phase by default"
**Describe the bug**
Hi Devs,

I have found that in SQL mode, MySqlSourceOptions#SERVER_TIME_ZONE is set to use UTC by default, which is reasonable as this product might be used by users around the globe.

However, it seems that this timezone setting is only effective in the streaming phase, while in the initial snapshot phase, the local timezone is still used (e.g. UTC+8), causing data inconsiste

[2022-07-26 07:46] cocojiejie commented on #1036
i have the same questions，and the code running after  many days  occured this question，and the code has already add 'debezium.log.mining.strategy' = 'online_catalog',
'debezium.log.mining.continuous.mine' = 'true',

[2022-07-26 07:50] cocojiejie commented on #1036
6147

t java. lang. Thread . run( Thread. java: 748) ~l ! :1.8.0_ _191]

6148 Caused by: java. sql. SQLException: ORA-01292: no log file has been specified for the current LogMiner session

6149

ORA-06512: at "SYS .DBMS_ _LOGMNR", line 5;

6150

ORA-06512: at line 1

6151

6152

at oracle. jdbc. driver . T4CTTIoer11. processError(T4CTTIoer11. java:509) ~[flink-sql-connector-oracle-cdc-2.2.1.jar:2

[2022-07-26 10:24] hezhenghongmail commented on #1279
This is a bug of debezimu, which is abnormal when parsing the default value of bigint type. Just fix it in the debezium project.

[2022-07-26 10:25] hezhenghongmail commented on #1279
![image](https://user-images.githubusercontent.com/109778487/180984296-f341271a-2a70-4b54-8186-da0290c61f97.png)

debezium/debezium-core/src/main/java/io/debezium/jdbc/JdbcValueConverters.java

[2022-07-26 10:35] link3280 opened #1410 "[TiDB] TiKVRichParallelSourceFunction NPE if table not found"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.0
 - Flink CDC version: 2.2.1
 - Database and version: TiDB 5.1.4

**To Reproduce**
Steps to reproduce the behavior:
1. The test data : read a non-exist table via TiDB CDC connector
2. The test code :
3. The error :
[code]

**Additional Description**
If applicabl

[2022-07-26 12:40] Mediterranean90 opened #1412 "Error while insert data to es"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :   flink-1.13.6
 - Flink CDC version:  flink-sql-connector-elasticsearch7_2.11-1.13.6.jar;flink-sql-connector-mysql-cdc-2.1.0.jar;flink-sql-connector-postgres-cdc-2.1.0.jar
 - Database and version: mysql-8.0.25

**To Reproduce**
Steps to reproduce the behavior:
When I i

[2022-07-26 13:05] PaddlePaddle-Gardener commented on #1412
https://github.com/ververica/flink-cdc-connectors/discussions/644
may be helpful

[2022-07-26 13:42] shixud opened #1413 "mysql cdc supports the specified timestamp to start synchronization"
Hi. I read the [commit ](https://github.com/ververica/flink-cdc-connectors/issues/103#issuecomment-786611280)about cdc support specifying timestamp to start synchronization. But I didn't find these two configurations scan.startup.mode=timestamp and scan.startup.timestamp-millis in MySQL CDC Connector documentation. They can produce use in the environment? thanks

[2022-07-27 02:20] youyangkou commented on #1279
thanks，i will go to debezium code to fix it.

[2022-07-27 02:23] #1413 closed

[2022-07-27 06:15] ruanhang1993 commented on #1108
The same problem occurs  when I use the mysql cdc connector.
My problem lies in that the first joint primary key of my table is always the same. This will cause that the whole table only have one chunk in the snapshot phase. And the task manager will be out of memory when reading the whole table.

I have solved the problem. Could you assign this issue to me, @leonardBang? We also need a meaningful

[2022-07-27 06:25] leonardBang commented on #1108
Thanks @ruanhang1993 for picking this, assigned to you

[2022-07-27 06:30] #1410 closed

[2022-07-27 08:13] MaoHJ-Official opened #1414 "[MySQL CDC Connector] A piece of data appear in both full data and binlog data."
**Describe the bug(Please use English)**
When full data is being read and a piece of data is inserted, this data will appear in both full data and binlog data.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.0
 - Database and version: MySQL 5.6.51

**To Reproduce**
Steps to reproduce the behavior:
1. metadata of table in MySQL
[code]
2. Constantly insert into MySQL
[code]
3

[2022-07-27 09:36] whhe commented on #1405
Did you add the `flink-sql-connector-oceanbase-cdc-2.2` jar file to ${FLINK_HOME}/lib and restart the cluster?

[2022-07-27 09:44] whhe opened #1416 "[ci] integrated tests are skipped in some connectors"
There seems to be something wrong in integrated tests https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1903&view=logs&j=75bdd006-2058-55d4-dca6-119badb03732&t=b1a35d0a-8b58-59d5-ca81-b4732574f166

[code]

[2022-07-27 09:44] liyichencc commented on #1395
Maybe it's your use problem. I have successfully used version 2.2.1 CDC in flink1.14

[2022-07-27 09:53] ruanhang1993 commented on #1249
I think this behavior is reasonable.

If we get update type changes when the primary key is changed.We will get changes like this:
[code]
For downstream operators, we often need to send changes with the same primary key to the same operator, which will keep the binlog order for the record with the same primary key.
The changes with update type may lead to send the -U[6,3] to an operator, and send

[2022-07-27 10:25] ChewJ404 opened #1421 "flink table mysql-cdc select error unexpected block data"
### 前置信息
- 用的 apache/flink:1.14.5-scala_2.11-java8  镜像
- flink-sql-connector-mysql-cdc-2.2.1.jar  cdc 包
-  job与 task 节点都配置了  conf/flink-conf.yaml  已经 配置了 `classloader.resolve-order: parent-first`

### 结果
[code]

### lib 目录下 jar
[code]

_Originally posted by @ChewJ404 in https://github.com/ververica/flink-cdc-connectors/discussions/1418_

Did not know from where analyses the reasons, is to get the

[2022-07-27 12:15] xuhaiL opened #1422 "Mysql DDl exception"
I now use mysql cdc to create dataSource, after setting tableList, I can still capture ddl changes of other tables, I think this is a bug.

flink version 1.13
cdc version 2.2.1
mysql version 5.6

[2022-07-27 12:18] xuhaiL commented on #1422
not in tableList，SourceRecord.sourceOffset.table is null

[2022-07-27 18:36] bobby-richard-sed opened #1424 "Mongo connectors null pointer exception"
**Describe the bug(Please use English)**
Initial snapshot works fine. Eventually after the snapshot is finished the connector crashes with this exception:
java.lang.NullPointerException
	at org.apache.flink.util.Preconditions.checkNotNull(Preconditions.java:59)
	at com.ververica.cdc.connectors.mongodb.table.MongoDBConnectorDeserializationSchema.deserialize(MongoDBConnectorDeserializationSchema.jav

[2022-07-28 01:11] killyouall commented on #1337
I also encountered this problem. Which God can solve it

[2022-07-28 02:04] #1345 closed

[2022-07-28 09:41] linmingze opened #1428 "could flink cdc insert mysql just snapshot not Incremental data by binlog ？"
I want insert mysql snapshot data on sometime by day，the data do not change  frequent。

[2022-07-28 11:03] JesseAtSZ commented on #814
请问这个问题最后解决了吗？我这里也遇到了类似的问题

[2022-07-28 11:04] JesseAtSZ commented on #716
请问这个问题最后解决了吗？我这里也遇到了类似的问题

[2022-07-28 13:44] JesseAtSZ commented on #1414
same problem

[2022-07-29 07:13] conwel commented on #1371
you can send out the error message。

[2022-07-29 09:55] #1108 closed

[2022-07-29 09:55] youyangkou opened #1434 "[Feature] debezium version can upgrade to 1.9, the version 1.6.4Final has some Bug"
**Is your feature request related to a problem? Please describe.**
i make sure the issue https://github.com/ververica/flink-cdc-connectors/issues/1279 is relation to debezium 1.6.4Final version's Bug

**Describe the solution you'd like**
I think the debezium depency's version of flink-cdc-connectors can upgrade to 1.9 version.

**Describe alternatives you've considered**
this is debezium's Mantani

[2022-07-29 09:56] youyangkou commented on #1434
@leonardBang

[2022-07-29 09:59] leonardBang commented on #1434
Thanks @youyangkou for report this issue, assigned this issue to me.

[2022-07-31 01:42] 2013650523 commented on #986
Hi @leonardBang, please assign me to this issue, thank you.

[2022-08-01 02:47] MaoHJ-Official commented on #1414
I am quite sure Incremental snapshot caused this bug. I reduced the version of MySQL cdc connector to 1.4.0, which Incremental snapshot has not been implemented. The connector works well.

[2022-08-01 03:58] fchenxi opened #1436 "Flink CDC SQL update record support before and after"
**Is your feature request related to a problem? Please describe.**
In some scenarios, it is necessary to compare the modified data, so the data before and after need.

**Describe the solution you'd like**
Update sql is executed as delete and insert sql,  so the insert sql can bring with before and after data or with METADATA?

[2022-08-01 07:31] #1391 closed

[2022-08-01 07:53] ChewJ404 commented on #1421
Problem solved     flink-task  Must also add  the jar

[2022-08-01 07:53] #1421 closed

[2022-08-01 09:33] l1183479157 opened #1437 "Failed to deserialize data of EventHeaderV4"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version:  2.2.1
 - Database and version: mysql 8.0.26

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

[2022-08-01 09:46] #1122 closed

[2022-08-01 09:52] #1031 closed

[2022-08-01 09:58] #1191 closed

[2022-08-01 10:01] leonardBang commented on #1349
Fixed in #1193

[2022-08-01 10:01] #1349 closed

[2022-08-01 11:34] hezhenghongmail commented on #1434
@leonardBang   hi， Are there any plans to upgrade to DeBezium 1.9?   I meet the same problem.

[2022-08-02 03:33] Jiabao-Sun commented on #1424
Thanks @bobby-richard-sed to report this issue.
Can you help provide a case to reproduce it?

[2022-08-02 04:16] #1130 closed

[2022-08-02 09:13] #1350 closed

[2022-08-03 01:29] l1183479157 commented on #276
问题还没有解决吗，2.2.1版本我这边也出现这个问题了

[2022-08-03 03:52] ya-xing commented on #1394
is there anybody can help me

[2022-08-03 06:55] #1220 closed

[2022-08-03 06:58] gbzy opened #1442 "TiDB CDC dealUnsignedColumnValue throw NullPointerException"
dealUnsignedColumnValue will throw NullPointerException when column value is null.
![image](https://user-images.githubusercontent.com/18411217/182544295-28791253-48bc-409e-912f-c5a73c8bc430.png)

[2022-08-03 13:41] #674 closed

[2022-08-03 14:42] wanghai345 commented on #197
你好，这个问题解决了吗，是版本的问题的吗

[2022-08-04 03:33] leonardBang commented on #1434
Could you share your issue detail? the upgrade is a big task and will take some time to deal.

[2022-08-04 07:21] GOODBOY008 commented on #1442
@gbzy Thanks for your issue , I will take it, if it is a bug.

[2022-08-04 09:59] leonardBang commented on #1140
This has been supported in #496, close this issue now.

[2022-08-04 09:59] #1140 closed

[2022-08-04 10:04] leonardBang commented on #1138
Thanks @EMsnap for report this issue, I think what you want it the operation type(UPDATE_BEFORE and UPDATE_AFTER) in FLINK SQL, right? Would you like to take this issue?

[2022-08-04 10:09] leonardBang commented on #1135
The solution looks a little weird, could you describe the user case more precise, It's great if you can put some sql or data . I don't understand the SQL `select data (string) from METADATA` 😶

[2022-08-05 06:17] Matrix42 opened #1450 "xmltype field is always coming null while replication stage"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.2.0
 - Database and version: Oracle 11g

This issue is related to [DBZ-3605](https://issues.redhat.com/browse/DBZ-3605), we can update debezium when this issue fixed.

[2022-08-05 11:18] future94 commented on #1395
class `com.ververica.cdc.debezium.DebeziumSourceFunction` import `org.apache.flink.shaded.guava18.com.google.common.util.concurrent.ThreadFactoryBuilder` ,  flink 1.14 do not have guava18，it is guava30，you do not have problem? How to solve this error problem? Thank you，Looking forward to your reply.

[2022-08-05 11:33] future94 commented on #37
datastream怎么版啊大佬，不是table sql

[2022-08-05 11:38] future94 commented on #37
table sql加在`WITH('decoding.plugin.name' = 'pgoutput')`

dataStream加在`PostgreSQLSource.<String>builder().decodingPluginName("pgoutput").build()`

[2022-08-05 11:39] future94 commented on #37
table sql加在`WITH('decoding.plugin.name' = 'pgoutput')`

dataStream加在`PostgreSQLSource.<String>builder().decodingPluginName("pgoutput").build()`

[2022-08-07 15:02] Fisher666 opened #1453 "[MySql] not to throw an exception when bin log format changed from row to others to stop job from endless restarting."
issue:

flink job get restarted and stuck at an exception  when bin log format changed from row to others

  exception :
    Caused by: io.debezium.DebeziumException: Received DML

<img width="1135" alt="image" src="https://user-images.githubusercontent.com/45913164/183297520-069b7cb1-e9f8-44e6-9b69-be3bf29f1963.png">

   versions:
        flink 1.13
        cdc 2.2.1
        mysql  5.6

suggested

[2022-08-08 03:07] qq443672581 opened #1454 "[mysql] Received DML 'DELETE FROM `db`.`table`' for processing, binlog probably contains events generated with statement or mixed based replication format"
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.0
 - Database and version: 5.7.25-log

Caused by: io.debezium.DebeziumException: Received DML 'DELETE FROM `db`.`table`' for processing, binlog probably contains events generated with statement or mixed based replication format

[2022-08-08 03:53] wangdabin1216 commented on #1315
无解，目前。只能用OGG@ afsun1996

[2022-08-08 06:49] yqzdy1207 commented on #824
I also encounter this problem, how to solve it?

[2022-08-08 06:53] GOODBOY008 opened #1455 "[sqlserver] [wiki] Add FAQ for sqlserver connector."
Add sqlserver schema evolution  in wiki  FAQ page.

[2022-08-08 06:54] GOODBOY008 commented on #1455
![image](https://user-images.githubusercontent.com/13617900/183357528-ecb8d063-c164-441f-b41f-f9c0a63a1631.png)

[2022-08-08 08:19] hezhenghongmail opened #1456 "Oracle CDC startupoptions.initial (), does not perform increments after the full quantity is executed."
**Describe the bug(Please use English)**
Oracle CDC startupoptions.initial (), does not perform increments after the full quantity is executed.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version:  2.1.1
 - Database and version:  Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data : test
2.

[2022-08-08 08:45] GOODBOY008 commented on #1456
@hezhenghongmail Thanks for your reporting this issue.Can you use verison `2.2.1` ?

[2022-08-08 09:15] have1568 opened #1457 "Flink SQL Source Mysql To Sink PoshtgreSQL NoClassDefFoundError: org/apache/flink/util/function/SerializableFunction"
Flink Version 1.14

jar file:

flink-connector-jdbc_2.12-1.14.4
flink-sql-connector-mysql-cdc-2.2.1
postgresql-42.2.20
mysql-connector-java-8.0.25

Source SQL:
CREATE TABLE products_mysql
(
    id          INT,
    name        STRING,
    description STRING,
    PRIMARY KEY (id) NOT ENFORCED
) WITH (
      'connector' = 'mysql-cdc',
      'hostname' = 'xxxxxx',
      'port' = '3306',
      'userna

[2022-08-08 09:20] hezhenghongmail commented on #1456
ok, Try on this side。

[2022-08-08 09:47] ruanhang1993 commented on #1454
https://www.mail-archive.com/search?l=user-zh@flink.apache.org&q=subject:%22%E5%9B%9E%E5%A4%8D%EF%BC%9A%E5%85%B3%E4%BA%8Eflink+sql+cdc%22&o=newest&f=1
Maybe your binlog format changes in some sessions.

[2022-08-08 09:54] ruanhang1993 commented on #1437
Duplicated to #432.

[2022-08-08 09:58] ruanhang1993 commented on #1428
I think it is not suitable to do this job by using the cdc connectors.

[2022-08-08 12:04] #1442 closed

[2022-08-08 13:00] Angelasp opened #1458 "10:08:16.249 [Canceler/Interrupts for Source: Custom Source -> Sink: Unnamed (1/1)#0 (fa21d4177bd34fe5e18fd99a4b09f437).] WARN org.apache.flink.runtime.taskmanager.Task - Task 'Source: Custom Source -> Sink: Unnamed (1/1)#0' did not react to cancelling signal - interrupting; it is stuck for 30 seconds in method:"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.0
 - Database and version: postgresql 12

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :
10:08:16.249 [Canceler/Interrupts for Source: Custom Source -> Sink: Unnamed (1/1)#0 (fa2

[2022-08-09 02:23] Angelasp commented on #1458
[Canceler/Interrupts for Source: Custom Source -> Sink: Unnamed (1/1)#1 (6d1e861b136a5123475f9555967ab3dc).] WARN  org.apache.flink.runtime.taskmanager.Task  - Task 'Source: Custom Source -> Sink: Unnamed (1/1)#1' did not react to cancelling signal - interrupting; it is stuck for 30 seconds in method:  这个问题有人知道吗？

[2022-08-09 03:10] Jiabao-Sun commented on #1404
Hi @ddfeiyu, Whether data is the same depends on the declared primary key.
In the example you provided, we declared the `order_id` as the logical primary key.
Therefore, all data with the same `order_id` will be considered the same and will be deduplicated.
If we declare `orders._id` as logical primary key, then there will be 5 records in ES.
In practical scenarios, logical primary keys are usuall

[2022-08-09 03:10] #1404 closed

[2022-08-09 03:18] Jiabao-Sun commented on #1274
Hi @suhli.
Currently MongoDB CDC Connector does not use the Debezium MongoDB connector implementation and there is no good way to set this config option.

So I temporarily closed this issue and consider adding this configuration option to the implementation of parallel mongodb cdc sources.

[2022-08-09 03:18] #1274 closed

[2022-08-09 05:25] wdzhanghao commented on #824
I also encounter this problem, how to solve it?

[2022-08-09 05:41] wdzhanghao opened #1459 "Flinkcdc 增量读取oralce ，正常输出数据一段时间后 异常关闭"
flinkcdc增量读取oralce数据库
报错： java.lang.IllegalStateException: Retrieve schema history failed, the schema records for engine 08c6c43f-e529-439b-9546-d1056524d389 has been removed, this might because the debezium engine has been shutdown due to other errors.
	at com.ververica.cdc.debezium.utils.DatabaseHistoryUtil.retrieveHistory(DatabaseHistoryUtil.java:77)
	at com.ververica.cdc.debezium.internal.Flin

[2022-08-09 06:12] #1244 closed

[2022-08-09 06:54] gezhiwei8899 commented on #1344
same problem

[2022-08-09 06:55] tisonkun commented on #1138
@leonardBang there's already a patch https://github.com/ververica/flink-cdc-connectors/pull/1139. Is it a good fit?

[2022-08-09 08:41] leonardBang commented on #1138
Cool, but I'm hesitate to introduce the `update_before` field which may lead to some correctness issue in Flink SQL operators which need retraction, how do you think the correctness tradeoff and extensibility ? @tisonkun

[2022-08-09 10:02] zhongyiio commented on #1353
+1

### Environment :

Flink version : 1.14.5

flink-sql-connector-mysql-cdc-2.1.1.jar
flink-connector-elasticsearch7_2.12-1.14.5.jar
flink-connector-elasticsearch-base_2.12-1.14.5.jar

[2022-08-09 10:33] #1416 closed

[2022-08-09 12:17] ruanhang1993 commented on #1190
duplicated to #1350

[2022-08-09 12:17] #1190 closed

[2022-08-10 01:29] wdzhanghao commented on #1036
i have the same questions，and the code running after many days occured this question，and the code has already add 'debezium.log.mining.strategy' = 'online_catalog',
'debezium.log.mining.continuous.mine' = 'true',
but my flink version is 1.13.1 and cdc version is 2.1.1

[2022-08-10 02:09] yd0906 opened #1462 "[mysql] Don't support MySQL type 'INT UNSIGNED ZEROFILL' yet."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.2.1
 - Database and version:  mysql5.6

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error : Don't support MySQL type 'INT UNSIGNED ZEROFILL' yet.

**Additional Description**
If applicab

[2022-08-10 02:11] PayneZx commented on #1336
I also had the same problem.

[2022-08-10 02:26] johncai0 commented on #513
我这里还在抛这个异常，我的操作是先启动一个cdc任务，只捕获t1表，等生成checkpoint后，在停止任务，加入t2表，这个时候，再从checkpoint启动后，当t2表发生变化后，会抛出这个异常，然后整个cdc都捕获不到数据了。

版本；
<dependency>
            <groupId>com.ververica</groupId>
            <artifactId>flink-connector-mysql-cdc</artifactId>
            <version>2.2.1</version>
        </dependency>

配置：
MySqlSource<String> mySqlSource = MySqlSource.<String>builder()
                .hostname("jo

[2022-08-10 02:29] wangyusong001 commented on #513
startup模式必须去init

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年08月10日 10:26 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [ververica/flink-cdc-connectors] [feature] Add new tables to an existing Flink CDC job (Issue #513) |

我这里还在抛这个异常，我的操作是先启动一个cdc任务，只捕获t1表，等生成checkpoint后，在停止任务，加入t2表，这个时候，再从checkpoint启动后，当t2表发生变化后，会抛出这个异常，然后整个cdc都捕获不到数据了。

版本；

com.ververica
flink-c

[2022-08-10 02:32] ruanhang1993 commented on #1462
Could you please provide a test about this?
This type test should already be contained in `MySqlConnectorITCase#testMysql57AllDataTypes`.

[2022-08-10 02:43] ruanhang1993 commented on #1061
I am interested in this issue. Please assign this to me, thanks.

[2022-08-10 03:44] johncai0 commented on #513
感谢，init的时候可以去拉一次schema，这个能理解。
但是如果从检查点启动，是否就无法去init？

我尝试了指定启动模式init和不指定任何启动模式的配置方式从原来的检查点启动还是存在问题。
方式1（将启动模式改成了init）：
 MySqlSource<String> mySqlSource = MySqlSource.<String>builder()
                .hostname("johnwork")
                .port(3306)
                .databaseList("cdctest")
                .tableList("cdctest.orders,cdctest.t_user")
                .startupOptions(StartupOptions.in

[2022-08-10 03:51] wangyusong001 commented on #513
2.2版本方式1应该是没问题的，这个我是测试过的，不过这种方式新表会同步全量数据。
方式2不指定但他是有个默认值的，点进去源码可以看到，忘记默认值是哪种了

---- 回复的原邮件 ----
| 发件人 | ***@***.***> |
| 日期 | 2022年08月10日 11:44 |
| 收件人 | ***@***.***> |
| 抄送至 | ***@***.******@***.***> |
| 主题 | Re: [ververica/flink-cdc-connectors] [feature] Add new tables to an existing Flink CDC job (Issue #513) |

感谢，init的时候可以去拉一次schema，这个能理解。
但是如果从检查点启动，是否就无法去init？

我尝试了指定启动模式init和不指定任何启动模式的配置方式

[2022-08-10 03:59] Onehr7 commented on #1033
@HendSame @luxl6 Did you solve it please?

[2022-08-10 05:54] 1105748319 commented on #1036
i have the same questions，and the code running after many days occured this question，and the code has already add 'debezium.log.mining.strategy' = 'online_catalog',
'debezium.log.mining.continuous.mine' = 'true',
but my flink version is 1.13.0 and cdc version is 2.1.0

[2022-08-10 06:11] lcchaoliu commented on #50
mysql CDC的earliest模式不支持表名带下划线的.   这个问题官方什么时候回修复

[2022-08-10 06:35] johncai0 commented on #513
我刚才有测试了一下，
这张新增的表t2如果是cdc启动后，新建的表才可以加入。
如果，这张表已经存在的表(很早以前建的表)，就会出现这个问题。

[2022-08-10 08:24] wczhang1986 commented on #51
感觉可以看看offset.storage的相关设定
我在使用kafka的时候就是通过设定这个属性保存读取位置的。

[2022-08-10 10:27] qianchutao opened #1467 "After the task runs for a period of time, no exception is thrown, but no data is synchronized"
**Environment :**
 - Flink version :  1.14.0
 - Flink CDC version:  2.2.3-snaphot
 - Database and version: mysql5.7

**Additional Description**
Using flinkCDC 2.3-Snaphot to synchronize mysql data, multiple tables were synchronized at a time. After the task ran for a period of time, no data was synchronized, and the task was not thrown. After checking the log, it was found that the full synchroniz

[2022-08-11 01:52] wdzhanghao commented on #824
I tried several versions, flink version is 1.13.1 and cdc version is 2.2.1 oracle database version is 11g and flink version is 1.13.1 and cdc version is 2.1.1 and flink version is 1.13.6 cdc version is 2.1.0 is to read oracle data incrementally. This error will be reported after more than ten hours. Is there any good solution? If so, please leave a message

[2022-08-11 09:04] leonardBang opened #1473 "[test] OceanBaseConnectorITCase failed due to start docker timeout"
The failed CI link：
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=2072&view=logs&j=8fe8baaa-99ce-5b39-77e0-83166d37f82c&t=c45dad4e-3ac5-5823-9044-77b4c83f6a14

[2022-08-11 09:57] ruanhang1993 commented on #1454
Debezium has a issue to fix this (https://issues.redhat.com/browse/DBZ-3949). We could set [[event.deserialization.failure.handling.mode](https://debezium.io/documentation/reference/1.6/connectors/mysql.html#mysql-property-event-deserialization-failure-handling-mode)](https://debezium.io/documentation/reference/1.6/connectors/mysql.html#mysql-property-event-deserialization-failure-handling-mode) t

[2022-08-11 10:03] ruanhang1993 commented on #1454
Dupliacted to #1017.

[2022-08-11 12:54] #1166 closed

[2022-08-11 13:23] kylemeow commented on #432
I've met with this issue as well, and I am looking forward to the fix : )

[2022-08-11 14:44] #1473 closed

[2022-08-12 01:39] cherful commented on #197
我这里把iceberg-flink-runtime包升级就解决了。

[2022-08-12 01:40] cherful commented on #197
我这里把iceberg-flink-runtime包版本升级就解决了。

[2022-08-12 07:13] link3280 commented on #904
@leonardBang I have a glance at the release note of Flink 1.15, and found no mention of changes of StreamPhysicalWindowAggregate, and neither do the git logs. Could you give me some pointers to track this effort? I'm longing for this feature. 😭

[2022-08-12 07:49] leonardBang commented on #701
Fixed in https://github.com/ververica/flink-cdc-connectors/issues/1244

[2022-08-12 07:49] #701 closed

[2022-08-12 08:38] leonardBang commented on #904
Looks like no contributors work for this issue @link3280 ...

[2022-08-12 08:39] tianboluo commented on #632
请问一下这个怎么解决呢，没看懂。。。

[2022-08-12 10:08] leonardBang commented on #1241
Thanks @fbad for report this issue, the idea makes sense to me, CC: @fsk119 could you take a look the issue as well as the PR ?

[2022-08-15 01:37] linmingze commented on #1428
you are right，it is suitable for batch processing

[2022-08-15 01:38] linmingze commented on #1428
you are right，it is suitable to use batch processing

[2022-08-15 01:38] linmingze commented on #1428
you are right，it is suitable to use batch processing

[2022-08-15 02:25] ruanhang1993 commented on #1453
duplicated to #1017

[2022-08-15 02:26] ruanhang1993 commented on #1453
Debezium has a issue to fix this [DBZ-3949](https://issues.redhat.com/browse/DBZ-3949). We could set [event.deserialization.failure.handling.mode](https://debezium.io/documentation/reference/1.6/connectors/mysql.html#mysql-property-event-deserialization-failure-handling-mode) to `warn` to skip this failure.

[2022-08-15 03:46] dik111 commented on #513
我也遇到同样的问题了，如果我只想从latest启动，然后从savepoint启动时新增表，要怎么样操作呢？

[2022-08-15 03:57] zzzfwd commented on #1085
我也遇到了同样的问题，你现在解决了吗

[2022-08-15 06:56] dik111 commented on #513
https://github.com/ververica/flink-cdc-connectors/pull/1464

[2022-08-15 08:05] 1032851561 opened #1480 "postgresql cdc 空指针异常与漏数据：at org.postgresql.jdbc.FieldMetadata.getSize(FieldMetadata.java:79)"
**Describe the bug(Please use English)**
cdc一个表时，内部代码获取列元数据时多了两条数据记录导致空指针，并且print时少了两行数据

**Environment :**
 - Flink version :  1.14.5
 - Flink CDC version:  2.3-snapshot
 - debezium-connector-postgres-1.6.4.Final.jar
 - Database and version:  postgresql 12.4

**To Reproduce**
有一个表test，**55个列**，2万多行数据，无论是通过flink sql还是streaming api方式去读取数据并print都会报空指针异常：
[code]
通过调试发现在方法`org.postgresql.jdbc.PgResult

[2022-08-16 00:42] gezhiwei8899 commented on #1395
![image](https://user-images.githubusercontent.com/16362526/184759544-578f9be8-414d-47c6-93fe-ffc0ce591271.png)
I solved the problem like this.

[2022-08-16 02:51] Jiabao-Sun commented on #1462
Hi @yd0906, this problem seems to be fixed by #1197 and will be released in the next version.
You can use the master branch to package it yourself, or patch it from that commit.

[2022-08-16 02:51] #1462 closed

[2022-08-16 02:57] Jiabao-Sun commented on #1077
Resolved by #1197.

[2022-08-16 02:57] #1077 closed

[2022-08-16 08:10] luckes-yang opened #1483 "Oracle CDC 在CDB+PDB模式中未切换session导致的权限问题"
**Describe the bug(Please use English)**
I'm sure the cdc user has right privileges,
may be when exec sql as "SELECT dbms_metadata.get_ddl('TABLE','MYTEST','DW_TEST') FROM DUAL", it's not change the container to pdb?

**Environment :**
 - Flink version :  1.15.1
 - Flink CDC version: 2.3-SNAPSHOT
 - Database and version: 19c cdb+pdb

**To Reproduce**
Steps to reproduce the behavior:
1. The test da

[2022-08-16 08:36] luckes-yang commented on #1483
经过调试，发现是配置项`'debezium.database.pdb.name' = 'xxx'`的问题， Stream模式的dbz配置项直接使用'database.pdb.name' = 'xxx'即可

[2022-08-16 08:37] #1483 closed

[2022-08-16 09:06] DonaldZhang commented on #821
Any fresh developments ?

[2022-08-16 11:37] #1325 closed

[2022-08-17 03:11] caozhiyuan opened #1484 "对应订单es模型（orderitems使用nested object），如何把 orderitem 构造成 ARRAY<ROW< id INT, orderid INT, productid INT, price INT, >>写入elasticsearch"
**Is your feature request related to a problem? Please describe.**

对应订单es模型（orderitem使用nested object），如何把 orderitems 构造成 ARRAY<ROW< id INT, orderid INT, productid INT, price INT, >>写入elasticsearch

**Describe the solution you'd like**
使用易配置的方式实现，无须java代码定义UDF。

[2022-08-17 03:14] caozhiyuan commented on #1484
like this https://github.com/ververica/flink-cdc-connectors/issues/151 , now have better sloution?

[2022-08-17 06:17] DonaldZhang commented on #821
Yeah, do you have any suggestions ?

[2022-08-17 06:30] GOODBOY008 commented on #821
Are you willing to contriute cassandra connector?

[2022-08-17 06:44] ruanhang1993 commented on #1414
Could you please provide the parameters for the mysql cdc source that you used? @MaoHJ-Official
I don't replay the problem in my own test. Maybe we use the different settings.

Thanks~

[2022-08-17 07:01] DonaldZhang commented on #821
Of course. I'm not very familiar with Cassandra. I'm not sure whether it will affect contribution.

[2022-08-17 07:10] GOODBOY008 commented on #821
It's ok, We will give help ,if you need.

[2022-08-17 07:53] DonaldZhang commented on #821
That's great. I want to know how to start.

[2022-08-17 08:01] JustinLeesin commented on #1375
I also encountered such problem, the task manager OOM, looking for a solution

[2022-08-17 08:12] hezhenghongmail commented on #1061
I also encountered this problem.  when restore from the checkpoint ，the job do all the split。

[2022-08-17 09:09] ruanhang1993 commented on #1017
This issue will be fixed by #1236.

[2022-08-18 02:00] Adiao512 opened #1485 "SqlServer 的TIMESTAMP类型无法转换为合法的flinkSQL的数据类型"
The value type of XDBMASK field is TIMESTAMP in SqlServer (this field data is binary in SqlServer), but the value type of XDBMASK field is BIGint in mysql，When data is synchronized from SqlServer to mysql via Flink-CDC, the data is converted to FlinkSQL's data type as a bunch of Java objects (java.nio.heapByteBuffer [pos=0 lim=8 cap=8])，Unable to write to mysql
![ea8b1f76e95da94d3223e3d0d98c8e1](h

[2022-08-18 02:10] ruanhang1993 commented on #1457
`org.apache.flink.util.function.SerializableFunction` is a class from `flink-core`. Do you add the dependencies from Flink?

[2022-08-18 02:18] ruanhang1993 commented on #1399
How do you add the field? Showing the sql you used will be helpful.

[2022-08-18 02:30] leonardBang commented on #1061
I upgrade the severity to blocker and'll fix this issue soon

[2022-08-18 07:56] #1006 closed

[2022-08-18 08:24] MyLanPangzi opened #1486 "mysql cdc add new table restore from sp but lost data.数据丢失从sp恢复."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.2.1
 - Database and version: 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
cdc 2 kafka

[2022-08-18 11:51] yahtoo opened #1487 "tidb cdc synchronous error when the amount of data is millions"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.
Synchronous error when the amount of data is millions, the same table data volume of 10000 will not report an error

**Environment :**
 - Flink version :  1.15.1
 - Flink CDC version: flink-sql-connector-tidb-cdc-2.2.1.jar
 - Database and version: tidb 6.1

**To Reproduce**
Steps to reproduce the behavior:

[2022-08-19 00:48] yangmingjie opened #1488 "大神 可否近期发一版？"
我们准备应用于生产环境，但是，近期改的bug，并没有发包，希望大神能发一版，非常感谢

[2022-08-19 01:14] GOODBOY008 commented on #1488
Hi @yangmingjie ,You can compile lastest code and deploy to your private maven repository.

[2022-08-19 01:17] GOODBOY008 commented on #1485
Hi @Adiao512 , Can you supply sql script and data to reproduce the issue ?

[2022-08-19 01:18] GOODBOY008 commented on #821
Clone code and study other connector source code.

[2022-08-19 02:54] landhuang opened #1489 "postgres-cdc.md DataStream Source The code on the example needs to be added to make the user understand and use it better."
postgres-cdc.md
DataStream Source

The code on the example needs to be added to make the user understand and use it better.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2.1
 - Database and version:  PostgreSQL 11.5

[code]

The complete contents are as follows:

[code]

[2022-08-19 03:41] JackTianZhao opened #1490 "sql server2008 企业版是支持cdc的，但是代码提示版本过低"
尝试自己用源码编译后可以通过
![图片](https://user-images.githubusercontent.com/40516297/185538091-4066e959-23ee-4acc-972f-04bb4e96b396.png)

[2022-08-19 04:15] luckes-yang commented on #1076
I have the same problem， How did you solve it？

[2022-08-19 07:52] #1406 closed

[2022-08-19 14:45] GOODBOY008 commented on #1490
@JackTianZhao Hi, sql server 2008 cann't pass all unit test and version is too old. I don't suggest you to do this , maybe cause production accident.

[2022-08-21 14:41] DonaldZhang commented on #821
OK, I will try it.

[2022-08-22 05:53] #1395 closed

[2022-08-22 07:05] xpdgit123 opened #1494 "flink-connector-oracle-cdc"
flinkcdc 监听 Oracle：
flinkcdc 版本：2.2.1
Oracle 版本：Oracle Database 19c

![image](https://user-images.githubusercontent.com/47846745/185859475-53b358cd-f4d1-45a7-aed8-9a910673521b.png)
使用时候报错：
ORA-12505, TNS:listener does not currently know of SID given in connect descriptor

![image](https://user-images.githubusercontent.com/47846745/185859569-f3c6d823-e633-4fc0-a247-484944c2e691.png)

[2022-08-22 07:29] xpdgit commented on #632
请问一下怎么解决的？为什么我这还是报错

[2022-08-22 07:29] MyLanPangzi commented on #1486
Today. This bug  i meet again....ERROR message is similar above. data is lost.

[2022-08-22 07:30] xpdgit commented on #632
你好，请问一下怎么解决呢？为什么我这里还是报错？
![image](https://user-images.githubusercontent.com/47846745/185864490-bec7d217-dd32-4ee0-b424-af3302b005d9.png)

[2022-08-22 09:43] MyLanPangzi commented on #1486
My java code
[code]

My SQL
[code]

[2022-08-22 13:58] XiaoXin101 opened #1495 "flink cdc Oracle 在监听oracle日志期间,监听表添加了字段,导致丢数据"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14
 - Flink CDC version: 2.2.1
 - Database and version: 11c

**To Reproduce**
Steps to reproduce the behavior:
    flink cdc Oracle 在监听oracle日志期间,监听表添加了字段,导致丢数据
   场景:oracle数据库高并发写入期间,表新增了字段,监听出来的日志,

<img width="1783" alt="image" src="https://user-images.githubuser

[2022-08-23 06:48] leonardBang opened #1496 "The split key comparison is problematic if the key may contains different types"
This is related to #1414

[2022-08-23 07:06] leonardBang commented on #1414
duplicated with #716

[2022-08-23 07:06] leonardBang commented on #814
duplicated with #716

[2022-08-23 07:06] leonardBang commented on #1496
This is related to #716

[2022-08-23 08:13] bluewaterstar opened #1498 "oracle cdc TIMESTAMP WITH TIME ZONE"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  14.5
 - Flink CDC version: 2.2.1
 - Database and version: oracle 11g

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :2014-01-07 01:27:48.2640000 +08:00
2. The test code :
3. The error :不支持 TIMESTAMP [(p)] WITH TIME ZONE类型

**Additional Description

[2022-08-23 08:24] wl3207601 commented on #1036
i have the same questions，and the code running after many days occured this question，and the code has already add 'debezium.log.mining.strategy' = 'online_catalog',
'debezium.log.mining.continuous.mine' = 'true',
but my flink version is 1.13.6 and cdc version is 2.2.1

[2022-08-23 08:25] tigrulya-exe commented on #1363
Hello, @leonardBang! Thanks for reply, but is it even possible to support all of this Flink versions in one CDC-connectors version without backporting Flink 1.15 features to older versions of Flink? At first, I thought about using different maven profiles in CDC for different Flink versions, but, as far as I understand, Flink 1.15 also brings some code, that breaks backward compatibility (e.g. rem

[2022-08-23 08:40] JavaKingCr commented on #1337
How did you solve the problem

[2022-08-23 08:50] JavaKingCr commented on #1337
hellp

[2022-08-23 15:13] wl3207601 commented on #1036
@leonardBang  Could you take a look on this issue? Thanks

[2022-08-24 06:33] #1496 closed

[2022-08-24 07:36] tigrulya-exe commented on #1363
Hello, @leonardBang! I've added PR with Maven profiles approach - #1504. Could you take a look, please?

[2022-08-24 10:25] leesenlen opened #1506 "DDL Parsing Error When using multiple quotes"
**Describe the bug(Please use English)**

MySQLCDC, DataStreamAPI

DDL Parsing Error When using multiple quotes ( **_'....'_** ) after  _DEFAULT VALUE_

Expected **0** as default value , but get  string **_0'COLLATE'utf8_general_ci_**

 create table test {
             ...
             is_delete TINYINT DEFAULT VALUE '**_0' COLLATE 'utf8_general_ci_**'
             ...
         }

Caused by: java.

[2022-08-24 12:43] leonardBang commented on #1363
Thanks @tigrulya-exe for opening this PR， @PatrickRen Could you help review this PR？

[2022-08-24 13:02] swetakala commented on #1010
is there a ticket opened for this issue? Or shall I open one?

[2022-08-25 02:22] fjyulu commented on #432
I face the problem too, and all the work stop for this reason

[2022-08-25 04:31] leonardBang commented on #1506
@ruanhang1993 Would you like to take a look this issue?

[2022-08-25 08:08] EtherealQ commented on #1112
我测试 8亿数据量 500GB的表 将cp interval 调整10min（原5min） ，超时时间60s（原30s），chunkSize 50000（原8096），并行度64（原24） 就没有出现这个问题了

[2022-08-25 14:02] mxd-321 opened #1509 "Flink cdc 同步 TiDB， 每个任务只能拉一个表吗？"
Flink cdc 同步 TiDB， 每个任务只能拉一个表吗？

[2022-08-25 14:03] #1509 closed

[2022-08-26 01:42] ruanhang1993 commented on #1506
OK, I will take a look at this problem.

[2022-08-26 02:39] lyc88 opened #1510 "flink sql cdc 占用 大量数据库连接 怎么办"
flink sql cdc 占用 大量数据库连接 怎么办，大约12 job 占用了63 个数据库连接

[2022-08-26 03:11] MengXiangDing opened #1511 "请问一下大佬们，flink cdc 连接TiDB，支持获取 TiDB 的 DDL 吗？"
请问一下大佬们，flink cdc 连接TiDB，支持获取 TiDB 的 DDL 吗？

[2022-08-26 03:56] ruanhang1993 commented on #1506
@leesenlen I have written a test about this, but this error does not occur. Could you help to check whether there is something wrong in my test.
I used the branch release-2.2 and the sql and test as following.
SQL:
[code]
test in `MySqlSourceITCase`:
[code]
After the test running, I alter the table use the sql.
[code]
But my job does not throw an exception.

Please correct my mistake, Thanks~

[2022-08-26 06:21] leesenlen commented on #1506
@ruanhang1993

Try the ddl below

[code]

This is happend when alter table with `COLLATE` after `DEFAULT` value with quotes(`'`)

[2022-08-26 08:31] zhuxt2015 opened #1512 "oracle-es的demo报错ORA-00955: 名称已由现有对象使用"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  flink1.13.6
 - Flink CDC version: 2.2.1
 - Database and version:

**To Reproduce**
[demo: oracle cdc to es](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/quickstart/oracle-tutorial.html)

**Additional Description**
[code]

[2022-08-27 08:35] GOODBOY008 commented on #1511
Currently, don't support ddl.

[2022-08-27 08:45] mxd-321 commented on #1511
thank you !

[2022-08-27 08:45] mxd-321 commented on #1511
thank you !

[2022-08-27 09:29] mxd-321 commented on #1511
thank you !

[2022-08-29 03:07] ruanhang1993 commented on #1506
<img width="1723" alt="截屏2022-08-29 上午11 04 33" src="https://user-images.githubusercontent.com/17610579/187115047-5b328c0f-2e1a-4d02-ba99-18a0b3fed89a.png">
The default value is wrong when parsing the alter sql. Maybe it is a bug in the debezium. I will find a way to fix it.

[2022-08-29 09:30] kaixinjiuhao123 commented on #432
I also foresee this problem, what is the solution，online etc

[2022-08-29 11:00] saLeox commented on #173
For Datastram API(Scala), the config for `useSSL` and `allowPublicKeyRetrieval` can be added as below:
[code]

[2022-08-29 17:34] sap1ens commented on #1163
@qiao-x hey, is there a WIP branch available for this by any chance?

[2022-08-30 02:24] kim-up opened #1517 "flink cdc(mysql) -> elasticsearch7, 任务每次持续跑了一段时间之后(elasticsearch connection reset by peer)，就自动结束了"
**Describe the bug(Please use English)**
Elasticsearch7 connection reset by peer

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.2.1
 - Database and version: mysql-5.7
 - Flink-sql-connector-elasticsearch7: 2.11-1.13.6

**Additional Description**
=====================================================================================================
LogType:taskmanager.out
LogLa

[2022-08-30 02:54] csj-9-9 opened #1518 "请问flink-cdc支持MongoDB 6.0吗？"
请问flink-cdc支持MongoDB 6.0吗？

[2022-08-30 10:49] TheBiiigBlue commented on #1319
I also encountered this problem and asked for help

[2022-08-30 10:50] TheBiiigBlue commented on #1319
How did you solve it? Can you give me some ideas？

[2022-08-30 12:33] MengXiangDing opened #1525 "Question about flink-connector-tidb-cdc, please help me!"
Can each flink-cdc task only subscribe to one table?
After reading the source code, I found that CDCClient can only pull the change log of one table.

Can each CDCClient only pull one table?
Then if there are many tables, it will lead to many connections and cause TiKV to be overwhelmed?

[2022-08-30 19:04] yaoyi commented on #72
@jasonzhangz 请问还有出现这种情况吗，我这边使用最新2.2.1版本，pg cdc还是会出现无法取消的情况

[2022-08-31 04:24] samanhappy opened #1528 "Exception while handling ad hoc snapshot signals"
**Describe the bug(Please use English)**
I was using debezium_signal table to do an ad hoc snapshot, but got NullPointerException
	at io.debezium.pipeline.signal.ExecuteSnapshot.arrived(ExecuteSnapshot.java:64)

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version:  2.3-SNAPSHOT
 - Database and version: Aliyun RDS MySql 5.6.16-log (Source distribution)

**To Reproduce**
Steps to repro

[2022-08-31 13:10] #865 closed

[2022-09-01 01:17] duanminhui commented on #276
期待解决这个问题丫，在极端情况下。mysql负载严重的时候，必出现这种问题。

[2022-09-01 11:58] Blank-creator397 commented on #48
我也遇到了相同的问题，请问现在有解决吗0.0

[2022-09-02 01:28] lijun0314 opened #1533 "Does flink-cdc-connectors support security features, like TLS?"
### Discussed in https://github.com/ververica/flink-cdc-connectors/discussions/1531

<div type='discussions-op-text'>

<sup>Originally posted by **lijun0314** September  1, 2022</sup>
Hi, developers,
I am new to flink-cdc-connectors, I got two MariaDB databases running on machines A and B, I want to implement real-time data synchronization between databases A(master) and B(slave) in a secure way.

[2022-09-02 03:03] moonService commented on #1256
@fuyun2024 同样的问题，想问下为什么一开始要把update拆成delete和create，另外源码哪个测试用例是用来测试这块的，能不能指个路

[2022-09-02 03:12] moonService opened #1535 "How to solve the problem of DML information loss"
You can implement `debeziumdeserializationschema` to support your scenario

_Originally posted by @fuyun2024 in https://github.com/ververica/flink-cdc-connectors/issues/1256#issuecomment-1152504626_

same question，i wonder why update is split into create and delete？and which test case of the source code is used to test this？

[2022-09-02 03:31] Blank-creator397 opened #1536 "使用CDC实时同步数据需要一直连接数据库吗"
发现CDC是直接连接数据库的，如果使用CDC进行实时的数据同步，需要一直连接数据库吗？
如果是的话，那要是多个job进行实时的数据同步，那数据库就会一直连接多个job，数据库压力不会太大吗？

[2022-09-02 05:57] leesenlen commented on #1506
@ruanhang1993  Thanks for helping.
Is there a possible timeline for this problem?
It often encounters in our situation. We are looking for a solution.

[2022-09-02 07:07] kylemeow commented on #432
This issue might be caused by a long pause of TaskManager, such as a prolonged full GC, at which time the MySQL server thinks the client is not responsive so it stops transmitting binlog to the client, resulting in the EOFException.

Usually, a full restart could fix it temporarily. But I wonder if we could adjust the timeout so that the server can wait a little bit longer.

[2022-09-02 08:15] syyfffy commented on #1536
是长时间对占用这个连接，对数据压力来说走的是binlog，不是查询语句，那么不会有很大的影响，但是如果你可以使用java代码全局获取到你所有的数据库中的数据表连接，那么这只有一个连接存在了

[2022-09-02 08:44] Blank-creator397 commented on #1536
@syyfffy 但是如果别人也要对DB做数据同步的话，不是又要去连接DB吗，虽然一个连接不会有很大的影响，但是连接的多了不就影响大了吗？
而且别人应该不能直接用我的连接吧，不然我去主动触发了全量，不就影响了别人的同步任务吗？
这些都是我的疑问，感谢回答～

[2022-09-02 09:03] syyfffy commented on #1536
在数仓建设的过程中，同一份业务数据多次同步到不同的数仓？

[2022-09-02 09:32] Jungle666 opened #1537 "unsupported jdbc type"
java.lang.IllegalArgumentException: Unexpected value for JDBC type 4 and column pipeline_id INT UNSIGNED(10) NOT NULL: class=class [B
	at io.debezium.jdbc.JdbcValueConverters.handleUnknownData(JdbcValueConverters.java:1248)

.......

Caused by: org.apache.kafka.connect.errors.ConnectException: Data row is smaller than a column index, internal schema representation is probably out of sync with real

[2022-09-02 09:39] syyfffy commented on #1536
@Blank-creator397 你可以使用sls的日志的数据接入mysqlbinlog功能，里面存储的是所有表的数据，且只有一个，数据都从这里面取得

[2022-09-02 09:41] Blank-creator397 commented on #1536
增量和全量都可以使用binlog来获取吗

[2022-09-02 09:43] syyfffy commented on #1536
@Blank-creator397 全量数据是通过select * ,增量数据是查看binnlog（binlog是有过期时间的），开始先同步数据的时候，先执行一下全量数据同步，再增量进行数据同步binlog且是无锁算法

[2022-09-02 09:47] zhilinli123 commented on #432
refer to this
https://github.com/ververica/flink-cdc-connectors/issues/61

[2022-09-02 09:52] Blank-creator397 commented on #1536
对呀，全量通过select *不就得连接数据库来查吗，并不能只接入mysql的binlog吧。目前就是全量这个阶段要连接DB造成的困扰

[2022-09-02 09:55] GOODBOY008 commented on #1537
Real reason is
`'Caused by: org.apache.kafka.connect.errors.ConnectException: Data row is smaller than a column index, internal schema representation is probably out of sync with real database schema
'`. Are you use `sqlserver-connector`?

[2022-09-02 09:59] Jungle666 commented on #1537
im using mysql-connector

[2022-09-02 10:03] leonardBang commented on #1506
fixed in https://github.com/ververica/flink-cdc-connectors/pull/1522

[2022-09-02 10:19] ning2444 commented on #140
请问这个问题最后解决了吗？rds 是否可以通过新账号(控制不抽取的表的读权限)来抽取新老数据

[2022-09-02 10:20] Jungle666 commented on #1537
I guss it only support  "column pipeline_id INT UNSIGNED"   but "column pipeline_id INT UNSIGNED(10) " unsupported

[2022-09-02 15:21] GOODBOY008 commented on #1537
@Jungle666 Can u supply  table `ddl` and `sql`, I would reproduce this scenio.

[2022-09-03 03:59] Jungle666 commented on #1537
final we find the problem, and fix in
https://github.com/ververica/flink-cdc-connectors/issues/732
case replicia database need reconnect after change binlog_row_image param.

[2022-09-03 15:20] LXin96 commented on #1352
hello, @leonardBang. Does this enhancement mean to check the `connect.timeout` is a positive integer value expect zero as the description of connect.timeout.ms in debezium doc?
<img width="1688" alt="截屏2022-09-03 下午10 05 16" src="https://user-images.githubusercontent.com/23535593/188277174-aa643e30-dd20-4837-a9a2-4d43adc33e7f.png">

[2022-09-04 11:36] nickevin opened #1538 "Support TiDB 4.x"
Hello! Are there any plans in the near future to support version 4.x of TiDB?

[2022-09-05 02:03] ruanhang1993 commented on #1506
@leonardBang This is another problem that has not be fixed. We should reopen it.

[2022-09-05 02:56] cheshireez opened #1539 "什么时候可以添加pg的geometry字段支持"
测试了下，显示不支持该类型，是要怎么处理啊？

[2022-09-05 06:59] lijunkai opened #1543 "when will flink cdc mysql 2.X support specific-offset"
[ERROR] Could not execute SQL statement. Reason:
org.apache.flink.table.api.ValidationException: Unsupported option value 'specific-offset',
the options [earliest-offset, specific-offset, timestamp] are not supported correctly,
please do not use them until they're correctly supported

[2022-09-05 08:50] GOODBOY008 commented on #1539
@cheshireez I will take this feature.

[2022-09-05 09:57] kekebi commented on #1216
你好怎么跳过这个问题的，我的作业跑一段时间就会出现这个错误导致flink 任务失败

[2022-09-06 11:17] ruanhang1993 commented on #1506
Maybe you could cherry pick this PR as a quick fix version.

[2022-09-06 13:51] mxd-321 commented on #1282
Is there a follow-up to this question?

[2022-09-07 02:29] GOODBOY008 commented on #1543
Hi @lijunkai ,Pr has opened , pay attention to this pr https://github.com/ververica/flink-cdc-connectors/pull/1157.

[2022-09-07 02:35] lpn666 opened #1545 "When postgres cdc get exception 'FATAL: no pg_hba.conf' but work normally in jdbc connector."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :   1.14.4
 - Flink CDC version:  postgres cdc 2.2.1
 - Database and version:  postgres 9.6

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :

CREATE TABLE eee (
	a string ,
	b string
) WITH (
  'connector' = 'postgres-cdc',
  'host

[2022-09-07 02:41] yangmingjie opened #1546 "cdc connectors 2.0以上版本，debezium配置不起效"
**Describe the bug(Please use English)**
cdc connectors 2.0以上版本，debezium配置不起效
之前的版本是可以的

![image](https://user-images.githubusercontent.com/5827183/188776525-0010837b-14d0-4616-8b91-e73e7bc12ad7.png)

@leonardBang @wuchong @GOODBOY008

[2022-09-07 02:42] #1488 closed

[2022-09-07 02:42] yangmingjie commented on #1488
自己编译也行

[2022-09-07 02:58] #1545 closed

[2022-09-07 06:24] burningg commented on #1546
我也遇到了，没解决

[2022-09-07 08:38] xieyi888 commented on #1206
Here is the process:
Environment :
Flink version : flink 1.14
Flink CDC version: 2.3-SNAPSHOT(build master branch)
Database and version: tidb 5.1

1. prepare Tidb table
[code]

 before flink tidb-cdc start,the newest row is '2022-09-07 15:31:07 '
[code]
2. start flink job tidb-cdc
flink sql
[code]

3. during flink job running,I insert some data to TIDB(6 rows)
[code]

4. Watch the log of TM
**2022

[2022-09-07 08:49] xieyi888 commented on #1206
TM print in step 5
![image](https://user-images.githubusercontent.com/105206850/188834485-d9981de3-fcb0-4561-b26a-5731d13a9167.png)

[2022-09-07 09:08] GOODBOY008 commented on #1546
Hi. @yangmingjie  @burningg . Thanks for reporting this issue. I will reproduce this scenio and find out what happens.

[2022-09-07 09:21] mxd-321 commented on #1282
Will this issue be fixed in the future?

[2022-09-07 12:04] mxd-321 commented on #1168
Me too
Did the owner solve it?

[2022-09-07 12:18] mxd-321 commented on #1252
Me too.Did the owner solve it?

[2022-09-08 07:25] lykpass commented on #1546
![image](https://user-images.githubusercontent.com/48595535/189060613-60958d96-4a68-4497-8d86-0af990f13f85.png)
![lQLPDhteKU_wZeXMqc0BkbACp5P1Uhy-zgJq8nvpgAIA_401_169](https://user-images.githubusercontent.com/48595535/189060670-d5bc0bd8-c091-4bfc-9e32-232680e29701.png)
还请后续支持该功能，我们的业务很需要这个功能，我们目前用的还是1.4的版本

[2022-09-09 01:02] Yanbigfeng commented on #1546
是的，我们再项目中也遇到了！怎么设置都不起作用。
Yes, we also met in the project! No matter how you set it, it won't work.

[2022-09-09 01:07] yangmingjie commented on #1546
Thanks，Big Hero.

[2022-09-09 01:40] GOODBOY008 commented on #1546
@yangmingjie  config 'debezium.startup.model' was wrong, it should be `scan.startup.mode`.

[2022-09-09 01:47] GOODBOY008 commented on #1546
BTW, brand new parallel mysql implement perform oneself `snapshots ` , so some `debezium` config won‘t work.

[2022-09-09 08:00] fzxs8 opened #1549 "postgres-cdc 什么时候支持postgres 14+"
草率了. 使用了postgres14+

想用CDC做数据同步 发现没有这个版本

请问有没有计划支持 postgres14
什么时候能支持.

[2022-09-09 08:47] MrChenDong opened #1550 "使用flinkcdc（mysql）查询mysql表报org.apache.flink.runtime.dispatcher.UnavailableDispatcherOperationException"
org.apache.flink.runtime.dispatcher.UnavailableDispatcherOperationException: Unable to get JobMasterGateway for initializing job. The requested operation is not available while the JobManager is initializing.
	at org.apache.flink.runtime.dispatcher.Dispatcher.getJobMasterGateway(Dispatcher.java:903) ~[flink-dist_2.11-1.13.6.jar:1.13.6]
	at org.apache.flink.runtime.dispatcher.Dispatcher.performOper

[2022-09-10 04:27] shadon178 commented on #1539
修改源码就可以了

[2022-09-10 04:29] shadon178 commented on #1536
没办法的，全量没法从binlog获取到的，因为binlog可能不完整；如果binlog完整也就不需要全量阶段了。

[2022-09-11 08:04] chrofram commented on #1326
Boss, have you solved this problem, I have the same problem

[2022-09-11 11:26] qq443672581 commented on #1326
@chrofram here

[2022-09-13 07:01] kylemeow opened #1552 "Potential transaction leak during MySQL snapshot phase"
**Describe the bug(Please use English)**
We have found that during the MySQL snapshot phase, a transaction is initiated but never committed, resulting in the transaction being left there for a long time.

For instance, the binlog is like

[code]

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.3
 - Database and version: MySQL 5.7

**To Reproduce**
Steps to reproduce the behavi

[2022-09-13 07:07] kylemeow commented on #1552
Hi @leonardBang , may I know if this is a bug or a feature? The uncommitted transaction is identified by our database monitoring system, but it seems not yet to have caused any explicit errors anyway.

[2022-09-13 09:09] juecong commented on #1189
你好，请问你最后是用什么办法来解决的呢？ 我目前也遇到这个问题，开启全量同步数据时，获取的数据全部在单任务中，导致内存占用很大，请不吝赐教，谢谢

[2022-09-13 11:56] glaryaugus opened #1553 "flinkcdc oracle 中oracle生成的表LOG_MINING_FLUSH是干嘛用的"
使用flinkcdc Oracle 会在Oracle库中生成LOG_MINING_FLUSH表，里面只有一个字段一个值LAST_SCN并且在一直变化中，这个表有什么作用呢。能不能解释一下。

[2022-09-13 18:58] gejohnny commented on #371
It seems that even though the commit is marked as merged into master, it doesn't show up in any of the public branches - the solution doesn't seem to have been submitted correctly.

git branch --contains 8e42fff5dddd32ac1d708106b9bcc59ae5bb5b5f
error: no such commit 8e42fff5dddd32ac1d708106b9bcc59ae5bb5b5f

P.S.: We adopted the least version of flink-cdc, but still having problem handling enum typ

[2022-09-14 02:03] luckyboy2226 commented on #1164
*I also encountered the same problem, the project can not go on.*

*Environment :*

Flink version : 1.14.5
Flink CDC version: 2.2.1
Database and version: Mysql 5.7

[code]

[2022-09-14 06:19] Myles21 commented on #1399
I encountered the same error,Have you found the cause?

[2022-09-14 12:38] xieyi888 commented on #1189
Here is the ideas, maybe you can refer to it

com.ververica.cdc.connectors.tidb.table.utils.TableKeyRangeUtils

(1)get the minKey、MaxKey of TIDB table.(via Tikv client or jdbc)
(2)set delta = (maxKey-minKey)/Parallelism
(3)set startKey、endKey in loop

[code]

[2022-09-14 13:44] juecong commented on #1189
好的。非常感谢

[2022-09-15 03:29] chrofram commented on #1326
Thanks a lot, this solved my problem!

[2022-09-15 11:31] juecong commented on #1189
请问我该怎样获取long类型的minKey和maxKey,如使用tikv client 。 另外ByteString.copyFromUtf8("key"), 这个方法中的Key指的是什么字符呢，如表中有id,name列， 表中对应的数据为  1,  名称

[2022-09-15 12:04] EMsnap opened #1555 "OracleE2eITCase occurs error"
**Environment :**
 - Flink version : 1.13
 - Flink CDC version: 2.3-SNAPSHOT
 - Database and version: oracle-xe-11g-r2-cdc:0.1

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. <[101,scooter,Small 2-wheel scooter,3.14, 102,car battery,12V car battery,8.1, 103,12-pack drill bits,12-pack of drill bits with sizes ranging from #40 to #3,0.8, 104,hammer,12oz carpenters hammer,0.7

[2022-09-15 12:58] GOODBOY008 commented on #1549
@fzxs8 We will plan to bump dbz verison and supoort more versions of pg.

[2022-09-16 03:50] GOODBOY008 commented on #1553
HI @glaryaugus ,This table is created and maintained by debezium, which is used to flush logwriter processs.

[2022-09-16 03:54] GOODBOY008 commented on #1552
@kylemeow  I will try to reproduce on my local and confirm this issue.

[2022-09-16 06:49] Jungle666 opened #1557 "How to Data Mapping Type with dynamic key when use mongo-cdc"
there is  document with dynmic key ,such like k1,k2.....kn
[code]

When I create source table with flink sql  like:
[code]

then i got error:
[code]
so how to define flink sql to mapping k1 and kn..... without error

[2022-09-16 07:19] deemogsw opened #1558 "e2e-tests optimize for arm"
I want to debug the code with module flink-cdc-e2e-tests in IDE.
While,although I have run the docker desktop in my mac.An exception still been throwed like this
<img width="1381" alt="image" src="https://user-images.githubusercontent.com/48081481/190575322-457a51ba-341b-4a3c-b676-804560786c48.png">
The current code can't work in Mac with apple silicon chip.

Besides teste moudle use docker contai

[2022-09-16 09:27] chrofram commented on #1406
However, it seems that this timezone setting is only effective in the streaming phase, while in the initial snapshot phase, the local timezone is still used (e.g. UTC+8), causing data inconsistency and puzzles for users.

Boss, is this the opposite?

When I tested it, server-time-zone can only control the time zone during the snapshot, no matter how it is modified, it cannot change the time zone d

[2022-09-16 11:33] kylemeow commented on #1406
Hi @chrofram , thanks for sharing your experiences with this issue. Based on what I have observed, only the streaming phase is affected by the `server-time-zone` option in my environment, at least for `TIMESTAMP` fields.

May I know the `CREATE TABLE` statements for your MySQL table?

[2022-09-16 15:01] chrofram commented on #1406
Thanks for your reply, here is my MysqlTable:

CREATE TABLE `test` (
  `id` bigint(20) NOT NULL AUTO_INCREMENT,
  `updated` timestamp NOT NULL DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
  `create_date` datetime DEFAULT NULL,
  `check_time` datetime NOT NULL DEFAULT CURRENT_TIMESTAMP,
  PRIMARY KEY (`id`)
) ENGINE=InnoDB AUTO_INCREMENT=58009 DEFAULT CHARSET=utf8;

And here is my Flinkta

[2022-09-17 04:21] Peng-89 commented on #1223
the table not in savepoint state

[2022-09-17 15:08] chenfan331 commented on #1494
大佬，解决了吗？我也遇到了这个问题

[2022-09-17 15:14] chenfan331 commented on #632
大佬，解决了吗，我也遇到这个问题不知道怎么解决

[2022-09-17 15:22] chenfan331 commented on #632
大佬，解决了吗，我也遇到这个问题不知道怎么解决

[2022-09-19 02:10] #1537 closed

[2022-09-19 02:13] ruanhang1993 commented on #1399
There are some problems when using add columns with default string values. @Myles21

[2022-09-19 04:37] Jungle666 commented on #1557
map fix my problem

[2022-09-19 04:37] #1557 closed

[2022-09-19 07:21] yuandajn578 commented on #795
+1

[2022-09-19 09:10] Jiabao-Sun commented on #1518
@csj-9-9 目前还不支持 MongoDB 6.0

[2022-09-19 09:52] ruanhang1993 commented on #1506
@lijunkai I am not sure about the reason for your problem. But it seems that the error is not caused by this PR.  This PR only changes the behavior when converting the default string values.

[2022-09-19 09:56] dongpengfei2 commented on #709
同样遇到此问题：
flink : 13.5
cdc : 2.2.1
mysql : 5.7

java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:223)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache.flink.connector.base.source.reader.

[2022-09-20 06:36] Jiabao-Sun commented on #1539
Closed by #1554

[2022-09-20 06:36] #1539 closed

[2022-09-20 06:44] foobarrer opened #1565 "Why there is not primary key flag for a table?"
**Is your feature request related to a problem? Please describe.**

I make a mysql sink function for write the data from kafka to mysql

***When use the dataStream API , Why there is not primary key in the captured data***
it's quiet a big problem for me, cuz I can't do some action like update or delete in the target mysql table by a unique key
besides for current version of *flink cdc*, the table

[2022-09-20 10:11] #1352 closed

[2022-09-20 13:34] kylemeow commented on #1406
Hi @chrofram , sadly I still cannot reproduce your case in my own environment.

As we know, Debezium internally reads Timestamp data in UTC during the streaming phase (like '2022-09-20T08:14:00Z'), and later Flink CDC Connector converts the UTC timestamp string into `LocalDateTime` via `com.ververica.cdc.debezium.utils.TemporalConversions#toLocalDateTime` with the user-defined `server-time-zone`,

[2022-09-20 15:48] chrofram commented on #1406
@kylemeow ,Thank you so much for your guidance! After my test, when I use flinkCDC native SQL, the situation is as you said; and when I use streamAPI, because I use JsonDebeziumDeserializationSchema instead of RowDataDebeziumDeserializationSchema that native SQL uses by default, and I didn't handle the conversion of various types of time in my code, so the opposite occurs in the question of time z

[2022-09-20 16:47] Toms1999 opened #1566 "[docs] error version url"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
![image](https://user-images.

[2022-09-21 03:20] #1566 closed

[2022-09-21 15:46] #1506 closed

[2022-09-22 02:13] fjyulu commented on #1243
I really appreciate it if someone can tell me wether there is a **primary key flag**in the future or there will **not have** a primary key flag. I'm waiting for a certain answer, no matter whether it's true or false.
thanks a lot

[2022-09-22 07:22] murongpingtian opened #1570 "Use Incremental Snapshot Framework for Sqlserver CDC Connector"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-09-22 07:27] zjialin opened #1571 "flink cdc sqlserver全量+增量不锁表"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-09-22 07:38] murongpingtian commented on #1571
加1

[2022-09-22 08:27] peterjqy commented on #709
try to set server_id value,

[2022-09-22 09:11] murongpingtian commented on #1212
需要

[2022-09-22 09:18] chenfanz commented on #1212
Much needed, thanks for the contribution

[2022-09-22 10:12] tao-xiao-sn opened #1572 "Expose MySQL transaction id as metadata column"
**Is your feature request related to a problem? Please describe.**
Unable get `transaction.id` from MySQL CDC while the underlying Debezium provides it

**Describe the solution you'd like**
Something like below would work

[code]

**Describe alternatives you've considered**
No alternative

[2022-09-22 11:24] wd6608286 commented on #1212
need more

[2022-09-22 14:18] zjialin commented on #1570
加1

[2022-09-23 00:40] waywtdcc opened #1574 "oracle cdc must create and write tables and cannot synchronize slave libraries"
**Describe the bug(Please use English)**
oracle cdc must create and write tables and cannot synchronize slave libraries.
I need to sync oracle cdc data from oracle slave repository. However, the slave library cannot create and write tables, so the create table and write table permissions cannot be given. But the program reports an error.
The oracle slave library can not give permissions:
[code]

*

[2022-09-23 00:52] rookiegao commented on #1571
Follow this pr https://github.com/ververica/flink-cdc-connectors/pull/1222

[2022-09-23 03:36] chn8lij opened #1575 "oracle cdc get data change operation type always be READ"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.
oracle cdc connector get wrong data change operation type in my case , always be READ ,whatever i create ,update or delete row data in table
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:  2.2.1
 - Database and version: oracle 19c

**To Reproduce**
Steps to reproduce the behavior:
1. Th

[2022-09-23 06:22] chn8lij commented on #1575
i use the same version mysql connector ,the data change operation type is working ok , so i do the same way on oracle,first problem is that i get operation type always be Read ,second is that the data structure is not same with mysql ,i hope cdc project could make ths data structure same to the same type Database ,such as mysql/orcale/sqlserver

[2022-09-23 07:25] zjialin commented on #1571
我需要全量这部分数据，只增量不会锁表的

[2022-09-23 08:23] rookiegao commented on #1571
增量快照目的就是为了全量阶段无锁，并且可以并行读取
具体原理可浏览文档以及相关博客
https://ververica.github.io/flink-cdc-connectors/master/content/connectors/mysql-cdc%28ZH%29.html#a-name-id-001-a

[2022-09-23 08:24] thesumery commented on #175
CDC Java层面识别DDL变更是因为反序列化的时候不固定RowData的格式了吧，可以反序列化成Json或者String，但是在SQL层面上数据在不同的Operator间流动都是采用固定了PhysicalType的RowData，这个地方是否需要引入一个新的数据结构来表示DDL变更？

类似于`Watermark`、`WatermarkStatus`、`Record`这种级别的数据？

[2022-09-23 09:43] JuchangGit opened #1576 "oracle中获取BLOB字段报错"
请问oracle中获取BLOB字段报错怎么处理？
2022-09-16 16:54:36,972 ERROR io.debezium.relational.TableSchemaBuilder [] - Failed to properly convert data value for 'JWDB.ACADEMIC.STUDENT.PHOTO' of type BLOB for row [10427, 3200, , null, oracle.sql.BLOB@2c86cd16, 0, 0, 0, null, null, null]:
io.debezium.DebeziumException: Couldn't convert value for column PHOTO
        at io.debezium.connector.oracle.OracleValueConvert

[2022-09-24 08:22] melin commented on #1032
Version 2.3 has a release schedule. flink 1.16 will be released. flink cdc stable version does not support 1.15 yet

[2022-09-24 16:23] frozenheartboy commented on #432
问题+1，在修复版本发布前，有什么临时替代方案吗

[2022-09-26 01:50] yangmingjie commented on #1546
那 debezium的配置，在我们自己的实现有对应的配置吗？

[2022-09-26 02:08] zjialin commented on #1571
source = sqlserver  不是mysql

[2022-09-26 02:18] MadaoRyan commented on #1036
i have the same questions，and the code running after many days occured this question，and the code has already add 'debezium.log.mining.strategy' = 'online_catalog',
'debezium.log.mining.continuous.mine' = 'true',
but my flink version is 1.14.5 and cdc version is 2.2.1

[2022-09-26 02:30] KK900716 opened #1579 "flink cdc使用新的MySqlSource中必须包含主键吗？可以不使用无锁算法吗？我想同时抓取到无主键的表和DDL"
我在使用flink cdc做同步的项目中，无法同时同步无主键的表和DDL语句！

[2022-09-26 06:27] constantlyF opened #1580 "mysql-cdc CPU utilization100%"
**Flink mysql-cdc CPU usage is 100%**

**The CDC can read data, but the mysql Server monitor reports a large number of error logs, and the CPU usage is 100%, causing the mysql Server to be unavailable**
Aborted connection 38868 to db: 'unconnected' user: 'xxxx' host: 'xxx' (Failed on my_net_write())
Aborted connection 17042 to db: 'unconnected' user: 'xxx' host: 'xxx' (Got timeout reading communic

[2022-09-26 07:56] wayne163 opened #1581 "TiDB CDC demo not work"
Hi,

I followed the [DEMO: TiDB CDC to Elasticsearch](https://ververica.github.io/flink-cdc-connectors/release-2.2/content/quickstart/tidb-tutorial.html), start tidb, tikv, tipd, es, kibana with docker compose. and start flink cluster and sql-client with application mode by docker compose.
I have created table orders and products in tidb, and create 3 tables in flink successfully as demo says, but

[2022-09-26 10:20] fuyun2024 opened #1582 "The fetchSize parameter is not used"
**Describe the bug(Please use English)**
When I set fetchSize=10, use MySqlConnectorConfig The value obtained by the getQueryFetchSize() method is 0

**Environment :**
 - Flink version :  Flink 1.14
 - Flink CDC version:  2.3-SNAPSHOT
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :

**Additional Description**
If appli

[2022-09-26 11:27] frozenheartboy commented on #709
同遇到类似问题，有解决方案了吗

[2022-09-27 01:33] rookiegao commented on #1571
cc @GOODBOY008

[2022-09-27 01:48] #1575 closed

[2022-09-27 07:00] lanse-li opened #1584 "cdc for mongo support startupOptions.specificOffset(_id)"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-09-27 07:07] lanse-li commented on #1584
如果是多库多表， 希望能够支持map参数，设置多表的数据回溯功能

[2022-09-27 10:14] 805094591 opened #1585 "my flink cdc cannot link to mysql"
![截图 2022-09-27 18-10-01](https://user-images.githubusercontent.com/39234160/192499497-b19456da-ad10-418a-8278-5aecfe0bf82b.png)

ask for help. thank you.

[2022-09-27 10:39] 805094591 commented on #1585
Flink SQL> select id from products_cdc;
[ERROR] Could not execute SQL statement. Reason:
java.net.ConnectException: 拒绝连接 (Connection refused)

[2022-09-27 12:04] yuandajn578 commented on #1114
+1

[2022-09-27 14:55] deemogsw commented on #1558
@leonardBang May you have a look.

[2022-09-28 06:47] pbnoyz commented on #1585
How can you connect to 0.0.0.0?

[2022-09-28 08:01] moonService opened #1588 "How to use flink-cdc to combine vertically split tables into one table in iceberg"
i tried the following:
`CREATE` TABLE source_part_1 (`
`columns...`
` PRIMARY KEY (pk) NOT ENFORCED`
  ` ) WITH (`
`connectinfo...`
  `);`

 ` CREATE TABLE source_part_2 (`
   ` columns...`
 `   PRIMARY KEY (pk) NOT ENFORCED`
  `) WITH (`
 `   connectinfo...`
 ` );`

   `CREATE TABLE iceberg_table (`
 `   part_1_columns...`
  `part_2_columns...`
    `PRIMARY KEY (pk) NOT ENFORCED`
  `) WITH (`
  `

[2022-09-28 09:16] yequanzhuo opened #1589 "Support DaMeng DB 8.X"
Hi, Are there any plans in the near future to support version 8.x of DaMeng DB?

[2022-09-28 10:26] dutao1 opened #1591 "[MySQL-cdc]set scan.startup.mode=initial and the Parallelism >1 ,mysql-cdc can't work correctly"
**Describe the bug(Please use English)**
 When I use datastream  api  and set scan.startup.mode=initial  and  parallelism >1 ,for example: I set parallelism=4,

please to see :https://ververica.github.io/flink-cdc-connectors/master/content/connectors/mysql-cdc.html#startup-reading-position

program can pull snapshot datas ,but can't pull any changed data .

But  when I set parallelism=1 the progra

[2022-09-28 10:41] SoulSong opened #1592 "ticdc消费offset能够在checkpoint时存储至tikv，便于在丢失checkpoint存储时情况下重启job"
**Describe alternatives you've considered**
ticdc消费offset能够在checkpoint时存储至tikv，便于在丢失checkpoint存储时情况下重启job。

[2022-09-28 12:47] #1592 closed

[2022-09-29 02:29] #1588 closed

[2022-09-29 03:28] SoulSong opened #1593 "tidb-cdc-connector 组件有考虑service GC safepoint吗"
tidb-cdc-connector 组件有考虑service GC safepoint吗？如果不考虑，怎会在任务中断的情况下，由于tikv的gc导致数据丢失。

[2022-09-29 05:33] echobigdata opened #1594 "flink cdc 支持同步表结构的变更吗，比如新增列，删除列"
使用flinkcdc 从mysql同步数据到doris，如果数据源端表结构发生变化新增了一列，下游doris表如何同步更新呢

[2022-09-29 05:48] echobigdata commented on #1585
hostname这里改下呢

[2022-09-29 05:56] echobigdata commented on #1124
I have also encountered this problem. Do you have any solution now

[2022-09-29 06:37] JesseAtSZ commented on #1594
支持，MySQL Source有个选项includeSchemaChanges，填写true可以同步DDL

[2022-09-29 07:03] echobigdata commented on #1594
非常感谢您的解答，我去按您说的这个方式搞搞

[2022-09-29 07:33] linmingze opened #1595 "insert into mysql by stream api"
Is there any case that deserialize debezium SourceRecord to sql or other for insert mysql.
Table Api change SourceRecord to RowData,but it do not suppot multi table.

[2022-09-30 01:53] moly52 opened #1596 "Any plan for Oracle 10g? and When support for Flink 1.5+"
there is some db is oracle10g，and I want write data to oracle with flink-connector-jdbc.

[2022-09-30 02:14] xuhaiL commented on #276
出现这个异常后，数据发生了丢失，你们有观察发现嘛？

[2022-09-30 02:32] #1533 closed

[2022-09-30 03:06] enterwhat commented on #276
之前遇到过，初步排查应该是source端或者sink端数据读写超时

在 2022-09-30 10:14:33，"xu haiLong" ***@***.***> 写道：

出现这个异常后，数据发生了丢失，你们有观察发现嘛？

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you commented.Message ID: ***@***.***>

[2022-09-30 06:27] klovec opened #1597 "The order of the sql of the insert statement will affect the task recovery from the checkpoint"
**The order of multiple insert into select statements will affect the task recovery from the checkpoint and data loss**

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version:  2.2.1
 - Database and version: Mysql 8.0.18, Doris 1.1.0-rc05

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
[code]
2. The test code :
[code]

3. The error :

First, execute the above code

[2022-09-30 07:16] adam3asy opened #1598 "Flink Connector TiDB CDC throws exception java.lang.NullPointerException at org.tikv.cdc.CDCClient.getMinResolvedTs"
**the bug**
I use Rancher to deploy a k8s cluster (3 node), then deploy a TiDB database on K8s use TiDB Operator， and then use Flink Operator to deploy a flink job service, its bussiness code as follows:

[code]

the flink job  throws NullPointerException at org.tikv.cdc.CDCClient.getMinResolvedTs.  Details logs in the end. Can anybody knows why?

**Environment :**
 - Flink version :  1.14.4
 - Fl

[2022-10-07 07:16] luguanxing opened #1600 "will flink-cdc support to capture transactional information?"
When i update tables in one transaction, it seems that changelogs were captured and handled separately by flink-cdc, which means their connection to each other is lost.  So is there any way to keep the relevance between these changelogs?
(e.g. When using flink-cdc summing total value from accounts, if one account's cash is transferred to another account,  then the total value may decrease at first

[2022-10-07 10:22] hb0 commented on #946
_For future readers:_

Got the same exception using `com.ververica:flink-connector-mongodb-cdc`

I wasn't sure what the `sql` jar is, but `com.ververica:flink-sql-connector-mongodb-cdc` fixed it.

_(I'm not sure if this has any other consequences, though)_

[2022-10-07 11:13] hb0 commented on #1010
Any updates on this?

Found [this](https://github.com/ververica/flink-cdc-connectors/issues/946) issue which suggests to use the SQL-jar instead (my guess is that this means `com.ververica:flink-sql-connector-mongodb-cdc`), which fixes the exception, but I'm completely new to CDC and still have to find out if this intruduces any consequences ;)

[2022-10-08 04:32] Amber1990Zhang opened #1601 "Made a Flink demo tutorial"
As title. I made a video Flink demo tutorial by using the Flink OceanBase CDC connector as an example.
Reference doc: https://github.com/ververica/flink-cdc-connectors/blob/master/docs/content/connectors/oceanbase-cdc.md
https://github.com/ververica/flink-cdc-connectors/blob/master/docs/content/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B/oceanbase-tutorial-zh.md
Video:
[Bilibili](https://www.bilibili.com

[2022-10-08 07:36] zjwwf opened #1602 "运行一段时间读取binlog错误，binlog文件没有失效，是什么原因引起的呢？"
运行一段时间后出现DebeziumException错误，具体报错日志如下
the connector is trying to read binlog starting at SourceInfo [currentGtid=null, currentBinlogFilename=mysql-bin-changelog.254939, currentBinlogPosition=8204468, currentRowNumer=0, serverId=0, sourceTime=null, threadId=-1, currentQuery=null, tableIds=[], databaseName=null], but this no longer avallable on the server. Reconfigure the connector to use a snapshot

[2022-10-08 16:45] yaoyi opened #1603 "flink cdc postgresql always be canceling and kill the task manager in 180 seconds"
**Describe the bug(Please use English)**
we use flink cdc to transfer data from postgresql to apache doris, it works fine, but once we restart apache doris, the flink job gets stuck in CANCELLING state, never gets canceled, and after 180+ seconds, the task manager watchdog kills the task manager.

**Environment :**
 - Flink version :  1.14.5
 - Flink CDC version: 2.2.1
 - Database and version: pos

[2022-10-08 16:47] yaoyi commented on #1458
@Angelasp 我这边也遇到一样的问题，你解决了吗？

[2022-10-09 03:32] leonardBang commented on #1601
@Amber1990Zhang So cool！！ Would you like to open a PR to add the video links to the document?

[2022-10-09 06:33] #1601 closed

[2022-10-09 07:19] chen-yu342 commented on #945
开启cehcpoint也没有用

[2022-10-09 08:08] #1594 closed

[2022-10-09 08:10] yuangjiang commented on #1570
加1

[2022-10-09 08:44] ruanhang1993 commented on #1591
Hi, @dutao1 , I add the following test in the `MySqlConnectorITCase.java` at the branch release-2.2. But there is not any error.

[code]

[2022-10-09 08:49] ruanhang1993 commented on #1585
First of all, could you connect to mysql by `mysql -h 0.0.0.0 -P 3306 -uroot -p`?

[2022-10-09 10:40] hqbhoho commented on #1594
support create/drop database/table?

[2022-10-09 13:30] tanjcf opened #1607 "flink cdc Oracle 在监听oracle日志期间,监听表添加了字段,下标越界"
Environment :

Flink version : 1.14.5
Flink CDC version: 2.3-SNAPSHOT
Database and version: 12c

To Reproduce
Steps to reproduce the behavior:
flink cdc Oracle 在监听oracle日志期间,监听表添加了字段,下标越界
场景:表新增了字段,监听出来的日志,DML报异常下标越界
<img width="905" alt="454A5AFD-091D-4576-B60D-21BF6DC75404" src="https://user-images.githubusercontent.com/70000350/194759714-6cfcac51-d63b-4f14-b0dd-a16860eff0df.png">

[2022-10-10 03:19] hqbhoho opened #1610 "Flink CDC will hang up in local test with IDEA"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.2.0
 - Database and version: mysql 8.0.22

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
[code]

3. The error :

**Flink CDC will hang up in local test with IDEA with two cases as shown below**
a

[2022-10-10 05:57] ChenShuai1981 commented on #1030
I met the same issue with version 2.2.1

	at io.debezium.pipeline.ErrorHandler.setProducerThrowable(ErrorHandler.java:42)
	at com.ververica.cdc.connectors.mysql.debezium.task.context.MySqlErrorHandler.setProducerThrowable(MySqlErrorHandler.java:72)
	at io.debezium.connector.mysql.MySqlStreamingChangeEventSource$ReaderThreadLifecycleListener.onCommunicationFailure(MySqlStreamingChangeEventSource.ja

[2022-10-10 05:57] BuddyJack commented on #1030
邮件已收到！谢谢！                       薛超

[2022-10-10 07:07] tanjcf commented on #1607
新增加一个字段
<img width="501" alt="1665324299315_C4D67DD0-DE4C-4f7a-A151-2559BB968B47" src="https://user-images.githubusercontent.com/70000350/194813697-7ce4b890-ff87-47e2-9f49-5f1644b36722.png">
<img width="188" alt="1665324381358_3A77CFFA-E4F4-4fb5-860C-60CC7EF47680" src="https://user-images.githubusercontent.com/70000350/194813716-9c61c076-2c5d-4c49-8c01-a17fcace4c82.png">
然后在插入一条数据 id 为40的这条
<img w

[2022-10-10 09:37] ruanhang1993 commented on #1607
Thanks for your report, @tanjcf. I am interested in this bug. And I will take a look at this later.

[2022-10-10 09:37] hqbhoho commented on #1045
+1

[2022-10-11 21:13] sap1ens commented on #1241
Hey everyone, just wanted to check on the status of this issue. It seems like the PR has been approved. Is there anything else to be done here?

I'm thinking if I should wait until it's merged to master or just try it as is in my internal fork.

[2022-10-12 02:08] kangshisen opened #1612 "InterruptedException while waiting for asynchronously snapshot split"
**Environment :**
 - Flink version :  1.14.5
 - Flink CDC version: 2.2.1
 - Database and version: Mysql5.6.39

**To Reproduce**
Flinkcdc同步Mysql数据的时候出现个别数据库不采集数据也不报错的问题，提交方式采用的yarn per-job。
这是我测试的flinksql：
<img width="963" alt="image" src="https://user-images.githubusercontent.com/38653300/195232136-6518687f-fb1e-4f40-82f2-aaf631ffdf56.png">
这是提交后的flinkweb界面
![image](https://user-images.githubuserc

[2022-10-12 02:46] zhang18668 commented on #1125
I also encountered the same problem. No error was reported, but some data was lost

[2022-10-12 02:47] zhang18668 commented on #1125
![企业微信截图_16655378294398](https://user-images.githubusercontent.com/38175753/195237957-5316c640-17ff-4c14-8dd7-b45ee6d05830.png)

[2022-10-12 02:48] zhang18668 commented on #1125
![image](https://user-images.githubusercontent.com/38175753/195238079-b242fce5-96d3-40c9-b244-c1f765dd4f09.png)

[2022-10-12 02:49] zhang18668 commented on #1125
I also encountered the same problem. No error was reported, but some data was lost

[2022-10-12 03:22] fuyun2024 commented on #1612
The real mistake is not here. Can you check TM log

[2022-10-12 05:06] kangshisen commented on #1612
No error information is displayed in the TM log. Procedure

[2022-10-12 05:57] kangshisen commented on #1612
[taskmanager_container_1661934954992_5903_01_000002_log.txt](https://github.com/ververica/flink-cdc-connectors/files/9761947/taskmanager_container_1661934954992_5903_01_000002_log.txt)

[2022-10-12 08:35] ruanhang1993 commented on #1607
@tanjcf Adding `'debezium.internal.log.mining.dml.parser'='legacy'` table option to your table may be helpful. This seems to be a bug in 1.6.4.Final debezium oracle connector.

[2022-10-12 13:02] hushuiwang commented on #48
@wuchong 你好，在gtid的模式下，如果发生主从切换，就算gtid还存在，但是由于新节点binlog文件位点不再了，依然会提示同步失败。这个时候需要从新指定位点消费，我看旧版本是支持的，但是到了2.2的最近版本，支持指定位点开始消费的特性又没了，想请问下为什么要删除这个特性

[2022-10-12 13:33] hushuiwang commented on #21
@wuchong 你好，我们生产
 Connector last known GTIDs are 0f26f321-9c39-11eb-bd94-043f72d8bdae:1-649435898,3f6645a0-1859-11ed-a419-b02628437420:1-1422544843,5a708966-7b33-11eb-bee5-b8599fe78491:1-454976300,9052647d-cfdd-11eb-805a-0c42a136700d:1-61724,99e061e5-b933-11eb-ade7-b02628435bb0:1-2029507171,a9c565bf-82d5-11e9-a939-246e9677024a:1-20762503,b60d32c7-82d5-11e9-8793-246e967649ca:1-1627324,ca53398f-0a0b

[2022-10-13 05:50] 1747166759 commented on #709
flink cdc mysql 2.2.1  mysql 5.7   scala2.11   flink 1.13.1

java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:199) ~[flink-connector-base-1.13.1.jar:1.13.1]
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java

[2022-10-13 10:06] lanse-li opened #1613 "Support datetime type format"
cdc for mysql JsonDebeziumDeserializationSchema datetime type format result "2022-10-13T09:35:40Z", Expected to support custom formatting；

Expected：
MySqlSource.builder().date_format("yyyy-MM-dd HH:mm:ss.SSS")

[2022-10-14 03:32] ruanhang1993 commented on #1613
This option is not from the cdc connector. It is the format option from the json format.

Maybe [json.timestamp-format.standard](https://nightlies.apache.org/flink/flink-docs-release-1.15/docs/connectors/table/formats/json/) is what you need.

[2022-10-14 06:12] pycgo commented on #432
+1 求修复

[2022-10-14 07:12] ldwnt opened #1614 "[question] best practice of timezone setting for mysql timestamp fields in both snapshot and binlog phases"
**Describe the bug(Please use English)**
The scenario is to use flink streaming api and flink cdc to poll data from mysql and write to kafka. A field value of timestamp field is expected to be in UTC timezone.

1. In snapshot phase of mysql flink cdc, UTC is used as default value for paramter serverTimezone. However, the mysql global timezone is +08:00, which means the sessionTimezone of jdbc conn

[2022-10-14 08:51] gleiyu opened #1615 "[Bug] inconsistent data when mysql source table has default value"
**Describe the bug(Please use English)**
inconsistent data when mysql source table has default value

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.1.1
 - Database and version: polardb 8.0

**To Reproduce**
Steps to reproduce the behavior:
1. create source table
[code]
2.  insert data
[code]
3. mysql flink cdc
[code]
4. print data in console
[code]
**create_time and age in s

[2022-10-17 02:33] guixin commented on #1602
hi, what's you cdc version using? Use latest version may fixed it. By the way, cdc don't support `when_needed` mode. this comment hope to help you.

[2022-10-17 03:09] Peng-89 commented on #851
Is this problem solved now?

[2022-10-17 03:09] Peng-89 commented on #851
Is this problem solved now?

[2022-10-17 04:19] leonardBang commented on #1351
Fixed in #1109

[2022-10-17 04:19] #1351 closed

[2022-10-18 03:44] fuyun2024 opened #1621 "When Mode `LATEST_OFFSET` starts,If the task generates an exception , data Repetition will occur when restarting"
**Describe the bug(Please use English)**
io.debezium.DebeziumException: Error processing binlog event
	at io.debezium.connector.mysql.MySqlStreamingChangeEventSource.handleEvent(MySqlStreamingChangeEventSource.java:369)
	at com.ververica.cdc.connectors.mysql.debezium.task.MySqlBinlogSplitReadTask.handleEvent(MySqlBinlogSplitReadTask.java:94)
	at com.github.shyiko.mysql.binlog.BinaryLogClient.notif

[2022-10-18 05:22] ChenShuai1981 commented on #276
我也遇到了相同的问题，flink 1.13.2 + cdc 2.1.0 消费mysql v5.7.26 binlog，作业成功进行3次checkpoint之后开始频繁重启，抛错日志如下：
`2022-10-17 11:48:21,621 ERROR io.debezium.connector.mysql.MySqlStreamingChangeEventSource  [] - Error during binlog processing. Last offset stored = null, binlog reader near position = mysql-bin.009532/63197184
2022-10-17 11:48:22,308 ERROR io.debezium.pipeline.ErrorHandler                            []

[2022-10-18 08:51] #1241 closed

[2022-10-18 08:53] leonardBang commented on #1241
@sap1ens I've merged this PR and we plan to release 2.3 at the end of this month, hope to see you to have a try.

[2022-10-18 09:47] EngonVHKxZ opened #1624 "Unable to read blob field from Oracle"
**Describe the bug(Please use English)**
The latest version adopts debezium version 1.6
lob.enable=true is configured
However, data of blob type cannot be read

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.3
 - Database and version: Oracle 11g
 - Mode: DataStream

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
[code]
2. The test code :
[code]

**Additi

[2022-10-18 10:02] tianhao960 commented on #795
+1

[2022-10-18 18:16] sap1ens commented on #1241
Thanks for the heads up! I did try this and it worked perfectly. Unfortunately, I've realized I can't use this feature - it's ok for me to skip UPDATE_BEFOREs, but I need a full row in case of DELETEs...

[2022-10-19 03:56] #1149 closed

[2022-10-19 11:30] #980 closed

[2022-10-19 11:30] #1289 closed

[2022-10-19 11:52] JesseAtSZ commented on #432
附议

[2022-10-19 11:53] JesseAtSZ commented on #432
附议 @leonardBang

[2022-10-19 16:00] CoconuterTATA opened #1628 "[question]the error of connection with mariadb"
When I use the flink-cdc to connect the mariadb, the result shows:`java.sql.SQLException: Access denied for user`
Environment :
 - Flink version :  1.13.0
 - Flink CDC version: 2.2.1
 - Database and version: [5.5.5-10.5.11-MariaDB(modified)](https://github.com/edgelesssys/edgelessdb)

**To Reproduce**
Steps to reproduce the behavior:
2. The test code :
CREATE TABLE user_source3 (
      `id` int,

[2022-10-20 01:30] liuyaolin opened #1630 "Flink CDC Mysql Two different mysql connections always only pull data on the same task"
Flink CDC Mysql ,Two different mysql connections can always only pull data on the same task of the same TaskManager, and cannot be assigned to different tasks for execution.

**Environment :**
 - Flink version :  1.14.0
 - Flink CDC version: 2.2.1
 - Database and version: mysql-5.1.49

**Additional Description**
The specific usage scenario is as follows：
![image](https://user-images.githubusercont

[2022-10-20 02:44] leozlliang opened #1631 "[bug][tidb-connector] RegionCDCClient grpc stream don't receive ChangeDataEvent from tikv store after several hours,because tikv region transfer leader"

[2022-10-20 03:26] #1630 closed

[2022-10-20 03:27] moutains commented on #279
类推的话，yarn-application模式就设置为yarn-application了？有知道的也可以确认下，下周自己再做个测试看下

[2022-10-20 08:04] MyLanPangzi opened #1637 "Stop job with savepoint. restarted with savepoint but some table is re-export."
**Describe the bug(Please use English)**
I hava a job running for 3 months. Today i stopped the job with savepoint. Then i started the job with savepoint.
After i find some table re-export...
This is a bug?

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.2.1
 - Database and version:  5.7

**To Reproduce**
Steps to reproduce the behavior:
My code: https://github.com/ververica/

[2022-10-20 08:14] MyLanPangzi commented on #1637
Same id data have two recoreds.
<img width="536" alt="image" src="https://user-images.githubusercontent.com/46845236/196894214-2f569691-19bb-45ff-8a36-0a0fca907493.png">

[2022-10-20 08:17] MyLanPangzi commented on #1637
My job is started from savepoint.
<img width="819" alt="image" src="https://user-images.githubusercontent.com/46845236/196894656-df656f74-a576-4e6b-8fe6-eef52c2d4182.png">

savepoint timestamp:
<img width="1282" alt="image" src="https://user-images.githubusercontent.com/46845236/196894799-c46781cf-ffd7-4e52-a2a8-3e8cea8a779f.png">

[2022-10-20 09:58] walk-in-cloud opened #1638 "Supports partial table rescan for full data"
Currently, the scanning of newly added tables is supported, but in my daily use, I often need to perform a full scan of some tables again. Is there any way to achieve this requirement?

[2022-10-20 11:32] GOODBOY008 commented on #1638
@walk-in-cloud  Common method is start new batch jobs or excute sqls with snapshot-only model.

[2022-10-20 12:20] jasonsenssylvain opened #1641 "lock table when started"
flinkcdc version: 2.0.0

I already config the property: properties.setProperty("debezium.snapshot.locking.mode", "none");
but still, it will lock table when started.

Now sure is this a bug, or it cannot start without locking table?

[2022-10-21 01:36] wolihaito opened #1642 "你好，请问 flinkcdc 最新版本 是否支持 postgresql 14?"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-10-21 01:47] walk-in-cloud commented on #1638
@GOODBOY008 thanks for your advice!
It is possible to use a batch task for processing, but I don't want to have to suspend the current running stream task in order to ensure data accuracy.
I tried to remove the information about the full table to be re-executed when recovering the task from the checkpoint, but the task would get stuck on several chunks.
what i did like this:
`@Override
    public

[2022-10-21 03:38] xingyang-007 opened #1643 "flink sql key word "time" conflicted with mysql table field "time""
**flink sql key word "time" conflicted**
how to solve flink sql key word "time" conflicted with user's mysql table field "time" ?

**Environment :**
 - Flink version :  1.15.2
 - Flink CDC version: 2.2.1
 - Database and version: mysql5.7

**To Reproduce**
Steps to reproduce the behavior:
just create mysql cdc by flink SQL:
CREATE TABLE SS (
  id INT,
  service_name STRING,
  time INT,
  flag INT,

[2022-10-21 04:02] yhygta opened #1644 "Once the MySQL database has a varchar field , Flink CDC will eventually display " INFO io. debezium. jdbc. JdbcConnection [] - Connection completely closed", and will no longer capture data"
**Describe the bug(Please use English)**
Once the MySQL database has a varchar field , Flink CDC will eventually display " INFO io. debezium. jdbc. JdbcConnection [] - Connection completely closed", and will no longer capture data
一旦数据库有varchar字段类型,Flink CDC最终会显示"11:48:58,349 INFO  io.debezium.jdbc.JdbcConnection                              [] - Connection gracefully closed",并且不再捕获数据

**Environme

[2022-10-21 05:19] GOODBOY008 commented on #1642
@wolihaito Currently, don't support pg 14.

[2022-10-21 05:22] wolihaito commented on #1642
好的，感谢

------------------&nbsp;原始邮件&nbsp;------------------
发件人: ***@***.***&gt;;
发送时间: 2022年10月21日(星期五) 中午1:19
收件人: ***@***.***&gt;;
抄送: ***@***.***&gt;; ***@***.***&gt;;
主题: Re: [ververica/flink-cdc-connectors] 你好，请问 flinkcdc 最新版本 是否支持 postgresql 14? (Issue #1642)

@wolihaito Currently, don't support pg 14.

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving thi

[2022-10-21 06:25] xingyang-007 commented on #1643
done by add `time` in sql.

[2022-10-21 06:25] #1643 closed

[2022-10-23 08:16] young2633 commented on #1591
I met the same problem before, but it solved when i enbale checkpoint

[2022-10-23 09:32] young2633 opened #1645 "Support user-defined character sets to match database"
**Is your feature request related to a problem? Please describe.**
When i read the mysql database with GBK charset encoding, Chinese garbled characters appeared.

**Describe the solution you'd like**
add configuration to define charset to march database.

**Describe alternatives you've considered**
modify the method "patternBasedFactory" in io.debezium.jdbc.JdbcConnection, eg: modify the jdbc url

[2022-10-25 02:40] hwb1992 commented on #1164
have you find your problem?

[2022-10-25 02:42] hwb1992 commented on #1164
Have you solve the problem?

[2022-10-25 03:48] Desperado2 opened #1648 "flink-sql-connector-mysql-cdc-2.2.1报错incompatible types for field _mapperFeatures"
**Describe the bug**
使用flink-1.13.5集群，和flink-sql-connector-mysql-cdc-2.2.1.jar,使用cdc连接mysql，执行select语句报错java.io.InvalidClassException: com.ververica.cdc.connectors.shaded.com.fasterxml.jackson.databind.cfg.MapperConfig; incompatible types for field _mapperFeatures

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.1
 - Database and version: MySQL8.0.30

**To Reproduce**
Steps

[2022-10-25 08:54] YunGitHub opened #1651 "你好，请问一下flink cdc 什么时候支持Teradata"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-10-25 11:24] ctysf opened #1654 "flink mysql cdc connector ,checkpoint恢复，数据重复抽取"
flink mysql cdc connector,当作业出现checkpoint恢复的时候，原有的cdc连接保持没有清除，然后会新增加一个连接来抽取cdc数据。
从source的subtask观察得到，每ck重启一次，就会多一个subtask往下游发送数据，数据库的l连接也会多一条。有没有什么方法解决。

[2022-10-26 03:26] li57598 commented on #1096
I encountered the same problem in version 2.2. How did you solve it at last？ @onefeng

[2022-10-26 03:36] li57598 commented on #773
Hi, I encountered the same problem in version 2.2. How did you solve it？

[2022-10-26 03:36] li57598 commented on #773
Hi, I encountered the same problem in version 2.2. How did you solve it？ @leonardBang

[2022-10-26 07:40] Desperado2 commented on #1648
已解决，见https://github.com/ververica/flink-cdc-connectors/pull/1660

[2022-10-27 03:49] lijun0314 opened #1663 "Connect to mariadb: TLS change to TCP"
Hi, @GOODBOY008, @leonardBang,

I tried to connect to EdgelessDB (5.5.5-10.5.11-MariaDB) using Flink CDC, and through the error log and tcpdump, I found Flink CDC keeps establishing a connection with EdgelessDB, the first two connections used TLSv1.2, but on the third time, it changed to TCP, and thus error occurs.

**Environment :**
 - Flink version :  flink-1,14,4
 - Flink CDC version: flink-sql

[2022-10-27 05:29] GOODBOY008 commented on #1663
@lijun0314  Thanks for your report , I will reproduce this sceno by following your steps.

[2022-10-27 08:09] Doooing opened #1664 "什么时候发布sink到kudu的jar"
flink-sql-connector-kudu-xxxxxx.jar

[2022-10-27 15:24] #1363 closed

[2022-10-28 01:32] sakinsun opened #1665 "FlinkCDC 在 insert 部分 支持 where 条件过滤"
CDCmysql 表：A（startup_mode:initial)
目标表：B

insert into B
select *
from A
where id >10000

运行之后，我看日志，FLINK依然会把 表A 全表进行 切分操作，而不是 按照 id>10000 做快照进行同步，请问有什么方法可以不要A表全量快照切分吗？很慢的。

[2022-10-28 03:11] zhangsongqing opened #1668 "Whether to consider supporting Hbase as the data source？？"
Whether to consider supporting Hbase as the data source？？

[2022-10-28 03:26] GanfengTan opened #1669 "请问SQL server 2016 表锁超时是什么原因"
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.1
 - Database and version: SQL server2016

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code : sql server connector
3. The error :
io.debezium.connector.sqlserver.SqlServerSnapshotChangeEventSource  - Locking table SQLTEST.dbo.ods_erp_fnd_user
2022-10-28 10:15:13,008 WARN  60103 [80] com.verv

[2022-10-28 06:35] moonService opened #1671 "时区问题"
在MySQL CDC FAQ中第2条描述的情况(数据比库中快8h)下通过其提供的两条建议实践后均不可行。
1.设置server-time-zone在MySqlSource中设置该值时，如果数据库是CST，设置UTC+8会快8小时，设置UTC会报错：org.apache.flink.table.api.ValidationException: The MySQL server has a timezone offset (28800 seconds ahead of UTC) which does not match the configured timezone UTC. Specify the right server-time-zone to avoid inconsistencies for time-related fields.

2.自定义Converter会报错：org.ap

[2022-10-28 10:13] leozlliang opened #1672 "[bug][tidb-connector]cdc event capture will stop after serial days running."
cdc event capture will stop after serial days running.

Example: subscribe a table with 5 regions, after 2 days, region 1,2 abnormal, region 3,4,5 still normal.

when use <Arthas> to check threads, found too many grpc-exector running.

<img width="514" alt="企业微信截图_c25af964-c2f3-4293-9f06-076a84e26f7c" src="https://user-images.githubusercontent.com/9716704/198563507-25745232-08f9-4131-9cb4-e121a1bf

[2022-10-30 03:24] codejianhongxie commented on #142
@leonardBang It seems that the developer forgot to add a license to the file header during development.
We can skip the check by adding "- Drat. skip=true" during compilation.
However, I personally suggest that we can check that all relevant files are added with licenses during the code merge request, and formulate them into code submission specifications.

[2022-10-30 10:37] Alexandereagle opened #1673 "Flink CDC设置为specificOffset，当pod重启导致代码挂掉后，无法从checkpoint重启"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :** K8s
 - Flink version :  1.13.2
 - Flink CDC version: 2.2.0
 - Database and version: mysql-5.6 / 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :When the pod is restarted, it cannot be restarted from the checkpoint。

**Additional

[2022-10-30 20:49] Shoham-Yamin commented on #1301
+1

[2022-10-31 02:54] ruanhang1993 commented on #1555
It seems that the update sql about the id 106 is not captured by the connector. This same error appeared many times in CI.
<img width="1369" alt="截屏2022-10-31 上午10 53 39" src="https://user-images.githubusercontent.com/17610579/198921253-45308049-333b-48b2-b0d6-398970a31454.png">

[2022-10-31 03:11] leonardBang commented on #142
We do it all the time @codejianhongxie
[1] https://github.com/ververica/flink-cdc-connectors/blob/master/tools/ci/compile.sh#L55

[2022-10-31 03:39] ruanhang1993 commented on #1671
@moonService
1. The configuration 'server-time-zone' should be the same as the time zone setting in the MySQL server.
2. The cdc connector has shaded some dependencies. Please take a look at the pom.xml in the module flink-sql-connector-mysql-cdc. If you need use these classes, maybe you should use the shaded class path.

[2022-10-31 03:54] ruanhang1993 commented on #1665
I think we need a filtering logic for the chunk key column in the snapshot phase.

[2022-10-31 03:57] ruanhang1993 commented on #1664
This problem should be that when the kudu sink supports upsert stream. Cdc connectors only are sources.
So this issue should not be reported in the cdc connectors.

[2022-10-31 07:29] moresun opened #1677 "Oracle cdc 无法获取ddl变化信息"
您好
最近使用oracle cdc进行开发，版本11g；我们希望中间发生的schema变化也能获取，为此我们把includeSchemaChanges选项配置true；
在启动flink任务时，我们捕获到了ddl信息，create table内容，但起始数据同步后，我们在原表上添加了一个字段，插入一条数据，我们发现没有捕获ddl内容，即alter信息没有，但dml数据可以看到新增的数据，还请指导

[2022-10-31 12:38] leonardBang opened #1678 "[docs] Bump connector version to flink 1.15 in docs"
After we support flink 1.15, we'd better upgrade the connector version to 1.15 in docs

[2022-11-01 03:03] wangxiaojing opened #1685 "[bug][tidb-connector]checkpoint is not updated long after a task has been running"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14
 - Flink CDC version: 2.3
 - Database and version: 5.1

**To Reproduce**
Steps to reproduce the behavior:
1. The error :
``2022-10-27 12:48:34,981 INFO  org.tikv.cdc.CDCClient                                       [] - handle resolvedTs: 436953707961122840, regio

[2022-11-01 03:06] GdHuni commented on #1010
mark
org.apache.flink.shaded.guava30.com.google.common.collect.Lists

[2022-11-01 03:50] GOODBOY008 commented on #1669
@GanfengTan  Because sqlserver cdc will lock tables when snapshot phase. You can run jobs when db is not bussy.

[2022-11-01 05:52] ztl199582 commented on #1336
Me too, how to solve it?

[2022-11-01 06:54] e-mhui commented on #1677
需要升级flink-connector-oracle-cdc依赖的debezium版本（默认依赖的是1.5.4.Final），经过测试1.7.0.Final以上是支持感知 DDL变化

[2022-11-01 06:56] e-mhui commented on #1677
You need to upgrade the debezium version that Flink connector oracle cdc depends on (the default is 1.5.4. Final). The 1.7.0.Final version supports capture DDL changes

[2022-11-01 07:08] moresun commented on #1677
Oracle cdc supports 11g,12c,19c
 why not for 10g and 18c

[2022-11-01 07:11] e-mhui commented on #1624
I also encountered this problem. Have you solved it

[2022-11-01 07:19] e-mhui commented on #1624
You maybe to upgrade the debezium version that Oracle depends on, the 1.7.0.Final support ` lob enabled `(The 1.6 version also has this parameter, but the test does not take effect).

refer: https://debezium.io/documentation/reference/1.7/connectors/oracle.html

[2022-11-01 07:26] e-mhui commented on #1677
The source code is limited. You can change the source code to test whether it supports other versions.

package: `com.ververica.cdc.connectors.oracle`
class: `OracleValidator.class`
[code]

[2022-11-01 08:58] #1664 closed

[2022-11-01 11:00] Jiabao-Sun commented on #877
Closed #1662.

[2022-11-01 11:00] #877 closed

[2022-11-01 12:29] leonardBang opened #1687 "[mysql] support read snapshot only"
we can support read snapshot only mode to unlock more user cases.

[2022-11-01 12:53] PatrickRen commented on #1687
Also we need to log the current offset once the binlog split reader reaches highest watermarks among snapshot splits (pure binlog reading mode)

[2022-11-01 14:10] moresun commented on #1677
java.lang.NoClassDefFoundError: Could not initialize class io.debezium.connector.oracle.OracleConnectorConfig
	at io.debezium.connector.oracle.OracleConnectorTask.getAllConfigurationFields(OracleConnectorTask.java:140)
	at io.debezium.connector.common.BaseSourceTask.start(BaseSourceTask.java:119)
	at io.debezium.embedded.EmbeddedEngine.run(EmbeddedEngine.java:759)
	at io.debezium.embedded.Converti

[2022-11-01 15:06] #254 closed

[2022-11-02 02:12] wangxiaojing commented on #1685
https://github.com/ververica/flink-cdc-connectors/pull/1686

[2022-11-02 03:56] walk-in-cloud opened #1688 "if don't read binlog when checkpoint mode is `at_least_once`,whether better performance can be achieved"
In current version,we need to read binlog change in every chunk read task，what is necessary when sematic set to `exactly_once`.But sometimes sematic is set to `at_least_once`,can we simplfiy  logic in this case?

[2022-11-02 04:04] ruanhang1993 commented on #1543
PR #1661 fixed this issue.

[2022-11-02 04:04] #1543 closed

[2022-11-02 04:15] ruanhang1993 commented on #1200
Fixed by #1661.

[2022-11-02 04:15] #1200 closed

[2022-11-02 07:32] moresun commented on #1677
mvn install -pl flink-sql-connector-oracle-cdc -am -DskipTests -Dscala.binary.version=2.12 -Dflink.version=1.14.6 -Dmaven.test.skip=true

modify debezium version 1.7.1.Final in pox.xml

[2022-11-02 07:41] CaoYunzhou opened #1689 "[feature] flink-cdc-connector support elasticsearch 8.x"
**Is your feature request related to a problem? Please describe.**
when elasticsearch 8.x support for flink-cdc-connector

**Describe the solution you'd like**

**Describe alternatives you've considered**

[2022-11-02 10:36] elly516 opened #1691 "flinkcdc mysql-cdc connector多表关联录入到doris表中已删除的历史数据又被关联到写入目标表"
mysql-cdc的connector，关联的结果sink到doris表中，当多表关联时，其中一个表物理删除的数据，在删除时在doris表中能顺利删除，但是当别的表更新数据后，又把删除的这条记录重新关联到录入了doris表中，造成了数据冗余，有什么好的解决方案吗？
举个例子：
tEnv.executeSql(
      s"""CREATE TABLE  A(
         |  `ID` int
         |  ,`a1` string
          ,a2   string,
         |  ,PRIMARY KEY (ID) NOT ENFORCED --指定主键
         |) WITH (
         | 'connector' = 'mysql-cdc', --连接器使用mysql-cdc
      ...省略
         |)

[2022-11-02 10:42] #1678 closed

[2022-11-02 15:29] GanfengTan commented on #1669
@GOODBOY008 Thank you very much for your answer. But I created a new DB and a new table
still exists this error.

[2022-11-03 01:55] moonService commented on #1671
@ruanhang1993 设置CTS也会报错

[2022-11-03 02:21] moonService commented on #1671
@ruanhang1993 数据库是CTS的情况下，'server-time-zone' 应该设置什么？设置CTS会报错没有此时间ID，设置UT会报错，设置UT+8数据时间会快8h，设置UTC会报错，设置UTC+8数据时间也会快8h，那请问how to configure this option to meet the conditions you mentioned ‘The configuration 'server-time-zone' should be the same as the time zone setting in the MySQL server’

[2022-11-03 03:09] chaplinthink opened #1692 "Flink MySQL CDC connector job always restart"
**Describe the bug(Please use English)**
 I used datastream api, but it can not run. The flink job always restart.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version:  2.2.0、2.2.1、2.3-SNAPSHOT
 - Database and version: MySQL 5.7.34

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code:
[code]
4. The error :
[code]
**Additional Description**
If applic

[2022-11-04 09:21] zhu-sy opened #1698 "超大表（30亿+）情况下, 【存量+增量】数据同步时，存量结束-> 增量阶段 报This might indicate that the remote task manager was lost."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.1
 - Database and version: mysql8.x

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :
<img width="2480" alt="image" src="https://user-images.githubusercontent.com/56377085/199936667

[2022-11-05 02:49] duhongx opened #1701 "Database dy_zhufuan does not exist in Catalog default_catalog."

[2022-11-05 06:10] #1701 closed

[2022-11-07 03:21] #1292 closed

[2022-11-07 04:05] sap1ens opened #1705 "VariableScaleDecimal is no longer emitted"
**Describe the bug**

[This commit](https://github.com/ververica/flink-cdc-connectors/commit/fcbed913116d92de606eacca064ae9a0a650c79e) has upgraded Postgres driver to version `42.2.26` without upgrading Debezium. However, I believe it's introduced a regression:

- Postgres driver `42.2.23` has changed the way the numeric fields are presented, check the [changelog](https://jdbc.postgresql.org/chang

[2022-11-07 06:02] hellolilyliuyi opened #1708 "使用mysql同步至starrocks，如果上游mysql停止生产数据后，如何判断flink是否已经消费完mysql最新的数据"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

使用mysql同步至sr，如果上游mysql停止生产数据后，如何确定flink已经消费完mysql最新的数据 @leonardBang

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add sc

[2022-11-07 06:56] lijun0314 commented on #1663
Hi, @GOODBOY008，

As I debugged more, I realized that I didn't know enough about `jdbc.properties.*` and `debezium.*.` When I set the connection parameters as follows, the TLS version falls back from 1.2 to 1.1, which is the default version of [debezium](https://github.com/debezium/debezium).

The details are as follows.
[code]
the tcpdump log:
[code]
sql client log:
[code]
I can see from this [is

[2022-11-07 09:43] Jiabao-Sun commented on #1708
Maybe we can check the max last modified time of records.
By the way, there's `op_ts` metadata indicates the time that the change was made in the database.
Refers to https://ververica.github.io/flink-cdc-connectors/master/content/connectors/mysql-cdc.html#available-metadata for detail.

Hope it helps you.

[2022-11-07 11:46] molsionmo opened #1711 "Add document describes the new feature that Incremental Snapshot Framework for Oracle CDC Connector"
**Is your feature request related to a problem? Please describe.**
Add document describes the new feature that Incremental Snapshot Framework for Oracle CDC Connector

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered

[2022-11-09 08:30] ruanhang1993 opened #1722 "Mysql CDC connector tests in release-2.3"
# Test List

## Without Schema Change:

### scan.startup.mode test:

- [x]  scan.startup.mode= initial, the result is as expected
- [x]  scan.startup.mode= earliest-offset, the result is as expected
- [x]  scan.startup.mode= latest-offset, the result is as expected
- [x]  scan.startup.mode= timestamp, the result is as expected
- [x]  scan.startup.mode= specific-offset, the result is as expected

#

[2022-11-09 08:45] dua01 commented on #1673
This problem exists in cdc 1.2 version,
It seems that  the latest option also could not resume tasks from ck now.
The direct cause is ：gtidSetToReplicate.equals(nonPurgedGtidSetToReplicate）is always false in _'com.ververica.cdc.connectors.mysql.debezium.task.context.StatefulTaskContext.java'_ if the master purged some binlog.

If I force change this to true，it will throw ：
`ERROR io.debezium.pipel

[2022-11-09 09:33] larryju commented on #1692
dependency scope  is provided?

[2022-11-09 09:39] lijun0314 commented on #1663
Hi, @GOODBOY008,

I modified the source code of [Debezium](https://github.com/ververica/flink-cdc-connectors/blob/5a1a5d247a2b24ae37e05ceb1416faa1b625abc5/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/MySqlSource.java#L158) in order to change the default TLS version of Debezium to TLSv1.2;
The modified code is as follows:
[code]
flink SQL client:
[code]
Then you can se

[2022-11-09 09:48] dua01 commented on #1673
**Temporary solution**：
I modify the restored gtidSet in com.ververica.cdc.connectors.mysql.source.split.MySqlSplitSerializer， it works.

![image](https://user-images.githubusercontent.com/75104806/200797302-7f0105f6-8001-436c-a358-e618258ae177.png)

[2022-11-10 02:47] leonardBang commented on #851
Resolved in #1079

[2022-11-10 02:48] leonardBang commented on #976
Resolved in https://github.com/ververica/flink-cdc-connectors/pull/1079

[2022-11-10 02:49] #679 closed

[2022-11-10 02:49] #721 closed, assigned to nobody

[2022-11-10 02:49] #448 closed

[2022-11-10 02:58] leonardBang opened #1728 "Release-2.4 Roadmap"
Please comment under this issue to propose your wanted feature.

## Feature Development
* [x] #1570
* [x] #1163
* [x] #456
* [ ] #985
* [ ] #986
* [x] #1731
* [x] #1742
* [x] #1236
* [ ] #1152

## Bug Tracking

* [ ] #732
* [x] #1486

## Document Improvement
* [ ] #1729
* [ ] #345

[2022-11-10 02:58] #1032 closed

[2022-11-10 03:05] leonardBang opened #1729 "[docs] Add entire DataStream API package guidance"
Users always confused by shade/class conflicts when users use datastream api to build their own application, especially their Application designed to deploy on multiple version flink cluster.

We can give an example or tutorial to let user understand better.

[2022-11-10 03:55] leonardBang commented on #1061
Fixed in #1505

[2022-11-10 03:55] #1061 closed

[2022-11-10 03:57] leonardBang commented on #1030
Duplicated with #1030, let's track this issue in #1030

[2022-11-10 03:57] #1030 closed

[2022-11-10 03:57] BuddyJack commented on #1030
邮件已收到！谢谢！                       薛超

[2022-11-10 03:57] BuddyJack commented on #1030
邮件已收到！谢谢！                       薛超

[2022-11-10 04:48] sap1ens commented on #1163
@leonardBang could you assign this to @xiaom? We're actively working on this.

[2022-11-10 06:01] EngonVHKxZ opened #1730 "Bump Debezium version to 1.7.0 or above to support Oracle schema changes."

[2022-11-10 06:26] leonardBang commented on #1163
@sap1ens Sure, I'm pretty excited to hear that.

[2022-11-10 06:37] leonardBang commented on #1163
@qiao-x As the task has been stuck for a while and there're new volunteer to take over this issue, I prepare to assign this ticket to the new volunteer, you can still also help review or take some subtask if possible.
@xiaom Could you comment under this ticket so that I can assign this issue to you?

[2022-11-10 08:07] ruanhang1993 commented on #1722
Closed by #1726.

[2022-11-10 08:07] #1722 closed

[2022-11-10 08:16] xiaom commented on #1163
👋 @leonardBang sure, excited to work on this issue!

[2022-11-10 08:21] Jiabao-Sun opened #1731 "[cdc-base] Close idle readers when snapshot phase ended."
**Is your feature request related to a problem? Please describe.**
Before in Flink 1.14, checkpoint on finished source feature is not supported.
We can not close the idle readers when parallel snapshot finished.

**Describe the solution you'd like**
If the runtime Flink version is over 1.14, close idle readers when snapshot phase ended to reduce resource usage.

[2022-11-10 08:49] leonardBang commented on #1163
@xiaom I've assigned this ticket to you 😊

[2022-11-10 09:09] lijun0314 commented on #1663
I just tested the release version of `flink-sql-connector-mysql-cdc-2.3.0.jar` and found that the above problem still exists, but it is a little different;

flink sql client:
[code]
This connection configuration will still use the TCP connection for the third time;
[code]
This connection configuration is different from flink-sql-connector-mysql-cdc-2.2.1, it will always maintain the TLSv1.2 connec

[2022-11-10 09:21] leonardBang commented on #1663
@lijun0314 Have you tried MySQL? Given the fact that the community never tested EdgelessDB, thus I can not offer valuable inputs.

[2022-11-10 15:40] murongpingtian commented on #1728
1、sqlserver 无锁 从库可以读取日志  2、oracle 不占用大量日志 从库可以读取日志 3、sqlclient 传输的数据有记录，这样可以追踪数据丢失是啥原因

[2022-11-10 17:17] sap1ens commented on #1730
I'd highly recommend bumping to 1.9.4+ if you can, it contains quite a few important bug fixes.

[2022-11-11 01:36] yanghuaiGit commented on #1728
oracle支持从库读取

[2022-11-11 07:33] EngonVHKxZ commented on #1730
There are many differences between 1.6.4 and 1.9.4. Updating too fast will increase a lot of development time

[2022-11-11 10:09] JageChen commented on #795
+1

[2022-11-11 10:14] GOODBOY008 commented on #1728
Add connector config print to log file just like debezium for better debug problems (format print and hide sensitive information).

[2022-11-11 10:19] wangyayuan18 opened #1733 "Replace the 2.3 JAR flinkcdc mysql table, restart the FlinkCDC task and report an error"
1.描述问题：
之前的flink-sql-connector-mysql-cdc是自己编译的为了兼容Flink1.15.2版本，源码包只修改了Flink版本号，打包然后启动Flinkcdc-mysql任务，今天换了官方新发布的flink-sql-connector-mysql-cdc-2.3.0包，重启flinkcdc任务(savepoint)报错

![1668154494223_1668154306935_276044D6-8DA4-47ad-86E7-BA3F19BB764C](https://user-images.githubusercontent.com/64136230/201318235-bf5458ed-547a-4fa4-9c7d-d021f8b1ae9d.png)

2.flinkcdc任务代码(flinkcdc-kafka)

set  jobmanager.mem

[2022-11-11 12:43] LXin96 commented on #979
whether it means the readers 's num at least greater than nums of db instance or let split have self-sourceconfig

[2022-11-11 13:13] tzq1264718575 opened #1734 "有支持SQLServer的ad认证的计划吗？"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-11-11 13:51] leonardBang commented on #1733
@PatrickRen Could you take a look this ticket?

[2022-11-11 14:27] sam2099 commented on #1728
upgrade debezium to 2.0 :)

[2022-11-12 09:12] gtk96 opened #1735 "[feature] A new connector property table is added to help users quickly understand the corresponding properties of different connectors"
**Is your feature request related to a problem? Please describe.**
A new connector property table is added to help users quickly understand the corresponding properties of different connectors

**Describe the solution you'd like**
A new connector property table is added to help users quickly understand the corresponding properties of different connectors

**Describe alternatives you've considered*

[2022-11-13 09:17] JuchangGit opened #1737 "The db history topic or its content is fully or partially missing. Please check database history topic configuration and re-execute the snapshot."
**The db history topic or its content is fully or partially missing**
The db history topic or its content is fully or partially missing. Please check database history topic configuration and re-execute the snapshot.

**Environment :**
 - Flink version :  1.16.0
 - Flink CDC version: 2.3.0
 - Database and version: oracle19c

**flink-sql**
CREATE TABLE SOURCE_PHOTO_TEST1 (
USERID STRING,
USERNAME ST

[2022-11-14 03:14] deepthinkin commented on #1021
Is the problem solved  ?

[2022-11-14 05:54] deepthinkin commented on #1021
debezium.snapshot.mode = when_needed   add this kv ，What will happen ？

[2022-11-14 08:47] #1624 closed

[2022-11-14 12:52] Jiabao-Sun commented on #1689
Hi @CaoYunzhou.
Does elasticsearch 8.x provides some way of change capture?
If not, we can hardly get the change operations of elasticsearch.

[2022-11-15 03:08] rafael81 opened #1738 "Serialized size (> 1682584050 bytes) exceeds JVM heap space"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

Serialization is failed while operating MySQL CDC.

**Environment :**
 - Flink version :  1.15.2
 - Flink CDC version: 2.2.1
 - Database and version: MySQL 8.0.22

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
2. The test code :
3. The error :
2022-11-15 01:13:02,923 INFO  com.verve

[2022-11-15 03:09] rafael81 commented on #1738
Increasing the memory size doesn't solve it

[2022-11-15 03:39] GeiChan opened #1740 "The parameter types described in the MySQL CDC document are inconsistent with those defined in the code"
The parameter types described in the MySQL CDC document are inconsistent with those defined in the code

![mysql-cdc-zh](https://user-images.githubusercontent.com/42415224/201820716-9ea27660-9795-4fb9-a83a-67bde9582024.png)
![mysql-cdc](https://user-images.githubusercontent.com/42415224/201820542-80c48210-af90-481e-b895-a72ac2819c02.png)
![mysql-cdc-code](https://user-images.githubusercontent.com/

[2022-11-15 03:41] leonardBang commented on #1728
@sam2099 @murongpingtian @GOODBOY008 Could you open a issue and post the issue link to your comment?

[2022-11-15 08:11] GOODBOY008 opened #1742 "[core] Format print connector config to log."
**Is your feature request related to a problem? Please describe.**
We need to print connector config to log just like debezium does (formatted and sensetive info hidden).

[2022-11-15 08:14] Ocean22 opened #1743 "FlinkCDC_2.3.0 TableAPI didn't check "scan.startup.mode" when the mode is "timestamp""
**Describe the bug(Please use English)**
使用cdc的tableAPI创建表，并指定从指定时间戳读取，只指定参数‘scan.startup.timestamp-millis’而不指定参数‘scan.startup.mode’，运行可以通过，并且使用的是默认的‘initial’模式。
（Use the cdc table API to create a table and specify to read from the specified timestamp. Only specify the parameter 'scan. startup. timestamp millis' and not the parameter 'scan. startup. mode'. It can be run and the default 'initial' m

[2022-11-15 08:42] rookiegao commented on #1743
@leonardBang Please assign it to me

[2022-11-15 13:33] molsionmo commented on #1711
#1719

[2022-11-16 02:25] 245831311 opened #1745 "flinkcdc 能否只采集全量数据"
flinkcdc 目前能否像sqoop框架一样支持只全量采集，不增量同步的功能

[2022-11-16 02:58] yeezychao opened #1746 "When unable gtid,how to achieve high availability when switching mysql cluster instance?"
In our company, there is a high risk of enabling gtid for existing mysql business upgrades. In this case, gtid cannot be used to ensure high availability when the mysql instance is down. Is there a solution?

[2022-11-16 03:29] polarbearmx commented on #276
我们也遇到了类似的问题：
2022-11-14 19:05:24,287 ERROR io.debezium.connector.mysql.MySqlStreamingChangeEventSource  [] - Error during binlog processing. Last offset stored = null, binlog reader near position = binlog.003157/462016893
2022-11-14 19:05:24,287 ERROR io.debezium.pipeline.ErrorHandler                            [] - Producer failure
io.debezium.DebeziumException: Failed to deserialize data of Even

[2022-11-16 04:21] whhe opened #1747 "[oceanbase] Use Incremental Snapshot Framework"
**Is your feature request related to a problem? Please describe.**
May be related to #982

**Describe the solution you'd like**
Upgrade the connector based on incremental snapshot framework, maybe we can use the 'safe timestamp' in log message as the log offset.

**Describe alternatives you've considered**
Use transaction id to keep apply records exactly-once.

[2022-11-16 05:01] zhilaohu32 opened #1748 "version mismatch between Flink and Flink cdc"
**An error is reported when executing sql.**

The error stack information is as follows:
[code]

**Environment :**

- Flink version : 1.13.1
- Flink CDC version: flink-sql-connector-mysql-cdc-2.3.0
- Database and version: mysql 8

**Supported Flink version information from the official website**
<html>
<body>

Flink® CDC Version | Flink® Version
-- | --
1.0.0 | 1.11.*
1.1.0 | 1.11.*
1.2.0 | 1.12.*

[2022-11-16 09:02] w420434838 commented on #276
flink 1.14.5+ mysql-cdc 2.2.1也遇到这个问题了：
`java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:225) ~[jbs-realtime-task-1.0-SNAPSHOT.jar:?]
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:169) ~[jbs-realtime-ta

[2022-11-16 09:30] #1740 closed

[2022-11-16 09:35] EngonVHKxZ commented on #1728
Add support for DM database

[2022-11-16 09:45] taowanli opened #1749 "oracle cdc"
Whether to provide get oracle ddl?Synchronization table structure change required.

[2022-11-16 09:53] xixingya opened #1750 "Document In Mysql cdc and mongodb"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.
mysql cdc description:
![image](https://user-images.githubusercontent.com/37765666/202147688-b37665ff-8aef-4561-a33d-eefb9fe52e4c.png)
and code:
![image](https://user-images.githubusercontent.com/37765666/202148128-26bc0a40-131d-47d2-af1d-d73e3929cefe.png)
mongodb doc:
![image](https://user-images.githubus

[2022-11-16 15:29] phalix opened #1752 "Connection is not closed when used with oracle."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.16.0
 - Flink CDC version: 2.3
 - Database and version: Oracle 19g

**To Reproduce**
Steps to reproduce the behavior:
1. The test data : I connect flink over flink-cdc with oracle. The number of connections is more or less 180 for 760.000 records of data.
2. The tes

[2022-11-16 15:43] JasonFang1993 commented on #1745
目前好像没有这个功能

[2022-11-16 19:34] #1752 closed

[2022-11-17 01:42] JasonFang1993 opened #1753 "ERROR (com.ververica.cdc.debezium.internal.Handover:reportError) Reporting error: java.lang.NoClassDefFoundError: org/apache/kafka/common/utils/ThreadUtils"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  <flink.version>1.13.6</flink.version>
 - Flink CDC version:
 -     <dependency>
            <groupId>com.ververica</groupId>
            <artifactId>flink-connector-postgres-cdc</artifactId>
            <version>2.2.1</version>
        </dependency>
 - Database and ve

[2022-11-17 02:52] wdzhanghao opened #1754 "[oracle-cdc]flink1.13.6withflinkcdc2.3.0 Version compatibility issues"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version : flink1.13.6
 - Flink CDC version: 2.3.0
 - Database and version: oracle 11g

**To Reproduce**
Steps to reproduce the behavior:
1. The test data 👍
2. The test code :
my maven Configuration
 <properties>
        <maven.compiler.source>8</maven.compiler.source>
        <m

[2022-11-17 03:35] #1730 closed

[2022-11-17 03:44] wangxiaojing opened #1755 "[tidb-cdc]When the task runs for a period of time, there are only Resolved Events"
**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2 ,2.3 ,master
 - Database and version: tidb5.0 and tidb5.1

**To Reproduce**
flink-tidb-cdc table： A

flink-jdbc table: B

query:
insert into A select * from B;

desc:
The task data is normal at the beginning of the program startup, but after running for a period of time, the data is not updated.
but there is no error message.

[2022-11-17 05:51] GOODBOY008 commented on #1755
Thanks for your report @wangxiaojing . I need to confirm some information.
1、During the time , source table occurs region merge or split?
2、How many data in source table?
3、When you restart job , it works well?

[2022-11-17 07:13] Ocean22 opened #1756 "[mysql-cdc、DataStreamApi] FlinkCDC_2.3.0 Use 'scan.startup.mode' = 'timestamp' will get errors when restart job from checkpoint/savepoint"
**Describe the bug(Please use English)**
我在测试使用“从指定时间戳启动模式 + 动态加表功能“时，发现了问题。
1、首先同步a表，指定从1001这个时间戳启动
2、运行一段时间后，a表同步了5条数据，将任务停止到保存点
3、加入b表，将任务从保存点重新启动
4、任务没能启动成功
5、一开始是以为这个模式不支持动态添加表，于是去掉b表，将任务从保存点启动，依然报同样的错误
6、以下为启动命令与报错信息
【
I found a problem when testing the use of "starting mode from specified timestamp+dynamic adding table function".
1. First, synchronize table 'A', and specify to start from th

[2022-11-17 07:35] #1249 closed

[2022-11-17 07:36] #1261 closed

[2022-11-17 07:40] wangxiaojing commented on #1755
1、During the time , source table occurs region merge or split?
It may have happened, but i didn’t see the tidb's log。
2、How many data in source table?
2213459
3、When you restart job , it works well?
Success after restart
4、The debug log
org.tikv.shade.io.grpc.netty.NettyClientHandler              [] - [id: 0xec8fa73f, L:/xxxxxxx:53214 - R:/xxxxxx:20160] INBOUND PING: ack=true bytes=1234

[2022-11-17 07:44] wangxiaojing commented on #1755
2022-11-17 06:03:57,910 INFO  org.tikv.cdc.RegionCDCClient                                 [] - submit event: CDCEvent[RESOLVED_TS] {resolvedTs=437422977945436229}
2022-11-17 06:03:57,910 DEBUG org.tikv.shade.io.grpc.netty.NettyClientHandler              [] - [id: 0xcfce7184, L:/xxxxxxxxx:41108 - R:/xxxxx:20160] INBOUND DATA: streamId=6359 padding=0 endStream=false length=22 bytes=0000000011120f08

[2022-11-17 10:18] phalix commented on #1456
Same problem with Version 2.3 and 2.4-SNAPSHOT here.

[2022-11-17 13:36] PatrickRen opened #1757 "MySQL CDC source 2.3.0 throws NPE on recovering from checkpoint of earlier versions"
**Describe the bug(Please use English)**
When user tries to restore from a checkpoint from earlier version, a NullPointerException will be thrown on deserializing binlog offset, which is a backward compatibility issue:

![image](https://user-images.githubusercontent.com/18453087/202460310-16c7d7ea-b29d-439e-be0e-1fa99dad0007.png)

**Environment :**
 - Flink version :  any
 - Flink CDC version: 2.3

[2022-11-18 01:33] rookiegao commented on #1754
Please refer to any of the following poms

https://github.com/ververica/flink-cdc-connectors/blob/master/flink-cdc-e2e-tests/pom.xml

https://github.com/DataLinkDC/dlink/blob/dev/dlink-flink/dlink-flink-1.13/pom.xml

In fact, the community tests have been running in the environment of Flink 1.13 - Flink 1.16

![image](https://user-images.githubusercontent.com/34996528/202596098-a63243c0-29bc-4000-

[2022-11-18 01:34] rookiegao commented on #1754
You can replace mysql with oracle

[2022-11-18 01:39] wdzhanghao commented on #1754
ok,I'll try it.If it works, I will get back to you

[2022-11-18 02:55] Jiabao-Sun commented on #1750
Closed by #1751.

[2022-11-18 02:55] #1750 closed

[2022-11-18 03:57] MadBeeDo opened #1760 "Checkpoint error when load mysql increase data"
Checkpoint error when load aliyun rds mysql 5.7 inrease data.Use streaming code not sql,like this:

`      val source = MySqlSource.builder()
        .hostname(mysql_config.url)
        .port(mysql_config.port)
        .databaseList(databases.toList: _*)
        .tableList(tablenames: _*)
        .username(mysql_config.username)
        .password(mysql_config.password)
        .debeziumProperties(

[2022-11-18 04:14] dusukang commented on #1756
@Ocean22 Hi, could you provide more detailed code and steps? cc @leonardBang for a look.

[2022-11-18 05:50] liushuaihang commented on #173
Properties jdbcProperties = new Properties
    jdbcProperties.setProperty("useSSL", "false")
    jdbcProperties.setProperty("allowPublicKeyRetrieval", "true")
添加这两个参数之后不报错了，但是我监听两个mysql表，只能监听到一张表的binlog，而且只能是第一全量，之后无法动态获取到这张表的binlog日志。另外一张表从flink日志看到监听sql，不知道为什么有过滤条件。

[2022-11-18 07:19] Ocean22 commented on #1756
Yes,of cource.
![image](https://user-images.githubusercontent.com/45907917/202643491-e240b548-617a-4178-bcaa-558f3ef61b44.png)
![image](https://user-images.githubusercontent.com/45907917/202643526-8da578c1-7f7f-4d4e-95aa-562d9ee703ae.png)

Steps are the following
1、Read mysql binlog data
2、Print data

[2022-11-18 08:57] dadong-13 opened #1761 "Encountered a problem reading tidb data"
**Describe the bug(Please use English)**
The console has been updated as follows when reading tidb, using print.sink, but the console has no data printing.

**Environment :**
 - Flink version : 1.14.5
 - Flink CDC version: 2.3.0
 - Database and version: tidb-v6.1.0

**To Reproduce**
Steps to reproduce the behavior:
1. The test code to connect to tidb :
[code]
1. The error :
[code]

**Additional De

[2022-11-18 09:00] EngonVHKxZ opened #1762 "Data loss after inserting a large amount of data"
**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: 2.3
 - Database and version: source-Oracle 19c   sink-Oracle 11g

**Additional Description**
Flink task enable checkpoint

Checkpoint generation time: 1 second

Checkpoint timeout: 1.5 seconds

When I insert 200,000 pieces of data into the database

After inserting hundreds of pieces of data,no more data will be added to the sink t

[2022-11-19 07:08] minchowang commented on #979
If the readers' nums is greater than the nums of db instance, it will cause create too many TaskManagers. **That not is our expected minimum cost.**

So one TaskManager(with one slot) can support multis db-instances way is our expected minimum cost. But a single TaskManager occurred fault will affect multis db-instances subscription on this TaskManager,  we use Flink HA restart-strategy to do quic

[2022-11-20 12:02] rafael81 commented on #1738
I resolved this issue myself.
You CANNOT declare column as DECIMAL.
JUST USE DOUBLE

[2022-11-20 12:09] wangxiaojing commented on #1755
https://github.com/ververica/flink-cdc-connectors/pull/1763

[2022-11-21 01:33] #1692 closed

[2022-11-21 01:45] EtherealQ commented on #1698
我也遇到过这个报错，大多是因为算子资源不够导致的，调整下task mem试试

[2022-11-21 01:57] zhu-sy commented on #1698
大佬，这种做法主要目的是调整TM内存，来适配大量的“增量”数据， 治标不治本的感觉。 如果调整TM内存后，下次增量数据又变的更大了， 又要再次调整TM的内存来适配。

其实我的想法是如果是流式处理数据，我的“增量”数据虽然又变大了，也可以慢慢读取的（或者提供类似反压的功能一样），而不是直接报异常

[2022-11-21 02:10] #1754 closed, assigned to nobody

[2022-11-21 02:50] #1757 closed

[2022-11-21 06:08] lufzhangzitao commented on #1745
你可以试下设置debezium的参数 snapshot.mode = initial_only
[https://debezium.io/documentation/reference/2.0/connectors/mysql.html#mysql-property-snapshot-mode](url)

[2022-11-21 06:58] #1711 closed

[2022-11-21 09:22] yeezychao opened #1764 "mysql无法开启gtid的情况下，如何实现flink CDC mysql-ha"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-11-21 09:31] ruanhang1993 commented on #1745
There is already an issue #1687 about this feature. So we could trace and discuss in that issue. Thanks for reporting ~

[2022-11-22 00:49] apa7 opened #1765 "有计划支持postgreSQL14吗？"
debezium1.9以上已经支持postgreSQL14了，而flink-cdc目前仅支持debezium1.6.4.Final，有考虑升级吗？

[2022-11-22 03:20] zhu-sy opened #1766 "由flinkcdc 2.2.1 升级到2.3.0版本，无法读取到任何数据"
flink version: 1.13.5
mysql : 8.x
flinkcdc version: 2.3.0

<img width="768" alt="image" src="https://user-images.githubusercontent.com/56377085/203213906-392cf1b5-4e94-4fe4-b860-8dc3df40810a.png">

[2022-11-22 07:05] zhu-sy commented on #1766
问题定位到了， jar包冲突导致的。我在maven中引入了一个mysql的jar包，导致任务异常，去掉就可以了

[2022-11-22 07:05] #1766 closed

[2022-11-22 10:10] hust419 opened #1767 "flink cdc docker运行有问题"
https://ververica.github.io/flink-cdc-connectors/master/content/quickstart/mysql-postgres-tutorial.html
按照这个quck start 安装完docker，虽然能起来，但是kibana连不上elasticsearch，一直报找不到

环境是mac pro的M1的笔记本

[2022-11-22 10:23] Capri0110 commented on #1748
I also encounter the same issue, looking at the source code of <com.ververica.cdc.connectors.mysql.debezium.reader.BinlogSplitReader>,
the class import org.apache.flink.shaded.guava30.com.google.common.util.concurrent.ThreadFactoryBuilder which is the flink-shaded-guava version correspond the flink-core 1.14+ , not of 1.13.x (which using guava18)

Any feedback?

[2022-11-22 11:24] Capri0110 opened #1768 "[flink][flink-cdc] version incompatible"
- Flink version :  1.13.3
 - Flink CDC version:  2.3.0
 - Database and version: mysql 8.0.13

Steps to reproduce the behavior:
1. The test data :
2. The test code :
[code]
4. The error :
flink version: 1.14.3; flink-cdc version: 2.3.0
[code]
console print sink fine

flink version: 1.13.3; flink-cdc version: 2.2.1
[code]
console print sink also fine

flink version: 1.13.3; flink-cdc version: 2.3.0

[2022-11-23 03:41] melin commented on #1728
支持flink cdc catalog，避免使用 create table 创建表，数据源链接直接暴露在作业中。

[2022-11-23 06:30] luozb commented on #1027
有计划什么时候支持吗？

[2022-11-23 07:40] #1762 closed

[2022-11-23 09:36] legendtkl opened #1770 "[MySQL-CDC] serverId parameter out of Integer range"
**Describe the bug(Please use English)**
Now the 'server_id' is store as int, but the value of parameter 'server_id' would be larger than INT_MAX, this would cause IntegerParseException

**Environment :**
 - Flink version :  1.16
 - Flink CDC version: 2.3.0
 - Database and version: mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. The test data :
MySQL instance in Aliyun Cloud, with

[2022-11-23 10:15] liushuaihang opened #1772 "编写FlinkCDC怎么才能支持MySQL的 sha256_password呢"
FlinkCDC监听binlog无法通过sha256_password身份认证

[2022-11-24 02:21] yeezychao commented on #1764
@ruanhang1993

[2022-11-24 02:48] feiyuyitiao commented on #1756
补充：异常起始位置：
![image](https://user-images.githubusercontent.com/5387559/203683061-ae5fe42b-5eb5-4cb6-8caa-9ac56e490653.png)

[2022-11-24 02:51] feiyuyitiao commented on #1756
问题很容易复现，起始不用追加或变更表
1. 启动服务，trigger savepoint
2. 关闭服务，配置从trigger savepoint恢复服务，并且更改函数中的参数timestamp： .startupOptions(StartupOptions.timestamp(timestamp))
3. 再次启动服务，剖出上边异常。

[2022-11-24 08:01] feiyuyitiao opened #1774 "flink app throw exception when use default not strict timestamp format like "0000-00-00 0:0:0""
**Describe the bug(Please use English)**
flink app throw exception when use  default not strict timestamp  format like "0000-00-00 0:0:0"
**Environment :**
 - Flink version :  1.5 or 1.6 lastest
 - Flink CDC version:  2.2 or 2.3
 - Database and version:  8.0.

**To Reproduce**
Steps to reproduce the behavior:
1. for mysql, set sql_mode to "" by command  (set global sql_mode =''),
2. start flink ap

[2022-11-24 09:11] MengXiangDing opened #1775 "[tidb-cdc]Does flink-cdc support tidb 4.x?"
Does flink-cdc support tidb 4.x?

[2022-11-25 13:49] sin2015 opened #1776 "[oracle-cdc]com.ververica.cdc.connectors.shaded.org.apache.kafka.connect.errors.DataException: file is not a valid field name"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.15.1
 - Flink CDC version: 2.3.0
 - Database and version: Oracle 19c 19,3,0,0

**To Reproduce**
Steps to reproduce the behavior:
1. Start sql-client.sh
2. CREATE TABLE source_users (

3. > select * from srouce_users; #Everything is OK.
4. Login SOURCE DATABASE, try

[2022-11-25 15:08] whhe opened #1777 "[oceanbase] Support OceanBase Oracle Mode"
**Is your feature request related to a problem? Please describe.**
Support OceanBase (Enterprise Edition) Oracle Mode in OceanBase CDC connector.

**Describe the solution you'd like**
Use https://github.com/oceanbase/obconnector-j to deal with the snapshot reading.

**Describe alternatives you've considered**
No.

[2022-11-26 00:56] sin2015 commented on #1776
在相同环境下，目前该问题已解决。方法：将database-name, schema-name, table-name值全部大写。供大家参考。

[2022-11-26 00:56] #1776 closed

[2022-11-26 00:56] sin2015 commented on #1776
在相同环境下，目前该问题已解决。方法：将database-name, schema-name, table-name值全部大写。供大家参考。

[2022-11-26 13:10] melin opened #1778 "不同过数据库类型转为flink datatype，没有复用"
是否可以参考spark jdbc，有一个统一封装，数据库特殊类型特殊处理，：
<img width="1030" alt="image" src="https://user-images.githubusercontent.com/1145830/204090615-7b5912da-0e20-4fd1-8d21-07871a216412.png">

oracle 只需要处理下面几个数据类型，对比flink cdc oracle 处理NUMERIC 是有问题的， @leonardBang
<img width="953" alt="image" src="https://user-images.githubusercontent.com/1145830/204090648-7fa2469a-6bd3-4de2-8119-38ca94c33be1.png">

<img width="99

[2022-11-26 16:34] yasz commented on #1490
hope ur great team can support this version!

[2022-11-28 04:50] KyleZhang0536 opened #1779 "[Oracle] Failed to set setXIncludeAware(true) for parser oracle.xml.jaxp.JXDocumentBuilderFactory"
**Describe the bug(Please use English)**
I update cdc version from 2.2.1 to 2.3.0, an error occur after starting job.
Maybe, it is an conflict bewteen com.oracle.database.xml and flink-shaded-hadoop-2-uber-1.15.2-stream3 dependency.

**Environment :**
 - Flink version :  1.15.2
 - Flink CDC version: 2.3.0
 - Database and version: Oracle 12c
 - Use ververica platform to deployment
 - hdfs as stateb

[2022-11-28 07:14] liushuaihang opened #1780 "unsupported authentication method: sha256_password"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.15.1
 - Flink CDC version: 2.3.0
 - Database and version: MySQL8.0.31

**Additional Description**

Caused by: java.lang.RuntimeException: SplitFetcher thread 1 received unexpected exception while polling the records
at org.apache.flink.connector.base.source.reader.f

[2022-11-28 11:06] h6021 opened #1781 "Flink CDC mysql Unable to connect to the MySQL database"
Describe the bug(Please use English)
Unable to connect to the MySQL database at zhangbei.rds.aliyuncs.com:3306 with user 'dbqa': Socket closed

Environment

Flink version : 1.15.2
Flink CDC version: 2.3.0
Database and version: MySQL8.0.31

Additional Description

io.debezium.DebeziumException: Unable to connect to the MySQL database at rm-8vba3v3tin6v07hb964460.mysql.zhangbei.rds.aliyuncs.com:3306

[2022-11-28 15:35] junjiecheng1 commented on #341
flink cdc source schema 自动同步至sink 库

[2022-11-28 15:37] junjiecheng1 commented on #341
flink cdc  同一个库，多个表的job 合并执行，减少  源库的全量读取次数

[2022-11-28 15:39] junjiecheng1 commented on #341
<img width="1512" alt="image" src="https://user-images.githubusercontent.com/38483436/204318947-5d391b8e-521c-48f9-acf2-efbac466b8af.png">
这两个功能有开源计划吗

[2022-11-29 07:03] SandoHuang commented on #880
@liulpStart 可以使用debezium-json格式解决这个问题。
CREATE TABLE item_stat_binlog (
      `item_id` BIGINT,
     `item_count` BIGINT,
     PRIMARY KEY (item_id) NOT ENFORCED
) WITH (
 'connector' = 'mysql-cdc',
 'hostname' = '9.134.189.12',
 'port' = '3306',
 'username' = 'root',
 'password' = 'yang',
 'database-name' = 'flink_test',
 'table-name' = 'item_stat'
);

 CREATE TABLE item_stat_debezium_sink (
  `it

[2022-11-29 15:16] leonardBang commented on #341
这两个功能需要阿里云上 Flink（VVR） + Flink CDC 配合实现，单独的 Flink CDC Connector 无法实现这种效果，所以 单独依赖 Flink CDC 这个项目没法实现 ，而VVR主要包括阿里云的的Flink企业版的一些商业化功能，我个人理解就是在开源基础为商业版用户做的增强，应该是不会开源的。

[2022-11-30 01:46] Mindfaker commented on #276
flink 1.14.3+ oracle-cdc 2.2.1  也遇到这个问题

`org.apache.flink.runtime.JobException: Recovery is suppressed by FixedDelayRestartBackoffTimeStrategy(maxNumberRestartAttempts=3, backoffTimeMS=30000)
	at org.apache.flink.runtime.executiongraph.failover.flip1.ExecutionFailureHandler.handleFailure(ExecutionFailureHandler.java:138) ~[flink-dist_2.12-1.14.3.jar:1.14.3]
	at org.apache.flink.runtime.executiong

[2022-11-30 02:18] walk-in-cloud commented on #1164
I've had this problem several times .Occurs when a table structure is modified during  snapshotting

[2022-11-30 10:47] slankka commented on #1119
Scala is not the reason.

Flink-1.13.5
Flink-CDC 2.2.1

The reason may be debezium-embedded who depends on `org.apache.kafka:connect-api`