[2022-02-24 03:41] lidong2021 commented on #815
是的，我也有同样问题，我用的版本是CDC 2.1.0，怎么解决的

[2022-02-24 09:36] wuchong commented on #884
I opened an issue in Debezium community as well https://issues.redhat.com/browse/DBZ-4793

[2022-02-24 09:43] GOODBOY008 opened #891 "[jdk-support] Flink will deprecate jdk8 in feature."
**Is your feature request related to a problem? Please describe.**
 Flink will deprecate jdk8 in feature.

**Describe the solution you'd like**
When flink release next version,follow flink's step to support jdk11 and bump debezium version to lastest,because of  debezium 1.5 later verison only support jdk11+.Also we will maintain multi branches for user,because we will support multi flink version.

[2022-02-24 09:44] GOODBOY008 commented on #891
@leonardBang What do you think about this?

[2022-02-24 10:27] KelvinChi commented on #279
大佬，除了在flink-conf.yaml中修改配置外，还需要做什么操作？从官网（https://nightlies.apache.org/flink/flink-docs-release-1.14/zh/docs/deployment/config/#execution-target）看，1.14参数名是exectuion.target这个了，但在yaml中设置之后，启动flinksql client，结果却是：
`[ERROR] Could not execute SQL statement. Reason:
org.apache.flink.runtime.client.JobSubmissionException: Failed to submit JobGraph.`

求大佬们帮助

[2022-02-24 13:26] dennissky commented on #609
https://github.com/ververica/flink-cdc-connectors/wiki/FAQ(ZH)#q1-oracle-cdc-%E7%9A%84%E5%BD%92%E6%A1%A3%E6%97%A5%E5%BF%97%E5%A2%9E%E9%95%BF%E5%BE%88%E5%BF%AB%E4%B8%94%E8%AF%BB%E5%8F%96-log-%E6%85%A2

[2022-02-25 01:57] JesseAtSZ commented on #884
Can you tell me the relationship between FOSS and GPL, does he mean that this library complies with two licenses at the same time?

It is used in the way of jar package, which only involves the interface, not the source code, so it is allowed to use Apache license externally?

[2022-02-25 02:26] wuchong commented on #884
FOSS is the short of `Free Open Source Software`. The Universal FOSS Exception says it grants the additional permission to the projects under a license that is OSI-approved and/or categorized by the FSF as free. ASLv2 is of course one of the licenses.

[2022-02-25 03:27] whhe commented on #884
No one takes a look at the link in my reply, sad.

[2022-02-25 03:55] wuchong commented on #884
Thanks for the link @whhe , I was just not sure and confirmed with Debezium community.

[2022-02-25 09:22] lsyldliu commented on #435
CC @leonardBang https://github.com/ververica/flink-cdc-connectors/issues/732

[2022-02-26 05:35] Capri0110 commented on #814
source是多并行的吗
我测试了所有source parallelism > 1 ，从 latest-offset 启动的场景，直接进入增量阶段（下游kafka使用 semantic.EXACTLY_ONCE)，首次启动时正常的，但是如果因为某些 failure job restart之后，上游并行的subtask 就会去重复消费binlog，下发到 kafka broker 的消息会重复

[2022-02-26 15:34] GOODBOY008 commented on #882
fixed in https://github.com/ververica/flink-cdc-connectors/commit/7fc9c9ded061712f2dcdc2a8ec6cfe2b3bd9637a.

[2022-02-26 15:34] #882 closed

[2022-02-28 06:29] zjc1197 opened #892 "请问一下，我们的环境 exadata oracle rac asm 这个支持吗？"

[2022-03-01 03:52] zhjwpku opened #897 "shuffle the table splits capture order"
**Is your feature request related to a problem? Please describe.**

In MySqlSnapshotSplitAssigner, the `getNext` will finish the remaining splits of the current table before split the next table,
this might limit the sink side speed if the stream job hope to `keyby` the table identifer.

**Describe the solution you'd like**

Add an option to enable shuffle the table splits capture order.

If we ha

[2022-03-01 04:08] leonardBang commented on #355
Duplicated issue, let's track in #243

[2022-03-01 04:08] #355 closed

[2022-03-01 04:27] eastfisher commented on #243
@leonardBang Please assign to me

[2022-03-01 04:30] leonardBang commented on #243
Thanks for picking up this ticket @eastfisher, assigned to you.

[2022-03-01 06:43] #427 closed

[2022-03-01 07:21] leonardBang commented on #865
@mincwang I think we can clean up the splits information form JM state at some point e.g. the binlog reading has been start

[2022-03-01 07:39] GOODBOY008 opened #899 "[docs][tidb-connector] add tidb-cdc connector tutorial."
Add tidb-cdc connector tutorial.

[2022-03-01 07:40] GOODBOY008 opened #900 "[docs][tidb-connector] add tidb-cdc connector document."
Add tidb-cdc connector document.

[2022-03-01 07:47] mincwang commented on #865
agree ， but this issue  happened during reading snapshot phase. So cleanup the splits info belong to improve in the binlog phase?

[2022-03-01 07:53] leonardBang opened #901 "[task] Remove changelog json format support"
`changelog-json`  is introduced at the time that Flink didn't offer any changelog format support. Currently Flink offers several changelog i.e.[Debezium CDC, MAXWELL CDC, OGG CDC, CANAL CDC](https://nightlies.apache.org/flink/flink-docs-release-1.14/docs/connectors/table/formats/overview/) that can used in both source and sink, we recommend user to use above CDC formats, user can also obtain the o

[2022-03-01 07:55] mincwang commented on #865
However，in the reading snapshot phase increase `jm.process.size` Is also can solve this  issues,  in the reading binlog phase reduce `jm.process.size` to release these shouldn't have resource overhead

[2022-03-01 08:00] mincwang commented on #865
but It needs me to ops  the rescale of resource, we have too many db-instance(800+)，This is hard work for me . 😭

[2022-03-01 09:04] GOODBOY008 commented on #775
Fix in b27d7f96fd147a6bcc0ae81523ab707edbd481ba.

[2022-03-01 09:04] #775 closed

[2022-03-01 10:03] GourdErwa commented on #841
2.2 才支持 1.14 版本，要不 flink 换 1.13，要不 编译一个 cdc-master

[2022-03-02 03:26] spongebobZ opened #903 "Preclude initiative data to cause downstream tasks"
In some situations we need to load all data from underlying table thus we would choise the `init` option in cdc connector. Well it is a very nice design however these initiative data would cause downstream tasks that would make a duplicated ETL for the sake of that we had scheduled a batch ETL application before this cdc application. And there is `latest` option in cdc connector but this is not fo

[2022-03-02 07:30] www2388258980 opened #904 "StreamPhysicalWindowAggregate doesn't support consuming update and delete changes"
**Is your feature request related to a problem? Please describe.**
table define：

**create table flink_medatc_cloud.t_window(
id int,
organization_id int,
took_at TIMESTAMP(3),
WATERMARK FOR took_at AS took_at - INTERVAL '5' SECOND,
primary key(id) NOT ENFORCED
)
with (
'connector' = 'postgres-cdc',
'hostname' = '',
'port' = '5432',
'username' = '',
'password' = '',
'database-name' = 'ibupro_cloud

[2022-03-02 12:21] Cleverdada opened #905 "希望mysql-cdc支持扩展的mysql ddl语法"
**目前flink-cdc通过 "show create table"来获取mysql表结构, 解析时报ddl解析失败( 如"dbpartition by" 或 "auto_increment by group")**
![image](https://user-images.githubusercontent.com/11186845/156359482-dea1948b-bcce-41b8-83b1-8d3186d7ce9e.png)

**希望支持截图所示DDL:**
[code]
![image](https://user-images.githubusercontent.com/11186845/156359559-d29e0ad1-e90a-43e6-8b62-5b9d956dd0c3.png)

**或者可以通过information_schema来获取表结构**

[2022-03-03 05:26] JesseAtSZ opened #906 "[Document] How to use datastream API？"
As for the use of Flink CDC data synchronization, the official website only introduces the use of Flink SQL. DataStream API only shows from Mysql to Console. I don't how to use of the DataStream Interface (for example, from Mysql to MySQL). Can you provide me with a demo?

[2022-03-03 10:16] fsk119 commented on #460
If it's the network problem, I think we should do something like retry in connectors rather than throw the exception to trigger failover. What do you think, @leonardBang ?

[2022-03-04 02:23] hellochueng commented on #762
so do i

[2022-03-04 02:37] hellochueng commented on #755
用其他工具拉分批拉全量，flink cdc只拉增量，后面还会有logminer慢导致log被删问题。无盖

[2022-03-04 03:12] ai-smalleryu commented on #460
有解决方法了吗？又碰到了

[2022-03-04 03:14] leonardBang commented on #460
可以提供一个稳定复现的case吗？或者你那边能稳定复现吗？我高优看下

[2022-03-04 03:37] ai-smalleryu commented on #460
这样子说mysqlsource-cdc-flink逻辑处理-mysql 问题出现在cdc对接前期正常，中间不再有任何数据写入，时间超过八小时无数据写入，在突然大量数据下入到mysqlsource，数据前期少量正常，然后就开始了这个报错，错误完全一样

[2022-03-04 03:39] ai-smalleryu commented on #460
mysqlsource-cdc-flink 逻辑中间-mysql 这个问题在cdc-flink之间有任何正常问题，不再有时间写入，超过八小时无写入，在突然有大量数据输入到source，数据少量同步正常，然后就开始了这个报错，错误完全一样

[2022-03-04 03:47] ai-smalleryu commented on #460
@leonardBang 暂时发现，mysqlsource中间停顿长时间，然后在突然写入数据让再次开始同步，出现这个bug的概率较高，如果是不停的流则不会出现，小数据量十几万也没有出现，大约在60W测试量时候出现了

[2022-03-04 05:05] fuyun2024 commented on #906
I suggest you go to see Flink JDBC sink

https://nightlies.apache.org/flink/flink-docs-release-1.14/docs/connectors/datastream/jdbc/

[2022-03-04 08:58] bulolo opened #910 "how to solve 'SqlServer database dkw do not enable cdc'"
i Building from source. use flink SqlServer CDC 2.2
 but return `SqlServer database dkw do not enable cdc`
how to solve it?

[code]

[code]

[2022-03-04 09:04] #910 closed

[2022-03-04 09:04] bulolo commented on #910
EXEC sys.sp_cdc_enable_db;

[2022-03-04 09:29] leonardBang commented on #905
would you like to take this ticket to suppport PoloarDBx DDL @Cleverdada ?

[2022-03-04 09:30] leonardBang commented on #904
The reason is Flink SQL window operator doesn't support changelog input before Flink 1.15, and flink cdc connector can do nothing now.

[2022-03-04 09:30] #904 closed

[2022-03-05 01:25] Cleverdada commented on #905
Yes

[2022-03-05 14:24] fuyun2024 opened #913 "Clean up the deleted table information when restarting the task"
**Describe the bug**
I have a flink mysql cdc task, which is reading binlog data of A、B、C table. I stopped the task and changed the configuration to read-only access to table A. Restart the task, Now it is true that it only reads the data of table A, but the information of table B and C still exists in the code variable.

**Environment :**
 - Flink version :  flink 1.3.5
 - Flink CDC version: 2.2-

[2022-03-05 14:30] fuyun2024 commented on #913
@leonardBang Do we need this optimization? If so, please assign it to me .

[2022-03-05 15:01] fuyun2024 commented on #897
I'm very interested in this task. Can you assign it to me

[2022-03-07 03:06] zhjwpku commented on #897
@leonardBang pls help to assign this issue to @fuyun2024 , I can help to review when it's done.

[2022-03-07 03:54] leonardBang commented on #897
Nice idea @fuyun2024 @zhjwpku , I also notice one issue that we should split the chunks asynchronously but we're splitting blocking now, would you like to improve this too?

[2022-03-07 04:00] #460 closed

[2022-03-07 06:18] #388 closed

[2022-03-07 06:19] leonardBang opened #914 "[e2e][mysql] MySqlE2eITCase.testMySqlCDC test failed"
failed instance: https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1034&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2022-03-07 11:35] fuyun2024 commented on #897
Yes, I also noticed this problem. Next, I submitted two PR to solve these two problems. @leonardBang @zhjwpku I'm very glad that the two teachers can help me review the code.

[2022-03-07 11:41] leonardBang commented on #897
Thanks @fuyun2024 for taking this, could you create an issue for the later issue and then open the PR?

[2022-03-07 11:42] #901 closed

[2022-03-07 11:43] #869 closed

[2022-03-07 13:46] fuyun2024 opened #915 "[mysql] Snapshot split the chunks asynchronously"
The snapshot splitting process is now blocked. We need to optimize this process to make it asynchronous splitting.

[2022-03-08 01:47] fuyun2024 commented on #897
OK, I created a new issue #915

[2022-03-08 02:20] leonardBang opened #916 "[task] bump debezium version to 1.8.1.final"

[2022-03-08 03:22] lsyldliu commented on #435
![image](https://user-images.githubusercontent.com/17698589/157160002-3eb7441b-e0d4-4863-b926-ba17db342b2f.png)
![image](https://user-images.githubusercontent.com/17698589/157160023-8f30a93e-8f06-4a4d-979e-ae29518cceb6.png)

[2022-03-08 05:57] paul8263 commented on #906
Hi @JesseAtSZ ,

You can take a look at the following example:

[code]

[2022-03-08 06:07] JesseAtSZ commented on #906
Thanks @paul8263 ,
In fact, I'm confused about how to write into mysql, because I see many online examples by writing SQL and then executing JDBC, I wonder if there is a more elegant way.

[2022-03-08 09:26] paul8263 commented on #674
Hi @leonardBang ,
This issue is related to https://github.com/ververica/flink-cdc-connectors/issues/674

I think we should allow user to add or even customize the JDBC URL parameters by configurations.

I'd like to help . Could you please assign this issue to me?

[2022-03-08 09:54] GOODBOY008 commented on #542
@leonardBang Fixed in: 151a2ae4fe965b46f9c2fe25ace9921511be7705.

[2022-03-08 09:56] GOODBOY008 commented on #667
@leonardBang PR:https://github.com/ververica/flink-cdc-connectors/pull/560 have merged.

[2022-03-08 10:01] #542 closed

[2022-03-08 10:01] #667 closed

[2022-03-08 10:54] yangliuyu commented on #723
Is it possible to finish #528 #373 and release a new version? There are almost 3 months since last release.

[2022-03-09 01:34] leonardBang commented on #528
resolved in #756

[2022-03-09 01:34] #528 closed

[2022-03-09 06:44] vleyong opened #917 "It seems like CDC cannot support SQLServer ."
When will Flink CDC be available online for production use? BTW, could you support the CDC of the whole library?Thanks

[2022-03-09 06:50] GOODBOY008 opened #918 "[docs] The link of download flink is 404 now."
The link of download flink is 404 now.Affect files `docs/content/快速上手/mysql-postgres-tutorial-zh.md`,`docs/content/quickstart/mysql-postgres-tutorial.md`.

[2022-03-09 09:32] paul8263 commented on #674
Hi @leonardBang ,
Considering https://github.com/ververica/flink-cdc-connectors/issues/674 , can we only set
[code]
as mandatory parameters and
[code]
as default value?
Thus the user will be able to overwrite 'zeroDateTimeBehavior=CONVERT_TO_NULL' and add custom ones so that those compatibility issues can be avoided.

[2022-03-09 09:57] leonardBang commented on #918
would you like to fix the download link ? Current website only offer the latest bugfix version of flink i.e. It offers `1.13.6` instead of `1.13.4` or `1.13.5`. I can replace it with archive website like  https://archive.apache.org/dist/flink/flink-1.13.2/

[2022-03-09 10:01] leonardBang opened #919 "[mongodb] The test MongoDBConnectorITCase.testConsumingAllEvents failed in azure CI"
[code]

Failed instance: https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1057&view=logs&j=e0f7c6c4-6c56-5ca5-511d-b91cbc4c1a53&t=35f661f6-a91b-58bc-c86e-9c0883818913

[2022-03-09 13:15] GOODBOY008 commented on #918
@leonardBang Yes,I am willing to fix.Please assign to me.

[2022-03-10 01:43] leonardBang commented on #918
Thanks @GOODBOY008 for picking this, assigned to you

[2022-03-10 06:24] Level1Accelerator opened #923 "cdc解析binlog中的ddl加字段语句报错"
**Describe the bug**
换了2.0.2版本 2.1.1版本都是一样的问题 本身这个add 语句不是很规范 但是mysql（5.x 8.x版本)能执行 flink cdc任务直接报错。 异常都捕获不到 ，目前没有解决办法，任务没法恢复 很着急啊。

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.0.2
 - Database and version: mysql5.7 mysql8

原建表语句：
CREATE TABLE `order_sign_received` (
  `order_number` varchar(32) NOT NULL COMMENT '运单编号',
  `sign_people_mobile` varchar(12) DEFAULT NULL COMMENT

[2022-03-10 06:42] wangxiaojian1990 commented on #923
![1646893372120_8BFF6FF8-F66D-40c6-A2EA-314A663A7F16](https://user-images.githubusercontent.com/24691069/157604184-9a3fbdfa-ab56-48c4-8677-f81a3586ae8c.png)
![lQLPDhs5HBNtqOrNAvjNBg2wesUjOBi-ZHECLj3emMA1AA_1549_760](https://user-images.githubusercontent.com/24691069/157604212-1b67c3d0-38cc-4063-b2f8-245e8f30b637.png)

[2022-03-10 07:03] wangxiaojian1990 commented on #923
并且 设置 .includeSchemaChanges(false) 也不行，也是会报错，没有忽略DDL语句。全局try catch 也捕获不到异常。

[2022-03-10 07:39] TigerBossAA commented on #824
i'v the same problem,have you solved it?

[2022-03-10 09:36] leonardBang commented on #923
@wangxiaojian1990 Thanks for reporting this, could you change your description in English so that all developers/users can understand the issue?

[2022-03-11 04:05] #918 closed

[2022-03-11 06:38] ChengkaiYang2022 commented on #285
你好，这个问题比较久，我尽量回忆下。应该是因为类加载器找不到我自定义的反序列化类，感觉可能是双亲委派相关，可以检查下flink中是的[classloader.resolve-order](https://nightlies.apache.org/flink/flink-docs-release-1.13/docs/deployment/config/#classloader-resolve-order)是parent first 还是child first

[2022-03-12 12:48] ffyygg commented on #815
可以配置debezium的参数，解决掉oracle连接进程一一直增长的问题，debezium.log.mining.transaction.retention.hours=1解决问题

[2022-03-13 13:27] GOODBOY008 opened #932 "[tidb] Add tidb cdc connector e2e test."
[tidb] Add tidb cdc connector e2e test.

[2022-03-13 14:42] daun-gatal commented on #631
Hi guys (sorry if wrong mentions)
I got similar issue but for mysql cdc connector `2.1.1` and flink `1.13.5`
[code]
Any idea what should I do for fixing this issue?. Thank you.

[2022-03-14 07:31] gwqlovelinux opened #939 "分库分表导致Flink-cdc流频繁full gc"
## 背景：
公司交易中心分库分表，mysql数据库32schema，每个schema 32张表；等于一个逻辑表对应32*32=1024张物理表。目前通过flink-connector-mysql-cdc 2.1同步数据到kafka，发现只要job运行一周左右，就会频繁full gc。

## 分析：
1、通过jmap把内存dump下来分析发现，tableMapEventByTableId消耗了大量的内存。因为物理库有两个，所以这个流会同时读两个库的binlog，也就是下面为啥会存在两个一样的内存问题。
2、tableMapEventByTableId 是LRUCache一个实例，LRUCache扩展自LinkedHashMap，实现了清理的方法，理论上不应该操作1万个node

[code]

[code]

补充一个文档，上面有mat分析的截图。
https://pyie1bcd1x.

[2022-03-14 07:32] gwqlovelinux commented on #939
https://pyie1bcd1x.feishu.cn/docs/doccnpn6mZ6rU1vrmAClIOnc8ec#

[2022-03-14 07:57] leonardBang commented on #939
@gwqlovelinux Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 07:58] #923 closed

[2022-03-14 07:58] leonardBang commented on #923
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 07:58] leonardBang commented on #905
Could you use English for better communication @Cleverdada ? feel free to reopen once updated the description.

[2022-03-14 07:58] #905 closed

[2022-03-14 07:59] leonardBang commented on #892
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 07:59] #892 closed

[2022-03-14 07:59] leonardBang commented on #880
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 07:59] #880 closed

[2022-03-14 07:59] leonardBang commented on #862
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 07:59] #862 closed

[2022-03-14 07:59] leonardBang commented on #850
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 07:59] #850 closed

[2022-03-14 08:00] leonardBang commented on #847
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:00] #847 closed

[2022-03-14 08:02] leonardBang commented on #843
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:02] #843 closed

[2022-03-14 08:02] leonardBang commented on #841
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:02] #841 closed

[2022-03-14 08:02] leonardBang commented on #834
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:02] #834 closed

[2022-03-14 08:02] #828 closed

[2022-03-14 08:03] leonardBang commented on #826
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:03] #826 closed

[2022-03-14 08:04] leonardBang commented on #825
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:04] #825 closed

[2022-03-14 08:04] leonardBang commented on #824
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:04] leonardBang commented on #823
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:04] #823 closed

[2022-03-14 08:04] leonardBang commented on #808
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:04] #808 closed

[2022-03-14 08:04] leonardBang commented on #802
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:04] #802 closed

[2022-03-14 08:05] leonardBang commented on #796
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] leonardBang commented on #789
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #789 closed

[2022-03-14 08:05] leonardBang commented on #779
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #779 closed

[2022-03-14 08:05] leonardBang commented on #764
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #764 closed

[2022-03-14 08:05] leonardBang commented on #759
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #759 closed

[2022-03-14 08:05] leonardBang commented on #755
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #755 closed

[2022-03-14 08:05] leonardBang commented on #747
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #747 closed

[2022-03-14 08:05] leonardBang commented on #736
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:05] #736 closed

[2022-03-14 08:06] leonardBang commented on #729
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #729 closed

[2022-03-14 08:06] leonardBang commented on #726
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #726 closed

[2022-03-14 08:06] leonardBang commented on #716
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #716 closed

[2022-03-14 08:06] leonardBang commented on #711
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #711 closed

[2022-03-14 08:06] leonardBang commented on #708
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #708 closed

[2022-03-14 08:06] leonardBang commented on #703
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #703 closed

[2022-03-14 08:06] leonardBang commented on #691
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #691 closed

[2022-03-14 08:06] leonardBang commented on #690
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:06] #690 closed

[2022-03-14 08:07] leonardBang commented on #686
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #686 closed

[2022-03-14 08:07] leonardBang commented on #678
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #678 closed

[2022-03-14 08:07] leonardBang commented on #674
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] leonardBang commented on #665
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #665 closed

[2022-03-14 08:07] leonardBang commented on #660
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #660 closed

[2022-03-14 08:07] leonardBang commented on #655
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #655 closed

[2022-03-14 08:07] leonardBang commented on #647
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #647 closed

[2022-03-14 08:07] leonardBang commented on #635
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #635 closed

[2022-03-14 08:07] leonardBang commented on #632
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #632 closed

[2022-03-14 08:07] leonardBang commented on #631
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:07] #631 closed

[2022-03-14 08:08] leonardBang commented on #627
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #627 closed

[2022-03-14 08:08] leonardBang commented on #622
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #622 closed

[2022-03-14 08:08] leonardBang commented on #618
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #618 closed

[2022-03-14 08:08] leonardBang commented on #612
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #612 closed

[2022-03-14 08:08] leonardBang commented on #609
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #609 closed

[2022-03-14 08:08] leonardBang commented on #602
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #602 closed

[2022-03-14 08:08] leonardBang commented on #590
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #590 closed

[2022-03-14 08:08] leonardBang commented on #583
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #583 closed

[2022-03-14 08:08] leonardBang commented on #469
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #469 closed

[2022-03-14 08:08] leonardBang commented on #447
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:08] #447 closed

[2022-03-14 08:09] leonardBang commented on #442
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:09] #442 closed

[2022-03-14 08:14] leonardBang commented on #866
Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 08:14] #866 closed

[2022-03-14 09:07] gwqlovelinux opened #941 "Flink-cdc full gc"
## Background
The company's trading center has sub-databases and sub-tables, the mysql database has 32 schemas, and each schema has 32 tables; it is equivalent to a logical table corresponding to 32*32=1024 physical tables. Currently synchronizing data to kafka through flink-connector-mysql-cdc 2.1, it is found that as long as the job runs for about a week, full gc will be frequent.

## Analyze
1.

[2022-03-14 09:20] CaoYunzhou opened #942 "[Feature] Add DM8 Database for Flink-connector-dm8-cdc"
**Is your feature request related to a problem? Please describe.**
Flink-cdc add DM8 Database? [https://www.dameng.com/]

**Describe the solution you'd like**
It is expected that Flink can add a flick CDC for DM8 database to synchronize Postgres database to DM8 database

**Describe alternatives you've considered**
give an example of how to add a new CDC to add different databases, How to replay?

[2022-03-14 10:24] Jiabao-Sun commented on #919
Expected |  Failed
------------ | -------------
+I(scooter,3.140)            |    +I(scooter,3.140)
+I(car battery,8.100)        |    +I(car battery,8.100)
+I(12-pack drill bits,0.800) |    +I(12-pack drill bits,0.800)
+I(hammer,0.750)             |    +I(hammer,0.750)
+U(hammer,1.625)             |    +U(hammer,1.625)
+U(hammer,2.625)             |    +U(hammer,2.625)
+I(rocks,5.300)

[2022-03-14 10:44] #641 closed

[2022-03-14 12:00] leonardBang opened #943 "[docs] Flink CDC has supported many databases who supports MySQL protocol, we can list them to let user know"
https://ververica.github.io/flink-cdc-connectors/master/content/about.html#supported-connectors

[2022-03-14 12:44] Cleverdada commented on #943
polardb
polardbx

[2022-03-14 12:53] leonardBang commented on #943
@Cleverdada Would you like to take the task to help list the supported database in our document?

[2022-03-14 12:54] Cleverdada commented on #943
sure, I'm goting to write a common document .

[2022-03-14 16:02] leonardBang commented on #744
@gwqlovelinux Could you use English for better communication? feel free to reopen once updated the description.

[2022-03-14 16:02] #744 closed

[2022-03-15 01:20] 15890776783 opened #945 "flink mysql cdc 只读取全量数据 增量数据捕获不到"
![image](https://user-images.githubusercontent.com/43566263/158286947-6ec597ec-fe07-4560-92fa-4090d083699d.png)
flink cdc 版本位2.0.2 往上的版本都试过了,只会读取全量数据 增量数据捕获不到没有报任何异常,将初始化读取偏移量设置为最近是可以读取增量数据,但是全量数据就没了,将cdc 版本下降到 1.4.0的时候可以了
22/03/15 10:07:59 WARN DatabaseHistoryMetrics: Unable to register the MBean 'debezium.mysql:type=connector-metrics,context=schema-history,server=mysql_binlog_source': debezium.m

[2022-03-15 03:03] Jiabao-Sun commented on #699
Thanks @samuelyyl, @bobby-richard for the suggestion for improvement.
I'll close this issued because this feature is supported by #940.

[2022-03-15 03:03] #699 closed

[2022-03-15 03:03] samuelyyl commented on #699
来信已收到~                叶运隆

[2022-03-15 03:09] #945 closed

[2022-03-15 07:46] WaylandWong opened #946 "package org.apache.flink.shaded.guava version conflict in flink 1.14"
**Describe the bug(Please use English)**
same with #841

flink-cdc-connectors (master branch which resolve #746 ) use flink-shaded-guava@18.0-13.0
https://github.com/ververica/flink-cdc-connectors/blob/473e36b9cd00b46a62f4bcd6fd5f6a2f8aeaab2c/pom.xml#L127-L132

however, flink 1.14 use flink-shaded-guava@30.1.1-jre-14.0 (actually flink use the latest version)

https://github.com/apache/flink/blob/5

[2022-03-15 08:49] hunanjsd commented on #941
+1

[2022-03-15 10:04] leonardBang commented on #875
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1150&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2022-03-15 10:26] leonardBang commented on #913
I think we need this feature but not in 2.2 version, we need to consider newly added tables feature when implement this,  please also take a look @zhjwpku

[2022-03-15 13:00] zhjwpku commented on #913
yeah, we definitely need this feature, will keep an eye on this 🧐

[2022-03-15 13:47] davideuler commented on #627
Hi Leonard,  I've came across the same issue.

I use TableEnvironment to execute sql in java code.  flink-connector-mysql-cdc 2.1.1 introduced mysql-connector-java 8.0.28, and it fails with this error:

`Caused by: java.lang.NoSuchMethodError: com.mysql.cj.CharsetMapping.getJavaEncodingForMysqlCharset(Ljava/lang/String;)Ljava/lang/String;
	at io.debezium.connector.mysql.MySqlValueConverters.charse

[2022-03-15 15:01] sonyfoxcn commented on #816
I want it too

[2022-03-15 15:43] leonardBang commented on #627
@davideuler Would you like to update the driver version in document here https://ververica.github.io/flink-cdc-connectors/master/content/about.html#supported-connectors ?

[2022-03-16 08:03] nayoaixgnat opened #955 "checkpoint failed"
after the first checkpoint cpmplated ,the second checkpoint is failed:
java.lang.NullPointerException
	at com.ververica.cdc.debezium.internal.FlinkOffsetBackingStore.configure(FlinkOffsetBackingStore.java:129)
	at io.debezium.embedded.EmbeddedEngine.run(EmbeddedEngine.java:690)
	at io.debezium.embedded.ConvertingEngineBuilder$2.run(ConvertingEngineBuilder.java:188)
	at java.util.concurrent.ThreadP

[2022-03-16 08:08] nayoaixgnat commented on #955
cancel job and try to restore from the complated checkpoint ,can not restore ,the error is same.

[2022-03-16 08:56] gwqlovelinux commented on #941
已解决，感谢蒋少东支持
https://pyie1bcd1x.feishu.cn/docs/doccnpn6mZ6rU1vrmAClIOnc8ec?appStyle=UI4&domain=www.feishu.cn&locale=zh-CN&refresh=1&sidebarOpen=1&tabName=space&theme=light&userId=6899042780148940804#

[2022-03-16 08:56] #941 closed

[2022-03-16 12:23] #943 closed

[2022-03-16 15:20] JesseAtSZ opened #956 "Can Flink CDC guarantee MySQL transactions?"
I have two questions about Flink CDC's transaction handling:
1. For example, if I start a transaction that executes 100 inserts, can filink CDC capture only 100 insert events instead of processing them as a transaction? If there are exceptions during the execution of these 100 inserts, there is actually a problem in obtaining the inserted data on the sink side. Although this problem can be recover

[2022-03-17 02:26] leonardBang commented on #955
@nayoaixgnat Could you offer your flink cdc version and usage?

[2022-03-17 02:48] leonardBang commented on #875
The failed test appears again...
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1234&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2022-03-17 04:38] JesseAtSZ commented on #247
I also encountered the same problem. Why was this issues closed before? Is there a solution?

[2022-03-17 07:34] WaylandWong commented on #946
Now I know that sql jar include all dependencies required and non-sql jar doese not.

So I decide to use sql jar at present.

[2022-03-17 07:34] #946 closed

[2022-03-17 07:36] WaylandWong commented on #841
master branch flink-sql-connector-*.jar works well with flink 1.14 while flink-connector-*.jar does not.
---

@wo8000  master分支已支持flink 1.14，不过要使用flink-sql-connector-*.jar

[2022-03-17 07:53] vrhappy commented on #759
Not using English to descripe the issue, so you close the issue? What a big reason!
This problem description has show the log print wthin the code, which can be found in the source code. Beside these log, you just need the English description?
This issue situation is obviously clear, it's a OOM(out of memory) question, and OMM happened when transaction is processing from MySQL to MySQL when using

[2022-03-17 08:17] leonardBang commented on #759
Yes, this is the big reason why my close this issue. You will found there're many users from various countries when you look our contributors and followers.

I think using English is a basic requirement  when you open an issue on a global open source project, btw our issue template also reminds this point if you have read it before complaint.

[2022-03-17 09:10] bulolo opened #958 "Elasticsearch SQL Connector with ssl"
when i use [Elasticsearch SQL Connector](https://nightlies.apache.org/flink/flink-docs-release-1.14/zh/docs/connectors/table/elasticsearch/)

i found that my es secret by ssl  and use Self-Sign Certificate, i can not connect elasticsearch as sink,because there is no option   to set cert

[code]
<img width="1394" alt="image" src="https://user-images.githubusercontent.com/10026498/158776322-89f2ee77

[2022-03-17 11:38] leonardBang commented on #915
Implemented in #931

[2022-03-17 11:38] #915 closed

[2022-03-18 02:58] zhujian86 commented on #815
这么配置的话，会不会丢掉长事务的数据？

[2022-03-18 03:45] rookiegao commented on #958
This is the Flink CDC community. The CDC connector runs as a source. Please feed back to the Flink community about the sink connector

[2022-03-18 06:44] 1105220927 opened #962 "Client requested master to start replication from impossible position"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version: master (2.2-Snapshot)
 - Database and version: 10.1.9-Mariadb (slave)

**To Reproduce**
I use  flink-cdc(version 2.2-snapshot) com.ververica.cdc.connectors.mysql.source.MySqlSource build binlogSource, and  i'll got this exception when I st

[2022-03-18 08:35] charleschen1231 commented on #956
Mayebe u should  refer to the principle of database transaction.In fact,as u set the transaction such as binlog_fromat=statament ,it will be recorded by binlog after the transaction commit sucesseful.On the another opposite,there is no any records in the binlog files if the transaction has been rolled back.In my opinion,the Flink-CDC could not capture any change datas for you data source,for the t

[2022-03-18 08:52] JesseAtSZ commented on #956
@charleschen1231 I mean, begin, insert * 100, commit

[2022-03-18 09:22] rookiegao opened #963 "We should make some improvements to the Flink CDC document"
These areas that need to be improved often confuse beginners.

-  The Flink CDC datastream API does not need to set the tablelist parameter when synchronizing the whole database.
-  Flink Oracle CDC wiki Q4: Oracle Sid and schema name should be distinguished by punctuation to avoid ambiguity.
-  After 2.1.0, the Flink MySQL CDC includes the MySQL driver package by default. We don't need to provide

[2022-03-18 11:28] leonardBang commented on #963
Thanks for opening this issue, would you like to open a PR to improve the document ? @rookiegao

[2022-03-18 13:14] rookiegao commented on #963
@leonardBang Yes, I'm willing to improve it. Do you have any other good suggestions？

[2022-03-19 08:03] zhujian86 commented on #762
have you solved this problem?

[2022-03-21 01:58] zhujian86 commented on #815
配置了，但是也没有解决问题~~

[2022-03-21 07:07] mincwang commented on #865
# Screenshots:
![image](https://user-images.githubusercontent.com/33626973/159217553-b25b8d8e-b945-4525-827a-4730cf8ad04e.png)

[2022-03-21 07:08] PengMinghui973 opened #969 "debezium 执行sql对数据库压力太大"
在flink-connector-postgres-cdc版本为2.0.2中
类路径io/debezium/connector/postgresql/connection/PostgresReplicationConnection.class
PostgresReplicationConnection类中initPublication方法 有条sql:SELECT COUNT(1) FROM pg_publication WHERE pubname = '%s'
每分钟对数据库执行 这个每分钟执行sql时间间隔太小 是否可以调大？如果可以 怎么解决？ 谢谢！
![image](https://user-images.githubusercontent.com/62225711/159217661-316ad80c-ad19-453b-ac42-8644400e823d.png)

[2022-03-21 07:19] GOODBOY008 commented on #969
@PengMinghui973 Have you set config property [publication.autocreate.mode](https://debezium.io/documentation/reference/1.5/connectors/postgresql.html#postgresql-publication-autocreate-mode) ?

[2022-03-21 07:23] PengMinghui973 commented on #969
publication.autocreate.mode属性值 怎么设置呢 是设置可以关闭 还是可以扩大查询间隔时间

[2022-03-21 07:32] GOODBOY008 commented on #969
You can use follow config property to pass debezium configuration. Just set tables which you want to monitor.
![企业微信截图_16478477964278](https://user-images.githubusercontent.com/13617900/159219826-daeb6f9a-273c-4644-8434-59251f000963.png)

[2022-03-21 07:45] PengMinghui973 commented on #969
如果我想调整5分钟查询一次sql 可以吗 该怎么设置呀 谢谢

[2022-03-21 07:47] GOODBOY008 commented on #969
Set configuration [poll.interval.ms](https://debezium.io/documentation/reference/1.5/connectors/postgresql.html#postgresql-property-poll-interval-ms) .

[2022-03-21 07:54] GOODBOY008 opened #970 "Can we have a blog module in flink-cdc-connectors website?"
Can we have a blog module on flink-cdc-connectors website? We can choose some articals and best practices for beginners to start up quickly. @wuchong @leonardBang  What do you think about this idea?

[2022-03-22 01:24] molsionmo commented on #724
What stage is the API design at, I want to contribute to this that use incremental snapshot framework for oracle cdc connector

[2022-03-22 01:29] PengMinghui973 commented on #969
![lQLPDhtCAi6Ex0bNA0nNBuewv3By6UA4X00CPNJRb8BsAA_1767_841](https://user-images.githubusercontent.com/62225711/159389194-47f688b5-7a5b-46dd-8c89-be88adfc5d01.png)
这个频率是秒级轮询，昨天加了配置不起效果
![lQLPDhtCAi6Ex2bNArHNAzKwMkrWkyWGRYYCPNJRcwBaAA_818_689](https://user-images.githubusercontent.com/62225711/159389353-fef6648f-f6be-4866-b0ee-a03065ae89fb.png)

[2022-03-22 02:30] wuchong commented on #969
@PengMinghui973 are your jobs keep failing or do you have many jobs? In theory, this query should only be executed only once on startup.

[2022-03-22 02:40] PengMinghui973 commented on #969
目前只同步一张表 但是查询间隔还是秒级的，如果只启动时执行一次 是我这边有啥设置忽略了吗

[2022-03-22 02:55] hnjincan commented on #830
![image](https://user-images.githubusercontent.com/39942725/159398626-d85977e3-a4c6-43c8-83df-3912a59c24cb.png)
flink-version 1.13.2
flink-cdc 2.2-SNAPSHOT
mysql-version 5.7

[2022-03-22 03:10] #932 closed

[2022-03-22 03:15] zhjwpku commented on #865
If the split info is cleaned up in the snapshot phase, the logic before **pure** binlog read phase can be wrong ;(

[2022-03-22 03:19] nayoaixgnat commented on #955
stream cdc version: 2.0.2
checkpoint:
StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();
        env.disableOperatorChaining();
        env.enableCheckpointing(1000*60*5, CheckpointingMode.EXACTLY_ONCE);
        env.getCheckpointConfig().setTolerableCheckpointFailureNumber(100);
        env.getCheckpointConfig().setCheckpointTimeout(1000*60*10);
        env.getC

[2022-03-22 04:13] leonardBang opened #974 "[task] Add metric supports for tidb-cdc connector"
We introduce TiDB CDC Connector in #243 , we can support metrics for this connector

[2022-03-22 04:13] #243 closed

[2022-03-22 04:13] #899 closed

[2022-03-22 04:26] zhjwpku opened #975 "e2e test fails"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

The e2e test fails:

![image](https://user-images.githubusercontent.com/12639404/159407939-001c118b-c7f9-4b48-9467-3be94112cb7a.png)

https://dev.azure.com/ververica/dac773cf-e9ac-4cdf-834a-b5afa51a0732/_apis/build/builds/1318/logs/112

[2022-03-22 04:27] PengMinghui973 commented on #969
核心dai代码![image](https://user-images.githubusercontent.com/62225711/159408089-d08eda97-6155-4add-833d-b0ae2d77de31.png)
![image](https://user-images.githubusercontent.com/62225711/159408143-39f923d9-3709-4d1b-a179-c33616a4c789.png)

[2022-03-22 04:45] GOODBOY008 commented on #969
Yes,I have test in my local with pg connector unit test .Just execute once.

[2022-03-22 04:48] molsionmo opened #976 "[mysql] Use Incremental Snapshot Framework for Oracle CDC Connector"
**Is your feature request related to a problem? Please describe.**
Adapte Oracle CDC Connector to the abstraction framework of https://github.com/ververica/flink-cdc-connectors/issues/724

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or featu

[2022-03-22 04:58] molsionmo commented on #976
Hi @leonardBang , i am a contributor of flink, please assign me to this issue, , I'll help to adapt the oracle CDC Connector to the Incremental Snapshot Framework.

[2022-03-22 07:13] nayoaixgnat commented on #955
I have observed the tasks for a period of time and found that the checkpoints are normal, but when the task fails for some reasons and recovers from the previous checkpoint, an error will be reported.

[2022-03-22 07:15] nayoaixgnat commented on #955
I have observed the tasks for a period of time and found that the checkpoints are normal, but when the task fails for some reasons and recovers from the previous checkpoint, an error will be reported.

[2022-03-22 08:01] kdjj2006 opened #977 "Don't support "Window TVF Aggregation" , just support deprecated "Group Window Aggregation""
**Describe the bug(Please use English)**
I want to use Window Aggregation in CDC , and I tried in both MySQL and Postgresql , and find that CDC-2.2-SNAPSHORT
don't support "Window TVF Aggregation" , just support deprecated "Group Window Aggregation"

**Environment :**
 - Flink version :  1.14.3
 - Flink CDC version: 2.2-SNAPSHORT
 - Database and version: MySQL 8 and Postgresql 11

**To Reproduce**

[2022-03-22 08:17] minchowang commented on #865
https://github.com/ververica/flink-cdc-connectors/blob/196f9a4fca1dd83dc2c972da404784005dbabd45/flink-connector-mysql-cdc/src/main/java/com/ververica/cdc/connectors/mysql/source/assigners/MySqlHybridSplitAssigner.java#L201-L207

A lot thank @zhjwpku  alerts, i ignored the above code. Do you have time to help me solve this issue?  🙏

[2022-03-22 08:29] zhjwpku commented on #865
@minchowang I can not came up with a good solution right now, will keep this in mind though ;)

[2022-03-22 08:40] minchowang commented on #865
Never mind, let's solution that later.

[2022-03-22 09:12] leonardBang commented on #976
Thanks @molsionmo for taking this ticket , I've assigned this to you.

[2022-03-22 09:31] minchowang opened #979 "Multiple DB instances synchronization solution(`minimum cost`)"
**Is your feature request related to a problem? Please describe.**

In the **SAAS** case, we have **thousands of DB instances**,  and real-time data synchronization is our **highest cost** (Now one Flink-CDC job to synchronize multiple tables of one DB instance, so multiple DB instances need multiple Flink-CDC jobs ).

**Describe the solution you'd like**

We hope to have a **minimum cost**  multi

[2022-03-23 01:47] whhe opened #980 "[oceanbase] Use customized runtime converter to replace JdbcValueConverters"
Implement a runtime converter to make the logic of type conversion clearer, which may improve accuracy and performance.

[2022-03-23 01:52] whhe opened #981 "[e2e] Add e2e test for OceanBase connector"
Should add the e2e tests for OceanBase connector to verify the sql jar.

Due to OceanBase's memory usage issue, the e2e tests should also be moved to self-hosted pipeline agent at the same time.

[2022-03-23 01:56] whhe opened #982 "[oceanbase] Add exactly-once support for OceanBase connector"
Now we only support `at-least-once` in OceanBase connector, an implementation of `exactly-once` should be provided.

[2022-03-23 02:07] whhe opened #983 "[oceanbase] Allow user to pass custom JDBC URL parameters"
As we use jdbc connection for snapshot reading, we should allow user to pass custom jdbc url parameters on startup.

Ref: #921

[2022-03-23 02:50] GOODBOY008 opened #984 "[tidb] Support monitor multi databases and tables."
[tidb] Support monitor multi databases and tables.

[2022-03-23 02:54] GOODBOY008 opened #985 "[tidb] Add metrics for tidb connector."
[tidb] Add metrics for tidb connector.

[2022-03-23 03:41] leonardBang opened #986 "[oceanbase] Add metrics for oceanbase cdc connector"
We can add `currentFetchEventTimeLag`, `currentEmitEventTimeLag` and `sourceIdleTime` metrics for oceanbase cdc connector just like we did in other connector.

[2022-03-23 06:18] #668 closed

[2022-03-23 06:19] #900 closed

[2022-03-23 07:33] #975 closed

[2022-03-23 09:13] whhe opened #989 "[test] OceanBaseConnectorITCase is stuck on self-hosted pipeline"
https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1343&view=logs&j=c424a490-8b2d-5aa2-4797-106b8ec9494a

[2022-03-23 09:43] zhjwpku opened #990 "[mysql] Add a option to emit heartbeatEvent to downstream"
**Is your feature request related to a problem? Please describe.**

This feature is only needed by stream API, table API must not enable this option.

In our use case, we want sourceReader to emit *heartbeat* to downstream, so
we can extract the `ts_ms` and do some calulation on sink side.

I'm not sure whether this feature is a general one, so feedback needed, thanks ;)

[2022-03-23 13:13] ChangjunZhang opened #993 "when use flink1.14.3 ,throw MetricGroup not Found Exception"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.3
 - Flink CDC version: 2.2-SNAPSHOT(master)
 - Database and version: MySQL5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :
**Additional Description**
If applicable, add screenshots to help explain your

[2022-03-24 02:09] ChangjunZhang commented on #993
It may be a jar package conflict. I appreciate solving it myself first

[2022-03-24 03:34] #993 closed

[2022-03-24 09:53] xiaoyu19950911 opened #1001 "[mysql]binlog file validation error when switch mysql cluster"
**Describe the bug(Please use English)**
During binlogReader phase, it will checks whether the binlog file exists first.In master/slave mode,If I switch from cluster A to cluster B and restore from checkpoint,It will continue to run in GTID mode but valid binlog file error!

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.1
 - Database and version: 5.7

**To Reproduce**
Steps to

[2022-03-24 10:28] JesseAtSZ opened #1002 "Unable to get transaction information"
I'm using the DataStream API, after setting provide.transaction.metadata, start Flink CDC and perform the following operations on an empty table:
[code]
Three SourceRecord will be received after the transaction is committed:

1. begin
2. values 1
3. values 1

Here are my questions:

1. Why can't I receive the end SourceRecord?
2. Why does the same insert receive two SourceRecord？

[2022-03-24 17:15] #989 closed

[2022-03-25 09:42] BuddyJack opened #1004 "并发incremental.snapshot读取，导致mysql负载飙升"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.1
 - Database and version:  8.*

在并行执行lincremental.snapshot读取时，会同时启动了N个binlog-client去读增量binlog，mysql负载会飙升(cpu system time)

这个除了下调并行度，还有什么办法可以缓解；

[2022-03-25 13:21] fuyun2024 opened #1006 "The data of a snapshot split is distributed multiple checkpoints"
If the data of a snapshot split is distributed multiple checkpoints. you restart after failure, the split will still send all the data, which may cause data duplication.

[2022-03-25 15:38] TonyZhuang12334 opened #1007 "How to compile the latest version ?"
thanks

[2022-03-25 16:15] #1007 closed

[2022-03-25 18:06] hoanhan101 commented on #785
Is there any update on this? We experienced a similar event, increased the slot.timeout and it worked better, still not every stable.

[2022-03-26 01:35] #1004 closed

[2022-03-27 02:46] JiangfeiLiu opened #1008 "flink-connector-sqlserver"
SqlServer database test do not enable cdc. Why?

[2022-03-27 04:22] zzzzzzzs opened #1009 "How to use stream setting `scan.incremental.snapshot.enabled`"
I want to use stream setting `scan.incremental.snapshot.enabled`, but i don't how to use it?

[2022-03-27 14:27] anavrotski opened #1010 "Compatibility problem with Flink 1.14.*"
`java.lang.NoClassDefFoundError: org/apache/flink/shaded/guava18/com/google/common/util/concurrent/ThreadFactoryBuilder`

**Environment :**
 - Flink version :  1.14.3
 - Flink CDC version: 2.2.0
 - Database and version: MySQL 8.0.*

**To Reproduce**
Steps to reproduce the behavior:
Class `com.ververica.cdc.debezium.DebeziumSourceFunction` in `com.ververica:flink-connector-debezium:2.2.0` has depen

[2022-03-28 03:55] GOODBOY008 commented on #1008
Please refer sqlserver connector test resource `src/test/resources/ddl/column_type_test.sql`.

[2022-03-28 07:15] pensz opened #1015 "Close connection in jobmanager to MySQL after it assigned splits."
**Is your feature request related to a problem? Please describe.**

I'm always frustrated when too many connections from CDC.

When I check the connections from CDC, I find that JobManger remains connected to MySQL even after splits are assigned.

**Describe the solution you'd like**

Can JobManger close the connection to MySQL after split assignment?

**Describe alternatives you've considered**

[2022-03-28 08:25] #724 closed

[2022-03-28 09:53] pensz commented on #1015
BTW

It seems that every Flink CDC table have two connections to MySQL while one is in "Sleep" state and another in "Binlog Dump" state.

Can Flink CDC table shares connection in taskmanager?

[2022-03-28 10:06] yangrong688 opened #1017 "[MySQL] Caused by: io.debezium.DebeziumException: Received DML xxx binlog probably contains events generated with statement or mixed based replication format"
**Describe the bug(Please use English)**
Binlog will have mixed replcation format when Cloud db like CDB HA transition and send statement format replication to binlog
In debezium 1.5.4 Final, it will fail and cannot restore from checkpoint when ocurring  DB HA transition, we should cherry pick https://github.com/debezium/debezium/pull/3319 this pr to solve this problem.

**Environment :**
 - Flink

[2022-03-28 10:25] yangrong688 commented on #1017
@leonardBang shall we fix this issue like we did in https://github.com/ververica/flink-cdc-connectors/pull/911

[2022-03-28 16:40] swetakala commented on #1010
Is there a temporary fix for this issue?

[2022-03-29 03:06] leonardBang commented on #1017
@yangrong688 I think we can fix this in flink cdc code,  If we want to use debezium's PR I tend to bump debezium version  to fix the issue.

[2022-03-29 03:11] yangrong688 commented on #1017
OK, I will try to commit a pr to fix this in flink cdc code.

[2022-03-29 05:56] springMoon commented on #1010
+1

[2022-03-29 10:00] GOODBOY008 opened #1020 "[sqlserver] Tracking sqlserver compatible condition."
[sqlserver] Tracking sqlserver compatible condition.

[2022-03-29 14:21] ynzzxc commented on #88
是否考虑支持一下14以前的版本呢？
org.apache.flink.table.api.ValidationException: Currently Flink SqlServer CDC connector only supports SqlServer whose version is either 14 or 15, but actual is 13.

[2022-03-29 14:34] fuyun2024 commented on #976
Hi @leonardBang @molsionmo , I'm very interested in this issue. Can I take part in this work together?

[2022-03-29 16:41] muhammadali54321 opened #1021 "Cannot read binlogs Mysql-CDC"
Caused by: java.lang.IllegalStateException: The connector is trying to read binlog starting at Struct{version=1.5.4.Final,connector=mysql,name=mysql_binlog_source,ts_ms=1648567265495,db=,server_id=0,file=mysql-bin.000090,pos=154,row=0}, but this is no longer available on the server. Reconfigure the connector to use a snapshot when needed.

my.cnf params:

logs_bin = on
expire_logs_day = 4
log-bin=

[2022-03-30 01:02] yangrong688 opened #1022 "[INFRA] Add Doc imporvement issue template"
Add Doc improvement issue template to help others better contribute to documentation related issues.

[2022-03-30 01:08] yangrong688 opened #1023 "[INFRA] Add PR template"
Add PR template to help contributors better describe and record their PRs.

[2022-03-30 01:20] yangrong688 opened #1024 "[Improvment] Add a labeler github action to triage PRs"
**Is your feature request related to a problem? Please describe.**
Using https://github.com/marketplace/actions/label-actions to triage PRs roughly to get reviewers' attention easier

**Describe the solution you'd like**
![image](https://user-images.githubusercontent.com/70557521/160731807-69866cdc-5c42-41c1-92ca-3cb446cec553.png)
Add a label.yml related to our codebase, and an action to trigger t

[2022-03-30 03:29] aircraftbjtu commented on #1010
+1

[2022-03-30 06:50] z070204z commented on #513
这个问题在新发布的release-2.2.0版本中解决了么？我新增表报错

2022-03-30 14:30:36,906 ERROR io.debezium.connector.mysql.MySqlStreamingChangeEventSource  [] - Encountered change event 'Event{header=EventHeaderV4{timestamp=1648610706000, eventType=TABLE_MAP, serverId=3987113322, headerLength=19, dataLength=127, nextPosition=84261, flags=0}, data=TableMapEventData{tableId=1383, database='ng_kboss_customer', table='transfer_

[2022-03-30 07:10] zhjwpku commented on #513
The problem was solved by #965 , which was included in release-2.2.0, thanks for the test.

[2022-03-30 08:33] otjoy opened #1027 "在tidb建立一张分区表，使用tidb connector 配置 source table 的时候，flink sql client查不出结果。"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.2.0
 - Database and version:  tidb 5.3

**To Reproduce**
Steps to reproduce the behavior:
1. tidb ddl :
CREATE TABLE `transaction_order` (
  `id` VARCHAR(64) COLLATE utf8mb4_general_ci NOT NULL  ,
  `merchant_info_id` BIGINT(20) UNSIGNED N

[2022-03-30 09:35] z070204z commented on #830
2.2-release也遇到了同样的问题

[2022-03-30 10:18] liuyonghn opened #1028 "flink-connector-oracle-cdc不支持number(19,0)"
flink-connector-oracle-cdc不支持number(19,0),不能正常显示数字（输出为DFDD，/w==这样的字符串），10位数字倒是没问题。

[2022-03-30 11:43] liuyonghn commented on #1028
flink-connector-oracle-cdc v2.2.0

[2022-03-30 11:44] liuyonghn commented on #1028
flink-connector-oracle-cdc v2.2.0

[2022-03-30 11:53] liuyonghn commented on #1028
[flink-connector-oracle-cdc v2.2.0](https://github.com/ververica/flink-cdc-connectors/issues/675

找到答案了,number(19,0)设置为字符串方式就能正常显示
properties.setProperty("decimal.handling.mode","STRING");)

[2022-03-30 11:53] #1028 closed

[2022-03-30 11:53] liuyonghn commented on #1028
已解决。

[2022-03-30 11:56] zZxiaowang commented on #50
我试了试 。CDC的earliest模式在这块是不支持下划线的

[2022-03-30 12:42] jackiehff commented on #1010
@swetakala you can consider building fink-cdc-connectors 2.2.0 source code using flink-shaded-guava-30-*.jar, for more details see https://blog.csdn.net/weixin_40455124/article/details/122247436

[2022-03-31 02:37] cooltnt commented on #88
刚巧遇到有在用sqlserver2012的, 话说, 我下载的源码里, 为啥sqlserver cdc 的源码不存在 ?

[2022-03-31 02:39] zhjwpku opened #1029 "Improve MySqlSourceITCase"
**Is your feature request related to a problem? Please describe.**
In current MySqlSourceITCase test frame work, Failover in Snapshot phase can
not be guaranteed to triggered exactly in Snapshot phase, most of the time the
failover happened after Snapshot phase has finished.

**Describe the solution you'd like**
maybe expose some `VisibleForTesting` in the Classes to be test so that we can
take fu

[2022-03-31 03:39] BigData-YC opened #1030 "com.github.shyiko.mysql.binlog.event.deserialization.EventDataDeserializationException: Failed to deserialize data of EventHeaderV4"
Caused by: org.apache.kafka.connect.errors.ConnectException: com.github.shyiko.mysql.binlog.event.deserialization.EventDataDeserializationException: Failed to deserialize data of EventHeaderV4{timestamp=1648695944000, eventType=UPDATE_ROWS, serverId=4194815432, headerLength=19, dataLength=3713, nextPosition=24870909, flags=0}
		at io.debezium.connector.mysql.AbstractReader.wrap(AbstractReader.java

[2022-03-31 07:07] qq443672581 opened #1031 "[mysql] Dead loop when splitting chunks"
When ChunkSplitter splits chunks, if the maximum value of id + chunkSize of the database is greater than the maximum value of int or bigint, a negative number will appear, resulting in an infinite loop

Environment :
 - Flink version :  2.1.1 2.2.0
 - Flink CDC version: 1.13.5
 - Database and version: mysql5.6

code:
ChunkSplitter#splitEvenlySizedChunks
![image](https://user-images.githubuserconte

[2022-03-31 07:24] leonardBang opened #1032 "Release-2.3 Roadmap"
Please comment under this issue to propose your wanted feature.

## Feature Development
* [ ] #450
* [ ] #456
* [ ] #997
* [ ] #985
* [ ] #986
* [x] #1031
* [ ] #851
* [x] #976
* [x] #1662

## Test Improvement
* [x] #448
* [x] #721
* [x] #679

## Document Improvement
* [ ] #345

[2022-03-31 08:49] AlienationX commented on #197
flink 1.13.6 + flink-connector-mysql-cdc 2.1.1 + hudi 0.9 也报以上错误，各种版本替换 都不行啊。。。。要崩溃了

[2022-03-31 08:52] leonardBang commented on #976
@molsionmo @fuyun2024 I think adapt Oracle CDC to Incremental Snapshot Framework is a big umbrella task which we can split it into multiple subtasks and then both of you can take some subtasks, in this way we can finish the task easily.
WDYT？

[2022-03-31 09:22] rinkako commented on #1010
use stream api with using pom dependency I encoutered same problem with flink 1.14.3 which using 30 shaded guava. job run on cluster will fail since it cannot find shaded 18 guava.

[2022-03-31 10:52] luxl6 opened #1033 "java.lang.ClassNotFoundException: com.ververica.cdc.debezium.DebeziumSourceFunction"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: flink-sql-connector-mongodb-cdc-2.3-SNAPSHOT.jar
 - Database and version: 4.4.1

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :java.lang.ClassNotFoundException: com.ververica.cdc.deb

[2022-03-31 10:52] luxl6 commented on #1033
java.lang.ClassNotFoundException: com.ververica.cdc.debezium.DebeziumSourceFunction

[2022-03-31 17:26] SwimSweet opened #1034 "WaterMark that defined in DDL does not work"
WaterMark that defined in DDL does not work.

 - Flink version : 1.13.6
 - Flink CDC version:  2.2.0
 - Database and version:   Mysql 5.7.35

1. Mysql database
Mysql table ddl:
[code]

data：
[code]

2. The test code :
flink sql :
[code]

[code]

[code]

[code]

3. The error :
There are not watermark shows in web ui .

![image](https://user-images.githubusercontent.com/21351694/161114676-0a4e2482-e

[2022-04-01 02:36] xiemingjin opened #1036 "flink-sql-connector-oracle-cdc-2.2.0 report ORA-01292"
**Describe the bug(Please use English)**
The following error occurs when restarting the Flink cluster

**Caused by: java.sql.SQLException: ORA-01292: no log file has been specified for the current LogMiner session**

**Environment :**
 - Flink version :  flink-1.13.6
 - Flink CDC version: 2.2.0
 - Database and version: oracle11g

**To Reproduce**
Steps to reproduce the behavior:
    1、Oracle archi

[2022-04-01 03:41] GOODBOY008 commented on #1027
@otjoy  Yes, Partion table do not work currently.

[2022-04-01 06:30] GOODBOY008 commented on #681
@leonardBang Pr has merged,Please close this issue.

[2022-04-01 06:52] #681 closed

[2022-04-01 07:17] 15750571198 opened #1040 "flink-connector-sqlserver-cdc:compatible sqlserver2012"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:
 - Database and version: sqlserver 2012

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
Curre

[2022-04-01 07:24] xiemingjin commented on #1040
你可以修改源码 把里面的版本验证注释掉,我用2008试过，是可以的

[2022-04-01 07:49] #1040 closed

[2022-04-01 07:49] 15750571198 commented on #1040
版本验证注释掉了重编译后，使用的时候数据全为null

[2022-04-01 07:52] GOODBOY008 commented on #1040
你试过增量吗？

[2022-04-01 07:56] 15750571198 opened #1041 "flink-connector-sqlserver-cdc-2.2.0:Compatible with sqlserver2012"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
Currently Flink SqlServer CD

[2022-04-01 10:03] zfanswer commented on #795
+1

[2022-04-02 01:40] zzzzzzzs commented on #945
如何解决的，我现在也遇到了这样的问题

[2022-04-02 03:44] GOODBOY008 commented on #1041
@15750571198 I am working on it to confirm sqlserver support version.You can remove version validation code and compile.

[2022-04-02 03:49] GOODBOY008 commented on #1030
@BigData-YC  Can you supply more detail info.

[2022-04-02 06:55] #963 closed

[2022-04-02 07:39] kolnick opened #1044 "ORACLE 与SQLSERVER 开启CDC 最低需要什么权限"

[2022-04-03 13:44] BuddyJack commented on #1030
2.2测试也是遇到了这个问题

[2022-04-04 02:34] fengfuli opened #1045 "cdc includeSchemaChanges(true) 无法获取历史ddl"
MySqlSource<String> mySqlSource = MySqlSource.<String>builder()
                .hostname("host")
                .port(3306)
                .databaseList("xx")
                .tableList("xxx")
                .username("root")
                .password("xxxx")
                .deserializer(new JsonDebeziumDeserializationSchema())
                .startupOptions(StartupOptions.initial())

[2022-04-05 15:04] jtsunxp commented on #1036
The bug also occured when Oracle user is runing backup command with RMAN tool. Connector configed as following parameters:
    'debezium.log.mining.strategy' = 'online_catalog',
    'debezium.log.mining.continuous.mine' = 'true',

[2022-04-06 02:37] molsionmo commented on #976
@leonardBang  Yes,I can take apart several classes that need to be implemented and implement them separately. I'll break it down this week

[2022-04-06 04:31] misunnon opened #1048 "通过mysql-cdc-sql的方式读取数据出现noclassfound错误"
**Describe the bug(Please use English)**
Unable to read data of character type（varchar），
There is no problem with int type and date type

**Environment :**
 - Flink version :  1.14.0
 - Flink CDC version: 2.2.0
 - Database and version: 8.0.25

**To Reproduce**
1.Execute SQL query data through cli
2.Lib directory with Kafka connect API Kafka clients
3.The character type cannot be queried
4.There is

[2022-04-06 08:36] GOODBOY008 commented on #1030
可以提供下重现的case吗？

[2022-04-06 08:37] BuddyJack commented on #1030
邮件已收到！谢谢！                       薛超

[2022-04-06 08:42] GOODBOY008 commented on #787
@leonardBang I want to take this feature,please assigne to me.Thank you.

[2022-04-06 08:51] GOODBOY008 commented on #1041
@15750571198 I have test sqlserver 2012 on my local,it works well. Curretly,you can checkout code and compile,my pr has megerd.

[2022-04-06 13:21] SwapnilKhante opened #1051 "Postgres CDC connnector - custom query"
Hello Team,

I was wondering if is there a way to use customer query (with joins) instead of providing a table name or list of tables.
My requirement is to use Flink CDC connector to get a source from the Postgres database but needs to watch multiple tables with a join condition.
If this is not possible is it possible to pass the View name instead of the table name in the PostgresTableSource build

[2022-04-07 01:37] swpfs commented on #478
How is the problem? I am facing the same problem, too.   I  use flink-sql-connector-mysql-cdc-2.2.0.jar, but the problem exsits, too.
1,  I use  flink-1.14.3
2,  put flink-format-changelog-json-2.0.2.jar and flink-sql-connector-mysql-cdc-2.2.0.jar into flink/lib dir.
3, execute sql-client.sh and get exception

          flink-sql-connector-mysql-cdc-2.2.0.jar  is mentioned compiled with 1.14,   bu

[2022-04-07 02:07] zhaobingkun opened #1053 "flink cdc sqlserver"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.3-SNAPSHOT
 - Database and version: sqlserver 数据库  14

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :CREATE TABLE products (
id INTEGER IDENTITY(101,1) NOT NULL PRIMARY KEY,
name VARCHAR(255) NOT NULL,
description

[2022-04-07 03:04] GOODBOY008 commented on #1053
@zhaobingkun  Have put sqlserver-cdc jar to flink dictionary `lib` and restart?

[2022-04-07 05:52] 15750571198 commented on #1041
okay, thank you

[2022-04-07 07:42] haojiawei111 commented on #279
我在Flink1.14实验，应该是execution.target:设置为yarn-session，而不是 exectuion.engine

[2022-04-08 03:16] ydx2099 opened #1058 "postgresql replication slot error"
**Environment :**
 - Flink version :  1.14.4\1.13.2
 - Flink CDC version: 2.2.0\2.3-SNAPSHOT
 - Database and version: postgresql-12

I have set slot.name to "test_cc",but still error occurs:

[ERROR] Could not execute SQL statement. Reason:
org.postgresql.util.PSQLException: ERROR: replication slot "test_cc" is active for PID 79319

[2022-04-08 07:12] PengMinghui973 opened #1059 "flinkcdc 拿不到数据库数据"
启动flink连接pg数据库 ，请问怎么解决 一直提示这些io.debezium.connector.postgresql.connection.PostgresConnection [] - Cannot obtain valid replication slot 'h_appstore_new_slot_6' for plugin 'pgoutput' and database 'h_appstore_new' [during attempt 23 out of 900, concurrent tx probably blocks taking snapshot.

![EPG`9WB V@JR7QX A9VU797](https://user-images.githubusercontent.com/62225711/162383406-7e511871-d432-4ed0-8b80

[2022-04-08 08:54] 1105220927 opened #1060 "tm拉取不到binlog"
**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2.0
 - Database and version: mysql 5.7.30
![image](https://user-images.githubusercontent.com/95424327/162401523-8af30eba-abe0-4cbd-ab75-da06ebb04e1b.png)

我们生产环境使用虚拟ip访问mysql, 这种虚拟ip的机制保证同一个ip同一个账号永远把请求打在同一个从机上，但是不同的ip使用同一个账号可能打在不同的从机上。

目前遇到的问题是，jm通过虚拟ip拿到了从机1的binlog文件，并将对应的任务派发到tm上执行， 而tm上通过虚拟ip的请求打到了从机2上，就会出现上述报错，一直拉不起来。。。

我们

[2022-04-08 10:40] onlywangyh opened #1061 "MySQL CDC incremental snapshot reading will duplicate when a failure happend"
**Describe the bug(Please use English)**
The source of snapshot phase can support checkpoint in chunk level. If a failure happens, the source can be restored and continue to read chunks from last finished chunks.

 But the checkpoint will done multiple times in single split.  When the source restored the data will reapeat

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:  2.2
 -

[2022-04-08 11:07] rookiegao commented on #1048
It looks like a jar package conflict.

[2022-04-09 04:30] fuyun2024 opened #1062 "There is no need to stop log collection during add new table"
Flink MySQL CDC 2.2 supports add new tables, but the binlog task needs to be stopped in the process of add new tables. If the new table takes a long time in the snapshot , it will affect the data capture of binlog task.

dblog paper : [DBLog: A Watermark Based Change-Data-Capture Framework](https://arxiv.org/pdf/2010.12597v1.pdf)

[2022-04-10 03:47] whitecloud6688 opened #1064 "FlinkSQL中创建的表结构信息在SparkSQL中不可见"
### FlinkSQL中创建的表结构信息在SparkSQL中不可见
FlinkSQL中创建的表结构信息在SparkSQL中不可见、字段的注释信息不可见，导致在SparkSQL中不能查询FlinkSQL定义的表数据。

**FlinkSQL中创建hudi表和mysql表，在FlinkSQL能够看到表结构信息。**
[flink]$ bin/sql-client.sh
Flink SQL> CREATE TABLE hudi_orders_mor_b (

[INFO] Execute statement succeed.

Flink SQL> desc hudi_orders_mor_b;
+---------------+----------------+-------+---------------+--------+-----------+
|          name |

[2022-04-10 16:02] molsionmo commented on #976
@leonardBang
Hi, Xu, as of today, I have completed the definition and implementation of Oracle RedoLogOffset, And OracleSnapshotSplit OracleRedoLogSplit definition of implementation, but also lack of events, reader, enumerator, states, and the definition of partial assigners and implementation.

Do you think I should submit this version first, or complete the rest of the definition before submitti

[2022-04-11 02:33] leonardBang commented on #976
@molsionmo It depends on your favor, both two choices make sense to me

[2022-04-11 05:29] ydx2099 opened #1065 "fail to sink to sqlserver using jdbc"
fail to sink to sqlserver using jdbc.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.3.0-snapshot
 - Database and version: sqlserver-2019
 - flink-connector-jdbc_2.11-1.14.4
 - mssql-jdbc-8.4.1.jre8

1. Thes test data :no data
2. The test code :
 CREATE TABLE shipments_2 (
    shipment_id INT,
   order_id INT,
   origin STRING,
   destination STRING,
   PRIMARY KEY (shipment

[2022-04-11 07:32] choucmei commented on #1065
Because current not supports sqlserver jdbc  in flink-connector-jdbc module, just supports mysql,pg,derby.
You can develop by yourself

[2022-04-11 13:26] mrchenwx opened #1067 "flink oracle cdc Got minus one from a read call"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.0
 - Database and version: oracle 19c

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
[code]
4. The error :
Caused by: java.lang.RuntimeException: Failed to resolve Oracle database version
	at

[2022-04-11 15:04] molsionmo commented on #976
@leonardBang Hi xu, I found that Debezium needs to be upgraded to 1.6.4.Final version, Debezium Oracle has this configuration: snapshot.locking.mode. What is Debezium upgrade strategy in Flink CDC project.

https://debezium.io/documentation/reference/1.6/connectors/oracle.html#oracle-property-snapshot-locking-mode

[2022-04-11 16:00] whitecloud6688 commented on #1064
可能是我理解错了，FlinkSQL中创建的表，在SparkSQL中是不可读取数据的，如果要读，需要创建外部表关联到FlinkSQL表的路径。所以用desc Flink表是看不到字段的，但是能看到 Table Properties 中的 flink.schema 描述。

[2022-04-11 16:00] #1064 closed

[2022-04-11 16:20] fuyun2024 commented on #976
@molsionmo Hi, I've seen this configuration. I understand that this configuration locks table schema changes during the snapshot. However, in Flink CDC, we can support table schema changes during snapshots. I think we can build on this version.

[2022-04-12 01:03] #1020 closed

[2022-04-12 01:26] zhujian86 commented on #815
官方给出了解决方案，看看是不是可以用。Oracle强制切换，也是简单粗暴~

`ALTER SYSTEM SET archive_log_target=1200 scope=both;`

https://issues.redhat.com/browse/DBZ-4963

https://debezium.io/documentation/reference/1.9/connectors/oracle.html#oracle-pga-aggregate-limit

[2022-04-12 01:47] LxqGit-blip opened #1069 "flink任务如何停止运行"
用SourceFunction生成的代码去运行的时候，如果想停止要如何操作？

[2022-04-12 02:20] molsionmo commented on #976
@fuyun2024 Our target is that All connector can reuse IncrementalSnapshot Algorithm which offers parallel-reading, non-lock,checkpoint feature.

In Debezium 1.5.4.Final, it obtains an EXCLUSIVE MODE lock on each of the monitored tables to prevent structural changes from occurring during creation of the snapshot. Debezium holds the locks for only a short time and does not provide a lock-free config

[2022-04-12 02:32] caijiljh commented on #795
+1

[2022-04-12 05:17] eriendeng opened #1070 "当使用bigint承载时间戳字段时没有时区校正？"
flink-connector-cdc-mysql-2.2
我们的链路是mysql -> flink-cdc -> iceberg，因为想忽略时区对timestamp的影响，所以在解析数据库timestamp字段时使用了bigint来读取，写入到iceberg的long字段，表现上转出来的ts总会比真实时间多8小时，我看Debezium中似乎对于时间类字段本身就是用ts来传输的，在flink-cdc源码中.serverTimeZone()只是对flink中的timestamp类字段进行调整，直接使用bigint似乎没法调整这个时差，是我忽略了什么地方吗？
<img width="761" alt="image" src="https://user-images.githubusercontent.com/30573371/162885477-ad84d33c-d048-4e46-aeac-

[2022-04-13 06:41] liyichencc opened #1072 "Sqlserver2012无法读取增量数据"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.2
 - Flink CDC version:  2.2
 - Database and version: sqlserver2012

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
我

[2022-04-13 06:47] liyichencc commented on #1072
我是用2.2分支的代码修改了对2012版本的限制，我注意到目前master分支显示已经支持2012版本，是否用master分支的代码可以解决此问题？

[2022-04-13 07:54] deadwind4 commented on #175
我记得目前的CDC Java API已经能识别 DDL变更了，SQL层面Jark Wu老师在Flink forward ASIA 有演讲《Flink CDC 如何简化实时数据入湖入仓》未来会开源。

[2022-04-13 08:40] #1072 closed

[2022-04-13 10:36] yujiaxinlong opened #1074 "mysql connector order by primary key in each chunk during snapshot read"
**Is your feature request related to a problem? Please describe.**
I am trying to export one table from mysql to data warehouse, and need to store some information in Flink state, and need the stream is handled in order on some level.
But I find that the data read from mysql is totally out-of-order in each chunk, even when I set parallel to 1.

Currently I am using a tumbling window  to reorder da

[2022-04-13 12:02] fuyun2024 commented on #976
@molsionmo  Hi, I just verified MySQL snapshot reading. In flick CDC, schema changes are not allowed during snapshot reads. My previous understanding is wrong, and your suggestion is correct.

[2022-04-15 05:47] xuwenjie1998 commented on #759
please look again

[2022-04-15 06:39] #863 closed

[2022-04-15 09:17] hehetown opened #1076 "ORA-00600: internal error code, arguments: [krvrdccs10], [], [], [], [], [], [], [], [], [], [], []"
**Describe the bug(Please use English)**
-----------------------
ORA-00600: internal error code, arguments: [krvrdccs10], [], [], [], [], [], [], [], [], [], [], []
----------------------
**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.2.0
 - Database and version:  oracle 19c

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
DROP TABLE I

[2022-04-15 12:20] zz-big opened #1077 "mysql表无法获取值，库中多个表，只有这个表无法获取数据，建表语句及flink sql语句如下"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.2
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

CREATE TABLE `shop` (
  `id` int(10) unsigned zerofill NOT NULL,
  `code` varchar(36) CHARACTER SET utf8mb

[2022-04-16 14:10] robsonpeixoto commented on #863
Is it already implemented? 🎉

[2022-04-17 03:20] MyLanPangzi opened #1078 "com.ververica.cdc.debezium.DebeziumDeserializationSchema add open default method"
**Is your feature request related to a problem? Please describe.**
Becuase DebeziumDeserializationSchema have not default open. we need put initialize in deserialize like this.
This manner cannot gracefully initialize some field.

[code]
Can we add defalut open method like this?

    void open() throws Exception {}

**Describe the solution you'd like**
A clear and concise description of what you w

[2022-04-17 17:10] Echo18322276280 commented on #1041
I have the same problem as you. The solution: by modifying the version Verification in the source code, add the version you use and recompile.

[2022-04-18 03:07] zz-big commented on #1077
经测试是由于zerofill 导致， flink cdc是否支持int(10) unsigned zerofill ？

[2022-04-18 04:09] leonardBang commented on #1069
和本项目无关，close

[2022-04-18 04:09] #1069 closed

[2022-04-18 04:23] wpx1997-stack opened #1081 "监视千万级别的MYSQL表，全量阶段没有反应。"
**Describe the bug(Please use English)**
Use the Initia mode to monitor millions of tables, do not read data, no response;

**Environment :**
 - Flink version :  1.14.3
 - Flink CDC version: 2.2.0
 - Database and version:  MYSQL 8.0.15

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
同步ersdata.book_datatype_rel这个10

[2022-04-18 06:02] wpx1997-stack commented on #1081
找到原因了，原因是这个表没有设置主键。降到2.1.1版本后，启动后报错Incremental snapshot for tables requires primary key, but table ersdata.book_datatype_rel doesn't have primary key。但是在2.2.0无错误信息，建议抛出异常。

[2022-04-18 06:54] szgyh opened #1082 "监听oracle erp的归档日志，导致日志爆炸性增涨"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.1
 - Database and version: oracle 12c

我监听公司的oracle erp的归档日志，导致日志爆炸性增涨，平时一天几百兆日志，监听3个表后，每天200G的日志。

[2022-04-18 09:58] murongpingtian opened #1083 "为过程或函数 cdc.fn_cdc_get_all_changes_ ... 提供的参数数目不足"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.3
 - Database and version: sqlserver2016

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :
2022-04-17 19:05:36
com.ververica.cdc.connectors.shaded.org.apache.kafka.connect.errors.Con

[2022-04-18 12:25] zhilinli123 commented on #785
You can try to set the timeout. The current version of 2.2.0 has no problem with the synchronization of the entire incremental database, but there are still some problems with the full database reading, such as checkpoint failure

[2022-04-19 05:54] rookiegao commented on #1081
这是一个 bug，我们将修复它。

[2022-04-19 08:44] PatrickRen commented on #1030
@BuddyJack Could you check the configuration of your MySQL binlog? `binlog-format` should be `row` and `binlog_row_image` should be `full`.

https://debezium.io/documentation/reference/stable/connectors/mysql.html#enable-mysql-binlog

[2022-04-19 08:49] PatrickRen commented on #1034
@SwimSweet Watermark related logics is maintained by Apache Flink project instead of CDC connector. Please open ticket in Flink JIRA or ask in Flink mailing list.

[2022-04-19 08:49] #1034 closed

[2022-04-19 08:54] PatrickRen commented on #1036
@luoyuxia Could you take a look on this issue? Thanks

[2022-04-19 09:00] PatrickRen commented on #1041
Fixed by eccd748287e81fcfab4b76d1a4da998995824aa6 on master and 2982bc0b71adcde725835fdd62ffb87d3da2d7eb on release-2.2

[2022-04-19 09:05] PatrickRen commented on #1048
@misunnon Could you try to remove kafka related JARs from `lib` directory? I think it will conflict with Kafka related dependencies used by CDC connectors.

[2022-04-19 09:09] PatrickRen commented on #1059
@PengMinghui973 Could you check if the privilege of the user connecting to the DB is correctly configured? There's [a detailed description](https://debezium.io/documentation/reference/stable/connectors/postgresql.html#postgresql-permissions) about permissions required for using Postgres CDC.

[2022-04-19 09:13] PatrickRen commented on #1006
Duplicated by #1061

[2022-04-19 09:15] PatrickRen commented on #1058
@fsk119 Could you take a look at this issue? I'm not sure this could be fixed by upgrading Debezium to 1.6.4. Thanks

[2022-04-19 09:16] PatrickRen commented on #1065
@ydx2099 Please report to Flink community about JDBC sink issues.

[2022-04-19 09:16] #1065 closed

[2022-04-19 09:19] PatrickRen commented on #1067
@mrchenwx Could you try to reproduce the problem with SQL CDC connector? Also it looks like a network related issue according to the stack trace, so you might need to check if the network works properly.

[2022-04-19 09:21] PatrickRen commented on #1076
@hehetown Looks like an issue inside `LogMinerStreamingChangeEventSource` from Debezium Oracle connector. Could you check if there's any information about this exception in Debezium community?

[2022-04-19 09:22] hehetown commented on #1076
你好！邮件已经收到了。谢谢。

[2022-04-19 09:29] PatrickRen commented on #1082
@szgyh I'm not quite familiar with Oracle but could you try to config some log cleanup strategies to prune useless log periodically?

[2022-04-19 09:30] PatrickRen commented on #1083
@murongpingtian Could you provide more details about your case like SQL statement, config and logs?

[2022-04-19 09:32] #977 closed

[2022-04-19 12:09] wpx1997-stack opened #1085 "监视数据库中的500个表，JVM Metaspace不断上升，最终java.lang.OutOfMemoryError:Metaspce"
**Describe the bug(Please use English)**
I need to create a real-time mirror for the database, so I monitor all the tables in the database (500 tables) .But in the full synchronization phase TaskManager's JVM Metaspace grows growing，finally：java.lang.OutOfMemoryError:Metaspce。
I originally used the default value of Metaspce, which crashed very quickly，about six hours。Then I set up `taskmanager.mem

[2022-04-19 14:40] xwzpp opened #1086 "Can MongoDB CDC Connector support change stream filter config"
**Is your feature request related to a problem? Please describe.**
MongoDB CDC connector has support "copy.existing.pipeline" to filter some document, can change stream also support this feature?

**Describe the solution you'd like**
just like add a config such as "stream.pipeline"

**Describe alternatives you've considered**
we need to filter some change stream event.

[2022-04-20 07:48] PatrickRen opened #1091 "Physical schema in dynamic tables should only keep physical columns"
Currently `physicalSchema` in dynamic tables is assigned by `DynamicTableFactory.Context.getCatalogTable().getResolvedSchema()`, which contains virtual columns. A filter in required on the schema to keep physical columns only.

[2022-04-20 09:14] wuchong opened #1093 "Log MySQL server information when startup"
Currently, the mysql-cdc connector doesn't print the server information (e.g. version, binlog_format) which is very useful when debugging. We can print them like how debezium does.

[code]

[2022-04-20 09:49] hehetown commented on #1076
@PatrickRen Thank you, but I checked Debezium Community and could not find relevant treatment methods, so I come here for help.

[2022-04-20 11:26] #1091 closed

[2022-04-20 12:04] ryuunami opened #1094 "flink-connector-debezium:2.2.0 and flink-connector-kafka_2.11:1.13.5 conflict"
**Describe the bug(Please use English)**
flink-connector-debezium:2.2.0 and flink-connector-kafka_2.11:1.13.5 conflict

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.0
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
<flink.version>1.13.5</flink.version>
<flink.cdc.version>2.2.0</flink.cdc.version>
        <dependency>
            <groupId>com.ve

[2022-04-20 12:09] PengMinghui973 opened #1095 "增量数据同步，出现访问IO问题"
![image](https://user-images.githubusercontent.com/62225711/164227182-c8901605-4553-49c0-b838-40be63b83972.png)
什么情况同步数据会出现这种情况，方便解答下吗，谢谢

[2022-04-20 13:26] onefeng opened #1096 "How to deal the "Failed to deserialize data of EventHeaderV4"?"
org.apache.kafka.connect.errors.ConnectException: com.github.shyiko.mysql.binlog.event.deserialization.EventDataDeserializationException: Failed to deserialize data of EventHeaderV4{timestamp=1650449053000, eventType=WRITE_ROWS, serverId=21150363, headerLength=19, dataLength=8022, nextPosition=419757365, flags=0}
	at io.debezium.connector.mysql.AbstractReader.wrap(AbstractReader.java:241) ~[blob_p

[2022-04-20 16:05] Jiabao-Sun commented on #1086
Thanks @xwzpp to report this enhancement.

If you wanna filter some database and collections, we can use regular expressions directly after release 2.2.0.
If you wanna filter a specific range of documents, it's recommended to use filter operation in stream api or where condition in flink sql.

The `pipeline` is currently used internally as a filter for the database and collection.
My concern is th

[2022-04-21 00:52] happylin0x29a opened #1101 "[mysql] fix binlog purge"
**mysql source binlog disappear very fast ，can not fix it to change binlog Strategy**

![efda3c13fc16c75e1b600698e1ae22c](https://user-images.githubusercontent.com/30915794/164349731-83cc8b30-eb2e-42e8-8fef-e6e7ee060243.png)

**When the full amount of MySQL data is read, the binlog data is asynchronously cached until the split data is read, and the merge is performed.**

[2022-04-21 01:26] #1094 closed

[2022-04-21 01:28] ryuunami commented on #1094
thx，add Kafka-client:2.7 into pom  can solve this problem

[2022-04-21 01:46] leonardBang commented on #1101
@happylin0x29a could you share your mysql binlog setting? how long do you keep in mysql server?

[2022-04-21 07:40] happylin0x29a commented on #1101
![image](https://user-images.githubusercontent.com/30915794/164403793-c532b9d5-def2-4ff4-a4e6-95eb78b2b1eb.png)
The time policy is 18 hours, but the remaining 30% of the disk policy will clean up the data. The hardware resources are limited and there is no way to expand the capacity, so the binlog disappears quickly

[2022-04-21 08:59] heiren93 commented on #546
I met the question too. My checkpoint settings are   as follows：

 configuration.setString("execution.checkpointing.interval", "10 s");
    configuration.setString("execution.checkpointing.externalized-checkpoint-retention","RETAIN_ON_CANCELLATION");
    configuration.setString("execution.checkpointing.mode","EXACTLY_ONCE");
    configuration.setString("execution.savepoint.path", “hdfs://HermesSer

[2022-04-21 09:24] heiren93 opened #1105 "postgres cdc ,restore from checkpoint failed"
my checkpoint settings are as below :

     configuration.setString("execution.checkpointing.interval", "10 s");
    configuration.setString("execution.checkpointing.externalized-checkpoint-retention","RETAIN_ON_CANCELLATION");
    configuration.setString("execution.checkpointing.mode","EXACTLY_ONCE");

the checkpoint are created in  path "hdfs://HermesServices/flink-checkpoints/f9bf57fe21994d6638

[2022-04-22 03:32] smile710 commented on #368
请问下解决了嘛？我也遇到了同样的问题。

[2022-04-22 07:03] zhilinli123 commented on #785
This problem is not found in the new version. Manually close the fault

[2022-04-22 07:03] #785 closed

[2022-04-22 07:04] zhilinli123 opened #1108 "[MySQL] Improve the chunks splitting of table with composite primary key"
The CDC uses the first joint primary key of a table by default. If the later version supports the joint primary key of a table, the CDC uses the first joint primary key of a table to determine whether a trusted field exists Is it possible to manually specify this field, so as to facilitate subsequent synchronization monitoring? Please kindly review it with the help of community leaders

[2022-04-23 01:08] #1081 closed

[2022-04-24 01:44] JunjianS commented on #723
When is the version 2.2 planned to be officially released?

[2022-04-24 02:38] qq919856 commented on #945
你好，我也遇到跟你一样的问题，能请问您最终是怎么解决的嘛

[2022-04-24 06:29] wpx1997-stack opened #1112 "java.lang.RuntimeException: One or more fetchers have encountered exception"
**Describe the bug(Please use English)**
ERROR MESSAGE:
`java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager.checkErrors(SplitFetcherManager.java:223)
	at org.apache.flink.connector.base.source.reader.SourceReaderBase.getNextFetch(SourceReaderBase.java:154)
	at org.apache.flink.connector.base.sour

[2022-04-24 06:31] wpx1997-stack commented on #1112
发现很多人都有这个问题，只要数据量比较大就会这样，难受。

[2022-04-25 01:59] AwesomeArthurLi commented on #1010
shaded guava is the dependency for both flink-cdc-connectors 2.2.0  and flink streaming 1.14.4 , while these two use different version.

When using guava 18

`
Exception in thread "main" java.lang.NoClassDefFoundError: org/apache/flink/shaded/guava30/com/google/common/collect/Lists
	at org.apache.flink.streaming.api.transformations.LegacySinkTransformation.getTransitivePredecessors(LegacySinkTrans

[2022-04-25 02:00] milkdrink opened #1113 "tidb cdc connectors classNotFoundException: org.tikv.shade.io.grpc.internal.ManagedChannelImpl$LbHelperImpl$1LoadBalancerRefreshNameResolution"
Apr 25, 2022 6:16:00 AM org.tikv.shade.io.grpc.internal.ManagedChannelImpl$2 uncaughtException
SEVERE: [Channel<3>: (192.168.31.189:2379)] Uncaught exception in the SynchronizationContext. Panic!
java.lang.NoClassDefFoundError: org/tikv/shade/io/grpc/internal/ManagedChannelImpl$LbHelperImpl$1LoadBalancerRefreshNameResolution
	at org.tikv.shade.io.grpc.internal.ManagedChannelImpl$LbHelperImpl.refre

[2022-04-25 03:00] murongpingtian commented on #1083
get sqlserver cdc ,insert into postgresql

[2022-04-25 03:00] leonardBang commented on #723
?? It has been released, https://github.com/ververica/flink-cdc-connectors/releases/tag/release-2.2.0

[2022-04-25 03:00] #723 closed

[2022-04-25 03:17] feifei0930 opened #1114 "Currently MySqlSource cannot support the StartupOptions with the SPECIFIC_OFFSETS startup mode. Will this be solved in a short time?"
The old MySqlSource support four kinds of StartupMode, which contains INITIAL, EARLIEST, LATEST, SPECIFIC_OFFSETS. However, the new MySqlSouce only support INITIAL and LATEST mode. Will SPECIFIC_OFFSETS mode be supported soon?

[2022-04-25 06:59] 1105220927 opened #1115 "mysql 实例变更后，无法根据checkpoint恢复任务。"
**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2.0
 - Database and version: mysql 5.7

cdc同步任务已经正常运行十多天了，运维对db实例进行扩容操作后(切换从机)，任务根据checkpoint自动重启后发生报错，报错如下：
![image](https://user-images.githubusercontent.com/95424327/165035675-47307db8-6cc1-4d49-81e2-e1b13ee9c5de.png)

看现象感觉是根据checkpoint恢复时，使用binlog文件恢复(切换从机后的binlog已经不一致了)，而不是gtid进行恢复，导致binlog文件找不到。
在使用2.1.1的老api时，这种扩容操作是可以根据g

[2022-04-25 07:43] 1105220927 opened #1117 "this no longer available on the server"
**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.1.1
 - Database and version:  mysql

如果接入的数据表长时间不更新(超过binlog文件滚动时间)，通过checkpoint重启时，会报错binlog文件找不到。

![image](https://user-images.githubusercontent.com/95424327/165042751-fb7af7d1-b5d4-4000-b64b-b7f7282e96eb.png)

[2022-04-25 08:55] cqlyiyeshu opened #1119 "java.lang.ClassNotFoundException: org.apache.kafka.connect.data.Schema"
**Describe the bug(Please use English)**
when I Etl data from mysql table1 to table2, I got an error: Caused by: java.lang.ClassNotFoundException: org.apache.kafka.connect.data.Schema

**Environment :**
 - Flink version :  1.13.6-2.12
 - Flink CDC version: 2.2.0
 - Database and version: Mysql 5.27.36

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
bin/sql-client.sh

CREATE T

[2022-04-25 09:04] cqlyiyeshu commented on #1048
Have you resolved?

[2022-04-25 10:04] xiaohui1227 opened #1120 "Error serializing mysql8.0.18 field type Bigint data"
Through the DataStream Source to listen to a table, use JsonDebeziumDeserializationSchema
Field name order_id, type bigint(20)
mysql  order_id = 1518478400438665216
Flink order_id = "FRKx5vqAAAA ="
Other values of the same type are fine

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2.0
 - mysql version: 8.0.18

[2022-04-25 10:06] lizhuoxuan commented on #341
可以支持PostgreSQL 14吗？

[2022-04-25 11:10] JiangfeiLiu opened #1121 "postgres-cdc can not catch change data"
**Describe the bug(Please use English)**
datastream api and sql api in old database can not catch change data running a period of time
but,when i create new database,new table,can catch change data

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.1.0
 - Database and version: 11

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
3. The test code :
'connector

[2022-04-25 12:15] molsionmo opened #1122 "MySqlChangeEventSourceExampleTest encounter NPL in JdbcSourceStreamFetcher.hasEnterPureBinlogPhase"
**Describe the bug(Please use English)**
com.ververica.cdc.connectors.base.MySqlChangeEventSourceExampleTest in bin log phase will encounter NPL in JdbcSourceStreamFetcher.hasEnterPureBinlogPhase. maxSplitHighWatermarkMap is null.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.3.SNOPSHOT
 - Database and version: Mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1.

[2022-04-26 02:25] zhilinli123 commented on #1021
Is there any good solution to this problem that I have encountered at present

[2022-04-26 03:34] zhilinli123 commented on #271
What is the binlog clearing mechanism? Never clean up or nearly 7 days?

[2022-04-26 06:00] luckyboy2226 opened #1124 "Synchronize mysql data through flink cdc sql, ddl operation is not synchronized"
**Synchronize mysql data through flink cdc sql, ddl operation is not synchronized**

Synchronize mysql data in the following ways, ddl is not synchronized:

[code]

[code]

[code]

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version:  2.2/2.0/2.3-SNAPSHOT
 - Database and version:  5.7.32

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
     - ALTER TABLE student

[2022-04-26 06:36] cqlyiyeshu commented on #1119
把flink换成1.13.6-2.11 就可以了

[2022-04-26 06:36] #1119 closed

[2022-04-26 09:04] staenlyxu512 opened #1125 "mysqlsource cdc 数据不完整"
Synchronize mysql data through flink cdc datastream , but not all cdc data was caught, and the lost data is not regular

    val mySqlSource:MySqlSource[String] = MySqlSource.builder[String]()
      .hostname(Config.HOST)
      .port(Config.PORT)
      .databaseList(Config.DATABASE)
      .tableList(Config.TABLE_LIST)
      .username(Config.USER)
      .password(Config.PASSWORD)
      .deserialize

[2022-04-26 09:33] lykpass commented on #187
Jark snapshot.select.statement.overrides这个参数在新版的2.2版本中不生效了

[2022-04-26 15:37] wayne-data opened #1126 "oracle cdc why consist flush redo log"
Enviroment:
Flink 1.13
Oracle11g
FlinkCDC-Oracle-Connector 2.2 or Debezium  Kafka Connector 1.7
Desc:
Why does oracle cdc dba say that it will continue to refresh redolog, and it is useless to adjust the online catalog of logminer

[2022-04-27 03:05] molsionmo commented on #1122
@fuyun2024 can you fix it and use a new pull request?

[2022-04-27 03:56] codingxmh opened #1127 "sqlserver-cdc decimal类型值转换异常（"0.0"采集到kafka值为"AA==")"
sqlserver中字段类型decimal，值为"0.0"
经过flinkcdc，sink到Kafka显示值为"AA=="

[2022-04-27 07:25] fuyun2024 commented on #1122
@molsionmo OK, I will support it later

[2022-04-27 16:30] yuhao-xu opened #1128 "Can we expose op type in the metadata through flink sql?"
**Is your feature request related to a problem? Please describe.**
I found it's painful that we can't get the op type of each message through flink sql natively.

**Describe the solution you'd like**
I hope we can expose the op type in the metadata

**Describe alternatives you've considered**
N/A

[2022-04-28 01:14] JunjianS commented on #723
thanks

[2022-04-28 01:32] dailai opened #1129 "mysql-cdc 2.x has no flink latency metric."
Describe the bug
mysql-cdc 2.x has no flink latency metric.

Environment :

Flink version : 1.13.2
Flink CDC version: 2.2.0

No this metric:
taskmanager_job_latency_operator_id_operator_subtask_index_latency

flink.conf:
metrics.latency.interval=30000
metrics.latency.granularity=single
metrics.latency.history-size=30

[2022-04-28 02:28] 15890776783 commented on #945
开启checkpoint试试

在 2022-04-24 10:38:22，"qq919856" ***@***.***> 写道：

你好，我也遇到跟你一样的问题，能请问您最终是怎么解决的嘛

—
Reply to this email directly, view it on GitHub, or unsubscribe.
You are receiving this because you modified the open/close state.Message ID: ***@***.***>

[2022-04-28 02:28] #685 closed

[2022-04-28 02:29] #313 closed

[2022-04-28 02:38] fuyun2024 opened #1130 "Flink CDC base registers the identical history engine on multiple tasks"
**Describe the bug(Please use English)**
Flink CDC base registers the identical history engine on multiple tasks

**Additional Description**

203145 [Source Data Fetcher for Source: OracleParallelSource (4/4)#0] ERROR org.apache.flink.connector.base.source.reader.fetcher.SplitFetcherManager - Received uncaught exception.
java.lang.RuntimeException: SplitFetcher thread 0 received unexpected excepti

[2022-04-28 03:17] yuanmin12 commented on #1112
调整超时时间，优化配置参数

[2022-04-28 09:01] zhongqishang commented on #1125
@staenlyxu512 Whether gtid mode is enabled? Via `show global variables like 'gtid_mode';`

[2022-04-28 10:06] staenlyxu512 commented on #1125
not errors in my execution , but change data was not always send into datastream

[2022-04-28 18:10] wangyifaer opened #1133 "When I creating the Postgres mapping table in FlinkSqlClient, configure debezium.snapshot.select.statement.overrides error"
**Describe the bug(Please use English)**
When I creating the Postgres mapping table in FlinkSqlClient, configure debezium.snapshot.select.statement.overrides error

**Environment :**
 - Flink version :  1.36
 - Flink CDC version: 2.11
 - Database and version: 12.x

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
with(
...
'debezium.snapshot.select.statement

[2022-04-29 02:38] dailai commented on #1129
https://github.com/apache/flink/pull/17486

[2022-04-29 03:34] EMsnap opened #1135 "support read all mysql database data with no schema restrict"
**Is your feature request related to a problem? Please describe.**

The thing is sometime user want to export all data from database with diffrent schema to kafka with canal json
This is something flinkcdc cannot do since we all need to specify the source shema when writing sql

**Describe the solution you'd like**

 1 The solution is that we can create a new DeserializationRuntimeConverter to con

[2022-04-29 03:41] EMsnap commented on #1128
I've noticed it, thx, I'll create a pr for this

[2022-04-29 03:42] codingxmh commented on #1127
debeziumProperties.put("decimal.handling.mode", "double");
debeziumProperties.put("bigint.unsigned.handling.mode", "long");

[2022-04-29 03:42] #1127 closed

[2022-04-29 04:02] EMsnap commented on #1128
PLAL https://github.com/ververica/flink-cdc-connectors/pull/1137

[2022-04-29 04:06] EMsnap opened #1138 "[mysql] expose update_before field in the metadata through flink sql #1128"
**Is your feature request related to a problem? Please describe.**

see https://nightlies.apache.org/flink/flink-docs-master/zh/docs/connectors/table/formats/canal/

in canal json user would want OLD field to know the update before data before UPDATE record

**Describe the solution you'd like**
add update before field in meta data

**Describe alternatives you've considered**
add update before fiel

[2022-04-29 05:19] EMsnap opened #1140 "[mysql] expose op_ts field in the metadata through flink sql"
**Is your feature request related to a problem? Please describe.**
[mysql] expose op_ts field in the metadata through flink sql
right now there are only binlog timestamp in meta data

**Describe the solution you'd like**
[mysql] expose op_ts field in the metadata through flink sql

**Describe alternatives you've considered**
[mysql] expose op_ts field in the metadata through flink sql

[2022-04-29 06:49] lgh1122 commented on #618
OK, I have edited the problem description

[2022-04-29 06:55] lgh1122 opened #1143 "CDC sharding fails due to the change of the primary key format generation rule of the mysql database table string"
**Describe the bug**
When using cdc for data synchronization，One of our business table，Because the generation rules of the string primary key id in the early stage and the id in the later stage are different，when cdc sharding，Using ObjectUtils.compare(chunkEnd, max) does not return the expected value correctly，cause sharding to fail，All data is centralized in one shard
pre id format ：logistics2018

[2022-04-29 07:25] EMsnap opened #1144 "run OracleE2eITCase occurs error"
**Describe the bug(Please use English)**

see https://github.com/ververica/flink-cdc-connectors/pull/1139/checks?check_run_id=6223168193

Apr 29 05:33:42 05:33:42.735 [ERROR]   OracleE2eITCase.testOracleCDC:170 expected:
<[101,scooter,Small 2-wheel scooter,3.14, 102,car battery,12V car battery,8.1, 103,12-pack drill bits,12-pack of drill bits with sizes ranging from #40 to #3,0.8, 104,hammer,12oz

[2022-04-30 00:17] He-wang-yi opened #1146 "Flink CDC 2.2.0 Failed to synchronize incremental data in YARN mode"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.0
 - Database and version: MySQL 8.X

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
` MySqlSource<String> mySqlSource = MySqlSource.<String>builder()
                .hostname("tdh004")

[2022-05-02 04:04] JiangfeiLiu opened #1147 "[BUG][PostgreSQL CDC] java.lang.IllegalAccessError: io/debezium/embedded/EmbeddedEngineChangeEvent"
**Describe the bug(Please use English)**
see picture,

**Environment :**
 - Flink version :  1.14.3
 - Flink CDC version: 2.2.0
 - Database and version: 11

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
![image](https://user-images.githubusercontent.com/100289093/166182637-55e78c44-76ee-4e08-991a-ecadca282d18.png

[2022-05-03 10:07] nickfan opened #1148 "Failed to discover captured tables for enumerator when use apache shardingsphere as cdc source."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.1.0
 - Database and version: 5.7.36-log-ShardingSphere-Proxy 5.1.0 MySQL Community Server

**To Reproduce**
Steps to reproduce the behavior:
when use apache  ShardingSphere as cdc datasource,it will cause a error when cdc try to enum the

[2022-05-03 15:30] yujiaxinlong opened #1149 "[mysql] newly add table stuck after several splits"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :   1.13.6
 - Flink CDC version:  2.3-SNAPSHOT
 - Database and version:  mysql  5.7.35

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
     two tables A and B.
     firstly only read table A until snapshot read finished,  then add table B. , table

[2022-05-05 01:58] EMsnap commented on #1128
my pleasure @yuhao-xu

[2022-05-05 14:59] choucmei commented on #1143
In mysql use utf8_general_ci will case，eaxmple :  'a' = ‘A'  , use utf8_bin will sort by asscii  ,example:  'A' < 'a'.
But will sort by asscii  in java.
 i will fix soon

[2022-05-06 02:06] nickfan commented on #1148
i upgraded shardingsphere to 5.1.1, still cause the same issue (with information_schema included):

[code]

![image](https://user-images.githubusercontent.com/100613/167054643-e8389b8b-9574-4dc5-b2b0-beeb95a5f22c.png)

[2022-05-06 04:53] nickfan commented on #1148
I've put together the relevant configuration files for reproducing these issues.

apache shardingsphere 5.1.1

server.yaml
[code]

config-sharding.yaml
[code]

mysql source schema init sql:

[code]

data mockup sql for shardingsphere 'sharding_db':

[code]

flink version 1.13.3  cdc connector version 2.1.0

flink-sql mysql cdc source and es sink :

[code]

flink-sql cdc task mysql cdc source sink

[2022-05-06 07:21] zhilinli123 commented on #1096
How did you solve the problem at last?
@onefeng

[2022-05-06 07:22] zhilinli123 commented on #1030
How did you solve the problem at last?

[2022-05-06 07:22] BuddyJack commented on #1030
邮件已收到！谢谢！                       薛超

[2022-05-06 07:35] zhilinli123 commented on #773
Does this problem still recur after you upgrade? I encountered this problem in 2.2.1
@q2515045

[2022-05-06 08:21] zhilinli123 commented on #432
@lykpass  我用cdc2.2.1也出现了这个问题  但是程序不会导致无限重启 请问后续您有什么好的解决办法吗？

[2022-05-06 11:02] PatrickRen opened #1152 "Support dynamically table addition in flink-cdc-base"
Currently `flink-cdc-base` framework doesn't support discovering and adding tables dynamically. This feature is already implemented in MySQL CDC connector so it's required to support it in the framework in order to adapt MySQL CDC connector to `flink-cdc-base`.

[2022-05-06 11:06] PatrickRen opened #1153 "Migrate MySQL CDC connector to flink-cdc-base framework"
Currently new MySQL CDC source is implemented directly on FLIP-27 source API instead of reusing the `flink-cdc-base` framework. It should be migrated to the framework in order to avoid code and logic duplication.

[2022-05-07 03:28] coralzu opened #1154 "[tidb] decode fails cause task failed and inconsistent data synchronization"
**Describe the bug(Please use English)**
When using tidb connector to synchronize data from tidb to elasticsearch, decoding exceptions are found, cause task failure and inconsistent data.
Even if you restart the task with checkpoint, the data is still inconsistent.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2.1
 - Database and version: TIDB v5.4.0

**To Reproduce**
1. Cr

[2022-05-07 07:36] GOODBOY008 commented on #145
@PatrickRen Sql Server have supported.Please close issue.

[2022-05-07 12:48] pedroyzkrak commented on #1010
I have this same problem with the mongo connector! Can we have a fix?!

[2022-05-08 10:24] metathrone commented on #341
db2 connector支持

[2022-05-08 13:26] wangxiangyu opened #1158 "support ingesting changes from tables with different schemas"
Currently when using SQL API,  we must define table schema in the source table. So the tables in one flink cdc sql job must be with the same schema. Is there any way to `ingest  changes from tables with different schemas in one flink job`? Thank you.

[2022-05-09 15:11] GOODBOY008 opened #1159 "[tidb-cdc] Monitor tidb table lose data, which table has one more regions."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink CDC version:  2.2.1

Link [issue](https://github.com/tikv/client-java/issues/600).

[2022-05-09 15:19] dennissky opened #1160 "FlinkCDC压测"
1.Flink版本:1.13.5
2.CDC版本:2.1.0
3.SQL Client
[code]
4.现象：无论是400并发，800并发，1200并发，同步数据量最高只到2w/s上下，如何继续提高同步速率？MySQL sysbench压测最高tps6w/s

[2022-05-09 15:28] GOODBOY008 commented on #1160
首先得确认的是table a 和 b 是不是在同一个数据库？如果是那么flink cdc 压测场景下：mysql 是读写混合 ，而 MySQL sysbench 是纯写吧。

[2022-05-09 15:33] GOODBOY008 commented on #1095
It's occurs after snapshot process completed?

[2022-05-09 15:36] PengMinghui973 commented on #1095
是的，全量同步完后，增量同步报错这个io，如果是网络超时，是否可以在哪设置超时时间解决在这个问题，目前同步数量量少的表没出现这种情况

[2022-05-09 15:56] PengMinghui973 commented on #1095
我使用flink cdc 2.0.1 已经最新的2.2.1都会报错这个问题

[2022-05-10 00:08] dennissky commented on #1160
是同一个物理库，不同schema

[2022-05-10 00:53] He-wang-yi opened #1162 "MySQL CDC converts to the broadcast stream will send the same content repeatedly."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

The CDC parameter "startOption" defaults to initial();But the broadcast stream keeps repeating itself
`tableProcessStreaming.print("tableProcessStreaming>>>> ="+System.currentTimeMillis()+"=="+Thread.currentThread().getId());`

If there is very little data in the mysql table or if the broadcast stream con

[2022-05-10 02:38] leonardBang opened #1163 "[Postgres] Use Incremental Snapshot Framework for Postgres CDC Connector"
Is your feature request related to a problem? Please describe.
Adapt Postgres CDC Connector to the abstraction framework of https://github.com/ververica/flink-cdc-connectors/issues/724

[2022-05-10 03:27] zhilinli123 opened #1164 "Caused by: io.debezium.DebeziumException: java.lang.NullPointerException"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.3
 - Flink CDC version: 2.2.1
 - Database and version: Mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.
<img

[2022-05-10 03:52] qiao-x commented on #1163
Hi @leonardBang I am interested in this feature, could you assign this adaption work to me?
BTW I think it's kinda big task, if anyone is intersted to work on this work as well, feel free to comment here and let's split it into subtasks and cooperate on this feature.

[2022-05-10 06:07] leonardBang commented on #1163
@qiao-x Thanks for taking this ticket, assigned to you.

[2022-05-10 06:43] xieyi888 commented on #1159
I found the bug when using tidb-cdc https://github.com/tikv/client-java/issues/600
I think here are two ways to solve this problem in TiDB-CDC：
(1) fix the bug https://github.com/tikv/client-java/issues/600
(2) change code of com.ververica.cdc.connectors.tidb.TiKVRichParallelSourceFunction.readSnapshotEvents
before scan each region, getEndKey  of each region.  set the endKey, then scanClient.scan(

[2022-05-10 06:44] MaoHJ-Official opened #1165 "[Oracle CDC Connector]There is a probability that the flashback query fails, resulting in the failure of creating a snapshot"
**Describe the bug(Please use English)**
Debezium Connector for Oracle uses flashback query to create initial snapshot, but the flashback query has a certain probability of failure, such as when the undo log is overwritten. When synchronizing big tables, the failure probability will increase greatly.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.0
 - Database and version:

[2022-05-10 07:44] dennissky commented on #1160
换了两个库，并且我的taskmanager是两台机器1200并发的情况下，和1台600的并发效果是一样的

[2022-05-10 07:52] lknan opened #1166 "Get garbled codes in the snapshot phase with MySql CDC"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.2.1
 - Database and version: 8.0.28

**To Reproduce**
Steps to reproduce the behavior:
mysql数据库编码为utf-8，A库的a1表的aa1字段的编码为ucs2，然后使用flink cdc读取数据，存量数据读取是乱码的；
读取binlog的新增数据是不乱码的；
然后我查了下读取binlog对aa1字段使用的utf-16编码，使用的也是utf-16解码；
读取存量快照的时候对usc2是

[2022-05-10 09:22] fsk119 commented on #1166
Please use English in the open source community.

[2022-05-10 09:22] #1162 closed

[2022-05-10 09:27] fsk119 commented on #1166
To produce the problem, please add the sql in the costomer.sql

[code]

You can add the test in the MySqlConnectorITCase

[code]

For the quick fix, you can modify as we do in the picture.

![image](https://user-images.githubusercontent.com/33114724/167596551-6226df74-83a7-452f-b95f-9d36c0601567.png)

[2022-05-10 09:31] fsk119 commented on #1166
The bug is because the jdbc connection uses the utf-8 encoding format. It causes the results from the jdbc connection has already been encoded in the utf-8 charset. But when convert the object array to the `SourceRecord`, it tries to use the charset defined in the DDL to encoding bytes. You can take a look at the MySqlValueConverts#converter for more details.

![image](https://user-images.githubus

[2022-05-10 10:13] githubzxs9637 opened #1168 "Flink Tidb CDC records loss"
**Describe the bug(Please use English)**
We are trying to use Flink Tidb CDC to synchronize data from tidb to tidb,
since we have data encryption issues we chose to use datastream api.
It works well for tables which have 500k- records, however, for 500k+ record-level tables, the number of records for our source tables and target tables won't match up.

**Environment :**
 - Flink version :  1.13.2

[2022-05-11 03:20] szhengshuai commented on #762
我也碰到了， 社区什么时候解决呢

[2022-05-11 03:29] heiren93 commented on #1105
I solved the problem. my job mode is  yarn application.The  checkpoints configuration  is  supposed to set before "yarnClusterDescriptor
        .deployApplicationCluster"  and should not setting in pipeline.jars.
 configuration.setString("execution.savepoint.path","hdfs://HermesServices/flink-checkpoints/f9bf57fe21994d663851d3b07cf4dd34/chk-20");

[2022-05-11 06:39] szhengshuai opened #1170 "Oracle CDC 2.2.0 报错Caused by: java.sql.SQLException: ORA-01289: cannot add duplicate logfile +DATA/jxr2p/onlinelog/group_4.294.1016480325"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version: 2.2.0
 - Database and version: 11g RAC

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
2022-05-10 11:00:37
org.apache.kafka.connect.errors.ConnectExceptio

[2022-05-11 06:45] lknan commented on #1166
这个改动只能兼容ucs2,相同的问题在其他引擎也会存在。debezium对数据库表字段的编码都进行了解析，并会进行相应的编解码，flink里边的快照读应该都使用的是默认的UTF-8，在这里对所有的类型进行转换总觉得不是最好的方式

[2022-05-11 06:47] lknan commented on #1166
这个改动只能兼容ucs2,相同的问题在其他引擎也会存在。debezium对数据库表字段的编码都进行了解析，并会进行相应的编解码，flink里边的快照读应该都使用的是默认的UTF-8，在这里对所有的类型进行转换总觉得不是最好的方式

[2022-05-11 07:15] nayoaixgnat opened #1171 "org.apache.kafka.connect.errors.ConnectException: OffsetStorageWriter is already flushing"
first time error：
org.apache.kafka.connect.errors.ConnectException: OffsetStorageWriter is already flushing
	at org.apache.kafka.connect.storage.OffsetStorageWriter.beginFlush(OffsetStorageWriter.java:111)
	at io.debezium.embedded.EmbeddedEngine.commitOffsets(EmbeddedEngine.java:991)
	at io.debezium.embedded.EmbeddedEngine.run(EmbeddedEngine.java:850)
	at io.debezium.embedded.ConvertingEngineBuild

[2022-05-11 07:17] nayoaixgnat commented on #1171
mysql : 5.7

[2022-05-11 07:18] fsk119 commented on #1166
Please use English...

[2022-05-11 07:23] fsk119 commented on #1166
It's just a quick fix. You should refer to the doc[1] that shows the mapping releationship bewteen the mysql charset and java charset. I think we should do all the mapping in the doc.

Maybe we should also test how the debezium works in the snapshot phase.

[1] https://dev.mysql.com/doc/connector-j/8.0/en/connector-j-reference-charsets.html

[2022-05-11 14:22] PengMinghui973 commented on #1095
版本升级解决不了这个问题，是不是还有其它设置可以解决这个bug?

[2022-05-12 01:47] Felix0525 opened #1174 "When i set 'scan.startup.mode' = 'latest-offset', Flink job failed with exception: Retrieve schema history failed xxx xxx"
1.What happened
When i set 'scan.startup.mode' = 'latest-offset', Flink job failed with exception: Retrieve schema history failed xxx xxx

2.Excpetion stack

2022-05-12 09:14:47,342 INFO  org.apache.flink.runtime.dispatcher.StandaloneDispatcher     [] - Job 77a6753d2b9a0ce57ee2626602abfa78 reached terminal state FAILED.
org.apache.flink.runtime.JobException: Recovery is suppressed by NoRestartBack

[2022-05-12 02:41] Felix0525 commented on #1174
Sloved: missing grant create table authorization

[2022-05-12 02:41] #1174 closed

[2022-05-12 03:30] nayoaixgnat commented on #1171
I did not save log,the next error I stick more information.

[2022-05-12 03:36] PengMinghui973 opened #1175 "PostgreSQL data synchronization, io error occurs in incremental synchronization after snapshot execution"
**Describe the bug(Please use English)**
Synchronize a piece of 130W data to redis. Whenever the data is fully synchronized, that is, the snapshot is read, an io error occurs in flink synchronization when the first batch of data changes.

**Environment :**
 - Flink version :  flink1.13.1
 - Flink CDC version: 2.2.1
 - Database and version: aws rds postgresql-11
 - Database parameters:
![image](htt

[2022-05-12 04:31] winskin opened #1177 "MySQL decimal type in JsonDebeziumDeserializationSchema return data error"
**Describe the bug(Please use English)**
MySQL decimal type in JsonDebeziumDeserializationSchema return data error

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.2.1
 - Database and version: MySQL 8

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :  db decimal data 7.9
2. The test code :
3. The error :  return data "AxY="

**Additional Description**
![im

[2022-05-12 08:32] azui007 opened #1179 "How to synchronize some fields of two tables in PostgreSQL"
There are two tables, one is vehicle information, the other is vehicle driver information.
When the vehicle driver's name is changed, I hope to modify the driver's name in the vehicle table at the same time.
Table structure：

![image](https://user-images.githubusercontent.com/9415011/168029000-7d7c3a6e-3730-4afb-948d-f31da9bff56a.png)

What should I do? Could you help me? thank you

[2022-05-12 09:10] justdoit-code commented on #654
你好，我也遇到这个问题，请问怎么解决呢，我用的版本如下，应该是你提交bug后的版本了
flink:1.13.1 flink-sql-connector-oracle-cdc:2.2.1

[2022-05-12 12:48] yansheng105 commented on #1177
This seems to be your misunderstanding. Debezium uses bytes to transmit decimal data by default. You can display numbers by modifying the decimal.handling.mode configuration item to string.
![image](https://user-images.githubusercontent.com/65000135/168077930-d6e54a45-c7db-42da-af94-4d483171e82a.png)

[2022-05-12 15:18] szhengshuai opened #1180 "ORACLE-CDC什么时候可以支持并行读取快照 并记录检查点"
目前在钉钉群看到不少人有这方面的需求 ， 目前看2.2主要是在支持更多DB上下功夫的，想了解下社区对于什么时候可以支持并行读取快照 ？

[2022-05-13 02:33] GOODBOY008 commented on #1144
Ok, I'm willing to fix this unstable test.

[2022-05-13 03:43] GOODBOY008 commented on #1180
This feature will suppeort by this pr https://github.com/ververica/flink-cdc-connectors/pull/1079.

[2022-05-13 07:16] hehetown opened #1182 "Retrieve schema history failed"
**Describe the bug(Please use English)**
           Retrieve schema history failed, the schema records for engine e573d667-c5e4-4df8-b55a-1686860bd2f0 has been removed, this might because the debezium engine has been shutdown due to other errors.
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:  2.2.1
 - Database and version:  Oracle 19.7

**To Reproduce**
Steps to reproduce the

[2022-05-13 07:18] #1177 closed

[2022-05-13 15:32] nayoaixgnat commented on #1171
2022-05-13 20:41:54,561 INFO  org.apache.flink.runtime.checkpoint.CheckpointCoordinator    [] - Completed checkpoint 426 for job f25bc615079c2084866f1c4c58e94b80 (4069 bytes in 35 ms).
2022-05-13 20:43:32,898 INFO  org.apache.flink.runtime.checkpoint.CheckpointCoordinator    [] - Triggering checkpoint 4040 (type=CHECKPOINT) @ 1652445812898 for job cf6809f95a770888f6d8b8b157ad51eb.
2022-05-13 20:43

[2022-05-13 15:36] nayoaixgnat commented on #1171
it is looks nomal before error,all log is like
 2022-05-13 20:41:54,561 INFO org.apache.flink.runtime.checkpoint.CheckpointCoordinator [] - Completed checkpoint 426 for job f25bc615079c2084866f1c4c58e94b80 (4069 bytes in 35 ms).
2022-05-13 20:43:32,898 INFO org.apache.flink.runtime.checkpoint.CheckpointCoordinator [] - Triggering checkpoint 4040 (type=CHECKPOINT) @ 1652445812898 for job cf6809f95a

[2022-05-15 01:42] JVincerW commented on #1112
我也遇到了同样的问题，请问你解决了吗

[2022-05-16 02:00] fsk119 commented on #1175
Thanks for your report. Could you also share the logs in the task manager?

[2022-05-16 02:26] azui007 commented on #1179
fixed

[2022-05-16 02:26] #1179 closed

[2022-05-16 03:06] ruanhang1993 commented on #1166
I am interested in this ticket. I could help to fix it.

[2022-05-16 03:07] fsk119 commented on #1166
Thanks for your help. Please ping me when you finish your PR.

[2022-05-16 04:26] PengMinghui973 commented on #1175
[flink-root-taskexecutor-0-flinktest.log](https://github.com/ververica/flink-cdc-connectors/files/8697146/flink-root-taskexecutor-0-flinktest.log)
[flink-root-taskexecutor-1-flinktest.log](https://github.com/ververica/flink-cdc-connectors/files/8697148/flink-root-taskexecutor-1-flinktest.log)

[2022-05-16 09:23] minchowang opened #1184 "Using the mysql-cdc 2.2, and using latest-offset mode during caused add newly table not to be capture."
**Describe the bug(Please use English)**
Using the mysql-cdc 2.2, and using latest-offset mode during caused newly table  not to be capture.
**Environment :**
 - Flink version :
 - Flink CDC version: 2.2
 - Database and version: MYSQL-5.7

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
<img width="478" alt="image"

[2022-05-16 12:09] rookiegao commented on #1171
You can debug remotely to find problems.

[2022-05-17 04:10] fsk119 opened #1187 "Add pom guide for datastream users who use the different flink version"
Datastream users need shade guava by themselves. I think we should offer these examples for them.

[2022-05-17 07:34] xieyi888 opened #1189 "[tidb-cdc]KeyRange in TableKeyRangeUtils distribution is unreasonable.Scan tidb table is not divided between different subtasks"
**Describe the bug(Please use English)**
#### KeyRange in TableKeyRangeUtils distribution is unreasonable. Scan tidb table is not  divided between different subtasks

**Environment :**
 - Flink version :  flink 1.14
 - Flink CDC version: 2.2.0
 - Database and version:  TIDB 5.1

**To Reproduce**
Steps to reproduce the behavior:
#### 1. prepare TiDB table
total count is 744750
[code]

#### 2. flink

[2022-05-17 12:15] wpx1997-stack commented on #1112
调整超时时间，优化配置参数

[2022-05-17 12:19] ruanhang1993 opened #1190 "When using mysql cdc connector, some task hanged in the snapshot phase"
**Describe the bug(Please use English)**
When using mysql cdc connector, some task hanged in the snapshot phase. The job master continues to send chunks to this task. But the task stops to read these chunks. After other tasks finished, they will wait the problem task to finish. And the total job hanged there.

This problem is that the reader doesn't release the thread resource, which causes that t

[2022-05-17 12:19] ruanhang1993 commented on #1190
I will raise a PR to fix this bug.

[2022-05-17 13:30] ruanhang1993 opened #1191 "Unexpected error when generating the chunks"
[code]
The number of chunks seems to be wrong.

This problem lies in that we should use the dynamic chunk size instead of the chunk size when splitting chunks.

[2022-05-17 13:30] ruanhang1993 commented on #1191
I will raise a PR to fix this bug.

[2022-05-18 02:36] ruanhang1993 opened #1194 "MySQL CDC Connector supports unsigned float/double/decimal and unsigned zerofill types"
MySQL CDC Connector supports unsigned float/double/decimal and unsigned zerofill types.

[2022-05-18 02:36] ruanhang1993 commented on #1194
I will raise a PR to add this.

[2022-05-18 06:06] zengqinchris opened #1195 "tidb cdc 2.2 读取全量的tidb的表数据时，出现丢数据的问题"
tidb的表数据大概有 80万多条记录，通过flink CDC全量读取到kafka后才20万条记录，丢时比较多

`public class TicdcUtils {

    /**
     * 获取tidb flink cdc connection source
     * @return
     */
    public static SourceFunction<String> getTidbSource(TiConfiguration tiConfiguration,String dbName, String tableName){

        TiSession session = TiSession.create(tiConfiguration);
        TiTableInfo table = session.getCatalog().getTable

[2022-05-18 06:10] zengqinchris commented on #1159
应该是cdc的bug，我也遇到了，tidb表数据量大，全量拉取数据丢时问题

[2022-05-18 06:40] xieyi888 commented on #1159
hi,data loss is caused by tikv-cient-java.
I had fix the bug in tikv-client-java:https://github.com/tikv/client-java/issues/600.
to avoid data loss in tidb-cdc snapshot, we can build  tikv-java-client from master branch source code, and change the   dependency in [tidb-cdc ](https://github.com/ververica/flink-cdc-connectors/blob/master/flink-connector-tidb-cdc/pom.xml)
[code]
I had test, and no da

[2022-05-18 06:52] GOODBOY008 commented on #1159
@xieyi888 @zengqinchris I have copy class `ScanIterator` to tidb cdc to fix this issue.

[2022-05-18 06:57] GOODBOY008 commented on #1195
@zengqinchris You can cherry pick https://github.com/ververica/flink-cdc-connectors/pull/1196 and install locally.

[2022-05-18 07:03] zengqinchris commented on #1159
用的是什么版本的jar

![image](https://user-images.githubusercontent.com/44901627/168977110-40a41f29-e193-4a3c-8a91-29879cdd872d.png)
![image](https://user-images.githubusercontent.com/44901627/168977155-d149c74d-afa4-4de9-95db-4c48ecc4fd59.png)

我的是最新版本 3.2.0

[2022-05-18 07:09] zengqinchris commented on #1159
@xieyi888 Do you have a packaged flink-cdc code package, please share

[2022-05-18 07:11] xieyi888 commented on #1159
The master had not releases .Here are steps for short fix:

1. clone https://github.com/tikv/client-java and checkout master branch
[code]
2. build tikv-client-java in local repository
`mvn clean install -Dmaven.test.skip=true`
version:
`<version>3.3.0-SNAPSHOT</version>`
3.  change pom in tidb-cdc  and build
https://github.com/ververica/flink-cdc-connectors/blob/master/flink-connector-tidb-cdc/po

[2022-05-18 07:12] xieyi888 commented on #1159
ok , I will upload the fix tidb-cdc jar here ,wait a minute please

[2022-05-18 07:13] xieyi888 commented on #1159
ok , I will upload the fix tidb-cdc jar here ,wait a minute please

[2022-05-18 07:22] lzshlzsh commented on #1021
Is the problem solved ? How ?

[2022-05-18 07:25] zengqinchris commented on #1159
感谢大佬分享，谢谢了

[2022-05-18 07:42] xieyi888 commented on #1159
hi, jar 和依赖版本见 : https://github.com/xieyi888/flink-tidb-cdc-SNAPSHOT-jar/tree/master
如果有问题，可以再联系我哈～

[2022-05-18 08:09] zengqinchris commented on #1159
感谢大佬，膜拜

[2022-05-18 08:32] zengqinchris commented on #1195
https://github.com/ververica/flink-cdc-connectors/issues/1159，解决方法

[2022-05-18 08:32] #1195 closed

[2022-05-19 02:50] #145 closed

[2022-05-19 08:34] lknan commented on #1112
请问你们是怎么调优的，我这边的大库大表非均匀分布主键，也经常遇到这样的错，cp容错次数加大了，cp interval增大，超时时间增大，chunkSize增大

[2022-05-19 08:42] lknan commented on #490
Is the problem solved please?

[2022-05-19 08:53] lknan opened #1198 "Why is the block log in job manage in the way of snapshot reading?"
Why is the block log in job manage in the way of snapshot reading?

[2022-05-19 09:00] lknan opened #1199 "OOM"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.1
 - Flink CDC version: 2.2.1
 - Database and version: 8.0.21

**To Reproduce**
Steps to reproduce the behavior:
![image](https://user-images.githubusercontent.com/40596486/169254919-54a09a1d-9e80-4ce9-86c7-267dfdf0c805.png)
![image](https://user-images.githubuse

[2022-05-19 09:15] winskin opened #1200 "Unsupported startup mode: SPECIFIC_OFFSETS"
**Describe the bug(Please use English)**
Specifies the binlog exception，Is there any way to solve it?

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.2.1
 - Database and version: mysql 8

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your proble

[2022-05-19 09:18] lknan opened #1201 "memory consumption"
大库大表非均匀分布主键情况下，使用快照全量读的时候为什么job manage特别消耗内存，使用binlog增量读取的时候为什么task特别耗内存（设置的4G），以致cp都无法成功；这两种方式为啥会有这样的情况？

[2022-05-19 09:44] vanliu-tx commented on #1201
adjust splitSize and fetchSize of MySqlSource, also change the checkpoint interval to < 60s during snapshot period.

[2022-05-19 10:01] whhe opened #1202 "[oceanbase] Support more obcdc params"
There are many params for `obcdc` (former [`liboblog`](https://github.com/oceanbase/oceanbase-doc/blob/0a2e318f9f2e1683cbff6eecffaa3d37258ace2c/zh-CN/13.supporting-tools/4.cdc/2.liboblog/2.liboblog-parameters/1.general-liboblog-configuration-items.md))], we should support to add these params to Flink CDC job.

And there are some params that should be supported firstly:`cluster_url`, `tb_black_list

[2022-05-19 10:07] algorizm opened #1203 "cause Could not find any factory for identifier 'sqlserver-cdc' that implements 'org.apache.flink.table.factories.DynamicTableFactory' in the classpath."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: flink-sql-connector-sqlserver-cdc-2.2.1.jar
 - Database and version: Microsoft SQL Server 2017 (RTM-CU20) (KB4541283) - 14.0.3294.2 (X64)

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
I prepare a

[2022-05-19 10:49] juyonychen opened #1205 "when start up flink job with checkpoint or savepoint. please accept below Suggest."
stage:
when i used mysql-flink-cdc monitor tableA and tableB  and sync data  to other database(eg:clickhouse or Doris )
when tableA added fileds clickhouse or Doris table don't synchronous add。so tableA add column corresponding will be abandon .
if i needed total data of tableA ，i have no choice but relistening 。i just want to relistening tableA but not all tables;

**Suggest**
when start up  flin

[2022-05-19 12:00] xieyi888 opened #1206 "[tidb-cdc] data loss when switch from snapshot read to change event read"
**Describe the bug(Please use English)**
 data loss when switch from snapshot read to change event read

**Environment :**
 - Flink version :  flink 1.14
 - Flink CDC version:  2.2.0
 - Database and version: tidb 5.1

**To Reproduce**
Steps to reproduce the behavior:
1. prepare a tidb table  :
here:
max id is  100040
[code]
total count is 50000
[code]

2. The test code :
flink sql
[code]
3. The er

[2022-05-19 12:08] xieyi888 commented on #1206
I had take some fix in https://github.com/ververica/flink-cdc-connectors/pull/1207
With this fix , with test, no data lost .
Tidb table
[code]

before switch to "change events"
![image](https://user-images.githubusercontent.com/105206850/169289494-137f2364-b743-438a-b841-53f19ff06ea9.png)

insert some data into TIDB
[code]

then switch to "change events"

watch the print results :
max id is 100086

[2022-05-20 01:40] 290352095 commented on #701
关于这个问题，大家可以移步https://github.com/ververica/flink-cdc-connectors/issues/632#issuecomment-984258805，我根据这个建议解决了用servicename连接RAC集群的问题

[2022-05-20 01:42] 290352095 commented on #632
非常感谢，根据您的建议，解决了servicename连接RAC的问题

[2022-05-20 01:44] 290352095 commented on #838
可以参考这个试一下     https://github.com/ververica/flink-cdc-connectors/issues/632#issuecomment-984258805

[2022-05-21 02:49] baisui1981 opened #1208 "Make offsetState of DebeziumSourceFunction queryable"
**Is your feature request related to a problem? Please describe.**
When running of Flink CDC job , I want to monitor the job  change log state from user client by Flink Queryable State ,but by now it is not support .

I am developing a DataOps product integrated with Flink CDC , If the user can directly see the binlog consumption offset in the CDC source on the tis platform, it will be very intuit

[2022-05-21 03:29] leonardBang commented on #1208
Thanks @baisui1981 for reporting this ticket, I think it makes sense that expose offset information to users, but maybe we need better design for example, cover all Source APIS and expose the offset information by metric way

[2022-05-21 03:48] #1208 closed

[2022-05-21 11:01] debjeetsarkar opened #1210 "Metrics exposure from Deserialisation layer."
In case of data being deserialised after receiving a SourceRecord from Debezium layer, what is the suggested way to gather metrics at that layer. More needed in case a custom deserialiser is being implemented to gather metrics. At the moment none of the implemented deserialisers expose metrics [counters, gauges].

**Describe the solution you'd like**
Being able to have a open method which gives an

[2022-05-21 11:05] debjeetsarkar commented on #1210
This can also be correlated to : https://github.com/ververica/flink-cdc-connectors/issues/1078

[2022-05-21 14:17] molsionmo commented on #1082
@szgyh I guess you use the debezuim config(log.mining.strategy: redo_log_catalog) or do use this config default value(redo_log_catalog).I suggest that config log.mining.strategy to online_catalg.

see [log.mining.strategy](https://debezium.io/documentation/reference/1.6/connectors/oracle.html#oracle-property-log-mining-strategy)

[2022-05-21 14:35] molsionmo commented on #1126
@waynefor I guess you say that it will lead to more and more archive log in redo_log_catalog(log.mining.strategy)
see [log.mining.strategy](https://debezium.io/documentation/reference/1.6/connectors/oracle.html#oracle-property-log-mining-strategy)

You can config oracle database redo log size bigger and config rman to clean archive log that is expired.

[2022-05-21 14:38] molsionmo commented on #1165
@MaoHJ-Official Could you try to config some log cleanup strategies to prune useless log periodically?

[2022-05-21 14:41] molsionmo commented on #1044
@kolnick please see doucuments below
https://ververica.github.io/flink-cdc-connectors/master/content/connectors/oracle-cdc.html
https://ververica.github.io/flink-cdc-connectors/master/content/connectors/sqlserver-cdc.html

Can you close this issue if slove this question?

[2022-05-22 03:31] MonsterChenzhuo commented on #862
@dutao1 I also encountered, did you solve the problem

[2022-05-23 02:27] Jiabao-Sun commented on #1199
#941

[2022-05-23 02:48] ruanhang1993 commented on #674
When fix the bug https://github.com/ververica/flink-cdc-connectors/pull/1188, I find that the jdbc properties are not set to the connection rightly. This issue should be reopened and fixed again.

[2022-05-23 02:55] ruanhang1993 commented on #674
I am willing to help to fix this ticket and add some IT tests.

[2022-05-23 02:57] leonardBang commented on #674
Thanks @ruanhang1993 for taking this, I've assigned this ticket to you.

[2022-05-23 09:02] GOODBOY008 opened #1212 "[sqlserer-cdc] Use Incremental Snapshot Framework to impl sqlserver cdc connector."
Use Incremental Snapshot Framework to impl sqlserver cdc connector.

[2022-05-24 03:23] swetakala commented on #1010
how do we build job and package jar, so that it can be deploy it in a cluster after making changes on source in CI process?

[2022-05-24 08:40] pageGogogo opened #1213 "Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue."
**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.2
 - Database and version: mysql8、rocketmq4.9.2

**Additional Description**
-- 1.create mysql source table
CREATE TABLE cdc_test (
    id INT,
    name STRING,
    create_date STRING,
    PRIMARY KEY (id) NOT ENFORCED
  ) WITH (
    'connector' = 'mysql-cdc',
    'hostname' = '192.168.xx.xx',
    'port' = '3306',
    'username' =

[2022-05-24 16:24] szhengshuai opened #1216 "Oracle CDC 2.2.0 报错 Caused by: java.sql.SQLException: ORA-01289: cannot add duplicate logfile +DATA/jxr2p/onlinelog/group_4.294.1016480325"
Describe the bug(Please use English)
A clear and concise description of what the bug is.

Environment :

Flink version : 1.13.3
Flink CDC version: 2.2.0
Database and version: Oracle 11g RAC
To Reproduce
Steps to reproduce the behavior:

Thes test data :
The test code :
The error :
Additional Description
2022-05-10 11:00:37
org.apache.kafka.connect.errors.ConnectException: An exception occurred in

[2022-05-24 16:27] szhengshuai commented on #1180
thanks ~

[2022-05-25 02:58] szhengshuai commented on #1216
看到debezium 已经解决了 https://issues.redhat.com/browse/DBZ-3563
想知道flink-cdc什么时候可以更新debezium依赖，解决掉这个bug

[2022-05-25 07:35] fuyun2024 opened #1219 "Streaming merge during snapshotSplit read"
The snapshot split read will wait until all the data is collected before merging the data，oom exception occurs when the snapshot split is large

[2022-05-25 07:44] rookiegao opened #1220 "fastjson version need to be upgraded?"
**Describe the bug(Please use English)**

The fastjson version used by MySQL CDC has a deserialization vulnerability.

**Additional Description**

fastjson version need to be upgraded?

A thermal repair can be carried out if necessary.

[2022-05-25 07:44] rookiegao commented on #1220
@leonardBang

[2022-05-25 08:14] dailai commented on #1190
This bug is fatal and occurs frequently

[2022-05-25 12:06] luobo-te opened #1221 "Oracle supports xStream"
does oracle-cdc support xStream?  Debezium already supports
oracle-cdc支持oracle xstream采集吗 ？底层debezinum是支持的

[2022-05-25 13:19] dailai commented on #1190
Would you explain how to reproduce the bug more detailed ? I have tried serval times , but could not reproduce.

[2022-05-26 01:37] z070204z opened #1223 "schema isn't known to connector"
when scan newly added tables
if i set  startupOptions=StartupOptions.latest() throw Error

 ERROR io.debezium.connector.mysql.MySqlStreamingChangeEventSource  [] - Encountered change event 'Event{header=EventHeaderV4{timestamp=1653474984000, eventType=TABLE_MAP, serverId=1, headerLength=19, dataLength=33, nextPosition=999048757, flags=0}, data=TableMapEventData{tableId=302, database='test', table=

[2022-05-26 02:13] #1194 closed

[2022-05-26 02:17] hehetown opened #1224 "ORA-26824: user-defined XStream callback error"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :   1.13.6
 - Flink CDC version:  2.2.1
 - Database and version:  oracle19.7
     'debezium.database.connection.adapter' = 'xstream',
**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2'debezium.database.connection.adapter' = 'xstream',
3. The test co

[2022-05-26 02:31] hehetown commented on #1221
Oracle-cdc supports Oracle XStream,You could write it like this: 'debezium.database.connection.adapter' = 'xstream',
    'debezium.database.out.server.name' = 'DBZXOUT_DEMO',

[2022-05-26 06:27] molsionmo commented on #1224
@hehetown Can you describe the oracle database configuration that with XStream Outbound Server?

[2022-05-26 14:03] ysyl23588 commented on #1223
我也遇到了 ++1

[2022-05-26 14:11] ClareGuoBin opened #1226 "Does flink-cdc support dynamic table addition"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  flink-1.13.0
 - Flink CDC version: 2.2.0
 - Database and version: mysql-5.7(dev enviorment) and 8.0.28(for local test)

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data : Dynamic table addtition according to MySqlSource#tableList(String) api through

[2022-05-26 14:13] ysyl23588 commented on #1199
++1

[2022-05-27 08:03] YUZU-wq opened #1227 "关于使用flinkcdc拉取double类型数据转为了科学计数法"
当使用flink mysql cdc进行数据同步时，出现了数字转换异常，原因是较长的double转为了科学计数法的字符串。针对这个问题该如何通过配置来解决。

[2022-05-28 05:36] JiangfeiLiu opened #1229 "[Bug][PostgreSQL] snapshot-mode is nerver and no data come in,checkpoint failed"
env:
    Flink: 1.14.3
    Flink CDC: 2.2.1

Please see pictures:
![image](https://user-images.githubusercontent.com/100289093/170810657-10f521be-d571-4e82-9577-4e9edc43be35.png)
![image](https://user-images.githubusercontent.com/100289093/170810662-f3ba140c-0246-4ecb-8822-1dee80b87259.png)
![image](https://user-images.githubusercontent.com/100289093/170810671-020e8604-64b3-4859-aac9-bf602f4f78d5.

[2022-05-28 07:43] caidezhi commented on #343
GOODBOY008  seems not working on it. submit a PR for this. @leonardBang

[2022-05-29 12:33] johncai0 opened #1232 "The data of MySQL CDC are all in one subtask"
flink version: 1.13.5
mysql-cdc version: 2.2.1
I run locally in local mode

code:

[code]

mysql table:
[code]

Program output：

[code]

all data in subtask "Source: MySQL Source -> (Map -> Sink: Print to Std. Out, Sink: Unnamed) (1/2)"

Is there a problem with my MySQL source configuration?

[2022-05-29 15:12] KKKIIO opened #1233 "Follow "Getting Started" example and got "Context was not yet initialized" error"
**Describe the bug(Please use English)**
I was following the [Getting Started](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/quickstart/mysql-postgres-tutorial.html) example.

After preparing data in MySQL, I created the `products` table in Flink SQL client, and exec SQL `select * from products;` to see if everything all right. What I got is:

[code]

Error in flink dashboar

[2022-05-30 03:32] GOODBOY008 commented on #343
Do you have interest on this issue ? I will assign to you. @caidezhi

[2022-05-30 07:20] HendSame commented on #1033
@luxl6  how to solve it ?

[2022-05-30 07:23] #1213 closed

[2022-05-30 07:58] gwqlovelinux commented on #151
求详细的解决方案

[2022-05-30 12:41] cousin1994 opened #1237 "Flink-cdc mongodb connection permissions"
**Is your feature request related to a problem? Please describe.**
mongodb cdc 中，使用database权限的user的时候，同时指定database 和 collection 会扫描整个集群变动，但当用户为单独database权限的时候，会报出权限不足异常。

**Describe the solution you'd like**
当指定database和collection，判断都在同一个database集群的时候，或者都在user的database权限范围内，不做整个集群的扫描。

**Describe alternatives you've considered**
当前只能指定database变动，不指定collection，这样就避免了扫描整个mongodb集群所有的collection。

[2022-05-31 04:18] wcc1433 opened #1238 "idea package failed"
**Describe the bug(Please use English)**
When i use flink cdc stream api for cdc mysql data, is successed in local. but when build package,  is error and message "程序包com.ververica.cdc.connectors.shaded.org.apache.kafka.connect.data不存在".
The package "com.ververica.cdc.connectors.shaded.org.apache.kafka.connect.data" used in deserializer function. Below is my deserialization code.

**Environment :**

[2022-05-31 05:13] pmtmm commented on #1010
+1 ，mark

[2022-05-31 05:50] github202008 opened #1239 "同步Mysqlbinlog数据不一致"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.1.0
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

问题场景: mysqlxa

[2022-05-31 10:25] github202008 commented on #1239
prepare的时候数据已经读到发送到下游，rollback的时候下游会比原系统条数据

[2022-06-01 11:30] slankka commented on #709
同样遇到这个问题
Flink 1.13.0
Cdc 2.1.1

[code]

[2022-06-01 14:24] fbad opened #1241 "[postgres-cdc] Add upsert changelog mode to avoid replica identity FULL"
**Is your feature request related to a problem? Please describe.**
I am trying to use `postgres-cdc` connector without setting replica identity FULL.
The reason is we would like to prevent the growth of our replication slots. Moreover, replica identity is a table property so we cannot configure it on a replication slot level and we have other consumers that would not support replica identity FULL

[2022-06-02 02:19] HermzaDawn opened #1242 "flink-cdc2.2.1 同步任务启动时提示io.debezium.DebeziumException: User does not have the 'LOCK TABLES' privilege required 报错"
**Is your feature request related to a problem? Please describe.**
![image](https://user-images.githubusercontent.com/104486083/171534554-62f5b4d4-a1f1-45f2-93e2-043794529e23.png)
即使在已经开启数据库全局权限的情况下，启动flink2.2.1任务有时会产生无lock table权限的问题导致job启动失败

**Describe alternatives you've considered**
既然2.2.1已经支持无锁读取，为什么还会产生需要获取lock table权限的错误，是否需要满足一定条件才能开启无锁读取？

[2022-06-02 10:30] jorgeOliveiraTD commented on #1010
We are facing the same problem on my team. Anyone knows if will there be a fix? Or any kind of plan?

[2022-06-03 02:49] linqichen2020 commented on #346
@leonardBang  hello,  it seem that luoyuxia is not working on this. I would like to take this job. Can you offer me more info about this issue ???

[2022-06-06 01:41] foobarrer opened #1243 "is there some flag that help me get the primary key in output"
I use flink cdc in copy the mysql data from one to another, what I want is tell me which column is the primary key in the output. So I can use the primary key to update and delete the data。

[2022-06-06 02:18] yanghuaiGit opened #1244 "[oracle]Oracle URL format is inconsistent with the debezium default format"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14
 - Flink CDC version: master
 - Database and version: oracle11

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**

A connection error occurred when I used the Oracle CDC template in

[2022-06-06 02:35] ianhhhhhhhhe opened #1246 "[Feature] Postgres 高可用模式下 Connector 启动和断线重连"
**Is your feature request related to a problem? Please describe.**
1. 启动的时候 DebeziumSourceFunction 需要连接 PostgreSQL 的 master 节点，所以需要在 task 部署前从地址池里获取 master 地址。这个方法虽然可以通过手动设置，或者在 env.execute() 之前轮询所有地址，并通过 ```select * from pg_stat_replication``` 查询来判断 master，但是第二种情形有不适合。
2. 当 PostgreSQL 的 master 节点出现问题 down 掉了之类的问题造成主从切换，SourceFunction 没有办法自动切换并创建 replication_slot。当前看起来主从切换之后，除了重新 submit 似乎没有其他的方法了

[2022-06-06 02:40] yanghuaiGit commented on #1227
有测试数据吗 我这边试了都是double类型的 基于master分支验证的

[2022-06-06 02:55] yanghuaiGit commented on #1244
flinkcdc默认仅支持sid形式，但是debezium默认是serviceName形式，但是debezium的properties里如果配置了database.url指定了url，则debezium会使用properties里配置的url格式去获取连接。
所以flinkcdc应该默认是SID格式，同时如果properties里没指定database.url，则需要自动指定url格式，如果如果需要使用serviceName格式的url，只需要手动添加database.url参数即可

[2022-06-06 04:00] yanghuaiGit opened #1249 "[mysql]update primary key，Rowkind does not match the actual operation"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:  master
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

mysql
create table

[2022-06-06 04:05] yanghuaiGit commented on #1249
为什么更新主键的数据是 先delete然后insert呢
感觉这种设计是不是导致rowkind类型和数据库里的操作不一致
我将mysql里的binlog数据拿出来发现mysql里的sql都是update 语句

![image](https://user-images.githubusercontent.com/38883656/172092701-032b45f2-616a-427c-b7f8-fb45e649f7a7.png)

我发现是debeziun里的源码判断了是否是主键更新导致的，这儿是否要修改源码进行调整呢
![image](https://user-images.githubusercontent.com/38883656/172092823-0bf40ce6-5aab-4c63-aba1-4bdccabc1dff.png)

[2022-06-06 14:11] foobarrer opened #1250 "there are T and Z in the value of column of timestamp type"
![image](https://user-images.githubusercontent.com/46312795/172177383-99c3d541-c219-4d3d-a41b-b364bc9cfac0.png)
can not use the value like ##2022-06-06T10:30:00Z## to insert in to another column of timestamp type.
So is there any way to avoid ? thanks ahead

[2022-06-06 17:15] ice-llz opened #1251 "如何拓展功能，比如解密配置项的密文？"
在项目里我使用Flink-CDC来将数据从mysql同步到ES。然而项目需要，数据库和ES的用户名和密码不能明文写在Flink sql里。那么我该如何修改源码使其能够支持解密呢？（特别是ES的，我没有找到开源代码）

[2022-06-07 03:51] RaiToKU opened #1252 "[tidb-cdc] Channel shutdown invoked"
**Describe the bug(Please use English)**
[tidb-cdc] Prompt after running for a period of time "Channel shutdown invoked"

**Environment :**
 - Flink version :  1.13.5/1.13.6/1.14.4
 - Flink CDC version: 2.2.0/2.2.1
 - Database and version: v5.4/v6.0

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
[code]
[code]
2. The test code :
[code]
3. The error :
running for a period of

[2022-06-07 06:32] #401 closed

[2022-06-07 08:20] laizhebujum opened #1253 "请问有没有支持mysql5.1的计划..."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
虽然mysql5.1已经非常非常老了。。。。
**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features yo

[2022-06-08 10:43] atovk opened #1255 "[BUG] ORA-00604: error occurred at recursive SQL level 1 ORA-16000: database open for read-only access"
**Describe the bug(Please use English)**
when flink cdc oracle data to sink print, has some data sinked print, but has fatal error!!!

this flink job failure!!!!

**Environment :**
 - Flink version :  1.23.6
 - Flink CDC version: 2.2
 - Database and version: Database Version: Oracle Database 11g Enterprise Edition Release 11.2.0.4.0 - 64bit Production

**To Reproduce**
Steps to reproduce the behav

[2022-06-08 10:44] atovk commented on #1255
#1182

[2022-06-08 10:56] atovk commented on #1255
@leonardBang This issure seems common, and the bug is so weird 😂

[2022-06-08 11:16] JanCong opened #1256 "flink sql，mysql cdc update会拆成delete+create，是否有办法可以合并成一个update"
flink sql，mysql cdc update会拆成delete+create，是否有办法可以合并成一个update？
目标需求是将mysql中不同的表cdc同步到es的同一个index
现在其中一个表update的时候，因为先delete再insert，把es原有数据的其他字段都替换掉了

[2022-06-08 12:02] atovk commented on #1255
this is oracle table with config:
[code]

[2022-06-09 03:07] hunter-cloud09 opened #1259 "Flink 1.14.4+Flink CDC 2.2.1 dependency problem"
When I am using flink1.14+flink cdc 2.2.1, because the flink version depends on the source code is 1.13.5, it will prompt that the dependency org.apache.flink:flink-shaded-guava:18.0-13.0 is missing, if you refer to flink-sql-connector-mysql-cdc, these problems will not appear

[2022-06-09 03:26] yanghuaiGit opened #1261 "[fix]JsonDebeziumDeserializationSchema use DecimalFormat.NUMERIC as default decimal type format"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

![image](https://user-images.githubusercontent.com/38883656/172756291-5d3f0bf3-e496-4428-b1e2-e547bf9dc587.png)
![image](https://user-images.githubusercontent.com/38883656/172756304-4095c9f1-057a-47d8-bbbe-44e8dc150758.png)

create table t2
(
    id        int            not null
        primary key,

[2022-06-09 09:25] komawei opened #1265 "When snapshot stage finished, flink cdc throws PSQLException: An I/O error occurred while sending to the backend"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.12.0
 - Flink CDC version: flink-connector-postgres-cdc 2.2.1
 - Database and version: AliyunRDS PostgreSQL 11.0

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :  table data with 35 million rows
2. The test code :
[code]

class RealWarehouseSto

[2022-06-10 02:46] atovk commented on #1255
Debezium oracle cdc unsupport read-only sdandby

[2022-06-10 02:47] #1255 closed

[2022-06-10 03:28] fuwarren opened #1266 "use flink cdc migrate data, but chinese garbled"
**Describe the bug(Please use English)**
use flink cdc migrate data, but chinese garbled.

**Environment :**
 - Flink version :
   - 1.12.2
 - Flink CDC version:
   - 2.2.1
 - Database and version:
   - source database:  oceanbase-ce-3.1.1
   - sink database：oceanbase-ce-3.1.3

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data : `INSERT INTO order_detail (orderid, province, city)

[2022-06-10 03:32] zhongqishang opened #1267 "Throw exception when define timestamp as String."
**Describe the bug(Please use English)**
When I define timestamp as String, throw an exception :  Unsupported field: OffsetSeconds

**Environment :**
 - Flink version :  1.13
 - Flink CDC version: 2.2.1
 - Database and version: mongodb

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
Add to `com.ververica.cdc.connectors.mongodb.table.MongoDBTimeZoneITCase`

[2022-06-10 06:55] zjialin opened #1269 "CDC Mysq 到 ClickHouse 其中有几张表单表数据30G 无同步"
一直卡在这一句

        TableResult tableResult = tableEnv.executeSql("insert into sink_flink_point_status_history select * from source_flink_point_status_history");

        System.out.println("+++++++++++++++++++++++++++++");
        // 等待flink-cdc完成快照
        tableResult.print();
        System.out.println("-----------------------------");

        env.execute("flink-cdc");

[2022-06-10 08:48] tigerfeilin opened #1271 "oracle cdc是否支持19c版本？"
11g上使用cdc测试没有问题，在19c上使用cdc测试不太稳定，总是出现延时较大或者失败的情况，是不是oracle 19c对logminer有限制导致无法正常cdc？

[2022-06-10 08:58] Matrix42 opened #1272 "mysql cdc job faild com.zaxxer.hikari.pool.HikariPool$PoolInitializationException: Failed to initialize pool"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.2
 - Database and version: mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:

start  mysql cdc job repeatedly with different source, there will some connection connect to mysql not closed.

![f8ea76e49d6716e04b16ff5e2912b37](h

[2022-06-10 10:40] yl-yue opened #1273 "请问clickhouse支持cdc么"
1. 请问clickhouse支持cdc么
2. clickhouse能实现cdc么
3. 如何扩展clickhouse cdc实现（贡献指南）

谢谢！

[2022-06-11 02:26] suhli opened #1274 "[mongodb-cdc] add debezium mongo connector property cursor.max.await.time.ms"
**Is your feature request related to a problem? Please describe.**
cursor not found exception in some scene with large table or complex tasks

**Describe the solution you'd like**
add debezium mongo connector property cursor.max.await.time.ms

**Describe alternatives you've considered**
 debezium add cursor.max.await.time.ms property since v1.8 to avoid this
![image](https://user-images.githubuser

[2022-06-12 14:07] luoyajun10 opened #1278 "[mysql-cdc] decrease the distribution factor upper-bound"
#### _description_

As known to us, mysql cdc connector supports dynamic chunk size since v2.1. The connector will adjust the chunk size through the distribution factor, if it's between lower-bound and upper-bound. The distribution factor is calculated by formula `(max - min + 1) / rowCount`, which is max/min of the split column. Now the issue is that the dynamic chunk size is fairly large in some

[2022-06-13 02:55] Jiabao-Sun commented on #1267
Closed #1268.

[2022-06-13 02:55] #1267 closed

[2022-06-13 05:29] KWIGNIS commented on #1259
Why does this happen? Why does datastream API appear, but SQL API does not? Please take me with you

[2022-06-13 07:01] nyingping commented on #1259
mark
It doesn't seem to be a matter of jar conflict

[2022-06-13 07:03] nyingping commented on #1010
+1
mark

[2022-06-14 03:14] luoyajun10 commented on #1278
@leonardBang what do you think of it?

[2022-06-14 07:19] youyangkou opened #1279 "When there are spaces in the default value of the numeric type in a new table DDL under the same Mysql Host; MySQL can be executed successfully,But Flink cdc program throws some exceptions and Flink program Failed"
**Describe the bug(Please use English)**
When there are spaces in the default value of the numeric type in a new table DDL under **the same Mysql Host**;
MySQL can be executed successfully,But Flink cdc program throws some exceptions and Flink program Failed。

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.0.2 and 2.2.0
 - Database and version: Mysql 5.7

**To Reproduce**
Ste

[2022-06-14 07:41] murongpingtian opened #1280 "sqlserver cdc 'scan.startup.mode'='latest-offset' 启用这个模式，一直锁表"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version:  flink-sql-connector-sqlserver-cdc-2.3-SNAPSHOT.jar
 - Database and version: sqlserver 2016

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :   create  insert
3. The error : Caused by: com.microsoft.

[2022-06-15 01:02] murongpingtian commented on #1280
夜里又尝试了下，又可以了 ，无锁的尽快推出吧

[2022-06-15 09:03] ruanhang1993 opened #1281 "Refactor the test dependency in the cdc connectors"
There are several test util dependencies in each connector module. For example, there are three dependencies (flink-test-utils, flink-connector-test-utils and flink-connector-test-util) in mysql cdc connector. These dependencies can easily conflict with each other.

I think we should refactor the dependencies about tests, and put all dependencies in the module: flink-connector-test-util. Each conn

[2022-06-15 09:36] yujunyong opened #1282 "TiDB CDC can not get change data"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14
 - Flink CDC version: 2.2.1
 - Database and version: 5.4.0

**Taskmanager Log**
<img width="1339" alt="image" src="https://user-images.githubusercontent.com/2252569/173794797-4baf8d74-d0b3-4421-8278-009b637b0601.png">

TiDB CDC started normal in a day, but can no

[2022-06-15 10:14] RaiToKU commented on #1282
https://github.com/ververica/flink-cdc-connectors/issues/1252

[2022-06-16 02:54] cwt9562 opened #1283 "是否支持双向同步？"

[2022-06-16 09:55] GOODBOY008 commented on #1282
@yujunyong @RaiToKU  https://github.com/ververica/flink-cdc-connectors/pull/1196  you can checkout pr and compile local.

[2022-06-16 12:51] smdxdxd commented on #1045
我遇到了同样的问题，无法获取历史数据的建表DDL，只能借助Druid来获取所有create table scripts

[2022-06-16 13:44] gong opened #1286 "[Doc] MongoDB doc user example error"
meta field `table_name` should be `collection_name`.
<img width="1179" alt="mongodoc" src="https://user-images.githubusercontent.com/9883232/174083168-467e9e1e-5fd3-4ea7-9f05-e1b2252297fe.png">

[2022-06-17 01:54] staryzhou opened #1287 "flink_yarn使用oceanbase_cdc场景下。多表sql出现logproxy表通道重复创建的现像"
### **环境如下：**
**1、flink_yarn(hadoop集群)**
**2、oceanbase与oblogproxy暂使用docker的方式** docker方式参考的https://ververica.github.io/flink-cdc-connectors/release-2.2/content/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B/oceanbase-tutorial-zh.html。
//本有自己的OB集群，但因故障较多，所以使用了外面已成功的方案来进行测试。

### **故障描述**
flink使用oceanbase_cdc读取两张表：orders,products,再Jdbc写入oceanbase。
a、在flink单机集群下正常。oblogproxy在run/目录下可看到两张表的通道目录。
b、其它保持不变，flink单

[2022-06-17 02:00] bossingyou commented on #1147
debezium-embedded-1.5.4.Final.jar和flink-connector-debezium-2.2.1.jar含有重复的io.debezium.embedded.EmbeddedEngineChangeEvent，把debezium-embedded-1.5.4.Final.jar这个里面的重复类删了就可以了

[2022-06-17 03:41] xpf-demo opened #1288 "请问下我们这边需要同步多种云（阿里云，华为云，亚马逊云等）下面的mysql数据，这种场景下的flinkCDC要如何部署使用呢，有没有相关的文档介绍啊"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

[2022-06-17 06:24] whhe commented on #1287
经过排查，初步判定问题出在 oblogclient 的配置类上，目前已发布的版本里，配置类的成员变量都是 static 的，对象之间没有隔离，在并发环境下存在问题。

ref: oceanbase/oblogclient#47

[2022-06-17 09:22] whhe opened #1289 "[oceanbase] add support for `JSON` type"
**Is your feature request related to a problem? Please describe.**
No.

**Describe the solution you'd like**
OceanBase CE supports JSON type from 3.1.3, we should update the connector for it.

**Describe alternatives you've considered**
Add JSON type in type converter.

[2022-06-20 02:10] ynzzxc opened #1291 "SQLServer 为过程或函数 cdc.fn_cdc_get_all_changes_ ... 提供的参数数目不足"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.1
 - Database and version: Microsoft SQL Server 2016 (SP2) (KB4052908) - 13.0.5026.0 (X64)

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :

t_env.execute_sql(
"""
create table carflow (
    id

[2022-06-20 06:46] #1286 closed

[2022-06-20 06:51] luckes-yang opened #1292 "Flink CDC for oracle无锁全量同步"
Flink CDC for oracle 目前版本在同步的时候需要锁表权限，这个权限在使用过程中是非常危险的，易造成锁表，希望能够实现和mysql cdc一样的无锁全量同步。

[2022-06-20 07:36] supery-chen opened #1293 "MongoDB CDC DataStream source no output"
MongoDB 4.2.6 Community

[code]

output:

[code]

code above print nothing, [**doc**](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/connectors/mongodb-cdc.html#datastream-source)

---

code below print as expected, [**doc**](https://ververica.github.io/flink-cdc-connectors/release-2.1/content/connectors/mongodb-cdc.html#how-to-create-a-mongodb-cdc-table)

[code]

output:

[c

[2022-06-20 08:55] guandatawangjialin opened #1295 "oracle ddl support"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]
oracle ddl support
**Describe the solution you'd like**
A clear and concise description of what you want to happen.
mysql ddl is support ,can support oracle ddl，I want to Synchronize oracle ddl
**Describe alternatives you've considered**
A

[2022-06-21 02:01] RaiToKU opened #1296 "[tidb-cdc]tidb-cdc supports TiDB v6.1.0"
**Is your feature request related to a problem? Please describe.**
tidb-cdc connector occur error with tidb v6.1.0
**Environment :**
 - Flink version :  1.13.6|1.14.4
 - Flink CDC version: 2.2.0
 - Database and version: v6.1.0

Tidb cdc connector will occur error with two situation listd below
(1) The job started to get error
[code]
(2) The job ran for a while with an error
[code]
**Describe the s

[2022-06-21 10:02] voyagertanyao commented on #1114
+1

[2022-06-21 23:47] Xiaojun-Pan opened #1300 "com.microsoft.sqlserver.jdbc.SQLServerException: 为过程或函数 cdc.fn_cdc_get_all_changes_ ... 提供的参数数目不足。"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  Flink 1.13.1
 - Flink CDC version: CDC-2.3-SNAPSHOT
 - Database and version: SQL Server2019

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :com.microsoft.sqlserver.jdbc.SQLServerException: 为过程或函数 cdc.fn_cdc_get_a

[2022-06-22 02:21] dailai commented on #432
+1 也有同样的问题

[2022-06-22 02:28] JesseAtSZ commented on #1265
Has this problem been solved? I have a similar problem.

[2022-06-22 03:15] JanCong opened #1301 "Flink CDC 有支持 SAP-Hana 的计划吗"
Flink CDC 有支持 SAP-Hana 的计划吗

[2022-06-22 06:12] JesseAtSZ opened #1302 "Call snapshotState() on closed source, checkpoint failed."
**Describe the bug(Please use English)**
An error is reported during data synchronization, and the source database is normal.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.0
 - Database and version: Oracle 12.2

2022-06-22 10:37:05
org.apache.flink.runtime.JobException: Recovery is suppressed by NoRestartBackoffTimeStrategy
	at org.apache.flink.runtime.executiongraph.fail

[2022-06-22 06:49] wg1026688210 commented on #1300
check whether  CDC  data expire  in Sqlserver

[2022-06-22 07:14] 15750571198 opened #1303 "Get the start_lsn of sqlserver CDC"
Sqlserver CDC gets the type of start_lsn returned？
No binarydata return type similar to stringdata is found。

[2022-06-22 07:17] 15750571198 opened #1304 "Get the start_lsn of sqlserver CDC"
Sqlserver CDC gets the type of start_lsn returned？
No binarydata return type similar to stringdata is found。

[2022-06-22 07:17] #1304 closed

[2022-06-22 07:55] gong commented on #1279
May be you need to modify `age   bigint  DEFAULT ' 0 '` to `age   bigint  DEFAULT '0'`.

[2022-06-22 08:08] Jiabao-Sun commented on #1293
@supery-chen if you use MongoDB-CDC version >= release 2.2，the `collectionList` must be fully qualified name.

[2022-06-22 09:41] RichieZ commented on #1082
我也碰到同样问题，请问在哪里可以设置这个参数？

[2022-06-22 09:53] supery-chen commented on #1293
@gong @Jiabao-Sun thanks

[2022-06-22 09:53] #1293 closed

[2022-06-22 09:59] RichieZ commented on #1082
问题解决了。感谢 @molsionmo
之前没看到文档，在创建表的时候设置 'debezium.log.mining.strategy'='online_catalog' 就可以了。
不设置这个参数的话，oracle不断的在归档日志，很快空间就满了。
而且数据传输也特别慢（大概要2分钟），加这个参数就快了。
CREATE TABLE products (
    ID INT,
    NAME STRING,
    DESCRIPTION STRING,
    PRIMARY KEY (ID) NOT ENFORCED
  ) WITH (
    'connector' = 'oracle-cdc',
    'hostname' = 'localhost',
    'port' = '1521',
    'username' = 'flinkuser',
    'passw

[2022-06-22 09:59] #1237 closed

[2022-06-22 14:59] cleverblue opened #1307 "flink1.15.0什么时候支持？"
flink1.15.0什么时候支持？

[2022-06-23 02:38] JesseAtSZ commented on #1302
This problem has been located by adding logs.
In this problem, Flink job does not print the CDC logs.

[2022-06-23 02:38] #1302 closed

[2022-06-23 03:00] JesseAtSZ opened #1308 "How to open Flink CDC's log in Flink Job?"
I am running my job in standlone mode, setting log level to debug in log4j.properties and log4j-cli.properties, works only on my Flink Job, but still can't found Flink CDC's log in Flink Job, What should I do in this situation？

I tried to set the level to ALL in log4j.properties, but there are too many logs.

[2022-06-23 05:54] whhe opened #1309 "[oceanbase] compatible with mysql 8.0 driver"
The OceanBase CDC connector uses mysql driver for reading snapshot data, and now only `mysql-connector-java 5.1.47` has been fully tested. More later drivers  like `8.0.27` should be supported in the future version.

This work might be related to #980 and #983.

[2022-06-23 10:10] fanxl12 commented on #627
安装这个思路排查，解决了冲突问题，需要根据debezium-connector-mysql里面的mysql版本设置项目里面的版本，不一致就会报错

[2022-06-23 10:12] Leoyzen opened #1311 "[DRDS] Adding Aliyun DRDS(PolarDB-X 1.0) CDC Support"
We are now trying using flink cdc in our business, which are backed with DRDS.

We did some survey recently and willing to contributing cdc support for drds.
But there are little information in previous issues.

As far as I know, drds is a middle-ware layer top on aliyun rds instances, and there is no general binlog collection layer on top of rds.(Added after PolarDB 2.0).

Inspire by DTS(which wo

[2022-06-23 10:17] Leoyzen commented on #1311
![图片](https://user-images.githubusercontent.com/5518468/175275930-a1f29a9d-b4c1-4205-aa13-c95fdc43d161.png)
DTS is using separate subscribe binlog collector for drds, and then collection them together by using "DistributeDTSConsumer".

Are there any other blockers for implement this feature?

* [ 分布式订阅使用说明 #8 ](https://github.com/aliyun/aliyun-dts-subscribe-sdk-java/issues/8)

[2022-06-23 11:21] #1002 closed

[2022-06-23 12:52] qianchutao commented on #1085
你这把内存调大就可以啦

[2022-06-24 02:15] leonardBang commented on #865
I've invested some inputs, now I come up with following ideas to reduce the memory usage.
![image](https://user-images.githubusercontent.com/5163645/175448565-3a04fca1-9d84-46b4-b001-70a675d24f15.png)
![image](https://user-images.githubusercontent.com/5163645/175448578-d30a2324-97b3-4451-b005-9972d9f18724.png)

[2022-06-24 02:32] zhangyukun230 commented on #709
同样遇到了这个问题， flink 1.13.6 CDC 2.2.1。

[2022-06-24 02:32] zhangyukun230 commented on #709
同样遇到了这个问题， flink 1.13.6 CDC 2.2.1。在阿里云上通过flink-cdc 将PoladrDB数据库的数据同步到holo上，启动多个任务 ， 每个任务同步一张表，多个表的数据源是相同的。
原来只有一个任务在跑的时候，没发生报错的情况

[2022-06-24 02:35] zhangyukun230 commented on #709
![image](https://user-images.githubusercontent.com/37434447/175450755-fb198e87-5dc1-4bb9-866c-4366307c5f1f.png)

[2022-06-24 02:59] leonardBang commented on #939
This issue has been fixed in debezium https://github.com/debezium/debezium/pull/3498, we can fix in flink cdc community in patch way.  CC @Jiabao-Sun

[2022-06-24 05:57] #1291 closed

[2022-06-24 07:19] #939 closed

[2022-06-24 08:08] leonardBang commented on #317
I'll open a PR to fix the server timezone issue.

[2022-06-24 08:25] nyingping opened #1314 "Is logical deletion currently supported?"
**Is your feature request related to a problem? Please describe.**
Some tables are designed for logical deletion rather than physical deletion, such as a state field where 0 indicates deletion and 1 indicates not deletion.

**Describe alternatives you've considered**

Is it possible to pass the parameter to changelog and get `-D` instead of `+U` on logical deletion?

[2022-06-25 10:38] Xiaojun-Pan commented on #1083
Has this problem been solved, and if so, can you share it? Thanks!

[2022-06-25 10:39] Xiaojun-Pan commented on #1291
Has this problem been solved, and if so, can you share it? Thanks!

[2022-06-26 06:53] wangdabin1216 opened #1315 "oracle-connector实时读取只读备库的问题"
因为目前的现状是公司只提供一个oracle只读备库的环境用于数据同步，因为cdc在部署的时候需要在对接的oracle库下创建相关信息表，故无法执行，麻烦请问，对于这种情况，如何使用oracle-connector完成数据同步？

[2022-06-26 07:02] wangdabin1216 commented on #1315
[DBZ-3866](https://issues.redhat.com/browse/DBZ-3866) 类似这个问题

[2022-06-26 09:24] gong commented on #1314
Maybe, you can filter deleted data if you want to remove deleted data.

[2022-06-27 01:45] phamtai97 opened #1316 "The event ordering of the FlinkCDC connector for TiDB"
Hi all,
I read the document here: https://ververica.github.io/flink-cdc-connectors/master/content/connectors/tidb-cdc.html and i have concern related to the ordering when FlinkCDC read data from TiDB source.

If i set the parallel of the source to larger than 1 such as 4, the FlinkCDC will parallel read data from TiDB source. So, the data after reading by multiple threads is no longer in the corre

[2022-06-27 02:00] ynzzxc commented on #1300
我也遇到了同样的问题。
如果使用lookup join，开启checkpoint，任务自动恢复后缓存丢失。

[2022-06-27 02:23] link3280 opened #1317 "Jobgraph corrupted with Flink 1.14.0 yarn-session setup"
**Describe the bug(Please use English)**
I'm trying to use MySQL CDC connector in a Flink 1.14.0 yarn-session cluster, but it leads to a corrupted jobgraph. I'm thinking if it's due to Flink version mismatch, because CDC connector uses Flink 1.13.5.

**Environment :**
 - Flink version :  1.14.0
 - Flink CDC version: 2.2.1
 - Database and version: MySQL 5.7

The stacktrace is as below:
![image](htt

[2022-06-27 03:48] san346596324 opened #1318 "Sqlserver repeated synchronization"
Describe the bug(Please use English)
If the sqlserver synchronization exceeds 40million, the synchronization failure will occur. Resynchronization will occur

Environment :

Flink version : 1.13.6
Flink CDC version: 2.2.1
Database and version: sqlserver2019
To Reproduce
Steps to reproduce the behavior:

Thes test data :
The test code :
[code]
The error :
![1656299633686_4D08C50E-DE9F-4b59-AC07-678

[2022-06-27 05:51] phoeph opened #1319 "flink cdc tidb throw exception while the project start"
**Describe the bug(Please use English)**
Demo from flink cdc tidb github , I test on my laptop, run the project, and then error occurs, like below:
![image](https://user-images.githubusercontent.com/34429096/175868739-2ab147a3-f4b2-4612-9191-62dd3b17c54f.png)

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.1
 - Database and version: 5.4.0

[2022-06-27 05:52] phoeph commented on #1319
Is anyone who can help me?
Many Thanks:)

[2022-06-27 06:48] #1319 closed

[2022-06-27 07:31] atovk commented on #1082
这样设置后, 如果cdc任务失败了, 数据理论上应该会丢失吧

[2022-06-27 10:56] link3280 commented on #1317
I've found out that it's because the session cluster doesn't have the connector jar in its classpath. The error is gone after I update the classpath and restart the cluster.

[2022-06-27 10:56] #1317 closed

[2022-06-27 14:10] senowang opened #1321 "When the date in the database is in the daylight saving time of the historical period, the obtained time will be added by one hour."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.
当数据库里面的日期处于历史时期的夏令时，获取到的时间会加一个小时。
**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.1
 - Database and version: oracle 19c

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :  1949/05/01     1987/09/05   TimeZone  ==>CST
2. The test code :
3. The error :

**Additional

[2022-06-28 01:51] roy-long opened #1322 "java.lang.ClassCastException"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.15.0
 - Flink CDC version: 2.2.1
 - Database and version: mongodb4.4.6

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :String sourceDDL = "CREATE TABLE Data_Input (" +
                " _id STRING," +
                " t1 STR

[2022-06-28 02:37] ynzzxc commented on #1291
not

[2022-06-28 03:06] lpn666 opened #1323 "flink cdc sqlserver bug。"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  flink-14.4
 - Flink CDC version:  2.2.1
 - Database and version:  sqlserver 2014

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
CREATE TABLE if not exists orders (
 ID int ,
	UserName varchar(20) ,
	Code varchar(20) ,
	Displa

[2022-06-28 03:09] lpn666 commented on #1323
I'm sure that I have put the  flink-connector-sqlserver-cdc  jar file into the lib path .

[2022-06-28 04:49] link3280 opened #1324 "MySQL captured events always null"
**Describe the bug(Please use English)**
I'm using MySQL CDC connector in Flink SQL gateway and Flink 1.14.0 session cluster, and found that the rows that it produces are always null (the operation types are correct tho).

Below is the sdtout of a PrintSink after a CDC source.

![截屏2022-06-28 10 47 23](https://user-images.githubusercontent.com/13482005/176095040-aeacc05e-ce7d-4d1e-8807-2b1a4fbb91c

[2022-06-28 05:41] lpn666 commented on #1053
一样的问题，楼主解决了嘛？

[2022-06-28 06:41] gong commented on #1322
@roy-long  Maybe, you need change flink version. [supported-flink-versions](https://ververica.github.io/flink-cdc-connectors/release-2.2/content/about.html#supported-flink-versions)

[2022-06-28 06:45] roy-long commented on #1322
1.14.4 version has same problems.

[2022-06-28 06:46] gong commented on #1323
@lpn666 Maybe you need use [flink-sql-connector-sqlserver-cdc-2.2.1.jar](https://repo1.maven.org/maven2/com/ververica/flink-sql-connector-sqlserver-cdc/2.2.1/flink-sql-connector-sqlserver-cdc-2.2.1.jar)

[2022-06-28 06:50] lpn666 commented on #1323
That's the version I used.  It's doesn't work  well  either.

[2022-06-28 07:05] gong commented on #1323
Is it same exception, `Caused by: java.lang.ClassNotFoundException io.debezium.connector.sqlserver.SqlServerConnector`? I decompile the jar [flink-sql-connector-sqlserver-cdc-2.2.1.jar](https://repo1.maven.org/maven2/com/ververica/flink-sql-connector-sqlserver-cdc/2.2.1/flink-sql-connector-sqlserver-cdc-2.2.1.jar) that I can find `io.debezium.connector.sqlserver.SqlServerConnector`

[2022-06-28 07:15] lpn666 commented on #1323
wow ! That's amazing, now I'm using the aliyun maven Repositories  and my jar file only 37KB,  at the same time , it's 11MB in  central。
Thanks so much and have a good day.
![image](https://user-images.githubusercontent.com/26716574/176116862-dd06ae4a-8174-40f3-b7d0-1291301af0db.png)

[2022-06-28 07:15] #1323 closed

[2022-06-28 08:33] yangyin666 opened #1325 "[Mysql]coding problem lead to chinese garbled"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.6
 - Flink CDC version: 2.1.1
 - Database and version: 5.7.30

**To Reproduce**
Steps to reproduce the behavior:

Thes test data :
[code]

encoding of the table is utf-8, the field 'name' encoding is gbk.
The test code :
[code]

print data directly

The error :
!

[2022-06-28 08:37] qq443672581 opened #1326 "[mysql] when i add new table to pull data, but SplitReader is silent when pull after a few times"
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.0
 - Database and version:  mysql 5.7.28-log

When I added a new table (about 1.5 million data) to an existing task and then pulled it, but after pulling a dozen or more times, the task did not respond. After my analysis, the code seems to be Stopped in a loop, which has been waiting for a Binlog end event (SnapshotSplitReader,

[2022-06-28 09:01] qq443672581 commented on #1288
找一个云或者现有云部署flink，其他云和flink所在云网络打通，在flink云部署多 source（一个实例一个source）的任务就好了

[2022-06-28 09:31] yushide commented on #371
我也遇到了这个问题，使用的是flinc cdc 2.2版本，采集mysql全库从savepoint启动后，就报这个错，然后我用单表测试就不会出现这个问题。

[2022-06-28 13:19] #1321 closed

[2022-06-29 01:33] #1311 closed

[2022-06-29 02:29] qq443672581 commented on #1326
I found that in the binlog merge stage of the full snapshot, if the binlog reading is abnormal (cannot be deserialized, network abnormality), the binlog reading will stop at this time, which means that the Binlog End event will never be obtained.

[2022-06-29 03:05] qq443672581 commented on #1326
However, I just tested, if it is a new task, single-table pull, no problem occurs

[2022-06-29 05:28] ancongxue opened #1327 "[Mysql cdc] MySqlSourceEnumerator - Received invalid request meta group id 5, the invalid meta group id range is [0, 4]"
**Describe the bug(Please use English)**
遇到报错：
MySqlSourceEnumerator - Received invalid request meta group id 5, the invalid meta group id range is [0, 4]
导致sourceReader不能正常消费binlog。

**Environment :**
 - Flink version : 1.14.4
 - Flink CDC version: 2.2.0
 - Database and version: mysql 5.7.28-31-57.2-log

**To Reproduce**
Steps to reproduce the behavior:
1. 任务的StartupMode为INITIAL，scanNewlyAddedTab

[2022-06-29 06:27] yangmingjie opened #1328 "同一个脚本集中不同连接，执行混乱"
**Describe the bug(Please use English)**
一个脚本集，两个源脚本，源脚本的连接相同账户不同（两个账户看到不同的数据库）；结果，都是第一个的数据账户能看到的连接。已经调试源码，应该是BUG，如下图：
![企业微信截图_1656482956470](https://user-images.githubusercontent.com/5827183/176366577-e816b1d2-89a8-4239-8e53-f9d9e9105fbc.png)
![企业微信截图_16564829793856](https://user-images.githubusercontent.com/5827183/176366607-00f9b621-1122-41bd-872e-1b4f48688660.png)

**Environment :**
 - Flink

[2022-06-29 06:29] yangmingjie commented on #1328
@wanghaininggg @leonardBang @wuchong @GOODBOY008  大神们 江湖救急。

[2022-06-29 07:43] qq443672581 commented on #1326
com.github.shyiko.mysql.binlog.event.deserialization.EventDataDeserializationException: Failed to deserialize data of EventHeaderV4{timestamp=1656487905000, eventType=UPDATE_ROWS, serverId=3318594750, headerLength=19, dataLength=467, nextPosition=24906517, flags=0}

[2022-06-29 07:58] qq443672581 commented on #432
我们是在现有任务加上新表的时候出现，我通过debug才发现有一个序列化错误，导致卡在拉取那里，不知道你们现在解决了吗？

[2022-06-29 16:06] GOODBOY008 commented on #1296
@RaiToKU  Please make your flink cluster can connect tikv's config `advertise-addr`.

[2022-06-30 02:24] link3280 commented on #1324
I've found out that the cause is a mismatched field name. Issue closed.

[2022-06-30 02:24] #1324 closed

[2022-06-30 07:52] Jiabao-Sun commented on #1322
Hi @roy-long ,
Do you include both flink-connector-mongodb-cdc and flink-sql-connector-mongodb-cdc in your pom file?
It looks like a dependency problem.

[2022-06-30 07:52] Jiabao-Sun commented on #1322
Hi @roy-long ,
Do you include both flink-connector-mongodb-cdc and flink-sql-connector-mongodb-cdc in your pom file?
It looks like a dependency problem.

[2022-06-30 15:59] qq443672581 commented on #1326
ok,,,, It seems to work (*^▽^*)

I added a three-second sleep for MySqlSourceEnumerator to deliver shards -> MySqlSourceEnumerator#handleSplitRequest
[code]

Because I suspect that the fetch model seems to be single-threaded, but there may be a bug somewhere, causing multiple fetch runs, causing BinaryLogClient to be forcibly disconnected when pulling incremental logs, and will not wait for a binl

[2022-07-01 01:38] Liugh2020 commented on #1301
+1

[2022-07-01 03:25] vleyong commented on #1203
I got the same trouble when I applied to the MySQL CDC

[2022-07-01 03:29] qq443672581 commented on #1326
When the daytime business is relatively high,  3s seems not enough, need sleep 5s

[2022-07-01 05:48] zhaoSir-bin opened #1334 "use MysqlCDC"
![image](https://user-images.githubusercontent.com/55442131/176831994-9a8d9454-f7ac-4d26-894f-40a8ff514482.png)

flink-1.13.3
cdc-2.2.1

thanks

[2022-07-01 07:10] zzj-always opened #1335 "Flink1.14.4 冲突"
### Discussed in https://github.com/ververica/flink-cdc-connectors/discussions/1035

<div type='discussions-op-text'>

<sup>Originally posted by **syb853553110** April  1, 2022</sup>
Error:(75, 62) java: 不兼容的类型: org.apache.kafka.connect.source.SourceRecord无法转换为com.ververica.cdc.connectors.shaded.org.apache.kafka.connect.source.SourceRecord
</div>

[2022-07-01 09:28] nayoaixgnat commented on #1242
i use datastream cdc 2.0.0 meet the same problem，
org.apache.kafka.connect.errors.ConnectException: An exception occurred in the change event producer. This connector will be stopped.
	at io.debezium.pipeline.ErrorHandler.setProducerThrowable(ErrorHandler.java:42)
	at io.debezium.pipeline.ChangeEventSourceCoordinator.lambda$start$0(ChangeEventSourceCoordinator.java:127)
	at java.util.concurrent.Ex

[2022-07-01 09:44] vleyong opened #1336 "There was a bug when I ran a demo on the standalone by sql-client"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

I  ran  a `select` sql by sql-client,the source database is MySQL ,target is sql-client print;
There is the Exception log below:
`Exception in thread "main" org.apache.flink.table.client.SqlClientException: Unexpected exception. This is a bug. Please consider filing an issue.
        at org.apache.flink.t

[2022-07-01 09:54] #1328 closed

[2022-07-01 10:00] Kyofin opened #1337 "DataStream api need support close incremental snapshot"
**Is your feature request related to a problem? Please describe.**
When i use Datastream Api to Collect Mysql Binlog to Kafka , I find it will error when some table don't have primary key.
Error message is below:
[code]

**Describe the solution you'd like**
flink 1.13.6  , flinkcdc 2.2.1
my code :
[code]

How can i close  Incremental snapshot  when i use datastream api?

**Describe alternatives yo

[2022-07-01 10:33] huzk8 commented on #1243
I want to get  the primary key from playload too....

[2022-07-01 12:17] nayoaixgnat commented on #1242
If 1 CDC task  is reading a table another cdc task  to read the same DB other table  this problem will occur

[2022-07-01 13:59] #1202 closed

[2022-07-01 13:59] #1287 closed

[2022-07-03 07:23] Chosen123Wang opened #1338 "flink cdc checkpoint oom"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.5
 - Flink CDC version:  2.2
 - Database and version: MySQL 8.0

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

2022

[2022-07-03 14:24] fuyun2024 commented on #1292
You can track this pr : [url](https://github.com/ververica/flink-cdc-connectors/pull/1079)

[2022-07-03 14:29] fuyun2024 commented on #1338
You can try to increase the memory of jobmanager

[2022-07-04 05:43] #1256 closed

[2022-07-04 08:30] Matrix42 opened #1341 "NoClassDefFoundError: oracle/xdb/XMLType"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.2
 - Flink CDC version: 2.2.0
 - Database and version: oracle 12c

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
[code]
3. The test code :
sql select
5. The error :
[code]

**Additional Description**
If applicable, add screenshots to help

[2022-07-04 11:22] molsionmo commented on #1130
**Environment :**

Flink version : 1.13.5
Flink CDC version: 2.3.SNOPSHOT
Database and version: Mysql 5.7

**To Reproduce**
Steps to reproduce the behavior:

1. Thes test data :NONE

2. The test code :
com.ververica.cdc.connectors.base.MySqlChangeEventSourceExampleTest#testConsumingAllEvents
change code to:(just add .splitSize(3))
inventoryDatabase.createAndInitialize();
        JdbcIncrementalSou

[2022-07-05 08:23] #1219 closed

[2022-07-05 11:54] qq443672581 opened #1344 "[mysql] When splitSize setting small, error"
**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.0
 - Database and version: 5.7.36.-log

code:

[code]

When setting splitSize = 10 ,throw:
[code]

But setting 8000 is ok

[2022-07-05 12:06] fuyun2024 commented on #1122
hi @molsionmo   me add some questions ：
Throw RuntimeException timely in snapshot scan phase ： https://github.com/ververica/flink-cdc-connectors/pull/1098

[2022-07-05 13:15] leonardBang opened #1345 "[test] OracleE2eITCase.testOracleCDC failed in CI"
[code]

https://dev.azure.com/ververica/flink-cdc-connectors/_build/results?buildId=1808&view=logs&j=ccedd2bf-e82a-54b8-b75f-7971f1fbbb9f&t=385827ba-1388-5c8f-6875-4ed5108d031f

[2022-07-05 13:20] #1341 closed

[2022-07-05 13:38] Hugoincug commented on #1282
I had the same situation. The synchronization will stop when the incremental synchronization reaches a certain value

[2022-07-05 13:51] Hugoincug commented on #1168
metoo

[2022-07-06 00:49] Mint-Boy-He commented on #1216
Hello, I have the same problem, but I use datastream API, and my version is as follows: flick 1.14 Oracle 11g RAC, Oracle CDC 2.2.1, but I changed the source code and used service_ Name, have you solved it?

[2022-07-06 01:03] #1318 closed

[2022-07-06 02:52] RaiToKU commented on #1296
Thx，I close the issue.

[2022-07-06 02:52] #1296 closed

[2022-07-06 03:28] voyagertanyao commented on #773
**Me Too!! Below is what i got:(flink 1.14.5, flink cdc 2.2.1, mysql 5.7)
This happend when i restart job from a savepoint after about 10mins, and 2 times occured during 2 days running**
@leonardBang  hi , boss ,is there any solution？Or More information u need to know ?

2022-07-04 11:26:06
java.lang.RuntimeException: One or more fetchers have encountered exception
	at org.apache.flink.connector.b

[2022-07-06 03:30] xieyi888 commented on #1282
I had the same question.
maybe the problem is similar to this issue：https://github.com/tikv/client-java/issues/628
tidb-cdc  don't receive ChangeDataEvent from tikv store after several hours,because tikv region transfer leader.
you can verify  log of tikv store,if there are logs about  **"transfer leader"**
[code]

[2022-07-06 03:45] voyagertanyao commented on #432
me too. when i restart from a savepoint

[2022-07-06 03:45] voyagertanyao commented on #773
<img width="341" alt="image" src="https://user-images.githubusercontent.com/20474171/177463721-2c503027-1691-4fe2-8c14-24713502886a.png">

[2022-07-06 04:05] leonardBang commented on #432
Thanks for your valuable feedback, I'll look into this issue when I have time

[2022-07-06 05:20] GOODBOY008 commented on #1282
When a region was created after start cdclient, this case also cann't capture data change.

[2022-07-06 06:48] xuexiaowengh opened #1347 "Flink"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

[2022-07-06 07:31] Hugoincug commented on #1282
it means cdcClient needs to be fix ?

[2022-07-06 08:19] saimigo commented on #197
flink 1.14.2 + flink-connector-hive_2.12-1.14.2.jar + iceberg-flink-runtime-0.12.1.jar 同样的问题！！
请问有解决方案吗

[2022-07-06 08:34] leonardBang commented on #197
这个问题和Flink CDC 没关系啊啊啊啊, 上面也给了答案，但是我还是再说一遍吧：
connector 的major版本 需要和 flink 的major版本保持一致，这里的connector是说flink **lib目录下的所有connector**，不只是你们作业里使用到的connector

[2022-07-06 09:17] leonardBang opened #1349 "[mysql] The calculated chunk size is wrong when approximate row count is bigger than chunk size"
The calculated chunk size is wrong when approximate row count is bigger than chunk size

[2022-07-06 09:18] saimigo commented on #197
Update iceberg version from 0.12.1 to 0.13.1, and according to https://github.com/apache/iceberg/issues/4299, change iceberg-flink-runtime 0.13.1 to
[code]
Then it works fine.

[2022-07-06 09:19] leonardBang opened #1350 "[mysql] The debezium reader resources exists thread leak risk"
The debezium reader resources exists thread leak risk, we should release the thread timely

[2022-07-06 09:22] leonardBang opened #1351 "[mysql] The Error can not be catched in ChunkSplitter"
We only catch Exception in ChunkSplitter,  the Error can not catch in ChunkSplitter. If user meet driver conflicts issue, the Error will be thrown but we can not catch it now.

[2022-07-06 09:24] saimigo commented on #197
确实是的，我将iceberg 版本从0.12.1升级到0.13.1就好了。

[2022-07-06 09:24] leonardBang opened #1352 "[mysql] Add validation for connect.timeout option"
The value of `connect.timeout` master bigger than 250ms due to the Connection pool limitation, we can add a validation for it.

[2022-07-06 09:37] OxYGC opened #1353 "Error in inserting data into es on Flink SQL CLI"
**Describe the bug(Please use English)**
Error in inserting data into es on Flink SQL CLI

[code]

**Environment :**
 - Flink version :  1.15.0
 - Flink CDC version: 1.15.0
 - Database and version:  MYSQL 5.7 AND ES 7.0

**To Reproduce**

Official documents are used：

ververica.github.io/flink-cdc-connectors/release-2.1/content/%E5%BF%AB%E9%80%9F%E4%B8%8A%E6%89%8B/mysql-postgres-tutorial-zh.html#e

[2022-07-06 10:17] xuexiaowengh commented on #1347
I tried to fix the problem by:
1. Create a function to close all the connections of pools
![image](https://user-images.githubusercontent.com/64528302/177527430-91ca68fc-7be3-484e-ac33-8e24fee52d84.png)

2.call the close() when the MySqlSourceEnumerator is closing
![image](https://user-images.githubusercontent.com/64528302/177527844-7501acc0-5d3f-45e8-8077-96ebc1f608b0.png)

My test results show th

[2022-07-07 02:38] luxl6 opened #1355 "Set -Dio.grpc.ManagedChannel.enableAllocationTracking=true to enable it"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.14.4
 - Flink CDC version: 2.2.1
 - Database and version: tidb 6.1

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :ManagedChannel allocation site

**Additional Description**
If applicable, add screenshots to he

[2022-07-07 10:24] qq443672581 commented on #1350
Could you please briefly describe how you discovered it and the corresponding impact? @leonardBang

[2022-07-07 11:49] #343 closed

[2022-07-07 12:17] cyongk commented on #1010
+1

[2022-07-08 09:03] Matrix42 commented on #1350
As far as I know, `SnapshotSplitReader` and `BinlogSplitReader` when close method was invoked, the executor maybe failed to shutdown properly .

[2022-07-08 09:09] qq443672581 commented on #1350
thanks

[2022-07-08 10:07] leonardBang commented on #1350
Thanks @Matrix42 for the additional comment, would you like to take this issue?

[2022-07-09 04:11] Matrix42 commented on #1350
I'd like to take this issue. @leonardBang

[2022-07-09 05:31] lumiseven commented on #1120
Problem is `JsonDebeziumDeserializationSchema` invoke `org.apache.kafka.connect.json.JsonConverter` which use `org.apache.kafka.connect.data.Decimal` as schemaName to convert mysql `bigint unsigned`.
And by default `JsonConverterConfig` has `DECIMAL_FORMAT_DEFAULT = DecimalFormat.BASE64.name()`, so custom `JsonConverterConfig` and change `DECIMAL_FORMAT_DEFAULT` to `NUMERIC` should fix the problem

[2022-07-10 03:11] deepthinkin opened #1357 "initial mode don't get data when new create db and table and restart job"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :   1.13.5
 - Flink CDC version:  2.2.0
 - Database and version:  mysql 5.7.38

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
   MySqlSource<String> mysqlSource = MySqlSource.<String>builder()
                .hostname("192.168.

[2022-07-11 00:37] deepthinkin commented on #1357
later, i use the way of  remote debug found the error that dbs  contains  all table no primary key.  but it is not friendly, why not throws errors.

[2022-07-11 00:44] deepthinkin opened #1359 "once db contains one no primary key ,this job ,no error and go on ."
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version:  2.2.0
 - Database and version: mysql 5.7.38

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code ：
MySqlSource mysqlSource = MySqlSource.builder()
.hostname("192.168.XX.XX")
.port(3306)
.username("root")

[2022-07-11 01:25] molsionmo commented on #1315
1. The backup library cannot use Logminer core cause: DBMS_LOGMNR_D and DBMS_LOGMNR write data to V$LOGMNR_CONTENTS view is required to write permission. Active/standby deployment is used for DISASTER recovery deployment, not for Logminer data capture for analysis

2. The official recommendation is to deploy a separate Mining Database for data analysis, not master and slave.This is official docume

[2022-07-11 09:13] GOODBOY008 opened #1361 "cdc connect support filter specific op types."
**Is your feature request related to a problem? Please describe.**
Some business scenes want to capture change events, which you have configed specific op types.

**Describe the solution you'd like**
Add `op type filter` configuration  to connector properties.

[2022-07-11 12:01] wangdabin1216 commented on #1315
Thank you very much
It is not a good suggestion to deploy a separate mining database for data analysis, because our data analysis may be calculated based on flink or spark in the future. At this stage, only the upstream data is synchronized in real time, and the subsequent analysis requirements are yet to be determined.
A separate mining database will double the capacity of the original oracle dat

[2022-07-11 12:06] molsionmo opened #1362 "[test][cdc-base]Implement test for cdc-base that test in mysql"
**Is your feature request related to a problem? Please describe.**
cdc-base module lack tests so that many fixs for cdc-base is diffcult to implement.

**Describe the solution you'd like**
we should implement tests in cdc-base like tests in mysql module.

**Describe alternatives you've considered**
some tests I can think of is below:
1. MySqlSourceTestBase
2.  BinlogSplitReaderTest
3. SnapshotSpli

[2022-07-12 01:51] youyangkou commented on #1279
@gong I konw what you mean,but this the current situation is Mysql can execute success，but flink cdc job failed。And the table is built by back-end development not me，i cant control。

[2022-07-12 05:31] tigrulya-exe opened #1363 "Support for Flink 1.15"
Hello! Are there any plans in the near future to support version 1.15 of Flink?

[2022-07-13 07:01] molsionmo commented on #1152
please assign this task to me if no one accepts this task. I am happy to accept this assignment @PatrickRen

[2022-07-13 08:06] minchowang opened #1367 "Could not pull image: no matching manifest for linux/arm64/v8 in the manifest list entries"
**Describe the bug(Please use English)**
In using MacBook of m1 chip to run UT, the docker image could not pull.

**Environment :**
 - Flink version :
 - Flink CDC version:
 - Database and version:

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

[code]
**Additional Description**
If applicable, add screenshots to help explain your problem.

[2022-07-14 01:57] rcf666 opened #1370 "matadata op_ts insert into mysql error(read from snapshot)"
**Describe the bug(Please use English)**
use flink-cdc  mysql to mysql . insert  matadata  op_ts (read from snapshot)   error ： Data truncation: Incorrect datetime value: '1970-01-01 00:00:00.0' for column 'operation_ts' at row 1
binlog is normal

**Environment :**
 - Flink version :  13.1
 - Flink CDC version: 2.2.0
 - Database and version:  mysql:8.0

**To Reproduce**
Steps to reproduce the beha

[2022-07-14 03:55] lsyldliu opened #1371 "TiDB cdc demo improve"
**Describe the bug(Please use English)**
TiDB cdc demo run failed.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.1
 - Database and version: 5.4

**To Reproduce**
![image](https://user-images.githubusercontent.com/17698589/178894874-acead5a9-4210-4245-a043-f54ee0edef61.png)

[2022-07-14 03:55] lsyldliu commented on #1371
cc @leonardBang

[2022-07-14 06:05] ruanhang1993 opened #1372 "Flink job will not stop when the mysql database becomes unavailable."
**Is your feature request related to a problem? Please describe.**
I submit a flink job that reads from a mysql database and writes to a kafka cluster by mysql cdc connector. This mysql database offline after a month, but this flink job does not exit. And the BinnaryLogClient will continue to retry endlessly.

**Describe the solution you'd like**
I think mysql cdc connector should react to this er

[2022-07-14 06:51] leonardBang commented on #346
Have fixed in https://github.com/ververica/flink-cdc-connectors/pull/430

[2022-07-14 06:51] #346 closed

[2022-07-14 06:53] leonardBang commented on #346
Sorry for the late reply, I close this ticket as @luoyuxia  has fixed this issue but we forgot to close this issue.

[2022-07-14 09:00] jiangjin-f opened #1375 "about the last one MySqlSnapshotSplit"
**Describe the bug(Please use English)**
A clear and concise description of what the bug is.

**Environment :**
 - Flink version :  1.13.5
 - Flink CDC version: 2.2.1
 - Database and version: mysql

**To Reproduce**
Steps to reproduce the behavior:
1. Thes test data :
2. The test code :
3. The error :

**Additional Description**
If applicable, add screenshots to help explain your problem.

When th

[2022-07-15 04:35] leonardBang commented on #773
I've investigated this issue， I found it happen to appear when the downstream operators are backpressured.
I'll try to analyze the related code to find the root cause.

[2022-07-15 07:15] 421119407 opened #1377 "Mongo CDC setting checkpoint does not take effect."
**Describe the bug(Please use English)**
Mongo setting checkpoint does not take effect.

**Environment :**
 - Flink version :  1.13.3
 - Flink CDC version:  2.3-SNAPSHOT(mongo)
 - Database and version: 4.0.9

**To Reproduce**
Steps to reproduce the behavior:
`StreamExecutionEnvironment env = StreamExecutionEnvironment.getExecutionEnvironment();
        env.enableCheckpointing(1457865148, Checkpoin

[2022-07-15 07:50] Jiabao-Sun commented on #1377
Hi @421119407,
MongoDB CDC connector supports checkpoint when snapshot phase is finished.

[2022-07-15 07:53] 421119407 commented on #1377
What should I do if I want to set the point from which to read the log?

[2022-07-15 07:53] 421119407 commented on #1377
What should I do if I want to set the point from which to read the log?